BPER/DEVF/force-app/main/default/flows/AgentWork_WhatsApp_Update_case_owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Has_case_been_escalated</name>
        <label>Has case been escalated?</label>
        <locationX>735</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>Selected_CaseId_First_Owner_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_note_escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MessagingSession.Case.CRM_Hesitation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_CaseId_Owner_and_First_Owner_Update</targetReference>
            </connector>
            <label>Case note escalated</label>
        </rules>
    </decisions>
    <decisions>
        <name>MessagingSession_found</name>
        <label>Check messaging session</label>
        <locationX>623</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Is null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MessagingSession</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_case_been_escalated</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <interviewLabel>AgentWork WhatsApp - Update owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AgentWork WhatsApp - Update case owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MessagingSession</name>
        <label>Get MessagingSession</label>
        <locationX>367</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MessagingSession_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Selected_CaseId_First_Owner_Update</name>
        <label>Selected CaseId First Owner Update</label>
        <locationX>992</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingSession.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_FirstOwner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Selected_CaseId_Owner_and_First_Owner_Update</name>
        <label>Selected CaseId Owner and First Owner Update</label>
        <locationX>960</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingSession.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_FirstOwner__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>1286</locationX>
        <locationY>391</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MessagingSession.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_OwnerPolo__c</field>
            <value>
                <elementReference>$Record.Owner:User.CRM_Polo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_OwnerTeam__c</field>
            <value>
                <elementReference>$Record.Owner:User.CRM_Team__c</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_MessagingSession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceChannelRelatedEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MessagingSession</stringValue>
            </value>
        </filters>
        <object>AgentWork</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
