BPER/DEVF/force-app/main/default/flows/Anomalie_Cointestazioni.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Concat_blocco_NDG</name>
        <label>Concat blocco NDG</label>
        <locationX>1320</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>ConcatBloccoNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatBloccoNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatBloccoNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BloccoAnagFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Ring_Fence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_blocco_NDG_0</name>
        <label>Concat blocco NDG</label>
        <locationX>1056</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>ConcatBloccoNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatBloccoNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatBloccoNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BloccoAnagFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Ring_Fence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_BloccoRapporti</name>
        <label>Concat BloccoRapporti</label>
        <locationX>1320</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>ConcatBloccoRapporto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatBloccoRapporto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatBloccoRapporto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BloccoRapportiFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_scadenza_rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_BloccoRapporti_0</name>
        <label>Concat BloccoRapporti</label>
        <locationX>1056</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>ConcatBloccoRapporto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatBloccoRapporto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatBloccoRapporto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BloccoRapportiFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_scadenza_rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Check_Questionario_Adeguata_Verifica_assente</name>
        <label>Concat Check Questionario Adeguata Verifica assente</label>
        <locationX>1672</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioNonPresente</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioNonPresente</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioNonPresente</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionarioAdeguataVerificaAssenteFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Questionario_Adeguata_Verifica_scaduto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Check_Questionario_Adeguata_Verifica_assente_0</name>
        <label>Concat Check Questionario Adeguata Verifica assente</label>
        <locationX>1408</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioNonPresente</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioNonPresente</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioNonPresente</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionarioAdeguataVerificaAssenteFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Questionario_Adeguata_Verifica_scaduto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Check_Questionario_Adeguata_Verifica_In_Scadenza</name>
        <label>Concat Check Questionario Adeguata Verifica In Scadenza</label>
        <locationX>1419</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioInScadenza</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioInScadenza</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioInScadenza</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionarioAdeguataVerInScadenza</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Peggioramento_rating_andamentale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Check_Questionario_Adeguata_Verifica_scaduto</name>
        <label>Concat Check Questionario Adeguata Verifica scaduto</label>
        <locationX>1155</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioScaduto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioScaduto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioScaduto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionarioAdeguataScaduto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Peggioramento_rating_andamentale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Check_Questionario_Adeguata_Verifica_scaduto_0</name>
        <label>Concat Check Questionario Adeguata Verifica scaduto</label>
        <locationX>1606</locationX>
        <locationY>5486</locationY>
        <assignmentItems>
            <assignToReference>ConcatAnatocismoAssente</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatAnatocismoAssente</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatAnatocismoAssente</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_fin_acc_role_by_cointestazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Check_Questionario_Adeguata_Verifica_scaduto_0_0</name>
        <label>Concat Check Questionario Adeguata Verifica scaduto</label>
        <locationX>891</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioScaduto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioScaduto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioScaduto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionarioAdeguataScaduto</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Peggioramento_rating_andamentale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Cliente_non_in_bonis</name>
        <label>Concat Cliente non in bonis</label>
        <locationX>1606</locationX>
        <locationY>6578</locationY>
        <assignmentItems>
            <assignToReference>ConcatClienteNonInBonis</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatClienteNonInBonis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatClienteNonInBonis</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sconfino</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Cliente_non_in_bonis_0</name>
        <label>Concat Cliente non in bonis</label>
        <locationX>1606</locationX>
        <locationY>7178</locationY>
        <assignmentItems>
            <assignToReference>ConcatPresenzaSconfino</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatPresenzaSconfino</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatPresenzaSconfino</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Rata_non_pagata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Cliente_non_in_bonis_0_0</name>
        <label>Concat Cliente non in bonis</label>
        <locationX>1606</locationX>
        <locationY>9470</locationY>
        <assignmentItems>
            <assignToReference>ConcatReclamoPResente</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatReclamoPResente</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatReclamoPResente</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Reclamo_In_cosrso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Cliente_non_in_bonis_0_0_0</name>
        <label>Concat Cliente non in bonis</label>
        <locationX>1606</locationX>
        <locationY>10070</locationY>
        <assignmentItems>
            <assignToReference>ConcatReclamoInCorso</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatReclamoInCorso</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatReclamoInCorso</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Reclami</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_rata_non_pagata</name>
        <label>Concat rata non pagata</label>
        <locationX>1606</locationX>
        <locationY>7778</locationY>
        <assignmentItems>
            <assignToReference>ConcatRatanonPagata</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatRatanonPagata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatRatanonPagata</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRataInRitardo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Ring_Fence</name>
        <label>Concat Ring Fence</label>
        <locationX>1320</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>ConcatRingFenceNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatRingFenceNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatRingFenceNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RingFenceFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Bloco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Ring_Fence_0</name>
        <label>Concat Ring Fence</label>
        <locationX>1056</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>ConcatRingFenceNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatRingFenceNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatRingFenceNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RingFenceFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Bloco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_SCadenza_Rating_Ufficiale</name>
        <label>Concat SCadenza Rating Ufficiale</label>
        <locationX>1320</locationX>
        <locationY>4586</locationY>
        <assignmentItems>
            <assignToReference>concatScadRatingUffic</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatScadRatingUffic</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatScadRatingUffic</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScadenzaRatingFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_fin_acc_role_by_cointestazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_SCadenza_Rating_Ufficiale_0</name>
        <label>Concat SCadenza Rating Ufficiale</label>
        <locationX>1056</locationX>
        <locationY>4586</locationY>
        <assignmentItems>
            <assignToReference>concatScadRatingUffic</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatScadRatingUffic</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>concatScadRatingUffic</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScadenzaRatingFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_fin_acc_role_by_cointestazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Stato_Sofferenza</name>
        <label>Concat Stato Sofferenza</label>
        <locationX>1320</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>ConcatStatoSofferenza</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatStatoSofferenza</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatStatoSofferenza</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SofferenzaSistFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Presenza_Sofferenza_Banca</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Stato_Sofferenza_0</name>
        <label>Concat Stato Sofferenza</label>
        <locationX>1056</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>ConcatStatoSofferenza</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatStatoSofferenza</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatStatoSofferenza</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SofferenzaSistFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Presenza_Sofferenza_Banca</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Stato_Sofferenza_banca</name>
        <label>Concat Stato Sofferenza banca</label>
        <locationX>1320</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>ConcatPresenzaSofferenzaBanca</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatPresenzaSofferenzaBanca</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatPresenzaSofferenzaBanca</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SofferenzaBancaFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Presenza_Blocco_Anagrafico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_Stato_Sofferenza_banca_0</name>
        <label>Concat Stato Sofferenza banca</label>
        <locationX>1056</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>ConcatPresenzaSofferenzaBanca</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatPresenzaSofferenzaBanca</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatPresenzaSofferenzaBanca</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SofferenzaBancaFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Presenza_Blocco_Anagrafico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_variazione_rating_andam</name>
        <label>Concat variazione rating andam</label>
        <locationX>1320</locationX>
        <locationY>1634</locationY>
        <assignmentItems>
            <assignToReference>ConcatVarRatingAndametnale</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatVarRatingAndametnale</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatVarRatingAndametnale</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeggioramentoRatingfound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Presenza_Sofferenza_sistema</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_variazione_rating_andam_0</name>
        <label>Concat variazione rating andam</label>
        <locationX>1056</locationX>
        <locationY>1634</locationY>
        <assignmentItems>
            <assignToReference>ConcatVarRatingAndametnale</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatVarRatingAndametnale</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatVarRatingAndametnale</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PeggioramentoRatingfound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Presenza_Sofferenza_sistema</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ConcatCheckQuestionario</name>
        <label>ConcatCheckQuestionario</label>
        <locationX>1683</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioInScadenza</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioInScadenza</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatQuestionarioInScadenza</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionarioAdeguataVerInScadenza</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Peggioramento_rating_andamentale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ConcatRitardo</name>
        <label>ConcatRataInRitardo</label>
        <locationX>1606</locationX>
        <locationY>8378</locationY>
        <assignmentItems>
            <assignToReference>ConcatRataInRitardo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NDG CO </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatRataInRitardo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori.CRM_Account__r.CRM_NDG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConcatRataInRitardo</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_indicatori</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_anatocismo_flag</name>
        <label>Reset anatocismo flag</label>
        <locationX>1386</locationX>
        <locationY>5846</locationY>
        <assignmentItems>
            <assignToReference>anatocismoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_indicatori</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Flag_Indicatori</name>
        <label>Reset Flag Indicatori</label>
        <locationX>1386</locationX>
        <locationY>8738</locationY>
        <assignmentItems>
            <assignToReference>ClientenonInBonisFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PresenzaRataNonPagata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PresenzaSconfinoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Reclami</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_reclami_flag</name>
        <label>Reset reclami flag</label>
        <locationX>2178</locationX>
        <locationY>9062</locationY>
        <assignmentItems>
            <assignToReference>reclamoChiusoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReclamoInCorsoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_over_collegamenti_cointestazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_anatocismo_assente_0</name>
        <label>Set anatocismo assente</label>
        <locationX>1474</locationX>
        <locationY>5294</locationY>
        <assignmentItems>
            <assignToReference>anatocismoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Check_Questionario_Adeguata_Verifica_scaduto_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CLiente_non_in_bonis</name>
        <label>Set CLiente non in bonis</label>
        <locationX>1738</locationX>
        <locationY>6386</locationY>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientenonInBonisFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Cliente_non_in_bonis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CLiente_non_in_bonis_0</name>
        <label>Set CLiente non in bonis</label>
        <locationX>1474</locationX>
        <locationY>6386</locationY>
        <assignmentItems>
            <assignToReference>ClientenonInBonisFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Cliente_non_in_bonis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Presenza_Sconfino</name>
        <label>Set Presenza Sconfino</label>
        <locationX>1738</locationX>
        <locationY>6986</locationY>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PresenzaSconfinoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Cliente_non_in_bonis_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Presenza_Sconfino_0</name>
        <label>Set Presenza Sconfino</label>
        <locationX>1474</locationX>
        <locationY>6986</locationY>
        <assignmentItems>
            <assignToReference>PresenzaSconfinoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Cliente_non_in_bonis_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rata_non_pagata</name>
        <label>Set rata non pagata</label>
        <locationX>1738</locationX>
        <locationY>7586</locationY>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PresenzaRataNonPagata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_rata_non_pagata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rata_non_pagata_0</name>
        <label>Set rata non pagata</label>
        <locationX>1474</locationX>
        <locationY>7586</locationY>
        <assignmentItems>
            <assignToReference>PresenzaRataNonPagata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_rata_non_pagata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reclamo_Chiuso</name>
        <label>Set Reclamo Chiuso</label>
        <locationX>1738</locationX>
        <locationY>9278</locationY>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reclamoChiusoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Cliente_non_in_bonis_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reclamo_Chiuso_0</name>
        <label>Set Reclamo Chiuso</label>
        <locationX>1738</locationX>
        <locationY>9878</locationY>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReclamoInCorsoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Cliente_non_in_bonis_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reclamo_Chiuso_0_0</name>
        <label>Set Reclamo Chiuso</label>
        <locationX>1474</locationX>
        <locationY>9878</locationY>
        <assignmentItems>
            <assignToReference>ReclamoInCorsoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Cliente_non_in_bonis_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Reclamo_Chiuso_0_0_0</name>
        <label>Set Reclamo Chiuso</label>
        <locationX>1474</locationX>
        <locationY>9278</locationY>
        <assignmentItems>
            <assignToReference>reclamoChiusoFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_Cliente_non_in_bonis_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRataInRitardo</name>
        <label>SetRataInRitardo</label>
        <locationX>1474</locationX>
        <locationY>8186</locationY>
        <assignmentItems>
            <assignToReference>PresenzaRataInRitardo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConcatRitardo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRataPagataInRitardo</name>
        <label>SetRataPagataInRitardo</label>
        <locationX>1738</locationX>
        <locationY>8186</locationY>
        <assignmentItems>
            <assignToReference>PresenzaRataInRitardo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterAnomalieCO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConcatRitardo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Anatocismo_non_presente</name>
        <label>Check Anatocismo non presente</label>
        <locationX>1760</locationX>
        <locationY>5078</locationY>
        <defaultConnector>
            <targetReference>Loop_over_fin_acc_role_by_cointestazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Anatocismo Presente</defaultConnectorLabel>
        <rules>
            <name>Anatocismo_Non_presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_fin_acc_role_by_cointestazione.FinServ__FinancialAccount__r.CRM_Anatocismo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Anatocismo Non presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Bloco</name>
        <label>Check Bloco</label>
        <locationX>1386</locationX>
        <locationY>3878</locationY>
        <defaultConnector>
            <targetReference>Check_scadenza_rating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non presente</defaultConnectorLabel>
        <rules>
            <name>Presente_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_BlocchiRapporto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_cliente_non_in_bonis</name>
        <label>Check cliente non in bonis</label>
        <locationX>1804</locationX>
        <locationY>6170</locationY>
        <defaultConnector>
            <targetReference>Check_Sconfino</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>cliente in bonis</defaultConnectorLabel>
        <rules>
            <name>Cliente_non_in_bonis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori.CRM_StatusPosizione__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_indicatori.CRM_StatusPosizione__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Grigio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Cliente non in bonis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter</name>
        <label>Check Counter</label>
        <locationX>1540</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Concat_Check_Questionario_Adeguata_Verifica_assente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuestionarioAdeguataVerificaAssenteFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_Check_Questionario_Adeguata_Verifica_assente_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0</name>
        <label>Check Counter</label>
        <locationX>1023</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Concat_Check_Questionario_Adeguata_Verifica_scaduto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuestionarioAdeguataScaduto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_Check_Questionario_Adeguata_Verifica_scaduto_0_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0</name>
        <label>Check Counter</label>
        <locationX>1188</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Concat_variazione_rating_andam</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PeggioramentoRatingfound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_variazione_rating_andam_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1188</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>Concat_Stato_Sofferenza_banca</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SofferenzaBancaFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_Stato_Sofferenza_banca_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1188</locationX>
        <locationY>2018</locationY>
        <defaultConnector>
            <targetReference>Concat_Stato_Sofferenza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SofferenzaSistFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_Stato_Sofferenza_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1188</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>Concat_blocco_NDG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BloccoAnagFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_blocco_NDG_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1188</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Concat_Ring_Fence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RingFenceFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_Ring_Fence_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1188</locationX>
        <locationY>3986</locationY>
        <defaultConnector>
            <targetReference>Concat_BloccoRapporti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BloccoRapportiFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_BloccoRapporti_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1188</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <targetReference>Concat_SCadenza_Rating_Ufficiale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScadenzaRatingFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_SCadenza_Rating_Ufficiale_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1606</locationX>
        <locationY>5186</locationY>
        <defaultConnector>
            <targetReference>Concat_Check_Questionario_Adeguata_Verifica_scaduto_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>anatocismoFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_anatocismo_assente_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1606</locationX>
        <locationY>7478</locationY>
        <defaultConnector>
            <targetReference>Set_rata_non_pagata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PresenzaRataNonPagata</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_rata_non_pagata_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1606</locationX>
        <locationY>6878</locationY>
        <defaultConnector>
            <targetReference>Set_Presenza_Sconfino</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PresenzaSconfinoFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Presenza_Sconfino_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1606</locationX>
        <locationY>6278</locationY>
        <defaultConnector>
            <targetReference>Set_CLiente_non_in_bonis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NonInBonisFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CLiente_non_in_bonis_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1606</locationX>
        <locationY>9770</locationY>
        <defaultConnector>
            <targetReference>Set_Reclamo_Chiuso_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReclamoInCorsoFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reclamo_Chiuso_0_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Counter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Check Counter</label>
        <locationX>1606</locationX>
        <locationY>9170</locationY>
        <defaultConnector>
            <targetReference>Set_Reclamo_Chiuso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>AlreadyCounted_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reclamoChiusoFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reclamo_Chiuso_0_0_0</targetReference>
            </connector>
            <label>AlreadyCounted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Scadenza</name>
        <label>Check In Scadenza</label>
        <locationX>1551</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>ConcatCheckQuestionario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AlreadyCountedScad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuestionarioAdeguataVerInScadenza</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concat_Check_Questionario_Adeguata_Verifica_In_Scadenza</targetReference>
            </connector>
            <label>AlreadyCountedScad</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Peggioramento_rating_andamentale</name>
        <label>Check Peggioramento rating andamentale</label>
        <locationX>1386</locationX>
        <locationY>1418</locationY>
        <defaultConnector>
            <targetReference>Check_Presenza_Sofferenza_sistema</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non peggiorato</defaultConnectorLabel>
        <rules>
            <name>Peggiorato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_VarRatingAndamentale__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0</targetReference>
            </connector>
            <label>Peggiorato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Presenza_Blocco_Anagrafico</name>
        <label>Check Presenza Blocco Anagrafico</label>
        <locationX>1386</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>Check_Ring_Fence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non presente</defaultConnectorLabel>
        <rules>
            <name>Presente_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_NDGBloccato__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Presenza_Sofferenza_Banca</name>
        <label>Check Presenza Sofferenza Banca</label>
        <locationX>1386</locationX>
        <locationY>2402</locationY>
        <defaultConnector>
            <targetReference>Check_Presenza_Blocco_Anagrafico</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non presente</defaultConnectorLabel>
        <rules>
            <name>Presente_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_PresenzaSoffBanca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Presenza_Sofferenza_sistema</name>
        <label>Check Presenza Sofferenza sistema</label>
        <locationX>1386</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Check_Presenza_Sofferenza_Banca</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non presente</defaultConnectorLabel>
        <rules>
            <name>Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_PresenzaSoffSistema__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Questionario_Adeguata_Verifica</name>
        <label>Check Questionario Adeguata Verifica</label>
        <locationX>1386</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assente</defaultConnectorLabel>
        <rules>
            <name>Presente1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.FinServ__KYCDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.PTF_StatoCRM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Questionario_Adeguata_Verifica_scaduto</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Questionario_Adeguata_Verifica_scaduto</name>
        <label>Check Questionario Adeguata Verifica scaduto</label>
        <locationX>1386</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>VisQuestAdeVerInScadenza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valido</defaultConnectorLabel>
        <rules>
            <name>Scaduto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_KYCDueDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_KYCDueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.PTF_StatoCRM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0</targetReference>
            </connector>
            <label>Scaduto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Rata_non_pagata</name>
        <label>Check Rata non pagata</label>
        <locationX>1804</locationX>
        <locationY>7370</locationY>
        <defaultConnector>
            <targetReference>CheckRataInRitardo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rata pagata</defaultConnectorLabel>
        <rules>
            <name>Rata_non_pagata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori.CRM_RateMoraORitardi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Rata non pagata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reclamo_In_cosrso</name>
        <label>Check Reclamo In cosrso</label>
        <locationX>1804</locationX>
        <locationY>9662</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Reclami</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not found</defaultConnectorLabel>
        <rules>
            <name>Reclamo_in_corso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Reclami.CRM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Reclami.CRM_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In istruttoria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataAperturaReclamo</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2019.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Reclamo in corso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Relcmao_chiuso</name>
        <label>Check Relcmao chiuso</label>
        <locationX>1804</locationX>
        <locationY>9062</locationY>
        <defaultConnector>
            <targetReference>Check_Reclamo_In_cosrso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not found</defaultConnectorLabel>
        <rules>
            <name>Cliente_non_in_bonis_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Reclami.CRM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pendente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Reclami.CRM_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In istruttoria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Reclami.CRM_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataAperturaReclamo</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2019.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Reclamo Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ring_Fence</name>
        <label>Check Ring Fence</label>
        <locationX>1386</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Check_Bloco</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non presente</defaultConnectorLabel>
        <rules>
            <name>Presente_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_RingFenceIndicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_scadenza_rating</name>
        <label>Check scadenza rating</label>
        <locationX>1386</locationX>
        <locationY>4370</locationY>
        <defaultConnector>
            <targetReference>Loop_over_fin_acc_role_by_cointestazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non scaduto</defaultConnectorLabel>
        <rules>
            <name>SCaduto3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_DataScadenzaRatingUffCRM__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today30</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_DataScadenzaRatingUffCRM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>SCaduto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sconfino</name>
        <label>Check Sconfino</label>
        <locationX>1804</locationX>
        <locationY>6770</locationY>
        <defaultConnector>
            <targetReference>Check_Rata_non_pagata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>cliente in bonis</defaultConnectorLabel>
        <rules>
            <name>Sconfino_Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori.CRM_PresenzaSconfini__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Counter_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Sconfino Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCounterRitardo</name>
        <label>CheckCounter</label>
        <locationX>1606</locationX>
        <locationY>8078</locationY>
        <defaultConnector>
            <targetReference>SetRataPagataInRitardo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRitardo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PresenzaRataInRitardo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRataInRitardo</targetReference>
            </connector>
            <label>YesRitardo</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRataInRitardo</name>
        <label>CheckRataInRitardo</label>
        <locationX>1804</locationX>
        <locationY>7970</locationY>
        <defaultConnector>
            <targetReference>Loop_over_indicatori</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori.CRM_RatePagRitardo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCounterRitardo</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_current_account_cointestazione</name>
        <label>Is current account = cointestazione</label>
        <locationX>1925</locationX>
        <locationY>4970</locationY>
        <defaultConnector>
            <targetReference>Loop_over_fin_acc_role_by_cointestazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_fin_acc_role_by_cointestazione.FinServ__RelatedAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Anatocismo_non_presente</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_current_account_cointestazione_0</name>
        <label>Is current account = cointestazione</label>
        <locationX>1991</locationX>
        <locationY>6062</locationY>
        <defaultConnector>
            <targetReference>Loop_over_indicatori</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not match</defaultConnectorLabel>
        <rules>
            <name>Match_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori.CRM_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_cliente_non_in_bonis</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_current_account_cointestazione_0_0</name>
        <label>Is current account = cointestazione</label>
        <locationX>1991</locationX>
        <locationY>8954</locationY>
        <defaultConnector>
            <targetReference>Reset_reclami_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not match</defaultConnectorLabel>
        <rules>
            <name>Match_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Reclami.CRM_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Relcmao_chiuso</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>VisQuestAdeVerInScadenza</name>
        <label>Check Questionario Adeguata Verifica In Scadenza</label>
        <locationX>1749</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Check_Peggioramento_rating_andamentale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non In Scadenza</defaultConnectorLabel>
        <rules>
            <name>InScadenza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_KYCDueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckScadenza</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.PTF_StatoCRM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In_Scadenza</targetReference>
            </connector>
            <label>In Scadenza</label>
        </rules>
    </decisions>
    <description>[QAV] NDG - Scadenza (Fix rimozione blocco se NDG ha un ruolo attivo su almeno un possesso con tipo di prodotto = Conti Correnti) + Stato CRM NDG</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckScadenza</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_KYCDueDate__c} &gt;= TODAY(), {!Loop_over_collegamenti_cointestazioni.CRM_RelatedAccount__r.CRM_KYCDueDate__c} &lt;= {!Today180}) , true, false)</expression>
    </formulas>
    <formulas>
        <name>DataAperturaReclamo</name>
        <dataType>Number</dataType>
        <expression>YEAR(DATEVALUE({!Loop_over_Reclami.CRM_DateOpened__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Today180</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 6)</expression>
    </formulas>
    <formulas>
        <name>Today30</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),1)</expression>
    </formulas>
    <interviewLabel>Anomalie Cointestazioni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Anomalie Cointestazioni</label>
    <loops>
        <name>Loop_over_collegamenti_cointestazioni</name>
        <label>Loop over collegamenti cointestazioni</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>CollCointestazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Questionario_Adeguata_Verifica</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_over_fin_acc_role_by_cointestazione</name>
        <label>Loop over fin acc role by cointestazione</label>
        <locationX>1386</locationX>
        <locationY>4862</locationY>
        <collectionReference>FinAccRolesCointestazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_current_account_cointestazione</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_anatocismo_flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_indicatori</name>
        <label>Loop over indicatori</label>
        <locationX>1386</locationX>
        <locationY>5954</locationY>
        <collectionReference>IndicatoriCointestazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_current_account_cointestazione_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_Flag_Indicatori</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Reclami</name>
        <label>Loop over Reclami</label>
        <locationX>1386</locationX>
        <locationY>8846</locationY>
        <collectionReference>ReclamiCointestazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_current_account_cointestazione_0_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_over_collegamenti_cointestazioni</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>anatocismoFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BloccoAnagFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BloccoRapportiFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ClientenonInBonisFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CollCointestazioni</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_LinkedNDG__c</objectType>
    </variables>
    <variables>
        <name>ConcatAnatocismoAssente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatBloccoNDG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatBloccoRapporto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatClienteNonInBonis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatPresenzaSconfino</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatPresenzaSofferenzaBanca</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatQuestionarioInScadenza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatQuestionarioNonPresente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatQuestionarioScaduto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatRataInRitardo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatRatanonPagata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatReclamoInCorso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatReclamoPResente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatRingFenceNDG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>concatScadRatingUffic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatStatoSofferenza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ConcatVarRatingAndametnale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CounterAnomalieCO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FinAccRolesCointestazioni</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccountRole__c</objectType>
    </variables>
    <variables>
        <name>IndicatoriCointestazioni</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_IndicatoriCliente__c</objectType>
    </variables>
    <variables>
        <name>NonInBonisFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PeggioramentoRatingfound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PresenzaRataInRitardo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PresenzaRataNonPagata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PresenzaSconfinoFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuestionarioAdeguataScaduto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuestionarioAdeguataVerificaAssenteFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuestionarioAdeguataVerInScadenza</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ReclamiCointestazioni</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_Claims__c</objectType>
    </variables>
    <variables>
        <name>reclamoChiusoFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ReclamoInCorsoFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RingFenceFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ScadenzaRatingFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SofferenzaBancaFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SofferenzaSistFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
