BPER/DEVF/force-app/main/default/flows/Calcola_impurezza_portafogli.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_counters</name>
        <label>Assign counters</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>CounterNDGImpuriDowngrade</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>NDGImpuriDowngrade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDGImpuriUpgrade</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>NDGImpuriUpgrade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_wallet_with_counters</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Wallet_RT</name>
        <label>Check Wallet RT</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Not microportafoglio</defaultConnectorLabel>
        <rules>
            <name>Is_microportafoglio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MicroWallet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_numNDG__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NDG_impuri_downgrade</targetReference>
            </connector>
            <label>Is microportafoglio</label>
        </rules>
    </decisions>
    <formulas>
        <name>PercentageDowngrade</name>
        <dataType>Number</dataType>
        <expression>({!CounterNDGImpuriDowngrade}/{!$Record.CRM_numNDG__c})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PercentageUpgrade</name>
        <dataType>Number</dataType>
        <expression>({!CounterNDGImpuriUpgrade}/{!$Record.CRM_numNDG__c})*100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calcola impurezza portafogli {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calcola impurezza portafogli</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NDG_impuri_downgrade</name>
        <label>Get NDG impuri downgrade</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NDG_impuri_upgrade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_Portafoglio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_IndiceSegmentoComportamentale__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.PTF_IndiceOrdinamento__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>NDGImpuriDowngrade</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_NDG_impuri_upgrade</name>
        <label>Get NDG impuri upgrade</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_counters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_Portafoglio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_IndiceSegmentoComportamentale__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.PTF_IndiceOrdinamento__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>NDGImpuriUpgrade</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_wallet_with_counters</name>
        <label>Update wallet with counters</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PTF_NumNDGImpuriDowngrade__c</field>
            <value>
                <elementReference>CounterNDGImpuriDowngrade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTF_NumNDGImpuriUpgrade__c</field>
            <value>
                <elementReference>CounterNDGImpuriUpgrade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTF_PercImpurezzaDowngrade__c</field>
            <value>
                <elementReference>PercentageDowngrade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTF_PercImpurezzaUpgrade__c</field>
            <value>
                <elementReference>PercentageUpgrade</elementReference>
            </value>
        </inputAssignments>
        <object>Wallet__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Wallet_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_numNDG__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>PTF_Deleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assente</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Residuale</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consulenti Finanziari</stringValue>
            </value>
        </filters>
        <object>Wallet__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-25</startDate>
            <startTime>21:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CounterNDGImpuriDowngrade</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterNDGImpuriUpgrade</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterNDGPuri</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NDGImpuriDowngrade</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NDGImpuriUpgrade</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NDGList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
