BPER/DEVF/force-app/main/default/flows/Call_WhatsApp_Manual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call</name>
        <label>Call</label>
        <locationX>1357</locationX>
        <locationY>573</locationY>
        <actionName>ExternalRoutingWhatsapp</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objId</name>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExternalRoutingWhatsapp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Sessions_Count</name>
        <label>Sessions Count</label>
        <locationX>728</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>NumeroElementi</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Sessions_Room</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Batch</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Max_Batch</name>
        <label>Max Batch</label>
        <locationX>872</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Morethan50TextArea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 50</defaultConnectorLabel>
        <rules>
            <name>Less_than_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumeroElementi</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>Less than 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waiting_Room</name>
        <label>Waiting Room</label>
        <locationX>519</locationX>
        <locationY>570</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sessions_Room</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sessions_Count</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Call WhatsApp - Manual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call WhatsApp - Manual</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1081</locationX>
        <locationY>574</locationY>
        <collectionReference>Sessions_Room</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Call</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Sessions_Room</name>
        <label>Sessions Room</label>
        <locationX>527</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Waiting_Room</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Data_di_Inizio</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Data_di_Fine</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MessagingSession</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Morethan50TextArea</name>
        <label>Morethan50TextArea</label>
        <locationX>880</locationX>
        <locationY>791</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Indietro</backButtonLabel>
        <fields>
            <name>Morethan50Text</name>
            <fieldText>&lt;p&gt;Per gli orari selezionati, sono presenti più di 50 messaggi. Si prega di restringere il periodo di tempo considerato, in modo da limitare i messaggi da sottomettere.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Chiudi</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Routing_Chiamate</name>
        <label>Routing Chiamate</label>
        <locationX>527</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sessions_Room</targetReference>
        </connector>
        <fields>
            <name>Data_di_Inizio</name>
            <dataType>DateTime</dataType>
            <fieldText>Data di Inizio</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Inserire la &lt;b&gt;Data di Inizio&lt;/b&gt; del periodo considerato per effettuare il routing delle &lt;b&gt;Chiamate In Attesa&lt;/b&gt;.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Data_di_Fine</name>
            <dataType>DateTime</dataType>
            <fieldText>Data di Fine</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Inserire la &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Data di Fine&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; del periodo considerato per effettuare il routing delle &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Chiamate In Attesa&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b&gt;Data di Fine&lt;/b&gt; deve essere successiva alla &lt;b&gt;Data di Inizio&lt;/b&gt;.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Data_di_Fine} &gt; {!Data_di_Inizio}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Routing_Chiamate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NumeroElementi</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
