BPER/DEVF/force-app/main/default/flows/Campagne_Outbound_Flag_Genesys_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Tipo_Campagna</name>
        <label>Tipo Campagna</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Update_Genesys_SYNC_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inbound</defaultConnectorLabel>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_TipoCampagna__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CampaignSettings</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <interviewLabel>Campagne Outbound - Flag Genesys Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campagne Outbound - Flag Genesys Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CampaignSettings</name>
        <label>Get CampaignSettings</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Genesys_Queue</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Genesys_Queue</name>
        <label>Get Genesys Queue</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Genesys_Script</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CampaignSettings.GenesysDefaultQueueName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>softphone_it__GcQueuePicklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Genesys_Script</name>
        <label>Get Genesys Script</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Genesys_SYNC_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CampaignSettings.GenesysDefaultScriptName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>softphone_it__GCScriptPicklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Genesys_SYNC_0</name>
        <label>Update Genesys SYNC</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>softphone_it__Gc_Caller_Address__c</field>
            <value>
                <elementReference>Get_CampaignSettings.GenesysCallerAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Gc_Caller_Name__c</field>
            <value>
                <elementReference>Get_CampaignSettings.GenesysCallerName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Gc_Custom_Fields__c</field>
            <value>
                <elementReference>Get_CampaignSettings.GenesysCustomFields__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Gc_Queue__c</field>
            <value>
                <elementReference>Get_Genesys_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Gc_Script__c</field>
            <value>
                <elementReference>Get_Genesys_Script.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Genesys_Cloud_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Genesys_SYNC_0_0</name>
        <label>Update Genesys SYNC</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>softphone_it__Gc_Caller_Address__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Gc_Caller_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Gc_Custom_Fields__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Gc_Queue__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Gc_Script__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>softphone_it__Genesys_Cloud_Sync__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_Campagna</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
