BPER/DEVF/force-app/main/default/flows/Campaign_Member_management_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Hesitation_to_text_variable</name>
        <label>Add Hesitation to text variable</label>
        <locationX>553</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>TextCollectionListofHesitations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_list_oh_hesitation_to_text_variable_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_list_oh_hesitation_to_text_variable_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Motivo_Rifiuto_to_List</name>
        <label>Add Motivo Rifiuto to List</label>
        <locationX>2477</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>MotiviRifiutoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Formula_MotiviRifiuto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_MotiviRifiuto_Rimanenti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Motivo_Rifuto_Selezionato</name>
        <label>Add Motivo Rifuto Selezionato</label>
        <locationX>2754</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>MotivoRifiutoSelezionato_2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Formula_TEMP_MotivoRifiuto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Motivi_Rifiuto_Selezionati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_alla_variabile_EsitoSelezionato_il_valore_Non_selezionato</name>
        <label>Assegna alla variabile EsitoSelezionato il valore &quot;Non selezionato&quot;</label>
        <locationX>851</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>EsitoNonSelezionato</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cliente_adeguato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_MotiviRifiuto_Rimanenti</name>
        <label>Assegna MotiviRifiuto Rimanenti</label>
        <locationX>2332</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>TEMP_MotiviRifiuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_MotiviRifiutoRimanente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TEMP_Motivo_Rifiuto_Nullo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_branch_email_address_to_variable</name>
        <label>Assign branch email address to variable</label>
        <locationX>3653</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>Emailfilialeincuisirecherailcliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailFilialeAppuntamento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cliente_ha_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_columns_table_to_variable</name>
        <label>Assign columns table to variable</label>
        <locationX>547</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>ColonneTabella</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColonneTabella</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FinServ__BankNumber__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_list_oh_hesitation_to_text_variable_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email_address_to_variable</name>
        <label>Assign certified email address to variable</label>
        <locationX>4828</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>FinalAccountEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.CRM_SmartWebEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Old_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Esito_non_selezionato_equals_to_False</name>
        <label>Assign Esito non selezionato equals to False</label>
        <locationX>1599</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>EsitoNonSelezionato</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_nome_esito_selezionato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_esito_selezionato</name>
        <label>Assign esito selezionato</label>
        <locationX>897</locationX>
        <locationY>1063</locationY>
        <assignmentItems>
            <assignToReference>HesitationSelection.selectedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Estio_ClienteNonAdeguato.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_nome_esito_selezionato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_generic_email_to_variable</name>
        <label>Assign generic email to variable</label>
        <locationX>4827</locationX>
        <locationY>1112</locationY>
        <assignmentItems>
            <assignToReference>FinalAccountEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.CRM_GenericEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Old_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nessuna_ricerca_effettuata_false</name>
        <label>Assign Nessuna ricerca effettuata = false</label>
        <locationX>1969</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>NessunaRicercaEffettuata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Tipo_di_ricerca_effettuata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nessuna_Ricerca_Effetuata_true</name>
        <label>Assign Nessuna Ricerca Effetuata = true</label>
        <locationX>2024</locationX>
        <locationY>1795</locationY>
        <assignmentItems>
            <assignToReference>NessunaRicercaEffettuata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenRicercaFiliali</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_email_address_to_a_variable</name>
        <label>Assign new email address to a variable</label>
        <locationX>4832</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>FinalAccountEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailCliente.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Old_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_id_variable_to_text_collection_variable</name>
        <label>Assign record id variable to text collection variable</label>
        <locationX>2723</locationX>
        <locationY>1345</locationY>
        <assignmentItems>
            <assignToReference>TextCollectionListaFiliali</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Lista_Filiali.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lista_Filiali</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Filiale_null</name>
        <label>Assign Selected Filiale = null</label>
        <locationX>3801</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>TableListaFiliali.selectedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_data_e_ora_appuntamento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_stessa_filiale_to_variable</name>
        <label>Assign stessa filiale to variable</label>
        <locationX>2692</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>FinalFilialeSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.CRM_FormulaFiliale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailFilialeAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale.CRM_EmailSB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilialeFinalePerAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale.CRM_Nome__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_data_e_ora_appuntamento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TEMP_Motivi_Rifiuto</name>
        <label>Assign TEMP Motivi Rifiuto</label>
        <locationX>2042</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>TEMP_MotiviRifiuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_InformazioniAggiuntive__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TEMP_Motivo_Rifiuto_Nullo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_ColumnsHesitation</name>
        <label>Assign values to ColumnsHesitation</label>
        <locationX>224</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>HesitationColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CRM_NomeEsito__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filiale_non_selezionata_false</name>
        <label>Filiale non selezionata = false</label>
        <locationX>2515</locationX>
        <locationY>1761</locationY>
        <assignmentItems>
            <assignToReference>FilialeNonSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Svuota_Record_Collection_Filiali</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filiale_non_selezionata_true</name>
        <label>Filiale non selezionata = true</label>
        <locationX>3030</locationX>
        <locationY>1161</locationY>
        <assignmentItems>
            <assignToReference>FilialeNonSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayListaFiliali</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filiale_selezionata_Final</name>
        <label>Filiale selezionata Final</label>
        <locationX>3624</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>FinalFilialeSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.CRM_Nome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalIdCedFilialeSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.PTF_IdCEDFiliale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailFilialeAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.CRM_EmailSB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilialeFinalePerAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.CRM_Nome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CodiceDellaFilialePerAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.PTF_IdCEDFiliale__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Selected_Filiale_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_all_element_within_the_list</name>
        <label>Remove all element within the list</label>
        <locationX>2679</locationX>
        <locationY>1561</locationY>
        <assignmentItems>
            <assignToReference>TextCollectionListaFiliali</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyCollectionListaFiliali</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filiale_non_selezionata_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TextCollectionVariable_Length</name>
        <label>Set TextCollectionVariable Length</label>
        <locationX>2741</locationX>
        <locationY>1177</locationY>
        <assignmentItems>
            <assignToReference>TextCollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TextCollectionListaFiliali</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayListaFiliali</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Svuota_Record_Collection_Filiali</name>
        <label>Svuota Record Collection Filiali</label>
        <locationX>2229</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>RecordCollectionListaFiliali</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordCollectionFilialiNULL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenRicercaFiliali</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClienteHaRisposto</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClienteNonHaRisposto</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClienteSiRecaPressoSuaFilialeNO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClienteSiRecaPressoSuaFilialeSI</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>FILIALE</name>
        <choiceText>FILIALE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FILIALE</stringValue>
        </value>
    </choices>
    <choices>
        <name>HasEmail</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>HasNotEmail</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>MESTESSO</name>
        <choiceText>ME STESSO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ME STESSO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NO_Cliente_Adatto</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NO_EmailNonCorretta</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_Cliente_Adatto</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_EmailCorretta</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_campagna</name>
        <label>Check campagna</label>
        <locationX>5725</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Update_campaign_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipoCampagna__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign_member_0</targetReference>
            </connector>
            <label>Inbound CC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_campagna_0</name>
        <label>Check campagna</label>
        <locationX>1350</locationX>
        <locationY>1470</locationY>
        <defaultConnector>
            <targetReference>Update_CampaignMember_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound_CC_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipoCampagna__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CampaignMember_0_0</targetReference>
            </connector>
            <label>Inbound CC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_cliente_si_reca_presso_la_sua_filiale</name>
        <label>Check cliente si reca presso la sua filiale</label>
        <locationX>2054</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Get_Filiale_RT_from_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>STESSA_FILIALE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleziona_un_valore_DoveSiRecacliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClienteSiRecaPressoSuaFilialeSI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Filiale</targetReference>
            </connector>
            <label>STESSA FILIALE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Corretta</name>
        <label>Check Email Corretta</label>
        <locationX>4270</locationX>
        <locationY>1172</locationY>
        <defaultConnector>
            <targetReference>ScreenEmailClienteCorretta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_corretta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelezionaValorePerEmailCorretta_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SI_EmailCorretta</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_what_email_address_shown_within_the_previous_screen</targetReference>
            </connector>
            <label>Email corretta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_esito_selezionabile</name>
        <label>Check esito selezionabile</label>
        <locationX>721</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>Add_Hesitation_to_text_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Da includere</defaultConnectorLabel>
        <rules>
            <name>Da_escludere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_list_oh_hesitation_to_text_variable_collection.CRM_EsitiNonSelezionabiliFormula__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Campaign_Member_Id.CRM_Esito__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_list_oh_hesitation_to_text_variable_collection</targetReference>
            </connector>
            <label>Da escludere</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Esito_Selezionato</name>
        <label>Check Esito Selezionato</label>
        <locationX>1910</locationX>
        <locationY>280</locationY>
        <defaultConnector>
            <targetReference>Assegna_alla_variabile_EsitoSelezionato_il_valore_Non_selezionato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esito_valorizzato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HesitationSelection.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Esito_non_selezionato_equals_to_False</targetReference>
            </connector>
            <label>Esito valorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_filiale_selezionata</name>
        <label>Check if filiale selezionata</label>
        <locationX>3219</locationX>
        <locationY>1291</locationY>
        <defaultConnector>
            <targetReference>Filiale_non_selezionata_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filiale_ed_email_selezionata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TableListaFiliali.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_filiale_name_and_ced</targetReference>
            </connector>
            <label>Filiale selezionata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_torna_alla_ricerca_true</name>
        <label>Check if torna alla ricerca è true</label>
        <locationX>3040</locationX>
        <locationY>1678</locationY>
        <defaultConnector>
            <targetReference>Check_if_filiale_selezionata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Torna_alla_ricerca</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TornaAllaRicerca.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_all_element_within_the_list</targetReference>
            </connector>
            <label>Torna alla ricerca</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_old_opportunity</name>
        <label>Check old opportunity</label>
        <locationX>5051</locationX>
        <locationY>1174</locationY>
        <defaultConnector>
            <targetReference>Opportunity_da_creare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity non esiste</defaultConnectorLabel>
        <rules>
            <name>Opportunity_esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_da_creare_0</targetReference>
            </connector>
            <label>Opportunity esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Old_Opportunity_0</name>
        <label>Check Old Opportunity</label>
        <locationX>1492</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunit_Da_ricontattare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old Opportunity is null</defaultConnectorLabel>
        <rules>
            <name>Old_Opportunity_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Opportunity_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunit_Da_ricontattare</targetReference>
            </connector>
            <label>Old Opportunity not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_opportunit_da_creare</name>
        <label>Check opportunità da creare</label>
        <locationX>1308</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>SuccessScreenOppFiliale_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunità da non creare</defaultConnectorLabel>
        <rules>
            <name>Opportunit_da_creare_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Old_Opportunity_0</targetReference>
            </connector>
            <label>Opportunità da creare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_se_almeno_uno_dei_due_campi_ricerca_valorizzato</name>
        <label>Check se almeno uno dei due campi ricerca è valorizzato</label>
        <locationX>2027</locationX>
        <locationY>1351</locationY>
        <defaultConnector>
            <targetReference>Assign_Nessuna_Ricerca_Effetuata_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Almeno_uno_dei_due_campi_ricerca_valorizzato</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cerca_per_nome_filiale</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cerca_per_CED_filiale</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Nessuna_ricerca_effettuata_false</targetReference>
            </connector>
            <label>Almeno uno dei due campi ricerca valorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Tipo_di_ricerca_effettuata</name>
        <label>Check Tipo di ricerca effettuata</label>
        <locationX>2133</locationX>
        <locationY>1159</locationY>
        <defaultConnector>
            <targetReference>Get_Lista_Filiali_per_Codice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ricerca_per_Nome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RicercaCustomButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lista_Filiali</targetReference>
            </connector>
            <label>Ricerca per Nome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_what_email_address_shown_within_the_previous_screen</name>
        <label>Check what email address shown within the previous screen</label>
        <locationX>4548</locationX>
        <locationY>988</locationY>
        <defaultConnector>
            <targetReference>Assign_generic_email_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_certificata_valorizzata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Contact.Account.CRM_SmartWebEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_email_address_to_variable</targetReference>
            </connector>
            <label>Email certificata valorizzata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cliente_adeguato</name>
        <label>Cliente adeguato</label>
        <locationX>841</locationX>
        <locationY>752</locationY>
        <defaultConnector>
            <targetReference>Screen_ClienteNonAdeguato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente non adeguato</defaultConnectorLabel>
        <rules>
            <name>Cliente_adeguato_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_ClienteAdeguato</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Hesitation_Selection</targetReference>
            </connector>
            <label>Cliente adeguato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cliente_ha_email</name>
        <label>Cliente ha email?</label>
        <locationX>4287</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>Check_Email_Corretta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non ha email</defaultConnectorLabel>
        <rules>
            <name>Ha_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCheckEmailCliente_0</targetReference>
            </connector>
            <label>Ha email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_Cliente_non_adeguato_valorizzato</name>
        <label>Esito Cliente non adeguato valorizzato</label>
        <locationX>1104</locationX>
        <locationY>1112</locationY>
        <defaultConnector>
            <targetReference>Screen_ClienteNonAdeguato_Mancante</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente non adeguato nullo</defaultConnectorLabel>
        <rules>
            <name>Cliente_non_adeguato_valorizzato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Estio_ClienteNonAdeguato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_esito_selezionato</targetReference>
            </connector>
            <label>Cliente non adeguato valorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_selezionato</name>
        <label>Esito selezionato</label>
        <locationX>1538</locationX>
        <locationY>1053</locationY>
        <defaultConnector>
            <targetReference>Get_Old_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Fissato_appuntamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scrren_Dove_Si_Recher_il_Cliente</targetReference>
            </connector>
            <label>Fissato appuntamento</label>
        </rules>
        <rules>
            <name>Da_ricontattare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da ricontattare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Presa_Appuntamento_MESTESSO</targetReference>
            </connector>
            <label>Da ricontattare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_selezionato_0</name>
        <label>Esito selezionato</label>
        <locationX>1710</locationX>
        <locationY>597</locationY>
        <defaultConnector>
            <targetReference>Screen_Note_Esito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Fissato_appuntamento_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esito_selezionato</targetReference>
            </connector>
            <label>Fissato appuntamento</label>
        </rules>
        <rules>
            <name>Da_ricontattare_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da ricontattare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esito_selezionato</targetReference>
            </connector>
            <label>Da ricontattare</label>
        </rules>
        <rules>
            <name>Cliente_escluso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente escluso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Opportunity</targetReference>
            </connector>
            <label>Cliente escluso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Informazioni_aggiuntive_mullo</name>
        <label>Informazioni aggiuntive mullo?</label>
        <locationX>2161</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Assign_TEMP_Motivi_Rifiuto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_InformazioniAggiuntive__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esito_selezionato_0</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_da_creare</name>
        <label>Opportunity da creare?</label>
        <locationX>5227</locationX>
        <locationY>1168</locationY>
        <defaultConnector>
            <targetReference>Check_campagna</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Inviata_a_filiale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunit_FILIALE</targetReference>
            </connector>
            <label>Inviata a filiale</label>
        </rules>
        <rules>
            <name>Opportunit_da_creare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunit</targetReference>
            </connector>
            <label>Opportunità da creare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_da_creare_0</name>
        <label>Opportunity da creare?</label>
        <locationX>5159</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Check_campagna</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Inviata_a_filiale_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunit_Filiale</targetReference>
            </connector>
            <label>Inviata a filiale</label>
        </rules>
        <rules>
            <name>Opportunit_da_aggiornare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunit</targetReference>
            </connector>
            <label>Opportunità da aggiornare</label>
        </rules>
    </decisions>
    <decisions>
        <name>TEMP_Motivo_Rifiuto_Nullo</name>
        <label>TEMP Motivo Rifiuto Nullo?</label>
        <locationX>2202</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Add_Motivo_Rifiuto_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TEMP_MotiviRifiuto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Motivo_Rifiuto</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_esitazione</name>
        <label>Tipo esitazione</label>
        <locationX>2012</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>Esito_selezionato_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Negativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_TipoEsitazione__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Esito Negativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informazioni_aggiuntive_mullo</targetReference>
            </connector>
            <label>Negativo</label>
        </rules>
    </decisions>
    <description>Segnalazione (53330) - &apos;Bisogno&apos; = blank</description>
    <dynamicChoiceSets>
        <name>MotivoRifiuto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_MotivoRifiuto__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CampaignMemberEmail</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Get_Campaign_Member_Id.Contact.Account.CRM_SmartWebEmail__c}), {!Get_Campaign_Member_Id.Contact.Account.CRM_SmartWebEmail__c}, {!Get_Campaign_Member_Id.Contact.Account.CRM_GenericEmail__c})</expression>
    </formulas>
    <formulas>
        <name>CurrentDateTimePlus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1</expression>
    </formulas>
    <formulas>
        <name>FaseOpportunita_EsitoTransitorio</name>
        <dataType>String</dataType>
        <expression>CASE( {!Get_nome_esito_selezionato.CRM_NomeEsito__c},
&quot;Non risponde 1&quot;, &quot;Non risponde 1&quot;,
 &quot;Non risponde 2&quot;, &quot;Non risponde 2&quot;,
&quot;Cliente non raggiungibile&quot;, &quot;Non raggiungibile&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_ClienteAdeguato</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!Get_Campaign_Member_Id.Campaign.CRM_EsclusioneLivelloPrivacy__c}, &quot;Privacy Livello 1&quot;), ISPICKVAL({!Get_Campaign_Member_Id.Contact.Account.CRM_BusinessPrivacy1Level__c}, &quot;Yes&quot;) || ISPICKVAL({!Get_Campaign_Member_Id.Contact.Account.CRM_Privacy_1Level__c}, &quot;Yes&quot;),
	IF(ISPICKVAL({!Get_Campaign_Member_Id.Campaign.CRM_EsclusioneLivelloPrivacy__c}, &quot;Privacy Livello 2&quot;), IF({!Get_Campaign_Member_Id.Contact.Account.IsPersonAccount}, ISPICKVAL({!Get_Campaign_Member_Id.Contact.Account.CRM_Privacy_2Level__c}, &quot;Yes&quot;), true), true)) &amp;&amp;
	NOT({!Get_Campaign_Member_Id.Contact.Account.CRM_Deceduto__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_MotiviRifiuto</name>
        <dataType>String</dataType>
        <expression>IF(!CONTAINS({!TEMP_MotiviRifiuto},&quot;;&quot;), {!TEMP_MotiviRifiuto}, LEFT({!TEMP_MotiviRifiuto}, FIND(&quot;;&quot;, {!TEMP_MotiviRifiuto}) -1))</expression>
    </formulas>
    <formulas>
        <name>Formula_MotiviRifiutoRimanente</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!TEMP_MotiviRifiuto}, &quot;;&quot;), RIGHT({!TEMP_MotiviRifiuto}, LEN({!TEMP_MotiviRifiuto}) - FIND(&quot;;&quot;, {!TEMP_MotiviRifiuto})), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_TEMP_MotivoRifiuto</name>
        <dataType>String</dataType>
        <expression>IF({!MotivoRifiutoSelezionato_2} == &quot;&quot;, {!Loop_Motivi_Rifiuto_Selezionati}, &quot;;&quot; +  {!Loop_Motivi_Rifiuto_Selezionati})</expression>
    </formulas>
    <formulas>
        <name>FormulaFiliale</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Get_Campaign_Member_Id.Contact.Account.PTF_Filiale__c}), {!Get_Campaign_Member_Id.Contact.Account.PTF_Filiale__c}, {!Get_Campaign_Member_Id.Contact.Account.CRM_Filiale__c})</expression>
    </formulas>
    <formulas>
        <name>NoteFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!X2_Note_utili_alla_filiale_compreso_il_prodotto_specifico}), {!Note_aggiuntive}, {!X2_Note_utili_alla_filiale_compreso_il_prodotto_specifico})</expression>
    </formulas>
    <formulas>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 60</expression>
    </formulas>
    <interviewLabel>Campaign Member management flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Procedura guidata gestione cliente target</label>
    <loops>
        <name>Assign_list_oh_hesitation_to_text_variable_collection</name>
        <label>Assign list oh hesitation to text variable collection</label>
        <locationX>682</locationX>
        <locationY>357</locationY>
        <collectionReference>Get_Campaign_Hesitation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_esito_selezionabile</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_values_to_ColumnsHesitation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Lista_Filiali</name>
        <label>Loop Lista Filiali</label>
        <locationX>2496</locationX>
        <locationY>1249</locationY>
        <collectionReference>RecordCollectionListaFiliali</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_record_id_variable_to_text_collection_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_TextCollectionVariable_Length</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Motivi_Rifiuto_Selezionati</name>
        <label>Loop Motivi Rifiuto Selezionati</label>
        <locationX>2629</locationX>
        <locationY>711</locationY>
        <collectionReference>Checkbox_MotiviDiRifiuto.selectedValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Motivo_Rifuto_Selezionato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Esito_selezionato_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunit</name>
        <label>Create Opportunità</label>
        <locationX>5364</locationX>
        <locationY>1291</locationY>
        <connector>
            <targetReference>Check_campagna</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>FinalAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NoteFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunit_Da_ricontattare</name>
        <label>Create Opportunità Da ricontattare</label>
        <locationX>1406</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>SuccessScreenOppFiliale_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_RecallDate__c</field>
            <value>
                <elementReference>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunit_FILIALE</name>
        <label>Create Opportunità FILIALE</label>
        <locationX>5637</locationX>
        <locationY>965</locationY>
        <connector>
            <targetReference>Check_campagna</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchCode__c</field>
            <value>
                <elementReference>CodiceDellaFilialePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchEmailAddress__c</field>
            <value>
                <elementReference>Emailfilialeincuisirecherailcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchName__c</field>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentDateAtTheBranch__c</field>
            <value>
                <elementReference>X1_Data_e_ora_dell_appuntamento_in_filiale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>FinalAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NoteFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Filiale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_per_Opportunit_vs_Filiale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Hesitation</name>
        <label>Get Campaign Hesitation</label>
        <locationX>50</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Opportunity_Contact_Center</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campagna__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_StatoEsito__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_DaIncludereListaEsiti__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
        <sortField>CRM_NomeEsito__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_info</name>
        <label>Get_Campaign_info</label>
        <locationX>674</locationX>
        <locationY>760</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_adeguato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member_Id</name>
        <label>Get Campaign Member Id</label>
        <locationX>238</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Hesitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Estio_ClienteNonAdeguato</name>
        <label>Get Estio ClienteNonAdeguato</label>
        <locationX>1382</locationX>
        <locationY>1104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esito_Cliente_non_adeguato_valorizzato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campagna__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_NomeEsito__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente escluso</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filiale</name>
        <label>Get_Filiale</label>
        <locationX>2435</locationX>
        <locationY>952</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_stessa_filiale_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormulaFiliale</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.FinServ__BankNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_filiale_name_and_ced</name>
        <label>Get filiale name and ced</label>
        <locationX>3390</locationX>
        <locationY>1014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filiale_selezionata_Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TableListaFiliali.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filiale_RT_from_Account</name>
        <label>Get Filiale RT from Account</label>
        <locationX>1735</locationX>
        <locationY>1283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenRicercaFiliali</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FilialeDiRelazione</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lista_Filiali</name>
        <label>Get Lista Filiali</label>
        <locationX>2371</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Lista_Filiali</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Filiale_RT_from_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Nome__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Cerca_per_nome_filiale</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.FinServ__BankNumber__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RecordCollectionListaFiliali</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CRM_Nome__c</queriedFields>
        <queriedFields>PTF_IdCEDFiliale__c</queriedFields>
        <sortField>CRM_Nome__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Lista_Filiali_per_Codice</name>
        <label>Get Lista Filiali per Codice</label>
        <locationX>2256</locationX>
        <locationY>1363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Lista_Filiali</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Filiale_RT_from_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_IdCEDFiliale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cerca_per_CED_filiale</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.FinServ__BankNumber__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RecordCollectionListaFiliali</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PTF_IdCEDFiliale__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CRM_Nome__c</queriedFields>
        <sortField>PTF_IdCEDFiliale__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_nome_esito_selezionato</name>
        <label>Get nome esito selezionato</label>
        <locationX>1556</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_esitazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HesitationSelection.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Opportunity</name>
        <label>Get Old Opportunity</label>
        <locationX>4937</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_old_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Opportunity_0</name>
        <label>Get Old Opportunity</label>
        <locationX>1479</locationX>
        <locationY>1831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_opportunit_da_creare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_per_Opportunit_vs_Filiale</name>
        <label>Get Record Type per Opportunità vs. Filiale</label>
        <locationX>2228</locationX>
        <locationY>812</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_cliente_si_reca_presso_la_sua_filiale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunita_da_cc_vs_rete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Opportunity_Contact_Center</name>
        <label>Get RT Opportunity Contact Center</label>
        <locationX>246</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_columns_table_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunit_per_il_CC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Filiale</name>
        <label>Get User Filiale</label>
        <locationX>1923</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_per_Opportunit_vs_Filiale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Filiale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_campaign_member</name>
        <label>Update campaign member</label>
        <locationX>5884</locationX>
        <locationY>1285</locationY>
        <connector>
            <targetReference>SuccessScreenOppFiliale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
            <value>
                <elementReference>X1_Data_e_ora_dell_appuntamento_in_filiale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0</name>
        <label>Update campaign member</label>
        <locationX>5899</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>SuccessScreenOppFiliale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Assegnatario__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
            <value>
                <elementReference>X1_Data_e_ora_dell_appuntamento_in_filiale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CampaignMember_0</name>
        <label>Update CampaignMember</label>
        <locationX>1593</locationX>
        <locationY>1609</locationY>
        <connector>
            <targetReference>Get_Old_Opportunity_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
            <value>
                <elementReference>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CampaignMember_0_0</name>
        <label>Update CampaignMember</label>
        <locationX>1403</locationX>
        <locationY>1617</locationY>
        <connector>
            <targetReference>Get_Old_Opportunity_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Assegnatario__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
            <value>
                <elementReference>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunit</name>
        <label>Update Opportunità</label>
        <locationX>5294</locationX>
        <locationY>2044</locationY>
        <connector>
            <targetReference>Check_campagna</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>FinalAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NoteFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunit_Da_ricontattare</name>
        <label>Update Opportunità Da ricontattare</label>
        <locationX>1656</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>SuccessScreenOppFiliale_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Opportunity_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_RecallDate__c</field>
            <value>
                <elementReference>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunit_Filiale</name>
        <label>Update Opportunità Filiale</label>
        <locationX>5547</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Check_campagna</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchCode__c</field>
            <value>
                <elementReference>CodiceDellaFilialePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchEmailAddress__c</field>
            <value>
                <elementReference>Emailfilialeincuisirecherailcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchName__c</field>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentDateAtTheBranch__c</field>
            <value>
                <elementReference>X1_Data_e_ora_dell_appuntamento_in_filiale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>FinalAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NoteFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Filiale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_per_Opportunit_vs_Filiale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_ClienteNonAdeguato</name>
        <label>Screen ClienteNonAdeguato</label>
        <locationX>1376</locationX>
        <locationY>671</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Estio_ClienteNonAdeguato</targetReference>
        </connector>
        <fields>
            <name>TextClienteNonAdeguato</name>
            <fieldText>&lt;p&gt;Il cliente non risulta essere adeguato per questa campagna.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Premere &quot;&lt;b&gt;Avanti&lt;/b&gt;&quot; per esitare il cliente come &lt;i&gt;&quot;Cliente escluso&quot;.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ClienteNonAdeguato_Mancante</name>
        <label>Screen ClienteNonAdeguato Mancante</label>
        <locationX>1087</locationX>
        <locationY>1312</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextClienteNonAdeguatoMancante</name>
            <fieldText>&lt;p&gt;Purtroppo non è stato possibile esitare il cliente in quanto l&apos;esito &lt;i&gt;&quot;Cliente escluso&quot;&lt;/i&gt; non è associato alla campagna.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_data_e_ora_appuntamento</name>
        <label>Screen data e ora appuntamento</label>
        <locationX>3501</locationX>
        <locationY>823</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_branch_email_address_to_variable</targetReference>
        </connector>
        <fields>
            <name>TextFilialeSelezionata</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Filiale selezionata: &lt;/span&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!FinalFilialeSelezionata}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MessageCompilazione</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Compila di seguito:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_Data_e_ora_dell_appuntamento_in_filiale</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentDateTimePlus1</elementReference>
            </defaultValue>
            <fieldText>1. Data e ora dell&apos;appuntamento in filiale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Inserire una data e ora validi&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!X1_Data_e_ora_dell_appuntamento_in_filiale} &gt; now ()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>X2_Note_utili_alla_filiale_compreso_il_prodotto_specifico</name>
            <fieldText>2. Note utili alla filiale (compreso il prodotto specifico)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Filiale_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Filiale in cui si recherà il cliente:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!FilialeFinalePerAppuntamento}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Email filiale in cui si recherà il cliente:&lt;/p&gt;&lt;p&gt;{!EmailFilialeAppuntamento}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Hesitation_Selection</name>
        <label>Screen Hesitation Selection</label>
        <locationX>1098</locationX>
        <locationY>904</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Esito_Selezionato</targetReference>
        </connector>
        <fields>
            <name>CampaignScript</name>
            <fieldText>&lt;p&gt;{!Get_Campaign_info.CRM_ScriptRichText__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelezionaEsitoCampaignMember</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Seleziona un esito per la proposta&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HesitationSelection</name>
            <extensionName>builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>HesitationColumns</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>TextCollectionListofHesitations</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MessaggioErrore</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Selezionare obbligatoriamente un esito.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EsitoNonSelezionato</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Motivo_Rifiuto</name>
        <label>Screen Motivo Rifiuto</label>
        <locationX>2401</locationX>
        <locationY>784</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Motivi_Rifiuto_Selezionati</targetReference>
        </connector>
        <fields>
            <name>TitoloMotivoRifiuto</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Selezionare uno o più motivi di rifiuto&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_MotiviDiRifiuto</name>
            <extensionName>runtime_industries_lending:flowCheckbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Motivi di rifuto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>MotiviRifiutoList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>MotiviRifiutoList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Note_Esito</name>
        <label>Screen Note Esito</label>
        <locationX>1533</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Esito_selezionato</targetReference>
        </connector>
        <fields>
            <name>TextNoteEsito</name>
            <fieldText>&lt;p&gt;Inserire delle note aggiuntive&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Note_aggiuntive</name>
            <fieldText>Note aggiuntive</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Presa_Appuntamento_MESTESSO</name>
        <label>Screen Presa Appuntamento MESTESSO</label>
        <locationX>1517</locationX>
        <locationY>1240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_campagna_0</targetReference>
        </connector>
        <fields>
            <name>TextPresaAppuntamentoMESTESSO</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Concorda data e ora del richiamo e scrivi eventuali note&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentDateTimePlus1</elementReference>
            </defaultValue>
            <fieldText>Inserisci la data e l&apos;ora per il richiamo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Inserire una data e ora validi&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO} &gt; now ()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Inserisci_una_descrizione_MESTESSO</name>
            <fieldText>Inserisci una descrizione</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenCheckEmailCliente_0</name>
        <label>ScreenCheckEmailCliente</label>
        <locationX>4152</locationX>
        <locationY>1017</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Email_Corretta</targetReference>
        </connector>
        <fields>
            <name>EmailNonPresenteInSalesforce_1_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Clicca sul pulsante &quot;Avanti&quot; per inserire l&apos;indirizzo email del cliente&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CampaignMemberEmail</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TextCheckEmailClienteCorretta_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Per concludere, invia al cliente promemoria per l&apos;appuntamento.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La mail di seguito è corretta?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CampaignMemberEmail</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayCustomerCertifiedEmail_0</name>
            <fieldText>&lt;p&gt;{!CampaignMemberEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CampaignMemberEmail</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelezionaValorePerEmailCorretta_0</name>
            <choiceReferences>SI_EmailCorretta</choiceReferences>
            <choiceReferences>NO_EmailNonCorretta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleziona un valore</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CampaignMemberEmail</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDisplayListaFiliali</name>
        <label>ScreenDisplayListaFiliali</label>
        <locationX>2880</locationX>
        <locationY>1255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_torna_alla_ricerca_true</targetReference>
        </connector>
        <fields>
            <name>NessunaFilialeTrovata</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Nessuna filiale trovata. Cliccare sul pulsante &quot;Ritorna alla ricerca&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TextCollectionSize</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TableListaFiliali</name>
            <extensionName>builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>ColonneTabella</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>TextCollectionListaFiliali</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Nessuna filiale trovata. Cliccare sul pulsante &quot;Ritorna alla ricerca&quot;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TextCollectionSize</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenDisplayListaFiliali_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenDisplayListaFiliali_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelezionaUnaFiliale</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Selezionare una filiale&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FilialeNonSelezionata</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TextCollectionSize</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TornaAllaRicerca</name>
                    <extensionName>runtime_industries_lending:flowFooter</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>showPrevious</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabelCustom</name>
                        <value>
                            <stringValue>Torna alla Ricerca</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabelNext</name>
                        <value>
                            <stringValue>Avanti</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenEmailClienteCorretta</name>
        <label>ScreenEmailClienteCorretta</label>
        <locationX>4587</locationX>
        <locationY>1292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_new_email_address_to_a_variable</targetReference>
        </connector>
        <fields>
            <name>Il_cliente_ha_una_email</name>
            <choiceReferences>HasEmail</choiceReferences>
            <choiceReferences>HasNotEmail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Il cliente ha una email?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TextInsertNewEmailAddress</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Inserisci l&apos;indirizzo email e clicca su avanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Il_cliente_ha_una_email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HasEmail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmailCliente</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Il_cliente_ha_una_email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HasEmail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenRicercaFiliali</name>
        <label>ScreenRicercaFiliali</label>
        <locationX>1801</locationX>
        <locationY>1487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_se_almeno_uno_dei_due_campi_ricerca_valorizzato</targetReference>
        </connector>
        <fields>
            <name>ErroreRicercarePerNomeoCodice</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Ricercare la filiale per nome o per CED&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NessunaRicercaEffettuata</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TextRicercaFilialeNome</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ricerca per nome la filiale per l&apos;appuntamento:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenRicercaFiliali_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenRicercaFiliali_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cerca_per_nome_filiale</name>
                    <dataType>String</dataType>
                    <fieldText>Cerca per nome filiale</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 11px;&quot;&gt;Inserire almeno 3 caratteri per effettuare la ricerca&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ({!Cerca_per_nome_filiale}) &gt; 2</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenRicercaFiliali_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RicercaCustomButton</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Ricerca per nome</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TextRicercaFilialeCode</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Ricerca per CED la filiale per l&apos;appuntamento:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenRicercaFiliali_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenRicercaFiliali_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cerca_per_CED_filiale</name>
                    <dataType>String</dataType>
                    <fieldText>Cerca per CED filiale</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(0, 0, 0);&quot;&gt;Inserire massimo 8 caratteri per effettuare la ricerca&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ({!Cerca_per_CED_filiale}) &lt; 9</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenRicercaFiliali_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RicercaCustomButtonCodice</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Ricerca per CED</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ListaFilialiBPERBDSText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Per maggiori dettagli sulle filiali clicca sui seguenti link:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;{!LinkDettaglioFiliali}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scrren_Dove_Si_Recher_il_Cliente</name>
        <label>Scrren Dove Si Recherà il Cliente?</label>
        <locationX>1735</locationX>
        <locationY>787</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User_Filiale</targetReference>
        </connector>
        <fields>
            <name>TextDoveSIRecaCliente</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Il cliente si recherà presso la sua filiale?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seleziona_un_valore_DoveSiRecacliente</name>
            <choiceReferences>ClienteSiRecaPressoSuaFilialeSI</choiceReferences>
            <choiceReferences>ClienteSiRecaPressoSuaFilialeNO</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ClienteSiRecaPressoSuaFilialeSI</defaultSelectedChoiceReference>
            <fieldText>Seleziona un valore</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreenOppFiliale</name>
        <label>SuccessScreenOppFiliale</label>
        <locationX>6123</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageOppFiliale</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Operazione completata con successo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreenOppFiliale_0</name>
        <label>SuccessScreenOppFiliale</label>
        <locationX>1564</locationX>
        <locationY>2349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageOppFiliale_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Operazione completata con successo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>150</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Get_Campaign_Member_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LinkDettaglioFiliali</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://www.bper.it/ricerca-filiali&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Filiali BPER&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.bancosardegna.it/ricerca-filiali&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Filiali BDS&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CodiceDellaFilialePerAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CodiceFilialePerAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColonneTabella</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailFilialeAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emailfilialeincuisirecherailcliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailInserita</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyCollectionListaFiliali</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitoNonSelezionato</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EsitoSelezionato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilialeFinalePerAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilialeNonSelezionata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FilialeSelezionataSingleSelectTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalAccountEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalEmailFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalIdCedFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HesitationColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfHesitation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_AssociazioneEsitazioniCampagne__c</objectType>
    </variables>
    <variables>
        <name>MotiviRifiutoList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MotivoRifiutoSelezionato_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NessunaRicercaEffettuata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecordCollectionFilialiNULL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecordCollectionListaFiliali</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEMP_MotiviRifiuto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionListaFiliali</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionListofHesitations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
