BPER/DEVF/force-app/main/default/flows/CampaignMember_Update_CM_Ghost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_CM_Ghost</name>
        <label>Check CM Ghost</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Record is null</defaultConnectorLabel>
        <rules>
            <name>Record_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CM_Ghost</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CM_Ghost</targetReference>
            </connector>
            <label>Record is not null</label>
        </rules>
    </decisions>
    <interviewLabel>CampaignMember - Update CM Ghost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CampaignMember - Update CM Ghost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CM_Ghost</name>
        <label>Get CM Ghost</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CM_Ghost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_CampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CM_Ghost</name>
        <label>Update CM Ghost</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CM_Ghost.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_EsitoCampagnaCC__c</field>
            <value>
                <elementReference>$Record.CRM_EsitoCampagnaCC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaRete__c</field>
            <value>
                <elementReference>$Record.CRM_EsitoCampagnaRete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>$Record.CRM_EsitoCampagna__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CM_Ghost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
