BPER/DEVF/force-app/main/default/flows/Chat_transcript_Event_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_if_event_is_Chat_accepted</name>
        <label>Check if event is &quot;Chat accepted&quot;</label>
        <locationX>170</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chat_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_chat_transcript_record_with_flag_Accepted</targetReference>
            </connector>
            <label>Chat accepted</label>
        </rules>
        <rules>
            <name>Chat_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChatRequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_chat_transcript_record_with_flag_Chat_Requested</targetReference>
            </connector>
            <label>Chat Requested</label>
        </rules>
        <rules>
            <name>Chat_Canceled_by_Visitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CancelVisitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_chat_transcript_record_with_flag_Canceled_by_Visitor</targetReference>
            </connector>
            <label>Chat Canceled by Visitor</label>
        </rules>
    </decisions>
    <description>Set del flag &quot;Chat accettata dall&apos;agente&quot; e &quot;Chat abbandonata dal cliente&quot; sul chat transcript</description>
    <interviewLabel>Chat transcript Event flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat transcript Event flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_chat_transcript_record_with_flag_Accepted</name>
        <label>Update chat transcript record with flag Accepted</label>
        <locationX>503</locationX>
        <locationY>352</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_ChatAccepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_chat_transcript_record_with_flag_Canceled_by_Visitor</name>
        <label>Update chat transcript record with flag Canceled by Visitor</label>
        <locationX>511</locationX>
        <locationY>527</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_ChatCanceledByVisitor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_chat_transcript_record_with_flag_Chat_Requested</name>
        <label>Update chat transcript record with flag Chat Requested</label>
        <locationX>501</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LiveChatTranscriptId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_ChatRequested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_event_is_Chat_accepted</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CancelVisitor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChatRequest</stringValue>
            </value>
        </filters>
        <object>LiveChatTranscriptEvent</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
