BPER/DEVF/force-app/main/default/flows/Check_Up_Router.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CheckFlow</name>
        <label>CheckFlow</label>
        <locationX>776</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Go_To_Private</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCheckUp.CRM_Customer__r.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCheckUp.CRM_Customer__r.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Client Privati</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCheckUp.CRM_Customer__r.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutional Wealth</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCheckUp.CRM_Customer__r.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lower Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCheckUp.CRM_Customer__r.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Sviluppo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Effettua_Check_Up_Private</targetReference>
            </connector>
            <label>Go To Private</label>
        </rules>
        <rules>
            <name>Go_To_Consulenti_Finanziari</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCheckUp.CRM_Customer__r.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulenti Finanziari</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Effettua_Check_Up_Consulenti_Finanziari</targetReference>
            </connector>
            <label>Go To Consulenti Finanziari</label>
        </rules>
        <rules>
            <name>Go_To_Personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCheckUp.CRM_Customer__r.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Effettua_Check_Up_Personal</targetReference>
            </connector>
            <label>Go To Personal</label>
        </rules>
        <rules>
            <name>Go_To_Imprese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCheckUp.CRM_Customer__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IndustriesBusiness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Effettua_Check_Up_Imprese</targetReference>
            </connector>
            <label>Go To Imprese</label>
        </rules>
    </decisions>
    <description>Sviluppo Polo Wealth + Fix Lower Private</description>
    <environments>Default</environments>
    <interviewLabel>Check Up Router {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Up Router</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCheckUp</name>
        <label>GetCheckUp</label>
        <locationX>783</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_CustomerInterview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>658</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>GetCheckUp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Effettua_Check_Up_Consulenti_Finanziari</name>
        <label>Effettua Check Up - Consulenti Finanziari</label>
        <locationX>642</locationX>
        <locationY>551</locationY>
        <flowName>Effettua_Check_Up_Consulenti_Finanziari</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Effettua_Check_Up_Imprese</name>
        <label>Effettua Check Up - Imprese</label>
        <locationX>1170</locationX>
        <locationY>551</locationY>
        <flowName>Effettua_Check_Up_Imprese</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Effettua_Check_Up_Personal</name>
        <label>Effettua Check Up - Personal</label>
        <locationX>906</locationX>
        <locationY>551</locationY>
        <flowName>Effettua_Check_Up_Personal</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Effettua_Check_Up_Private</name>
        <label>Effettua Check Up - Private</label>
        <locationX>378</locationX>
        <locationY>551</locationY>
        <flowName>Effettua_Check_Up_Private</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
