BPER/DEVF/force-app/main/default/flows/CIB_Compact_Layout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Date_to_list</name>
        <label>Add Date to list</label>
        <locationX>1029</locationX>
        <locationY>2210</locationY>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_UltimaCompilazioneCheckUp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_RaccomandazionePICO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_AperturaProdotto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_EsitazioneCM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_EsitazioneOppty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_CreazioneCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_CreazioneTH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_Scadenza</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_FineEvento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_AperturaDEM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaDateUltimoContatto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Data_CreazioneReclamo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_Lista_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Data_Ultimo_Contatto</name>
        <label>Set Data Ultimo Contatto</label>
        <locationX>1117</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>DataUltimoContatto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Data_Ultimo_Contatto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Data_Ultimo_Contatto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lista_Esiti_Consentiti</name>
        <label>Set Lista Esiti Consentiti</label>
        <locationX>1029</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fissato appuntamento</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prodotto venduto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prodotto target venduto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Altro prodotto venduto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cliente non interessato</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contatto positivo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cliente soddisfatto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Cliente non soddisfatto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Risultato raggiunto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Risultato raggiunto in parte</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListaEsitiConsentiti</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Risultato non raggiunto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RT_TrackingHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ListaRT</name>
        <label>Set ListaRT</label>
        <locationX>1117</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>ListaRT_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_RT</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Lista_Date</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Lista Date</label>
        <locationX>1029</locationX>
        <locationY>2318</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>ListaDateUltimoContatto</collectionReference>
        <connector>
            <targetReference>For_Data_Ultimo_Contatto</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>IconaBarra</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/Barra&apos;/&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Account_type</name>
        <label>Check Account type</label>
        <locationX>1029</locationX>
        <locationY>2942</locationY>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Privato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Visibilita_Consulenti_Finanziari_1</targetReference>
            </connector>
            <label>Privato</label>
        </rules>
        <rules>
            <name>Impresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IndustriesBusiness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Visibilita_Consulenti_Finanziari_2</targetReference>
            </connector>
            <label>Impresa</label>
        </rules>
        <rules>
            <name>Cointestazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cointestazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Visibilita_Consulenti_Finanziari_3</targetReference>
            </connector>
            <label>Cointestazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Cointestazione_LinkedNGD</name>
        <label>Check Cointestazione LinkedNGD</label>
        <locationX>1612</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>CompactLayout_Cointestazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGruppo.RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gruppo Finanziario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompactLayout_Cointestazionenull</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Impresa_LinkedNGD</name>
        <label>Check Impresa LinkedNGD</label>
        <locationX>908</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>CompactLayout_Impresanotnull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGruppo.RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gruppo Finanziario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompactLayout_Impresa</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Privato_LinkedNGD</name>
        <label>Check Privato LinkedNGD</label>
        <locationX>204</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>CompactLayout_Privato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGruppo.RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gruppo Finanziario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompactLayout_Privatonull</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visibilita_Consulenti_Finanziari_1</name>
        <label>Check Visibilità Consulenti Finanziari</label>
        <locationX>50</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Check_Privato_LinkedNGD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Visibilità Full</defaultConnectorLabel>
        <rules>
            <name>Visibilita_Light_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.PTF_ModelliDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulenti Finanziari</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.CRM_VisibilitaClientiCF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.User_is_CF_Special__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompactLayout_Consulenti_Finanziari</targetReference>
            </connector>
            <label>Visibilità Light</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visibilita_Consulenti_Finanziari_2</name>
        <label>Check Visibilità Consulenti Finanziari</label>
        <locationX>754</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Check_Impresa_LinkedNGD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Visibilità Full</defaultConnectorLabel>
        <rules>
            <name>Visibilita_Light_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.PTF_ModelliDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulenti Finanziari</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.CRM_VisibilitaClientiCF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.User_is_CF_Special__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompactLayout_Consulenti_Finanziari</targetReference>
            </connector>
            <label>Visibilità Light</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visibilita_Consulenti_Finanziari_3</name>
        <label>Check Visibilità Consulenti Finanziari</label>
        <locationX>1458</locationX>
        <locationY>3050</locationY>
        <defaultConnector>
            <targetReference>Get_Linked_NDG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Visibilità Full</defaultConnectorLabel>
        <rules>
            <name>Visibilita_Light_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.PTF_ModelliDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulenti Finanziari</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.CRM_VisibilitaClientiCF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.User_is_CF_Special__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompactLayout_Consulenti_Finanziari</targetReference>
            </connector>
            <label>Visibilità Light</label>
        </rules>
    </decisions>
    <description>Cambio Testo degli screen da Macro-Modello di Servizio a Modello di Servizio CR 63989</description>
    <environments>Default</environments>
    <formulas>
        <name>Data_AperturaDEM</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_DEM.et4ae5__DateOpened__c})), {!Get_Data_DEM.et4ae5__DateOpened__c}, null)</expression>
    </formulas>
    <formulas>
        <name>Data_AperturaProdotto</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_Attivazione_Nuovo_Prodotto.FinServ__OpenDate__c})), {!Get_Data_Attivazione_Nuovo_Prodotto.FinServ__OpenDate__c}, null)</expression>
    </formulas>
    <formulas>
        <name>Data_CreazioneCase</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_Case.CreatedDate})), DATEVALUE({!Get_Data_Case.CreatedDate}), null)</expression>
    </formulas>
    <formulas>
        <name>Data_CreazioneReclamo</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_Reclamo.CRM_DateOpened__c})), DATEVALUE({!Get_Data_Reclamo.CRM_DateOpened__c}), null)</expression>
    </formulas>
    <formulas>
        <name>Data_CreazioneTH</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_TrackingHistory.CreatedDate})), DATEVALUE({!Get_Data_TrackingHistory.CreatedDate}), null)</expression>
    </formulas>
    <formulas>
        <name>Data_EsitazioneCM</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_Campaign_Member.CRM_DataEsitazione__c})), DATEVALUE({!Get_Data_Campaign_Member.CRM_DataEsitazione__c}), null)</expression>
    </formulas>
    <formulas>
        <name>Data_EsitazioneOppty</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_Opportunity.CRM_Data_Esitazione__c})), DATEVALUE({!Get_Data_Opportunity.CRM_Data_Esitazione__c}), null)</expression>
    </formulas>
    <formulas>
        <name>Data_FineEvento</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_Eventi.EndDate})), {!Get_Data_Eventi.EndDate}, null)</expression>
    </formulas>
    <formulas>
        <name>Data_RaccomandazionePICO</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_Raccomandazioni_PICO.CRM_RaccPicoData__c})), {!Get_Data_Raccomandazioni_PICO.CRM_RaccPicoData__c}, null)</expression>
    </formulas>
    <formulas>
        <name>Data_Scadenza</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_Scadenze.CRM_DataEsitazione__c})), DATEVALUE({!Get_Data_Scadenze.CRM_DataEsitazione__c}), null)</expression>
    </formulas>
    <formulas>
        <name>Data_UltimaCompilazioneCheckUp</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Data_Check_Up.CRM_CreatedDate__c})), {!Get_Data_Check_Up.CRM_CreatedDate__c}, null)</expression>
    </formulas>
    <formulas>
        <name>DataUltimoContatto_Text</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!DataUltimoContatto})), 
TEXT(DAY({!DataUltimoContatto})) &amp; &apos;/&apos; &amp; TEXT(MONTH({!DataUltimoContatto})) &amp; &apos;/&apos; &amp; TEXT(YEAR({!DataUltimoContatto})),
&apos;-&apos;)</expression>
    </formulas>
    <formulas>
        <name>Formula_GestorePortafoglio</name>
        <dataType>String</dataType>
        <expression>IF (
NOT(ISBLANK({!GetAccount.CRM_NomeCognomeReferente__c})),
{!GetAccount.CRM_NomeCognomeReferente__c},
&quot;-&quot;
)</expression>
    </formulas>
    <formulas>
        <name>FormulaField1</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!GetAccount.PTF_Banca__c}),
&apos;-&apos;,
{!GetAccount.PTF_Banca__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaField2</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!GetAccount.CRM_NDG__c}),
&apos;-&apos;,
{!GetAccount.CRM_NDG__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaField3</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!GetAccount.MKT_ModelloDiServizio__c}),
&apos;-&apos;,
{!GetAccount.MKT_ModelloDiServizio__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaField4</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!GetAccount.CRM_Filiale__c}),
&apos;-&apos;,
{!GetAccount.CRM_Filiale__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaField5</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!GetAccount.PTF_Portafoglio__c}),
&apos;-&apos;,
{!GetAccount.PTF_Portafoglio__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaField6</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!GetAccount.CRM_VAT__c}),
&apos;-&apos;,
{!GetAccount.CRM_VAT__c})</expression>
    </formulas>
    <formulas>
        <name>URL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})), &apos;my.salesforce&apos;, &apos;lightning.force&apos;)+&apos;/&apos;+{!GetGruppo.Id}</expression>
    </formulas>
    <interviewLabel>CIB Compact Layout {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CIB Compact Layout</label>
    <loops>
        <name>For_Data_Ultimo_Contatto</name>
        <label>For Data Ultimo Contatto</label>
        <locationX>1029</locationX>
        <locationY>2426</locationY>
        <collectionReference>ListaDateUltimoContatto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Data_Ultimo_Contatto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetGruppo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_RT</name>
        <label>For RT</label>
        <locationX>1029</locationX>
        <locationY>506</locationY>
        <collectionReference>Get_RT_TrackingHistory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ListaRT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_RT_Check_Up_Standard</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Data_Attivazione_Nuovo_Prodotto</name>
        <label>Get Data Attivazione Nuovo Prodotto</label>
        <locationX>1029</locationX>
        <locationY>1130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__OpenDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FinServ__OpenDate__c</queriedFields>
        <sortField>FinServ__OpenDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Campaign_Member</name>
        <label>Get Data Campaign Member</label>
        <locationX>1029</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Esito__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ListaEsitiConsentiti</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_DataEsitazione__c</queriedFields>
        <sortField>CRM_DataEsitazione__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Case</name>
        <label>Get Data Case</label>
        <locationX>1029</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_TrackingHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Check_Up</name>
        <label>Get Data Check Up</label>
        <locationX>1029</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Raccomandazioni_PICO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_Check_Up_Standard.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_CustomerInterview__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_CreatedDate__c</queriedFields>
        <sortField>CRM_DataUltimaCompilazione__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_DEM</name>
        <label>Get Data DEM</label>
        <locationX>1029</locationX>
        <locationY>2102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Date_to_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>et4ae5__Opened__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>et4ae5__IndividualEmailResult__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>et4ae5__DateOpened__c</queriedFields>
        <sortField>et4ae5__DateOpened__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Eventi</name>
        <label>Get Data Eventi</label>
        <locationX>1029</locationX>
        <locationY>1994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_DEM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Opportunity</name>
        <label>Get Data Opportunity</label>
        <locationX>1029</locationX>
        <locationY>1346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Case</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitoContatto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fissato appuntamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitoContatto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prodotto venduto</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitoContatto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prodotto non venduto</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Data_Esitazione__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Data_Esitazione__c</queriedFields>
        <sortField>CRM_Data_Esitazione__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Raccomandazioni_PICO</name>
        <label>Get Data Raccomandazioni PICO</label>
        <locationX>1029</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Attivazione_Nuovo_Prodotto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_RaccomandazioniPICO__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_RaccPicoData__c</queriedFields>
        <sortField>CRM_RaccPicoData__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Reclamo</name>
        <label>Get Data Reclamo</label>
        <locationX>1029</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Scadenze_Prodotti</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_DateOpened__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_Claims__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_DateOpened__c</queriedFields>
        <sortField>CRM_DateOpened__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_Scadenze</name>
        <label>Get Data Scadenze</label>
        <locationX>1029</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Eventi</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>FinServ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitoContatto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prodotto venduto</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitoContatto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente non interessato</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitoContatto__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fissato appuntamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_Scadenze_Prodotti.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_DataEsitazione__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__Alert__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_DataEsitazione__c</queriedFields>
        <sortField>CRM_DataEsitazione__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Data_TrackingHistory</name>
        <label>Get Data TrackingHistory</label>
        <locationX>1029</locationX>
        <locationY>1562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Reclamo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>ListaRT_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TrackingHistory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Linked_NDG</name>
        <label>Get Linked NDG</label>
        <locationX>1612</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_NDG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_JointOwnership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_PrimaryNDG__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_AccountAccountJointOwnershipRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_NDG</name>
        <label>Get Primary NDG</label>
        <locationX>1612</locationX>
        <locationY>3266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Cointestazione_LinkedNGD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Linked_NDG.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Check_Up_Standard</name>
        <label>Get RT Check Up Standard</label>
        <locationX>1029</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Check_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRM_CustomerInterview__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Check_Up_Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Scadenze_Prodotti</name>
        <label>Get RT Scadenze Prodotti</label>
        <locationX>1029</locationX>
        <locationY>1778</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Scadenze</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FinServ__Alert__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scadenziario_Prodotti</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_TrackingHistory</name>
        <label>Get RT TrackingHistory</label>
        <locationX>1029</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_RT</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TrackingHistory__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IngaggioRetiEsterne</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRM_ProposteContrattiPreventivi</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>1029</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Lista_Esiti_Consentiti</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGruppo</name>
        <label>GetGruppo</label>
        <locationX>1029</locationX>
        <locationY>2726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LinkedNGD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_NDG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.NDG_Gruppo_Aziendale__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LinkedNGD</name>
        <label>LinkedNGD</label>
        <locationX>1029</locationX>
        <locationY>2834</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_LinkedNDG__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CompactLayout_Cointestazione</name>
        <label>CompactLayout Cointestazione</label>
        <locationX>1744</locationX>
        <locationY>3482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompactLayout_Cointestazione_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompactLayout_Cointestazione_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field1_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Banca&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_FormulaBanca__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Modello di Servizio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.ModelloDiServizio__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Gestore di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!Formula_GestorePortafoglio}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;﻿{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Cointestazione_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field2_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;NDG&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_NDG__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Filiale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_FilialeToDisplay__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Data ultimo contatto&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!DataUltimoContatto_Text}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Cointestazione_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field3_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Gruppo&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GetGruppo.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Portafoglio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.PTF_Portafoglio__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompactLayout_Cointestazionenull</name>
        <label>CompactLayout Cointestazione</label>
        <locationX>1480</locationX>
        <locationY>3482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompactLayout_Cointestazionenull_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompactLayout_Cointestazionenull_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Field1_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Banca&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_FormulaBanca__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Modello di Servizio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.ModelloDiServizio__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Gestore di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!Formula_GestorePortafoglio}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;﻿{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Cointestazionenull_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Field2_0_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;NDG&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_NDG__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Filiale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_FilialeToDisplay__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Data ultimo contatto&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!DataUltimoContatto_Text}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Cointestazionenull_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Field3_0_0</name>
                    <fieldText>&lt;p&gt;Gruppo&lt;/p&gt;&lt;p&gt;-&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Portafoglio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.PTF_Portafoglio__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompactLayout_Consulenti_Finanziari</name>
        <label>CompactLayout Consulenti Finanziari</label>
        <locationX>1029</locationX>
        <locationY>3950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompactLayout_Consulenti_Finanziari_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompactLayout_Consulenti_Finanziari_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NDG_CF</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;NDG&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.CRM_NDG__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Consulenti_Finanziari_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GestoreDiRiferimento_CF</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Modello di Servizio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.ModelloDiServizio__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Consulenti_Finanziari_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Filiale_CF</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Filiale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_FilialeToDisplay__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompactLayout_Impresa</name>
        <label>CompactLayout Impresa</label>
        <locationX>776</locationX>
        <locationY>3266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompactLayout_Impresa_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompactLayout_Impresa_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Banca&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.CRM_FormulaBanca__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Modello di Servizio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.ModelloDiServizio__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Gestore di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!Formula_GestorePortafoglio}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿﻿&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Impresa_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;NDG&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_NDG__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Filiale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_FilialeToDisplay__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Privacy&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 7, 7); font-size: 10px;&quot;&gt;{!GetAccount.CRM_BusinessPrivacy1StatusIconSmall__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Impresa_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field3</name>
                    <fieldText>&lt;p&gt;Gruppo&lt;/p&gt;&lt;p&gt;-&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Portafoglio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.PTF_Portafoglio__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;﻿Data ultimo contatto&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!DataUltimoContatto_Text}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompactLayout_Impresanotnull</name>
        <label>CompactLayout Impresa</label>
        <locationX>1038</locationX>
        <locationY>3266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompactLayout_Impresanotnull_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompactLayout_Impresanotnull_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Field1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Banca&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.CRM_FormulaBanca__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Modello di Servizio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.ModelloDiServizio__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Gestore di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!Formula_GestorePortafoglio}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿﻿&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Impresanotnull_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Field2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;NDG&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_NDG__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Filiale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_FilialeToDisplay__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Privacy&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 7, 7); font-size: 10px;&quot;&gt;{!GetAccount.CRM_BusinessPrivacy1StatusIconSmall__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Impresanotnull_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Field3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Gruppo&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GetGruppo.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Portafoglio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.PTF_Portafoglio__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;﻿Data ultimo contatto&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!DataUltimoContatto_Text}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompactLayout_Privato</name>
        <label>CompactLayout Privato</label>
        <locationX>336</locationX>
        <locationY>3266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompactLayout_Privato_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompactLayout_Privato_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field1_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Banca&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_FormulaBanca__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Modello di Servizio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.ModelloDiServizio__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Gestore di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!Formula_GestorePortafoglio}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Privato_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field2_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;NDG&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_NDG__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Filiale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.CRM_FilialeToDisplay__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Privacy&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!GetAccount.CRM_FormulaListaPrivacy__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Privato_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field3_0</name>
                    <fieldText>&lt;p&gt;Gruppo&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!URL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GetGruppo.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Portafoglio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.PTF_Portafoglio__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Data ultimo contatto&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!DataUltimoContatto_Text}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CompactLayout_Privatonull</name>
        <label>CompactLayout Privato</label>
        <locationX>72</locationX>
        <locationY>3266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompactLayout_Privatonull_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CompactLayout_Privatonull_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Field1_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Banca&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_FormulaBanca__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Modello di Servizio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.ModelloDiServizio__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Gestore di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!Formula_GestorePortafoglio}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Privatonull_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Field2_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;NDG&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.CRM_NDG__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Filiale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!GetAccount.CRM_FilialeToDisplay__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Privacy&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!GetAccount.CRM_FormulaListaPrivacy__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CompactLayout_Privatonull_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Field3_0</name>
                    <fieldText>&lt;p&gt;Gruppo&lt;/p&gt;&lt;p&gt;-&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;Portafoglio&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!GetAccount.PTF_Portafoglio__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Data ultimo contatto&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!DataUltimoContatto_Text}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 12px;&quot;&gt;{!IconaBarra}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>903</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DataUltimoContatto</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaDateUltimoContatto</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaEsitiConsentiti</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaRT_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
