BPER/DEVF/force-app/main/default/flows/CIB_Opportunit_RM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_SuportId</name>
        <label>Add SuportId</label>
        <locationX>534</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>SupportIdsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SupportToDelete.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentOpportunity.CIB_EditRole_OP_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveRoleSupport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentOpportunity.CIB_Opportunity_Edit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveAliasSupport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SupportToDelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Team</name>
        <label>Assign Team</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>CurrentOpportunityTeam.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOpportunityTeam.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOpportunityTeam.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SupportLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOpportunityTeam.Ruolo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityTeamList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOpportunityTeam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentOpportunity.CIB_EditRole_OP_Team__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!SupportLoop.CRM_PermissionSet__c},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCurrentOpportunity.CIB_Opportunity_Edit__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!SupportLoop.Alias},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SupportLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_GetTeamSupportToDelete</name>
        <label>Check GetTeamSupportToDelete</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_nullGetTeamSupportToDelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTeamSupportToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Team_Support</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Support_List</name>
        <label>Check Support List</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null_Support_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSupportList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentOpportunity.Informazioni_Privilegiate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupportLoop</targetReference>
            </connector>
            <label>not null</label>
        </rules>
        <rules>
            <name>not_null_with_info_privilegiate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSupportList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentOpportunity.Informazioni_Privilegiate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupportToDelete</targetReference>
            </connector>
            <label>not null with info privilegiate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visibilita_Opportunita</name>
        <label>Check Visibilità Opportunità</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVisibilitaOpportunita</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetVisibilitaOpportunita.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSupportList</targetReference>
            </connector>
            <label>RM not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RemoveAliasSupport</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!GetCurrentOpportunity.CIB_Opportunity_Edit__c}, {!SupportToDelete.Alias}),
SUBSTITUTE({!GetCurrentOpportunity.CIB_Opportunity_Edit__c}, {!SupportToDelete.Alias}+&apos;,&apos;, &apos;&apos;),{!GetCurrentOpportunity.CIB_Opportunity_Edit__c})</expression>
    </formulas>
    <formulas>
        <name>RemoveRoleSupport</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!GetCurrentOpportunity.CIB_EditRole_OP_Team__c}, {!SupportToDelete.CRM_PermissionSet__c}),
SUBSTITUTE({!GetCurrentOpportunity.CIB_EditRole_OP_Team__c}, {!SupportToDelete.CRM_PermissionSet__c}+&apos;,&apos;, &apos;&apos;),{!GetCurrentOpportunity.CIB_EditRole_OP_Team__c})</expression>
    </formulas>
    <formulas>
        <name>UserNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CIB Opportunità RM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIB Opportunità RM</label>
    <loops>
        <name>SupportLoop</name>
        <label>SupportLoop</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>GetSupportList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SupportToDelete</name>
        <label>SupportToDelete</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <collectionReference>GetSupportList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_SuportId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetTeamSupportToDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Team_Support</name>
        <label>Delete Team Support</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Update_OpportunitySupport</targetReference>
        </connector>
        <inputReference>GetTeamSupportToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetCurrentOpportunity</name>
        <label>GetCurrentOpportunity</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetVisibilitaOpportunita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSupportList</name>
        <label>GetSupportList</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Support_List</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVisibilitaOpportunita.Utente_Support_1_Search__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVisibilitaOpportunita.Utente_Support_2_Search__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_PermissionSet__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>NEC_CRM.CIB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTeamSupportToDelete</name>
        <label>GetTeamSupportToDelete</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_GetTeamSupportToDelete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>In</operator>
            <value>
                <elementReference>SupportIdsList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVisibilitaOpportunita</name>
        <label>GetVisibilitàOpportunità</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Visibilita_Opportunita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Utente_RM_Search__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserNameFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CIB_Visibilita_Opportunita__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>CIB_EditRole_OP_Team__c</field>
            <value>
                <elementReference>GetCurrentOpportunity.CIB_EditRole_OP_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIB_Opportunity_Edit__c</field>
            <value>
                <elementReference>GetCurrentOpportunity.CIB_Opportunity_Edit__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OpportunitySupport</name>
        <label>Update Opportunity</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <inputReference>GetCurrentOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentOpportunity</targetReference>
        </connector>
        <filterLogic>((1 OR 2 OR 3 OR 4 OR 5) AND 6 AND 7) OR ((1 OR 2 OR 3 OR 4 OR 5) AND 8)</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Finance</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estero</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Structured Finance</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Traditional Banking</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CIB_EditRole_OP_Team__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Informazioni_Privilegiate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BankerIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOpportunityTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>OpportunityTeamList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>SupportIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
