BPER/DEVF/force-app/main/default/flows/CIB_Assign_another_user_to_approval_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApprovalEmailNotification</name>
        <label>ApprovalEmailNotification</label>
        <locationX>1106</locationX>
        <locationY>1922</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ScreenSuccess</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Richiesta di Approvazione</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ApprovalBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ApprovalProcess</name>
        <label>ApprovalProcess</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>ApprovalEmailNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>GetOpportunity.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>listOfIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Opportunity_Work2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_List_Ids</name>
        <label>Add List Ids</label>
        <locationX>974</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>listOfIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assegna_ad_un_altro_Utente_del_Desk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetUsersToSend.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetResponsabile.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStatusApprovaRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_List_IdsMembroEDC</name>
        <label>Add List Ids</label>
        <locationX>1238</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>listOfIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assegna_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetUsersToSendPMA.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetResponsabile.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStatusApprovaRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Responsabile</name>
        <label>Assign To Responsabile</label>
        <locationX>710</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>listOfIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetResponsabile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetResponsabile.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStatusApprovaRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPermission</name>
        <label>SetPermission</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponsabileDesk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEC_CRM.CIB.SF.RESP.LAF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.SF.DESK.LAF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.SF.COR.LAF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPermission1</name>
        <label>SetPermission</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponsabileDesk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEC_CRM.CIB.SF.RESP.CLS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.SF.DESK.CLS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.SF.COR.CLS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPermission2</name>
        <label>SetPermission</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponsabileDesk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEC_CRM.CIB.SF.RESP.PREF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.SF.DESK.PREF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.SF.COR.PREF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPermission3</name>
        <label>SetPermission</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponsabileDesk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEC_CRM.CIB.PMA.RESP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.PMA.DESK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.PMA.COR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPermission4</name>
        <label>SetPermission</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.CF.DESK.EDCM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponsabileDesk</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPermission5</name>
        <label>SetPermission</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponsabileDesk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEC_CRM.CIB.CF.RESP.MA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.CF.DESK.MA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPermission6</name>
        <label>SetPermission</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ResponsabileDesk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEC_CRM.CIB.GTB.RESP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.GTB.CIB.SAL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.GTB.COR.SAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPermissionAlDeskPortafoglio</name>
        <label>SetPermission</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ResponsabileDesk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEC_CRM.CIB.PMA.RESP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.PMA.COR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MembriList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NEC_CRM.CIB.PMA.DESK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiseName</name>
        <choiceText>{!MemberToDisplay}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Desk</name>
        <label>Check Desk</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acquisition_Leverage_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Desk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acquisition &amp; Leverage Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Structured Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In valutazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPermission</targetReference>
            </connector>
            <label>Acquisition &amp; Leverage Finance</label>
        </rules>
        <rules>
            <name>Corporate_Loan_Structuring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Desk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Loan Structuring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Structured Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In valutazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPermission1</targetReference>
            </connector>
            <label>Corporate Loan Structuring</label>
        </rules>
        <rules>
            <name>Project_Real_Estate_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Desk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project &amp; Real Estate Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Structured Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In valutazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPermission2</targetReference>
            </connector>
            <label>Project &amp; Real Estate Finance</label>
        </rules>
        <rules>
            <name>Portfolio_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Desk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portfolio Management &amp; Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Structured Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In valutazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPermission3</targetReference>
            </connector>
            <label>Portfolio Management</label>
        </rules>
        <rules>
            <name>ECM_DCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Desk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM/DCM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In valutazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPermission4</targetReference>
            </connector>
            <label>ECM/DCM</label>
        </rules>
        <rules>
            <name>M_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Desk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M&amp;A Advisory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In valutazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPermission5</targetReference>
            </connector>
            <label>M&amp;A</label>
        </rules>
        <rules>
            <name>GTB_estero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Desk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GTB estero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In valutazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetResponsabileEsteroRole</targetReference>
            </connector>
            <label>GTB estero</label>
        </rules>
        <rules>
            <name>In_Erogazione_al_Desk</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Structured Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traditional Banking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In erogazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPermissionAlDeskPortafoglio</targetReference>
            </connector>
            <label>In Erogazione al Desk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Populated</name>
        <label>Check Populated</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>UpdateStatusApprovaRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_To_Resp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assegna_ad_un_altro_Utente_del_Desk</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetResponsabile.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Responsabile</targetReference>
            </connector>
            <label>Assign To Resp</label>
        </rules>
        <rules>
            <name>AssignMembro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assegna_ad_un_altro_Utente_del_Desk</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUsersToSend</targetReference>
            </connector>
            <label>AssignMembro</label>
        </rules>
        <rules>
            <name>AssignMembroEDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assegna_a</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUsersToSendPMA</targetReference>
            </connector>
            <label>AssignMembroEDC</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UserValues</name>
        <collectionReference>GetUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CheckRecordTypeEstero</name>
        <dataType>Boolean</dataType>
        <expression>IF({!GetOpportunity.RecordTypeName__c} = &apos;Estero&apos;,true,false)</expression>
    </formulas>
    <formulas>
        <name>URLApproval</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!GetOpportunity.CIB_URL__c}, &apos;my.salesforce&apos;, &apos;lightning.force&apos;)+&apos;/&apos;+&apos;lightning/o/ProcessInstanceWorkitem/list?filterName&apos;</expression>
    </formulas>
    <formulas>
        <name>URLUser</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!GetOpportunity.CIB_URL__c}, &apos;my.salesforce&apos;, &apos;lightning.force&apos;)+&apos;/&apos;+{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CIB Assign {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CIB Assign another user to approval process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_current_User</name>
        <label>Get current User</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Desk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDeskEsteroRole</name>
        <label>GetDeskEsteroRole</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetPermission6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UFF. GTB SALES AND DISTRIBUTION_21068</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetResponsabile</name>
        <label>GetResponsabile</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_to_Approval_Process</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 2)</filterLogic>
        <filters>
            <field>CRM_PermissionSet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResponsabileDesk</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_PermissionSet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetResponsabileEstero.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetResponsabileEstero</name>
        <label>GetResponsabileEstero</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeskEsteroRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetResponsabileEsteroRole.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_RuoloLDAP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetResponsabileEsteroRole</name>
        <label>GetResponsabileEsteroRole</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetResponsabileEstero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UFF. GTB SALES AND DISTRIBUTION_21068</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsers</name>
        <label>GetUsers</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetResponsabile</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR (2 AND 3 AND 4)</filterLogic>
        <filters>
            <field>CRM_PermissionSet__c</field>
            <operator>In</operator>
            <value>
                <elementReference>MembriList</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDeskEsteroRole.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_PermissionSet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersToSend</name>
        <label>GetUsersToSend</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_List_Ids</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assegna_ad_un_altro_Utente_del_Desk</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersToSendPMA</name>
        <label>GetUsersToSendPMA</label>
        <locationX>1238</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_List_IdsMembroEDC</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assegna_a</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateStatusApprovaRequest</name>
        <label>UpdateStatusApprovaRequest</label>
        <locationX>1106</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>ApprovalProcess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Approval_Request__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assign_User_to_Approval_Process</name>
        <label>Assign User to Approval Process</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Indietro</backButtonLabel>
        <connector>
            <targetReference>Check_Populated</targetReference>
        </connector>
        <fields>
            <name>InValutazioneView</name>
            <fieldText>&lt;p&gt;Si sta inviando una richiesta di approvazione a &lt;strong&gt;{!GetResponsabile.Name}&lt;/strong&gt;, responsabile del Desk &lt;strong&gt;{!GetOpportunity.Desk__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;Nel caso in cui si intendesse la richiesta di approvazione ad un altro utente del Desk di &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetOpportunity.Desk__c}&lt;/span&gt; specifico, inserire il nominativo di seguito.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetOpportunity.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>In valutazione</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetResponsabile.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayTextECM</name>
            <fieldText>&lt;p&gt;Si sta inviando una richiesta di approvazione ad un utente del Desk di &lt;strong&gt;ECM/DCM&lt;/strong&gt; specifico, inserire il nominativo di seguito.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetOpportunity.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>In valutazione</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetResponsabile.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InErogazioneView</name>
            <fieldText>&lt;p&gt;Si sta inviando una richiesta di approvazione a &lt;strong&gt;{!GetResponsabile.Name}&lt;/strong&gt;, responsabile del &lt;strong&gt;Desk Portfolio Management &amp;amp; Agency&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;Nel caso in cui si intendesse inviare la richiesta di approvazione ad un altro Utente del &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Desk Portfolio Management&lt;/strong&gt; specifico, inserire il nominativo di seguito.&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;ATTENZIONE: La richiesta potrà essere inviata al Portfolio Managment esclusivamente a seguito del completamento del passaggio di consegne con la medesima struttura.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetOpportunity.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>In erogazione</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ResponsabileDeskView</name>
            <fieldText>&lt;p&gt;Responsabile Desk: {!GetResponsabile.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetResponsabile.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Assegna_ad_un_altro_Utente_del_Desk</name>
            <choiceReferences>UserValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assegna ad un altro Utente del Desk</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetResponsabile.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Assegna_a</name>
            <choiceReferences>UserValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assegna a</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetResponsabile.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Procedi all&apos;assegnazione verso il Desk</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSuccess</name>
        <label>ScreenSuccess</label>
        <locationX>1106</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Assegnazione eseguita con successo&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApprovalBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Salve,&lt;/p&gt;&lt;p&gt;le comunichiamo che le è stata inviata una richiesta di presa in carico da parte dell&apos;Utente &lt;a href=&quot;{!URLUser}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$User.FirstName} {!$User.LastName}&lt;/a&gt; della seguente Opportunità:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Società Cliente : {!GetOpportunity.Account.Name}&amp;nbsp;&lt;/p&gt;&lt;p&gt;Nome Opportunità : {!GetOpportunity.CIB_Nome_Opportunita__c}&lt;/p&gt;&lt;p&gt;Id Opportunità : {!GetOpportunity.Name}&lt;/p&gt;&lt;p&gt;Tipo Operazione : {!GetOpportunity.RecordTypeName__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;è possibile visualizzare le informazioni di dettaglio e procedere con l&apos;approvazione mediante il seguente &lt;a href=&quot;{!URLApproval}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordiali Saluti,&lt;/p&gt;&lt;p&gt;Team Salesforce&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AcquisitionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CF1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CF2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollecationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>E1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>E2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>E3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberToDisplay</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembriDesk1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembriDesk2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MembriList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Work_ProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Opportunity_Work</stringValue>
        </value>
    </variables>
    <variables>
        <name>PM1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PM2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponsabileDesk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SF1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SF2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SF3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SF4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SF5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SF6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userToAssignApprovalRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
