BPER/DEVF/force-app/main/default/flows/CIB_Invio_Conflict_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Fianl_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>compliance.conflictcheck@bper.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Opportunity Conflict Check</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.Conflict_Sended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Esito_Conflict_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Corso</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOpportunity.Utente_richiedenteConflict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UtenteRichiedenteFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Descrizione</name>
        <label>Check Descrizione</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Descrizione_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Breve_Descrizione_della_proposta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Conflict_Sended__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display2</targetReference>
            </connector>
            <label>Descrizione not null</label>
        </rules>
        <rules>
            <name>Descrizione_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Breve_Descrizione_della_proposta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunity.Conflict_Sended__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deplay3</targetReference>
            </connector>
            <label>Descrizione null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ProdottoFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL(TEXT({!GetOpportunity.Prodotto__c})),&apos;N.D.&apos;,TEXT({!GetOpportunity.Prodotto__c}))</expression>
    </formulas>
    <formulas>
        <name>URLId</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!GetOpportunity.CIB_URL__c}, &apos;my.salesforce&apos;, &apos;lightning.force&apos;)+&apos;/&apos;+{!recordId}</expression>
    </formulas>
    <formulas>
        <name>URLReport</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!GetOpportunity.CIB_URL__c}, &apos;my.salesforce&apos;, &apos;lightning.force&apos;)+&apos;/&apos;+{!GetReport.Id}</expression>
    </formulas>
    <formulas>
        <name>UtenteRichiedenteFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&apos; &apos;+{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>CIB Invio Conflict Check {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CIB Invio Conflict Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Descrizione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetReport</name>
        <label>GetReport</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity Conflit Check</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Report</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <inputReference>GetOpportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Deplay3</name>
        <label>Deplay3</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Per poter proseguire è obbligatorio inserire una &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Breve Descrizione della proposta&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display1</name>
        <label>Display1</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Invio Conflict Check</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display2</name>
        <label>Display2</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetReport</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Conferma</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Si è sicuri di voler procedere con l&apos;invio del Conflict Check?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Conferma Invio</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fianl_Screen</name>
        <label>Fianl Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Email Inviata con successo&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Display1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Salve,&lt;/p&gt;&lt;p&gt;le comunichiamo che è stata selezionata in Salesforce CRM una nuova Opportunità che rientra nel perimetro delle Operazioni in potenziale conflitto di interesse:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Società Cliente : {!GetOpportunity.Account.Name}&lt;/p&gt;&lt;p&gt;Nome Opportunità : &lt;a href=&quot;{!URLId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GetOpportunity.CIB_Nome_Opportunita__c}&amp;nbsp;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Id Opportunità : {!GetOpportunity.Name}&lt;/p&gt;&lt;p&gt;Tipo Operazione : {!GetOpportunity.RecordTypeName__c}&lt;/p&gt;&lt;p&gt;Tipo Prodotto : {!ProdottoFormula}&lt;/p&gt;&lt;p&gt;Utente Richiedente : {!GetOpportunity.Utente_richiedenteConflict__c}&lt;/p&gt;&lt;p&gt;Dettagli Contatto: {!GetOpportunity.Dettagli_contatto__c}&lt;/p&gt;&lt;p&gt;Data Inizio Proposta: {!GetOpportunity.Data_Inizio_Proposta__c}&lt;/p&gt;&lt;p&gt;Data Fine Proposta: {!GetOpportunity.Data_Fine_proposta__c}&lt;/p&gt;&lt;p&gt;Categoria della Proposta: {!GetOpportunity.Categoria_della_proposta_Formula__c}&lt;/p&gt;&lt;p&gt;Breve descrizione della Proposta: {!GetOpportunity.Breve_Descrizione_della_proposta__c}&lt;/p&gt;&lt;p&gt;Status Proposta: {!GetOpportunity.Status_proposta_Formula__c}&lt;/p&gt;&lt;p&gt;Dati Cliente: {!GetOpportunity.Dati_Cliente__c}&lt;/p&gt;&lt;p&gt;NDG del Cliente: {!GetOpportunity.NGR_del_cliente__c}&lt;/p&gt;&lt;p&gt;Listed: {!GetOpportunity.Listed__c}&lt;/p&gt;&lt;p&gt;Codice LEI: {!GetOpportunity.Partita_IVA_Tax_Code_Codice_Lei__c}&lt;/p&gt;&lt;p&gt;Ulteriori Società Coinvolte: {!GetOpportunity.Ulteriori_Societ_coinvolte__c}&lt;/p&gt;&lt;p&gt;NDG Ulteriore Società coinvolta: {!GetOpportunity.NDG_ulteriore_Societ_coinvolta__c}&lt;/p&gt;&lt;p&gt;Listed: {!GetOpportunity.Listed_Conflitct__c}&lt;/p&gt;&lt;p&gt;Ruolo Società: {!GetOpportunity.Ruolo_Societa__c}&lt;/p&gt;&lt;p&gt;Commento richiedente: {!GetOpportunity.Commento_richiedente__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Per visualizzare le informazioni di dettaglio relative all’Opportunità cliccare sul seguente &lt;a href=&quot;{!URLReport}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordiali Saluti,&lt;/p&gt;&lt;p&gt;Team Salesforce&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
