BPER/DEVF/force-app/main/default/flows/Close_cases_after_7_days_if_status_is_pending.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CheckCreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (1/24)</expression>
    </formulas>
    <interviewLabel>Close cases after 7 days if status is pending {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close cases after 7 days if status is pending</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_Closed</name>
        <label>Get Record Type Closed</label>
        <locationX>367</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_if_account_is_NOT_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_if_account_is_NOT_null</name>
        <label>Update Case if account is NOT null</label>
        <locationX>611</locationX>
        <locationY>338</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>CheckCreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_NumberOfDaysWaitingForFeedback__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Hesitation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attesa azione cliente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Hesitation__c</field>
            <value>
                <stringValue>No feedback cliente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Closed.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>244</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Get_Record_Type_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_NumberOfDaysWaitingForFeedback__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Hesitation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attesa azione cliente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Social_IsSocial__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-09-15</startDate>
            <startTime>22:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
