BPER/DEVF/force-app/main/default/flows/CountFinancialAccountRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>IncrementoCountAttivi</name>
        <label>IncrementoCountAttivi</label>
        <locationX>495</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>CountPossessiAttivi</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Possessi_Attivi_And_Estinti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementoCountAttivi_0</name>
        <label>IncrementoCountAttivi</label>
        <locationX>857</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>CountPossessiAttivi</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_prodotti_cointestazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementoCountEstinti</name>
        <label>IncrementoCountEstinti</label>
        <locationX>723</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CountPossessiEstinti</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Count_Possessi_Attivi_And_Estinti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementoCountEstinti_0</name>
        <label>IncrementoCountEstinti</label>
        <locationX>843</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>CountPossessiEstinti</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_prodotti_cointestazione</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_type</name>
        <label>Check Account type</label>
        <locationX>50</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Get_Financial_Account_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Cointestazione</defaultConnectorLabel>
        <rules>
            <name>Cointestazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NDG_details.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cointestazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prodotti_Cointestazione</targetReference>
            </connector>
            <label>Cointestazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_prodotto_CO_attivo_estinto</name>
        <label>Check if prodotto CO attivo / estinto</label>
        <locationX>847</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>IncrementoCountEstinti_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prodotto estinto</defaultConnectorLabel>
        <rules>
            <name>Prodotti_attivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_prodotti_cointestazione.FinServ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATTIVO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementoCountAttivi_0</targetReference>
            </connector>
            <label>Prodotti attivo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role_and_status</name>
        <label>Check Role and status</label>
        <locationX>586</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Loop_Count_Possessi_Attivi_And_Estinti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrimaryOwnerCointestatoAttvo</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Count_Possessi_Attivi_And_Estinti.FinServ__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Owner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Count_Possessi_Attivi_And_Estinti.FinServ__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cointestatario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Count_Possessi_Attivi_And_Estinti.CRM_ParentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ATTIVO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementoCountAttivi</targetReference>
            </connector>
            <label>PrimaryOwnerCointestatoAttvo</label>
        </rules>
        <rules>
            <name>PrimaryOwnerCointestatoEstinto</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Count_Possessi_Attivi_And_Estinti.FinServ__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Owner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Count_Possessi_Attivi_And_Estinti.FinServ__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cointestatario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Count_Possessi_Attivi_And_Estinti.CRM_ParentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESTINTO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementoCountEstinti</targetReference>
            </connector>
            <label>PrimaryOwnerCointestatoEstinto</label>
        </rules>
    </decisions>
    <interviewLabel>CountFinancialAccountRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CountFinancialAccountRecords</label>
    <loops>
        <name>Loop_Count_Possessi_Attivi_And_Estinti</name>
        <label>Loop Count Possessi Attivi And Estinti</label>
        <locationX>583</locationX>
        <locationY>453</locationY>
        <collectionReference>Get_Financial_Account_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Role_and_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ScreenCountFinancialAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_prodotti_cointestazione</name>
        <label>Loop over prodotti cointestazione</label>
        <locationX>558</locationX>
        <locationY>880</locationY>
        <collectionReference>Get_Prodotti_Cointestazione</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_prodotto_CO_attivo_estinto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ScreenCountFinancialAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Financial_Account_Role</name>
        <label>Get Financial Account Role</label>
        <locationX>343</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Count_Possessi_Attivi_And_Estinti</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__RelatedAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccountRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NDG_details</name>
        <label>Get NDG details</label>
        <locationX>107</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prodotti_Cointestazione</name>
        <label>Get Prodotti Cointestazione</label>
        <locationX>57</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_prodotti_cointestazione</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FinServ__JointOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ScreenCountFinancialAccount</name>
        <label>ScreenCountFinancialAccount</label>
        <locationX>568</locationX>
        <locationY>676</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ScreenCountFinancialAccount_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCountFinancialAccount_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_Attivi</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Totale possessi attivi:&lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt; {!CountPossessiAttivi}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCountFinancialAccount_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_Estinti</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Totale possessi estinti (ultimi 3 anni): &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!CountPossessiEstinti}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCountFinancialAccount_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCountFinancialAccount_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>Get_NDG_details</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountActive</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountClosed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountPossessiAttivi</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountPossessiEstinti</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListOfFinancialAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
