BPER/DEVF/force-app/main/default/flows/Create_or_update_campaign_member_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_Campaign_member_status_trovato</name>
        <label>Check Campaign member status trovato</label>
        <locationX>729</locationX>
        <locationY>588</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_member_status_trovato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_campaign_member_status_to_delete.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_campaign_member_status</targetReference>
            </connector>
            <label>Campaign member status trovato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_value_is_active</name>
        <label>Check if value is active</label>
        <locationX>457</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valore_attivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_StatoEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Esitazione</targetReference>
            </connector>
            <label>Valore attivo</label>
        </rules>
        <rules>
            <name>Valore_non_attivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_StatoEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Attivo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_StatoEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_campaign_member_status_to_delete</targetReference>
            </connector>
            <label>Valore non attivo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_se_campaign_member_status_esiste_gi</name>
        <label>Check se campaign member status esiste già</label>
        <locationX>916</locationX>
        <locationY>139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_member_status_esiste_gi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_campaign_member_status_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign_member_status</targetReference>
            </connector>
            <label>Campaign member status esiste già</label>
        </rules>
        <rules>
            <name>Status_da_creare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_NomeEsito__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Da contattare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_member_Status</targetReference>
            </connector>
            <label>Status da creare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_se_campaign_member_status_esiste_gi_0</name>
        <label>Check se campaign member status esiste già</label>
        <locationX>805</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_member_status_esiste_gi_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_campaign_member_status_record_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_default_cm_status</targetReference>
            </connector>
            <label>Campaign member status esiste già</label>
        </rules>
        <rules>
            <name>Status_da_creare_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_NomeEsito__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Da contattare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_member_Status_0</targetReference>
            </connector>
            <label>Status da creare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Esitazione</name>
        <label>Tipo Esitazione</label>
        <locationX>623</locationX>
        <locationY>149</locationY>
        <defaultConnector>
            <targetReference>Get_campaign_member_status_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_TipoEsitazione__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_campaign_member_status_record_0</targetReference>
            </connector>
            <label>Default</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_NomeEsito</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CRM_NomeEsito__c} == &quot;Da contattare&quot;, &quot;Inviato&quot;, {!$Record.CRM_NomeEsito__c})</expression>
    </formulas>
    <formulas>
        <name>HasResponded_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!$Record.CRM_HasResponded__c}, &quot;Yes&quot;), true, false)</expression>
    </formulas>
    <interviewLabel>Create or update campaign member Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create or update campaign member Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_member_Status</name>
        <label>Create Campaign member Status</label>
        <locationX>1130</locationX>
        <locationY>188</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Campagna__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <elementReference>HasResponded_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>$Record.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_member_Status_0</name>
        <label>Create Campaign member Status</label>
        <locationX>1019</locationX>
        <locationY>486</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Campagna__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <elementReference>HasResponded_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>$Record.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_campaign_member_status</name>
        <label>Delete campaign member status</label>
        <locationX>938</locationX>
        <locationY>584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_NomeEsito__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campagna__r.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_campaign_member_status_record</name>
        <label>Get campaign member status record</label>
        <locationX>780</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_se_campaign_member_status_esiste_gi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_NomeEsito__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campagna__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_campaign_member_status_record_0</name>
        <label>Get campaign member status record</label>
        <locationX>678</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_se_campaign_member_status_esiste_gi_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_NomeEsito</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campagna__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_campaign_member_status_to_delete</name>
        <label>Get campaign member status to delete</label>
        <locationX>555</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Campaign_member_status_trovato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_NomeEsito__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campagna__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_campaign_member_status</name>
        <label>Update campaign member status</label>
        <locationX>1135</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_campaign_member_status_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <elementReference>HasResponded_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_default_cm_status</name>
        <label>Update default cm status</label>
        <locationX>1020</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>Update_default_esito_campagna</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campagna__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_NomeEsito</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_default_esito_campagna</name>
        <label>Update default esito campagna</label>
        <locationX>1265</locationX>
        <locationY>320</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_TipoEsitazione__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campagna__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Campagna__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_TipoEsitazione__c</field>
            <value>
                <stringValue>Esito Positivo</stringValue>
            </value>
        </inputAssignments>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
    </recordUpdates>
    <start>
        <locationX>38</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>Check_if_value_is_active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_NomeEsito__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
