BPER/DEVF/force-app/main/default/flows/Creazione_Opportunity_Magazzini.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Initialize_MasterOppt</name>
        <label>Initialize MasterOppt</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeMagazzino.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Assegnatario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_EsitoContatto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creazione_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMasterOppImprese</name>
        <label>SetMasterOppImprese</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_ProdottoOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prodotto_Imprese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_chiusura_prevista_Imprese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In valutazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNdg.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Stato_OTC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato_OTC_Imprese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Stato_CPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato_CPI_imprese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Importo_richiesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Importo_richiesto_Imprese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note_Imprese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Probabilita_di_successo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probabilit_di_successo_imprese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Bisogno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Oggetto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prodotto_Imprese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_TechFieldForProbabiltyMagazzino__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probabilit_di_successo_imprese</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_DataScadenzaIniziale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_chiusura_prevista_Imprese</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMasterOppPrivati</name>
        <label>SetMasterOppPrivati</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_ProdottoOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prodotto_privati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_chiusura_prevista_privati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In valutazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNdg.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Importo_richiesto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Importo_richiesto_privati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Stato_CPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato_CPI_privati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Stato_OTC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stato_OTC_Privati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note_privati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Probabilita_di_successo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probabilit_di_successo_priivati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Bisogno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Oggetto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prodotto_privati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_TechFieldForProbabiltyMagazzino__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probabilit_di_successo_priivati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_DataScadenzaIniziale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_chiusura_prevista_privati</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cass</name>
        <choiceText>cass</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>cass</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cessione_del_quinto</name>
        <choiceText>Cessione del quinto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cessione del quinto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Confermata</name>
        <choiceText>Confermata</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confermata</stringValue>
        </value>
    </choices>
    <choices>
        <name>Da_valutare</name>
        <choiceText>Da valutare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Da valutare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Finanziamenti_privati_chirografari</name>
        <choiceText>Finanziamenti  privati chirografari</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finanziamenti privati chirografari</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_trattativa</name>
        <choiceText>In trattativa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In trattativa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mutui_privati_ipotecari</name>
        <choiceText>Mutui privati ipotecari</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mutui privati ipotecari</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_abbinabile</name>
        <choiceText>Non abbinabile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non abbinabile</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_valutabile</name>
        <choiceText>Non valutabile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non valutabile</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prestiti_aziendali_chirografari</name>
        <choiceText>Prestiti/Mutui aziendali chirografari</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prestiti/Mutui aziendali chirografari</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prestiti_aziendali_ipotecari</name>
        <choiceText>Prestiti/Mutui aziendali ipotecari</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prestiti/Mutui aziendali ipotecari</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rifiutata</name>
        <choiceText>Rifiutata</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rifiutata</stringValue>
        </value>
    </choices>
    <choices>
        <name>Value10</name>
        <choiceText>10%</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Value20</name>
        <choiceText>20%</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Value30</name>
        <choiceText>30%</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X10</name>
        <choiceText>10%</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10%</stringValue>
        </value>
    </choices>
    <choices>
        <name>X20</name>
        <choiceText>20%</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20%</stringValue>
        </value>
    </choices>
    <choices>
        <name>X30</name>
        <choiceText>30%</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30%</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkAccount</name>
        <label>checkAccount</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>imprese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNdg.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IndustriesBusiness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMasterOppImprese</targetReference>
            </connector>
            <label>imprese</label>
        </rules>
        <rules>
            <name>privati</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNdg.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMasterOppPrivati</targetReference>
            </connector>
            <label>privati</label>
        </rules>
    </decisions>
    <description>fix cpi imprese 5 valori</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaDataChiusuraImprese</name>
        <dataType>Boolean</dataType>
        <expression>{!Data_chiusura_prevista_Imprese} &gt;=TODAY()</expression>
    </formulas>
    <formulas>
        <name>formulaDataChiusuraPrivati</name>
        <dataType>Boolean</dataType>
        <expression>{!Data_chiusura_prevista_privati} &gt;=TODAY()</expression>
    </formulas>
    <interviewLabel>Creazione Opportunity Magazzini {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creazione Opportunity Magazzini</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>MasterOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RT_Id</name>
        <label>Get RT Id</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_MasterOppt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunita_Magazzino_Finanziamenti</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordTypeMagazzino</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNdg</name>
        <label>GetNdg</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Creazione_Opportunity</name>
        <label>Creazione Opportunity</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Indietro</backButtonLabel>
        <connector>
            <targetReference>checkAccount</targetReference>
        </connector>
        <fields>
            <name>dettagliOpp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dettagli Opportunità&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Creazione_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creazione_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prodotto_Imprese</name>
                    <choiceReferences>Prestiti_aziendali_chirografari</choiceReferences>
                    <choiceReferences>Prestiti_aziendali_ipotecari</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Prodotto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Importo_richiesto_Imprese</name>
                    <dataType>Number</dataType>
                    <fieldText>Importo richiesto</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Stato_CPI_imprese</name>
                    <choiceReferences>In_trattativa</choiceReferences>
                    <choiceReferences>Rifiutata</choiceReferences>
                    <choiceReferences>Confermata</choiceReferences>
                    <choiceReferences>Da_valutare</choiceReferences>
                    <choiceReferences>Non_abbinabile</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Non_valutabile</elementReference>
                    </defaultValue>
                    <fieldText>Stato CPI</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Probabilit_di_successo_imprese</name>
                    <choiceReferences>X10</choiceReferences>
                    <choiceReferences>X20</choiceReferences>
                    <choiceReferences>X30</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>X20</defaultSelectedChoiceReference>
                    <fieldText>Probabilità di successo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;10% (basso)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;20% (medio)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;30% (alta)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creazione_Opportunity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stato_OTC_Imprese</name>
                    <choiceReferences>In_trattativa</choiceReferences>
                    <choiceReferences>Rifiutata</choiceReferences>
                    <choiceReferences>Confermata</choiceReferences>
                    <choiceReferences>Da_valutare</choiceReferences>
                    <choiceReferences>Non_abbinabile</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stato OTC</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Data_chiusura_prevista_Imprese</name>
                    <dataType>Date</dataType>
                    <fieldText>Data chiusura prevista</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;La data non può essere inferiore alla data odierna&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!formulaDataChiusuraImprese}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Note_Imprese</name>
                    <dataType>String</dataType>
                    <fieldText>Note</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetNdg.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>IndustriesBusiness</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Creazione_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Creazione_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prodotto_privati</name>
                    <choiceReferences>Mutui_privati_ipotecari</choiceReferences>
                    <choiceReferences>Finanziamenti_privati_chirografari</choiceReferences>
                    <choiceReferences>Cessione_del_quinto</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Prodotto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Importo_richiesto_privati</name>
                    <dataType>Number</dataType>
                    <fieldText>Importo richiesto</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Stato_CPI_privati</name>
                    <choiceReferences>In_trattativa</choiceReferences>
                    <choiceReferences>Rifiutata</choiceReferences>
                    <choiceReferences>Confermata</choiceReferences>
                    <choiceReferences>Da_valutare</choiceReferences>
                    <choiceReferences>Non_abbinabile</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stato CPI</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Probabilit_di_successo_priivati</name>
                    <choiceReferences>X10</choiceReferences>
                    <choiceReferences>X20</choiceReferences>
                    <choiceReferences>X30</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>X20</defaultSelectedChoiceReference>
                    <fieldText>Probabilità di successo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: black;&quot;&gt;10% (basso)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: black;&quot;&gt;20% (medio)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: black;&quot;&gt;30% (alta)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Creazione_Opportunity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stato_OTC_Privati</name>
                    <choiceReferences>Non_valutabile</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Non_valutabile</defaultSelectedChoiceReference>
                    <fieldText>Stato OTC</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Data_chiusura_prevista_privati</name>
                    <dataType>Date</dataType>
                    <fieldText>Data chiusura prevista</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;La data non può essere inferiore alla data odierna&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!formulaDataChiusuraPrivati}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Note_privati</name>
                    <dataType>String</dataType>
                    <fieldText>Note</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetNdg.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PersonAccount</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessImage_0</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>success_icon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Success_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessMsg</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;Opportunità Magazzino Finanziamenti inserita con successo per NDG {!GetNdg.CRM_NDG__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNdg</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MasterOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>probability</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeMagazzino</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
