BPER/DEVF/force-app/main/default/flows/Creazione_Esiti_Campagna.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_EsitoCampagna_to_collection</name>
        <label>Add EsitoCampagna to collection</label>
        <locationX>666</locationX>
        <locationY>3431</locationY>
        <assignmentItems>
            <assignToReference>EsitiCampagna_DaCreare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EsitoCampagna_TEMP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DefaultEsitiCampagna_Post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_NomeEsitazione_0</name>
        <label>Add NomeEsitazione</label>
        <locationX>842</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>NomeEsitazioni_DaInserire</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NomeEsitazione_TEMP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DefaultEsitiCampagne</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_NomeEsitazione_to_list</name>
        <label>Add NomeEsitazione to list</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>List_NomeEsitazione</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_NomeEsitazioni.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_NomeEsitazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_DefaultEsitiCampagna</name>
        <label>Add to List_DefaultEsitiCampagna</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>List_DefaultEsitiCampagna</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_DefaultEsitiCampagna.NomeEsitazione__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DefaultEsitiCampagna</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EsitoCampagna</name>
        <label>Assign EsitoCampagna</label>
        <locationX>666</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>EsitoCampagna_TEMP.Campagna__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EsitoCampagna_TEMP.CRM_HasResponded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DefaultEsitiCampagna_Post.HasResponded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EsitoCampagna_TEMP.CRM_StatoEsito__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EsitoCampagna_TEMP.CRM_NomeEsito__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DefaultEsitiCampagna_Post.NomeEsitazione__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EsitoCampagna_TEMP.CRM_EsitazioneCampagna__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NomeEsitazione.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EsitoCampagna_TEMP.CRM_TipoEsitazione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DefaultEsitiCampagna_Post.TipoEsitazione__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EsitoCampagna_TEMP.CRM_OpportunityToCreate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DefaultEsitiCampagna_Post.CRM_OpportunityToCreate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EsitoCampagna_TEMP.CRM_OpportunityStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_FaseOpportunita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EsitoCampagna_TEMP.CRM_ChannelAvailability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DefaultEsitiCampagna_Post.ChannelAvailability__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_EsitoCampagna_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EsitoCampagna_0_0_0_0_0_0_0_0</name>
        <label>Assign EsitoCampagna</label>
        <locationX>578</locationX>
        <locationY>2831</locationY>
        <assignmentItems>
            <assignToReference>DefaultEsitiCampagna</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Default_Esiti</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_NomeEsitazioni_Post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NomeEsitazione_TEMP_0</name>
        <label>Assign NomeEsitazione_TEMP</label>
        <locationX>842</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>NomeEsitazione_TEMP.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_DefaultEsitiCampagne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_NomeEsitazione_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter_HasRespondedValues</name>
        <label>Set Counter HasRespondedValues</label>
        <locationX>578</locationX>
        <locationY>4919</locationY>
        <assignmentItems>
            <assignToReference>NumberHasRespondedValues</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_HasResponded_Statuses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Default_status_to_be_deleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NomeEsitazione_to_null</name>
        <label>Set NomeEsitazione to null</label>
        <locationX>754</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>NomeEsitazione</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Default_esito_found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Cliente_non_adatto</name>
        <label>Check Cliente non adatto</label>
        <locationX>578</locationX>
        <locationY>4343</locationY>
        <defaultConnector>
            <targetReference>Create_Cliente_non_adatto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nullo</defaultConnectorLabel>
        <rules>
            <name>Valorizzato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cliente_non_adatto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_HasResponded</targetReference>
            </connector>
            <label>Valorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_default_esiti</name>
        <label>Check default esiti</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Loop_DefaultEsitiCampagna</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is not null</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_Esiti_Campagna</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Creazione_Esiti_Terminato</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Non_contattabile</name>
        <label>Check Non contattabile</label>
        <locationX>578</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Create_Non_Contattabile_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nullo</defaultConnectorLabel>
        <rules>
            <name>Valorizzato_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Non_contattabile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cliente_non_adatto</targetReference>
            </connector>
            <label>Valorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_esito_found</name>
        <label>Default esito found?</label>
        <locationX>754</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Assign_NomeEsitazione_TEMP_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>si_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_NomeEsitazione</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_DefaultEsitiCampagne</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_DefaultEsitiCampagne</targetReference>
            </connector>
            <label>si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_status_to_be_deleted</name>
        <label>Default status to be deleted?</label>
        <locationX>578</locationX>
        <locationY>5039</locationY>
        <defaultConnector>
            <targetReference>Update_Creazione_Esiti_Terminato_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberHasRespondedValues</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Default_HasResponded</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_HasResponded</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NomeEsitazione_da_inserire</name>
        <label>NomeEsitazione da inserire?</label>
        <locationX>754</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Add_to_List_DefaultEsitiCampagna</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sì</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_DefaultEsitiCampagna</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_DefaultEsitiCampagna.NomeEsitazione__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_DefaultEsitiCampagna</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>NomeEsitazione_da_inserire_1</name>
        <label>NomeEsitazione da inserire?</label>
        <locationX>754</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Add_NomeEsitazione_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_NomeEsitazione</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_NomeEsitazioni.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_NomeEsitazioni</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_CanaleFase2</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.CRM_OwnerSystem__c}, &quot;Siebel&quot;) || ISBLANK(TEXT({!$Record.CRM_CanaleFase2__c})), &quot;N/A&quot;, TEXT({!$Record.CRM_CanaleFase2__c}))</expression>
    </formulas>
    <formulas>
        <name>Formula_Channel</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.CRM_OwnerSystem__c}, &quot;Siebel&quot;), &quot;N/A&quot;, TEXT({!$Record.CRM_Channel__c}))</expression>
    </formulas>
    <formulas>
        <name>Formula_FaseOpportunita</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Loop_DefaultEsitiCampagna_Post.CRM_OpportunityStage__c}, &quot;N/A&quot;), &quot;&quot;, TEXT({!Loop_DefaultEsitiCampagna_Post.CRM_OpportunityStage__c}))</expression>
    </formulas>
    <formulas>
        <name>Formula_SottotipologiaCampagna</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.CRM_OwnerSystem__c}, &quot;Siebel&quot;), TEXT({!$Record.CRM_SottotipologiaCampagna__c}), &quot;N/A&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_TipoCampagnaCC</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.CRM_OwnerSystem__c}, &quot;Siebel&quot;) || ISBLANK(TEXT({!$Record.CRM_TipoCampagna__c})), &quot;N/A&quot;, TEXT({!$Record.CRM_TipoCampagna__c}))</expression>
    </formulas>
    <formulas>
        <name>Formula_TipologiaCampagna</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.CRM_TipologiaCampagnaStep__c} == &quot;Lista di servizio&quot;, &quot;N/A&quot;, TEXT({!$Record.CRM_TipologiaCampagna__c}))</expression>
    </formulas>
    <formulas>
        <name>Formula_TipologiaStep</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.CRM_OwnerSystem__c}, &quot;Siebel&quot;), &quot;N/A&quot;, {!$Record.CRM_TipologiaCampagnaStep__c})</expression>
    </formulas>
    <interviewLabel>Creazione Esiti Campagna {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creazione Esiti Campagna</label>
    <loops>
        <name>Loop_DefaultEsitiCampagna</name>
        <label>Loop DefaultEsitiCampagna</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Default_Esiti_Campagna</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NomeEsitazione_da_inserire</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_NomeEsitazione_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_DefaultEsitiCampagna_Post</name>
        <label>Loop DefaultEsitiCampagna Post</label>
        <locationX>578</locationX>
        <locationY>3071</locationY>
        <collectionReference>DefaultEsitiCampagna</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_NomeEsitazione</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_EsitiCampagna</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_DefaultEsitiCampagne</name>
        <label>Loop_DefaultEsitiCampagne</label>
        <locationX>578</locationX>
        <locationY>1799</locationY>
        <collectionReference>List_DefaultEsitiCampagna</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_NomeEsitazione_to_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_NomeEsitazioni</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_NomeEsitazioni</name>
        <label>Loop NomeEsitazioni</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_NomeEsitazione_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NomeEsitazione_da_inserire_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_DefaultEsitiCampagne</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cliente_non_adatto</name>
        <label>Create Cliente non adatto</label>
        <locationX>666</locationX>
        <locationY>4463</locationY>
        <connector>
            <targetReference>Get_Default_HasResponded</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Cliente non adatto</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EsitiCampagna</name>
        <label>Create EsitiCampagna</label>
        <locationX>578</locationX>
        <locationY>3647</locationY>
        <connector>
            <targetReference>Get_Non_contattabile</targetReference>
        </connector>
        <inputReference>EsitiCampagna_DaCreare</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NomeEsitazioni</name>
        <label>Create NomeEsitazioni</label>
        <locationX>578</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>Get_Default_Esiti</targetReference>
        </connector>
        <inputReference>NomeEsitazioni_DaInserire</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Non_Contattabile_0</name>
        <label>Create Non Contattabile</label>
        <locationX>666</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>Get_Cliente_non_adatto</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Non contattabile</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_HasResponded</name>
        <label>Delete HasResponded</label>
        <locationX>446</locationX>
        <locationY>5159</locationY>
        <connector>
            <targetReference>Update_Creazione_Esiti_Terminato_0</targetReference>
        </connector>
        <inputReference>Get_Default_HasResponded</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Cliente_non_adatto</name>
        <label>Get Cliente non adatto</label>
        <locationX>578</locationX>
        <locationY>4223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Cliente_non_adatto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente non adatto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Esiti</name>
        <label>Get Default Esiti</label>
        <locationX>578</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_EsitoCampagna_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_TipologiaCampagna</elementReference>
            </value>
        </filters>
        <filters>
            <field>SottotipologiaCampagna__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_SottotipologiaCampagna</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerSystem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_OwnerSystem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipologiaStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_TipologiaStep</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipoCampagnaCC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_TipoCampagnaCC</elementReference>
            </value>
        </filters>
        <filters>
            <field>Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_Channel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EsitoCampagna__mdt</object>
        <sortField>NomeEsitazione__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Esiti_Campagna</name>
        <label>Get Default Esiti Campagna</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_default_esiti</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerSystem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_OwnerSystem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_TipologiaCampagna</elementReference>
            </value>
        </filters>
        <filters>
            <field>SottotipologiaCampagna__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_SottotipologiaCampagna</elementReference>
            </value>
        </filters>
        <filters>
            <field>Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_Channel</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipoCampagnaCC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_TipoCampagnaCC</elementReference>
            </value>
        </filters>
        <filters>
            <field>TipologiaStep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_TipologiaStep</elementReference>
            </value>
        </filters>
        <filters>
            <field>CanaleFase2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_CanaleFase2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EsitoCampagna__mdt</object>
        <sortField>NomeEsitazione__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_HasResponded</name>
        <label>Get Default HasResponded</label>
        <locationX>578</locationX>
        <locationY>4679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HasResponded_Statuses</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Risposta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HasResponded_Statuses</name>
        <label>Get HasResponded Statuses</label>
        <locationX>578</locationX>
        <locationY>4799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Counter_HasRespondedValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasResponded</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NomeEsitazione</name>
        <label>Get NomeEsitazione</label>
        <locationX>666</locationX>
        <locationY>3191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_EsitoCampagna</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_DefaultEsitiCampagna_Post.NomeEsitazione__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_CampaignHesitationValues__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NomeEsitazione_0</name>
        <label>Get NomeEsitazione</label>
        <locationX>578</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_NomeEsitazioni</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CRM_CampaignHesitationValues__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NomeEsitazioni_Post</name>
        <label>Get NomeEsitazioni Post</label>
        <locationX>578</locationX>
        <locationY>2951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_DefaultEsitiCampagna_Post</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CRM_CampaignHesitationValues__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_contattabile</name>
        <label>Get Non contattabile</label>
        <locationX>578</locationX>
        <locationY>3767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Non_contattabile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non contattabile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Creazione_Esiti_Terminato</name>
        <label>Update Creazione Esiti Terminato</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CRM_IsCreazioneEsitiEnded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Creazione_Esiti_Terminato_0</name>
        <label>Update Creazione Esiti Terminato</label>
        <locationX>446</locationX>
        <locationY>5279</locationY>
        <inputAssignments>
            <field>CRM_IsCreazioneEsitiEnded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Creazione_Esiti_Terminato_0_0</name>
        <label>Update Creazione Esiti Terminato</label>
        <locationX>710</locationX>
        <locationY>5159</locationY>
        <inputAssignments>
            <field>CRM_IsCreazioneEsitiEnded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Default_Esiti_Campagna</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultEsitiCampagna</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EsitoCampagna__mdt</objectType>
    </variables>
    <variables>
        <name>EsitazioneCampagna</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CampaignHesitationValues__c</objectType>
    </variables>
    <variables>
        <name>EsitiCampagna_DaCreare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_AssociazioneEsitazioniCampagne__c</objectType>
    </variables>
    <variables>
        <name>EsitoCampagna_TEMP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_AssociazioneEsitazioniCampagne__c</objectType>
    </variables>
    <variables>
        <name>List_DefaultEsitiCampagna</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_NomeEsitazione</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeEsitazione</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CampaignHesitationValues__c</objectType>
    </variables>
    <variables>
        <name>NomeEsitazione_DaAssociare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CampaignHesitationValues__c</objectType>
    </variables>
    <variables>
        <name>NomeEsitazione_TEMP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CampaignHesitationValues__c</objectType>
    </variables>
    <variables>
        <name>NomeEsitazioni_DaInserire</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CampaignHesitationValues__c</objectType>
    </variables>
    <variables>
        <name>NumberHasRespondedValues</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
