BPER/DEVF/force-app/main/default/flows/Delega_RemoveDelegato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>sbiancaDelegato</name>
        <label>sbiancaDelegato</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>getDelegante.DelegatedApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateUser</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>controlloDataGiorni</name>
        <label>controlloDataGiorni</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>controlloDataGiorniDelega</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>yesterday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GiorniPassati__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDelegante</targetReference>
            </connector>
            <label>controlloDataGiorniDelega</label>
        </rules>
    </decisions>
    <formulas>
        <name>yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} -1</expression>
    </formulas>
    <interviewLabel>Delega_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delega_RemoveDelegato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getDelegante</name>
        <label>getDelegante</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sbiancaDelegato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Delegante__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DelegatedApproverId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Delega</name>
        <label>Update Delega</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateUser</name>
        <label>updateUser</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Update_Delega</targetReference>
        </connector>
        <inputReference>getDelegante</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>controlloDataGiorni</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Scaduto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Delega__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-07-20</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
