BPER/DEVF/force-app/main/default/flows/Eliminazione_Tagliando.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_user_referente_abilitato_MDS</name>
        <label>Assign user referente abilitato MDS</label>
        <locationX>699</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>UserIsReferenteAbilitatoMDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_lista_referenti_abilitati_MDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_user_titolare_vicario</name>
        <label>Assign user titolare/vicario</label>
        <locationX>699</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>UserIsTitolareVicario</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_titolari_vicari_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMasterRecord</name>
        <label>AssignMasterRecord</label>
        <locationX>50</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>LastClosedTagliando</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLastClosedTagliando</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastClosedTagliando.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastClosedTagliando.CRM_ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da contattare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastClosedTagliando.CRM_CompletionDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastClosedTagliando.CRM_ExpectedCompletionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastClosedTagliando.CRM_CompletionYear__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastClosedTagliando.PTF_CustomerInterviewNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_GetLastTagliandoNumTagliando</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastClosedTagliando.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nuovo_Tagliando_da_Contattare</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_date</name>
        <label>Check date</label>
        <locationX>858</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>DataNonValida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Data KO</defaultConnectorLabel>
        <rules>
            <name>Data_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Customer_Interview.CRM_CreatedDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NowFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gestore_NDG</targetReference>
            </connector>
            <label>Data OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_last_exists</name>
        <label>Check if last exists</label>
        <locationX>182</locationX>
        <locationY>2942</locationY>
        <defaultConnectorLabel>Non esiste</defaultConnectorLabel>
        <rules>
            <name>Esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLastTagliandoAperto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMasterRecord</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_pulsante</name>
        <label>Check pulsante</label>
        <locationX>380</locationX>
        <locationY>2222</locationY>
        <defaultConnectorLabel>Annulla</defaultConnectorLabel>
        <rules>
            <name>ConfermaClicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Conferma.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elimina_tagliando</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stato_Tagliando</name>
        <label>Check Stato Tagliando</label>
        <locationX>1114</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Screen_ErrorMessage_Stato_Tagliando_Effettuato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>Tagliando_effettuato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Customer_Interview.CRM_ContactStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tagliando effettuato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_date</targetReference>
            </connector>
            <label>Stato: Tagliando effettuato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user_against_titolare_vicario</name>
        <label>Check user against titolare/vicario</label>
        <locationX>831</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_over_titolari_vicari_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_titolari_vicari_list.PTF_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_titolare_vicario</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user_is_referente_abilitato_MDS</name>
        <label>Check user is referente abilitato MDS</label>
        <locationX>831</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Loop_over_lista_referenti_abilitati_MDS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not found</defaultConnectorLabel>
        <rules>
            <name>Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_lista_referenti_abilitati_MDS.PTF_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_referente_abilitato_MDS</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_utente_abilitato</name>
        <label>Check utente abilitato</label>
        <locationX>611</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>NotEnabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non abilitato</defaultConnectorLabel>
        <rules>
            <name>Abilitato</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListaGestoriNDGManagementMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserIsReferenteAbilitatoMDS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserIsTitolareVicario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amministratore del sistema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conferma_eliminazione</targetReference>
            </connector>
            <label>Abilitato</label>
        </rules>
    </decisions>
    <formulas>
        <name>AddMonth</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS(NOW(), {!Get_Numero_mesi.CRM_MonthsDueDate__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_GetLastTagliandoNumTagliando</name>
        <dataType>Number</dataType>
        <expression>{!GetLastClosedTagliando.PTF_CustomerInterviewNum__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NameFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Tagliando n. &quot; + TEXT({!Formula_GetLastTagliandoNumTagliando})</expression>
    </formulas>
    <formulas>
        <name>NowFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(NOW())</expression>
    </formulas>
    <formulas>
        <name>NumTagliando</name>
        <dataType>Number</dataType>
        <expression>{!Get_Current_Customer_Interview.PTF_CustomerInterviewNum__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Eliminazione Tagliando {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Eliminazione Tagliando MLG</label>
    <loops>
        <name>Loop_over_lista_referenti_abilitati_MDS</name>
        <label>Loop over lista referenti abilitati MDS</label>
        <locationX>611</locationX>
        <locationY>1430</locationY>
        <collectionReference>ListaReferentiAbilitatiMDS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_user_is_referente_abilitato_MDS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_utente_abilitato</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_titolari_vicari_list</name>
        <label>Loop over titolari/vicari list</label>
        <locationX>611</locationX>
        <locationY>878</locationY>
        <collectionReference>ListaTitolariVicari</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_user_against_titolare_vicario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_lista_referenti_abilitati_MDS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Nuovo_Tagliando_da_Contattare</name>
        <label>Nuovo Tagliando da Contattare</label>
        <locationX>50</locationX>
        <locationY>3182</locationY>
        <inputReference>LastClosedTagliando</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteLast</name>
        <label>DeleteLastTagliandoAperto</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>Get_Numero_mesi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLastTagliandoAperto.Id</elementReference>
            </value>
        </filters>
        <object>CRM_CustomerInterview__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Elimina_tagliando</name>
        <label>Elimina tagliando</label>
        <locationX>182</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>GetLastTagliandoAperto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CRM_CustomerInterview__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Customer_Interview</name>
        <label>Get Current Customer Interview</label>
        <locationX>1114</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Stato_Tagliando</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_CustomerInterview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gestore_NDG</name>
        <label>Get Gestore-NDG</label>
        <locationX>611</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Titolare_Vicari_filiale</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>PTF_Gestore__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_NDG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Customer_Interview.CRM_Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecTypeDevName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primario</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecTypeDevName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DoppioPresidio</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NDGManagementMember__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Numero_mesi</name>
        <label>Get Numero mesi</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLastClosedTagliando</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Customer_Interview.CRM_Customer__r.ModelloDiServizio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PTF_ModelloDiServizio__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_referenti_filiale_abilitati_a_MDS</name>
        <label>Get referenti filiale abilitati a MDS</label>
        <locationX>611</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_titolari_vicari_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Customer_Interview.CRM_Customer__r.PTF_Filiale__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_MDSConcatList__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Current_Customer_Interview.CRM_Customer__r.ModelloDiServizio__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ListaReferentiAbilitatiMDS</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Titolare_Vicari_filiale</name>
        <label>Get Titolare/Vicari filiale</label>
        <locationX>611</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_referenti_filiale_abilitati_a_MDS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Customer_Interview.CRM_Customer__r.PTF_Filiale__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_ProfiloLDAP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NEC_F.1</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ListaTitolariVicari</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetLastClosedTagliando</name>
        <label>GetLastClosedTagliando</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_last_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Customer_Interview.CRM_Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_ContactStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tagliando effettuato</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_CustomerInterview__c</object>
        <sortField>CRM_CompletionDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLastTagliandoAperto</name>
        <label>GetLastTagliandoAperto</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteLast</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>CRM_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Customer_Interview.CRM_Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_ContactStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Da contattare</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_ContactStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Da ricontattare</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_ContactStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fissato appuntamento</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_CustomerInterview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Conferma_eliminazione</name>
        <label>Conferma eliminazione</label>
        <locationX>380</locationX>
        <locationY>2102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_pulsante</targetReference>
        </connector>
        <fields>
            <name>CheckConferma</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Sei sicuro? Proseguendo, non sarà più possibile recuperare il Tagliando.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conferma_eliminazione_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Conferma_eliminazione_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Annulla</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Annulla</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Conferma_eliminazione_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conferma</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Conferma</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Conferma_eliminazione_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Conferma_eliminazione_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DataNonValida</name>
        <label>DataNonValida</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CheckCreationDate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Data non consentita per eliminare il tagliando.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotEnabled</name>
        <label>NotEnabled</label>
        <locationX>842</locationX>
        <locationY>2102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UserNotAllowed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Non si dispone dei permessi per procedere con l&apos;eliminazione del tagliando.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_ErrorMessage_Stato_Tagliando_Effettuato</name>
        <label>Error Message stato tagliando effettuato</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_TagliandoEffettuato</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Non è possibile modificare un tagliando con Esito  diverso da &quot;Tagliando effettuato&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>988</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Customer_Interview</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllGestoriNDG</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NDGManagementMember__c</objectType>
    </variables>
    <variables>
        <name>LastClosedTagliando</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CustomerInterview__c</objectType>
    </variables>
    <variables>
        <name>ListaGestoriNDGManagementMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NDGManagementMember__c</objectType>
    </variables>
    <variables>
        <name>ListaReferentiAbilitatiMDS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ListaTitolariVicari</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIsReferenteAbilitatoMDS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserIsTitolareVicario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
