BPER/DEVF/force-app/main/default/flows/Elimina_Attivazione_Vecchio_Cliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chiusura_Richiesta_Attivazione</name>
        <label>Chiusura Richiesta Attivazione</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>c:Action_CloseRecordPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:Action_CloseRecordPage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Elimina Attivazione Vecchio Cliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Elimina Attivazione Vecchio Cliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Elimina_Richiesta_Vecchio_Cliente</name>
        <label>Elimina Richiesta Vecchio Cliente</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Chiusura_Richiesta_Attivazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Segnala_NDG_Mancante__c</object>
    </recordDeletes>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Elimina_Attivazione_Vecchio_Cliente</name>
        <label>Elimina Attivazione Vecchio Cliente</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Indietro</backButtonLabel>
        <connector>
            <targetReference>Elimina_Richiesta_Vecchio_Cliente</targetReference>
        </connector>
        <fields>
            <name>Conferma_eliminazione</name>
            <fieldText>&lt;p&gt;Confermando l&apos;operazione, verrà eliminata la richiesta di attivazione del vecchio cliente.&lt;/p&gt;&lt;p&gt;Se si desidera cancellare la richiesta, cliccare il pulsante &quot;Conferma&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Conferma</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Elimina_Attivazione_Vecchio_Cliente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
