BPER/DEVF/force-app/main/default/flows/Esitazione_Opportunita_Nuovo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Da aggionare il certificato prima del rilascio:
UAT: salesforcetestclient2024
PROD: salesforceprodclient2024</description>
        <name>invokeWS</name>
        <label>invokeWS</label>
        <locationX>1084</locationX>
        <locationY>1442</locationY>
        <actionName>aggiornamentoEsitazioneOpportunita</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_esitoWS_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>apiRequestName</name>
            <value>
                <stringValue>salvaEsitazioneAzioniNec</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>certificationName</name>
            <value>
                <stringValue>salesforcetestclient2024</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>disableLog</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>note</name>
            <value>
                <elementReference>NoteEsitazione</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stato</name>
            <value>
                <elementReference>MasterOpportunity.CRM_EsitoContatto__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>aggiornamentoEsitazioneOpportunita</nameSegment>
        <outputParameters>
            <assignToReference>esitoWS</assignToReference>
            <name>response</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Assegnatario</name>
        <label>Set Assegnatario</label>
        <locationX>1431</locationX>
        <locationY>2037</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Assegnatario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_transitorio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Close_Date_Old</name>
        <label>Set Close Date Old</label>
        <locationX>487</locationX>
        <locationY>1220</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_CloseDate_Old__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Aggiornata.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_show_error_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CloseDate_to_CloseDate_Old</name>
        <label>Set CloseDate to CloseDate Old</label>
        <locationX>1365</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate_Old</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Data_Ora_Appuntamento</name>
        <label>Set Data Ora Appuntamento</label>
        <locationX>1043</locationX>
        <locationY>1878</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_DataOraFissatoAppuntamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_Ora_Appuntamento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Master_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Esito_Null_show_error_true</name>
        <label>Set Esito Null show error true</label>
        <locationX>646</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ShowEsitoNullError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_esito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Master_Opportunity</name>
        <label>Set Master Opportunity</label>
        <locationX>1231</locationX>
        <locationY>1878</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_NoteEsitazioneOpps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoteOpportunita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_Data_Esitazione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CRM_AutoreUltimaEsitazione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_UserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Assegnatario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_container</name>
        <label>Set opportunity container</label>
        <locationX>347</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Aggiornata.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterOpportunity.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Aggiornata.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Definitivo_to_Transitorio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_opportunity_container_0</name>
        <label>Set opportunity container</label>
        <locationX>347</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>MasterOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_esito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_show_error_false</name>
        <label>Set show error false</label>
        <locationX>356</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>ShowEsitoNullError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_error</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assegnatario</name>
        <label>Check Assegnatario</label>
        <locationX>1224</locationX>
        <locationY>2037</locationY>
        <defaultConnector>
            <targetReference>Check_if_transitorio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Da non Assegnare</defaultConnectorLabel>
        <rules>
            <name>Da_Assegnare</name>
            <conditionLogic>(1 AND (2 OR 3) AND 4) OR 5 OR 6 OR 7</conditionLogic>
            <conditions>
                <leftValueReference>$User.CRM_MMDSVisibili__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.CRM_MMDSVisibili__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_NDG.ModelloDiServizio__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.CRM_MMDSVisibili__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tutti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModelliDiServizio_Abilitati</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_NDG.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_NDG.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residuale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_NDG.PTF_Portafoglio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assegnatario</targetReference>
            </connector>
            <label>Da Assegnare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_error</name>
        <label>Check error</label>
        <locationX>639</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Check_Origine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Error_Esito_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Esito_Null_show_error_true</targetReference>
            </connector>
            <label>Error Esito Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_esito</name>
        <label>Check esito</label>
        <locationX>1213</locationX>
        <locationY>1639</locationY>
        <defaultConnector>
            <targetReference>Set_Master_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Da_ricontattare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da ricontattare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_ricontatto</targetReference>
            </connector>
            <label>Da ricontattare</label>
        </rules>
        <rules>
            <name>Fissato_appuntamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Data_Ora_Appuntamento</targetReference>
            </connector>
            <label>Fissato appuntamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_esitoWS_2</name>
        <label>Check esitoWS</label>
        <locationX>1212</locationX>
        <locationY>1444</locationY>
        <defaultConnector>
            <targetReference>Rollback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>esitoWS KO</defaultConnectorLabel>
        <rules>
            <name>esitoWS_OK_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>esitoWS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_esito</targetReference>
            </connector>
            <label>esitoWS OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_transitorio</name>
        <label>Check if transitorio</label>
        <locationX>1226</locationX>
        <locationY>2207</locationY>
        <defaultConnector>
            <targetReference>Update_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is definitivo</defaultConnectorLabel>
        <rules>
            <name>Is_transitorio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da ricontattare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da contattare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente interessato</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CloseDate_to_CloseDate_Old</targetReference>
            </connector>
            <label>Is transitorio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_transitorio_0</name>
        <label>Check if transitorio</label>
        <locationX>776</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Esito_Definitivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is definitivo</defaultConnectorLabel>
        <rules>
            <name>Is_transitorio_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In corso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataLavorazione</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_opportunity_container_0</targetReference>
            </connector>
            <label>Is transitorio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Origine</name>
        <label>Check Origine</label>
        <locationX>840</locationX>
        <locationY>1444</locationY>
        <defaultConnector>
            <targetReference>Check_esito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other</defaultConnectorLabel>
        <rules>
            <name>Self_CheckUp_CC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_Canale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_Canale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check-up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_Canale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>invokeWS</targetReference>
            </connector>
            <label>Self, CheckUp e CC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permessi_Esitazione</name>
        <label>Check Permessi Esitazione</label>
        <locationX>778</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Permessi_insufficienti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permessi insufficienti</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckPermessi_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_transitorio_0</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Definitivo_to_Transitorio</name>
        <label>Is Definitivo to Transitorio?</label>
        <locationX>340</locationX>
        <locationY>1220</locationY>
        <defaultConnector>
            <targetReference>Set_Close_Date_Old</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Prodotto venduto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Prodotto non venduto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Aggiornata.CRM_EsitoContatto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prodotto venduto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Aggiornata.CRM_EsitoContatto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prodotto non venduto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_show_error_false</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>FIX SU PERMESSI UTENTE + FIX BUG</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckPermessi_Formula</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$User.CRM_HasReadOnly__c} = FALSE,
OR(
{!Get_Opportunity.Account.CRM_Visibilita_NDG_Full__c},
{!Get_Opportunity.Account.CRM_VisibilitaClientiUffPrivate__c},
{!Get_Opportunity.Account.CRM_VisibilitaKeyClientImprese__c},
{!Get_Opportunity.Account.CRM_VisibilitaClientiCF__c}
)
)</expression>
    </formulas>
    <formulas>
        <name>CloseDate_Old</name>
        <dataType>Date</dataType>
        <expression>IF(AND(NOT(ISBLANK({!MasterOpportunity.CRM_CloseDate_Old__c})), OR(TEXT({!Get_Opportunity_Aggiornata.CRM_EsitoContatto__c}) = &apos;Prodotto venduto&apos;, TEXT({!Get_Opportunity_Aggiornata.CRM_EsitoContatto__c}) = &apos;Prodotto non venduto&apos;)), {!MasterOpportunity.CRM_CloseDate_Old__c}, {!MasterOpportunity.CloseDate})</expression>
    </formulas>
    <formulas>
        <name>DataLavorazione</name>
        <dataType>Date</dataType>
        <expression>{!Get_Opportunity.CRM_Data_Esitazione__c}</expression>
    </formulas>
    <formulas>
        <name>Formula_StageName</name>
        <dataType>String</dataType>
        <expression>IF (
TEXT({!MasterOpportunity.CRM_EsitoContatto__c}) = &quot;Prodotto venduto&quot;,
&quot;Closed Won&quot;,
IF (
TEXT({!MasterOpportunity.CRM_EsitoContatto__c}) = &quot;Prodotto non venduto&quot;,
&quot;Closed Lost&quot;,
&quot;In corso&quot;
)
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Ricontatto - &quot; + IF({!Get_Opportunity.Account.RecordType.DeveloperName} = &apos;IndustriesBusiness&apos;, {!Get_Opportunity.Account.Name}, {!Get_Opportunity.Account.FirstName} + &quot; &quot; + {!Get_Opportunity.Account.LastName}) + &quot; - &quot; + TEXT(DAY(DATEVALUE({!Data_Ora_Ricontatto}))) + &quot;/&quot; +  TEXT(MONTH(DATEVALUE({!Data_Ora_Ricontatto}))) + &quot;/&quot; + TEXT(YEAR(DATEVALUE({!Data_Ora_Ricontatto})))</expression>
    </formulas>
    <formulas>
        <name>Formula_UserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>ModelliDiServizio_Abilitati</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISPICKVAL({!MasterOpportunity.CRM_Canale__c}, &apos;Self&apos;)),
NOT(ISPICKVAL({!MasterOpportunity.CRM_Canale__c}, &apos;Check-up&apos;)),
NOT(ISPICKVAL({!MasterOpportunity.CRM_Canale__c}, &apos;Magazzino Finanziamenti&apos;)),
OR(
ISPICKVAL({!Get_NDG.ModelloDiServizio__c}, &apos;Family&apos;),
ISPICKVAL({!Get_NDG.ModelloDiServizio__c}, &apos;POE&apos;)
)
)</expression>
    </formulas>
    <formulas>
        <name>NoteOpportunita</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY())) + &quot;/&quot; + TEXT(MONTH(TODAY())) + &quot;/&quot; + TEXT(YEAR(TODAY())) +&quot; - &quot; + {!NoteEsitazione} + BR() + {!Get_Opportunity.CRM_NoteEsitazioneOpps__c}</expression>
    </formulas>
    <interviewLabel>Esitazione Opportunità - Nuovo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Esitazione Opportunità</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordCreates>
        <name>Crea_ricontatto</name>
        <label>Crea ricontatto</label>
        <locationX>1422</locationX>
        <locationY>1878</locationY>
        <connector>
            <targetReference>Set_Master_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>Data_Ora_Ricontatto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Ricontatto.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Formula_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_NDG</name>
        <label>Get NDG</label>
        <locationX>782</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Permessi_Esitazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>782</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Ricontatto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Aggiornata</name>
        <label>Get Opportunity Aggiornata</label>
        <locationX>347</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_opportunity_container</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Ricontatto</name>
        <label>Get RT Ricontatto</label>
        <locationX>782</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NDG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ricontatto</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>1409</locationX>
        <locationY>1442</locationY>
        <connector>
            <targetReference>Screen_Errore_WS</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_opportunity</name>
        <label>Update opportunity</label>
        <locationX>1234</locationX>
        <locationY>2390</locationY>
        <inputReference>MasterOpportunity</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Esito_Definitivo</name>
        <label>Esito Definitivo</label>
        <locationX>1205</locationX>
        <locationY>757</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EsitoDefinitivo_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;L&apos;opportunità risulta già esitata in modo definitivo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fine</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Permessi_insufficienti</name>
        <label>Permessi insufficienti</label>
        <locationX>1178</locationX>
        <locationY>526</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PrivilegiInsufficienti</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Non si dispone dei permessi necessari per procedere con l&apos;esitazione.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Errore_WS</name>
        <label>Screen Errore WS</label>
        <locationX>1563</locationX>
        <locationY>1442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_WSError</name>
            <fieldText>&lt;p&gt;Si è verificato un errore durante l&apos;invocazione del servizio di esitazione. Si prega di riprovare più tardi.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_esito</name>
        <label>Set esito</label>
        <locationX>347</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Aggiornata</targetReference>
        </connector>
        <fields>
            <name>EsitaOpportunitaTitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Esita opportunità&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_esito_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_esito_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MasterOpportunity.CRM_EsitoContatto__c</objectFieldReference>
                </fields>
                <fields>
                    <name>EsitoContattoNullError</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;L&apos;Esito contatto non può essere vuoto.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ShowEsitoNullError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_esito_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_Ora_Ricontatto</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Data e ora del ricontatto</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La data del ricontatto deve essere compresa tra la data odierna e la data di scadenza dell&apos;opportunità.&lt;/p&gt;</errorMessage>
                        <formulaExpression>DATEVALUE({!Data_Ora_Ricontatto}) &gt;= {!$Flow.CurrentDate} &amp;&amp; OR(DATEVALUE({!Data_Ora_Ricontatto}) &lt;={!MasterOpportunity.CloseDate},
DATEVALUE({!Data_Ora_Ricontatto}) &lt;={!MasterOpportunity.CRM_CloseDate_Old__c})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Da ricontattare</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Data_Ora_Appuntamento</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Data e ora dell&apos;appuntamento</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La data dell&apos;appuntamento deve essere compresa tra la data odierna e la data di scadenza dell&apos;opportunità.&lt;/p&gt;</errorMessage>
                        <formulaExpression>DATEVALUE({!Data_Ora_Appuntamento}) &gt;= {!$Flow.CurrentDate} &amp;&amp;
OR(	DATEVALUE({!Data_Ora_Appuntamento}) &lt;= {!MasterOpportunity.CloseDate},
	DATEVALUE({!Data_Ora_Appuntamento}) &lt;= {!MasterOpportunity.CRM_CloseDate_Old__c})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Fissato appuntamento</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NoteEsitazione</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MasterOpportunity.CRM_EsitoContatto__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Conferma</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>656</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>esitoWS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowEsitoNullError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
