BPER/DEVF/force-app/main/default/flows/Event_Show_Script_Text.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Campo_Script</name>
        <label>Check Campo Script</label>
        <locationX>403</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Mostra_Script_NoScript</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Script</defaultConnectorLabel>
        <rules>
            <name>Script_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Call_Me_Back_Related_Script.Script__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mostra_Script</targetReference>
            </connector>
            <label>Script Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Event_Nome_Prodotto</name>
        <label>Check Event Nome Prodotto</label>
        <locationX>526</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Alert_Messaggio_Manca_Prodotto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nome_Prodotto_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Info.CC_Nome_Prodotto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event_Call_Me_Back_Related_Script</targetReference>
            </connector>
            <label>Nome Prodotto Exist</label>
        </rules>
    </decisions>
    <description>Recupera lo script che ha lo stesso prodotto mostrato sul&apos;event e lo mostra all&apos;operatore</description>
    <environments>Default</environments>
    <interviewLabel>Event - Show Script Text {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Event_Call_Me_Back_Related_Script</name>
        <label>Get Event Call Me Back Related Script</label>
        <locationX>411</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Campo_Script</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nome_Prodotto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Info.CC_Nome_Prodotto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CC_Script_Attivo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Call_Me_Back_Contact_Center__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Info</name>
        <label>Get Event Info</label>
        <locationX>396</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Event_Nome_Prodotto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Alert_Messaggio_Manca_Prodotto</name>
        <label>Alert Messaggio Manca Prodotto</label>
        <locationX>670</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlertMessaggio_MancaProdotto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Non è stato inserito nessun prodotto per l&apos;appuntamento selezionato. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Mostra_Script</name>
        <label>Script</label>
        <locationX>192</locationX>
        <locationY>739</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScriptText</name>
            <fieldText>&lt;p&gt;{!Get_Event_Call_Me_Back_Related_Script.Script__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mostra_Script_NoScript</name>
        <label>Script</label>
        <locationX>563</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScriptText_NoScript</name>
            <fieldText>&lt;p&gt;Non sono disponibili script per il prodotto collegato a questo evento&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>30</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>Get_Event_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
