BPER/DEVF/force-app/main/default/flows/Fidi_informazioni_economiche.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>IconaBarra</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/Barra&apos;/&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>IconaBarra2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/Barra2Possessi&apos;/&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Ci_sono_figli_Decision</name>
        <label>Ci sono figli_Decision</label>
        <locationX>558</locationX>
        <locationY>265</locationY>
        <defaultConnector>
            <targetReference>Show_Info_Economiche_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ci_sono_figli</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_children.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Info_Economiche</targetReference>
            </connector>
            <label>Ci sono figli</label>
        </rules>
    </decisions>
    <formulas>
        <name>CDF</name>
        <dataType>String</dataType>
        <expression>{!Get_current_record.CRM_CDF__c}</expression>
    </formulas>
    <formulas>
        <name>FidiAccordatiDisponibile</name>
        <dataType>Currency</dataType>
        <expression>{!Get_current_record.CRM_ResidualCreditLineAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FidiAccordatoUtilizzato</name>
        <dataType>Currency</dataType>
        <expression>{!Get_current_record.CRM_UsedCreditLineAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fidoaccordato</name>
        <dataType>Currency</dataType>
        <expression>{!Get_current_record.CRM_CreditLineAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ParametroDiRiferimento</name>
        <dataType>String</dataType>
        <expression>{!Get_current_record.CRM_ParametroDiRiferimento__c}</expression>
    </formulas>
    <formulas>
        <name>Spread</name>
        <dataType>Number</dataType>
        <expression>{!Get_current_record.CRM_Spread__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TassoDelFido</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT(({!Get_current_record.CRM_CreditLineInterestRate__c}*100)), &quot;.&quot;, &quot;,&quot;) + &quot;%&quot;</expression>
    </formulas>
    <formulas>
        <name>TipologiaTasso</name>
        <dataType>String</dataType>
        <expression>{!Get_current_record.CRM_TipologiaTasso__c}</expression>
    </formulas>
    <formulas>
        <name>TotaleFidoAccordato</name>
        <dataType>Currency</dataType>
        <expression>{!Get_current_record.CRM_TotalCreditLineGranted__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Fidi - informazioni economiche {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fidi - informazioni economiche</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_children</name>
        <label>Get children</label>
        <locationX>382</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ci_sono_figli_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_CollegamentoAFidoCastelletto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_record</name>
        <label>Get current record</label>
        <locationX>188</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Show_Info_Economiche</name>
        <label>Show Info Economiche</label>
        <locationX>792</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InformazioniEconomiche</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>InformazioniEconomiche</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Show_Info_Economiche_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Info_Economiche_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field1NotNull</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 63, 61);&quot;&gt;Fido Accordato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!Fidoaccordato}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_CreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field1Null</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 12px;&quot;&gt;Fido Accordato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_CreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field2NotNull</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 61, 61);&quot;&gt;Fidi accordati - disponibile&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!FidiAccordatiDisponibile}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_ResidualCreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field2Null</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(63, 61, 61); font-size: 12px;&quot;&gt;Fidi accordati - disponibile&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_ResidualCreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Info_Economiche_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field3NotNull</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 61, 61); font-size: 12px;&quot;&gt;Fidi accordati - utilizzato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!FidiAccordatoUtilizzato}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_UsedCreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field3Null</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 61, 61); font-size: 12px;&quot;&gt;Fidi accordati - utilizzato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_UsedCreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field4NotNull</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 61, 61); font-size: 12px;&quot;&gt;Totale fido accordato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!TotaleFidoAccordato}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_TotalCreditLineGranted__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field4Null</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 61, 61);&quot;&gt;Totale fido accordato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_TotalCreditLineGranted__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Info_Economiche_0</name>
        <label>Show Info Economiche</label>
        <locationX>784</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InformazioniEconomiche_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>InformazioniEconomiche</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Show_Info_Economiche_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Info_Economiche_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field1NotNull_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 63, 61);&quot;&gt;Fido Accordato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!Fidoaccordato}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_CreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field1Null_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 12px;&quot;&gt;Fido Accordato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_CreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field2NotNull_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(63, 61, 61); font-size: 12px;&quot;&gt;Fidi accordati - disponibile&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!FidiAccordatiDisponibile}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_ResidualCreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field2Null_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(63, 61, 61); font-size: 12px;&quot;&gt;Fidi accordati - disponibile&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_ResidualCreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field3NotNull_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(63, 61, 61); font-size: 12px;&quot;&gt;Fidi accordati - utilizzato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!FidiAccordatoUtilizzato}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_UsedCreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field3Null_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(63, 61, 61); font-size: 12px;&quot;&gt;Fidi accordati - utilizzato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_UsedCreditLineAmount__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field4NotNull_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(63, 61, 61); font-size: 12px;&quot;&gt;Totale fido accordato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!TotaleFidoAccordato}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_TotalCreditLineGranted__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field4Null_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 61, 61);&quot;&gt;Totale fido accordato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!IconaBarra2}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_TotalCreditLineGranted__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Info_Economiche_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Field5NotNull_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 63, 61);&quot;&gt;Tipologia Tasso&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!TipologiaTasso}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_TipologiaTasso__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field5Null_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 63, 61); background-color: rgb(255, 255, 255);&quot;&gt;Tipologia Tasso&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_TipologiaTasso__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field6NotNull_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 12px;&quot;&gt;Tasso del fido&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!TassoDelFido}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_CreditLineInterestRate__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field6Null_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 63, 61);&quot;&gt;Tasso del fido&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_CreditLineInterestRate__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field7NotNull_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 12px;&quot;&gt;Spread&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!Spread}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_Spread__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field7Null_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 63, 61);&quot;&gt;Spread&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_Spread__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field8NotNull_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(63, 63, 61);&quot;&gt;Parametro di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!ParametroDiRiferimento}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(8, 7, 7); font-size: 14px;&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_ParametroDiRiferimento__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field8Null_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 12px;&quot;&gt;Parametro di riferimento&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_ParametroDiRiferimento__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field9NotNull_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 12px;&quot;&gt;CDF&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!CDF}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_CDF__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Field9Null_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 12px;&quot;&gt;CDF&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;|||||&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 7, 7);&quot;&gt;{!IconaBarra}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_current_record.CRM_CDF__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_children.Name</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_current_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>recordId</stringValue>
        </value>
    </variables>
</Flow>
