BPER/DEVF/force-app/main/default/flows/Flow_Rimozione_Opportunit_Private.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AddOppotoList</name>
        <label>AddOppotoList</label>
        <locationX>9884</locationX>
        <locationY>7432</locationY>
        <assignmentItems>
            <assignToReference>OppoToChange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loopopportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loopopportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOppotoList</name>
        <label>AssignOppotoList</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>ListaOpportunita</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loopopportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTempIdAndStag</name>
        <label>AssignTempIdAndStag</label>
        <locationX>732</locationX>
        <locationY>9314</locationY>
        <assignmentItems>
            <assignToReference>TempOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleTempOppo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOpportunity.CRM_EsitoContatto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prodotto non venduto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppoListToBeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OppoListToBeChanged</name>
        <label>OppoListToBeChanged</label>
        <locationX>732</locationX>
        <locationY>9434</locationY>
        <assignmentItems>
            <assignToReference>OpportunityListToBeChanged</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CycleTempOppo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLabels</name>
        <label>SetLabels</label>
        <locationX>644</locationX>
        <locationY>8954</locationY>
        <assignmentItems>
            <assignToReference>LabelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CRM_Oggetto__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>StageName</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CRM_Bisogno__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CloseDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelsList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CRM_Esito__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunitySelection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NegativeAnswer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente non interessato/adatto</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Acquisto_di_partecipazioni_Asset_Reali</name>
        <label>Acquisto di partecipazioni / Asset Reali</label>
        <locationX>10278</locationX>
        <locationY>7226</locationY>
        <defaultConnector>
            <targetReference>Criptovalute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange27_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acquisto di partecipazioni / Asset Reali</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AcquistoPartAsset__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AcquistoPartAsset__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AcquistoPartAsset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Altri_Prestiti</name>
        <label>Altri Prestiti</label>
        <locationX>12612</locationX>
        <locationY>9216</locationY>
        <defaultConnector>
            <targetReference>Leasing_nautico</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Altri Prestiti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Loans__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Loans__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Loans__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Altro_Finanziamenti</name>
        <label>Altro - Finanziamenti</label>
        <locationX>13099</locationX>
        <locationY>9576</locationY>
        <defaultConnector>
            <targetReference>Prodotti_in_scadenza_presso_terzi_Finanziamenti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Altro - Finanziamenti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OtherFunds__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_OtherFunds__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OtherFunds__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Altro_Finanziario</name>
        <label>Altro - Finanziario</label>
        <locationX>1743</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Proposte_investimento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Altro - Finanziario</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AltroFinanziario__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AltroFinanziario__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AltroFinanziario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Altro_Investimenti_Alternativi</name>
        <label>Altro - Investimenti Alternativi</label>
        <locationX>10711</locationX>
        <locationY>7550</locationY>
        <defaultConnector>
            <targetReference>Check_up_Previdenziale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange28_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Altro - Investimenti Alternativi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AltroInvesAlternat__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AltroInvesAlternat__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AltroInvesAlternat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Analisi_e_ottimizzazione_partecipanti</name>
        <label>Analisi e ottimizzazione partecipanti</label>
        <locationX>7577</locationX>
        <locationY>5096</locationY>
        <defaultConnector>
            <targetReference>Tax_legal_advisory_sul_patrimonio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange25_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analisi e ottimizzazione partecipanti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AnalisiOttimizzazPartec__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AnalisiOttimizzazPartec__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AnalisiOttimizzazPartec__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Analisi_patrimoniale_immobiliare</name>
        <label>Analisi patrimoniale immobiliare</label>
        <locationX>7410</locationX>
        <locationY>4976</locationY>
        <defaultConnector>
            <targetReference>Analisi_e_ottimizzazione_partecipanti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange24_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analisi patrimoniale immobiliare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AnalisiPatrimonialeImmob__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AnalisiPatrimonialeImmob__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AnalisiPatrimonialeImmob__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Analisi_patrimonio_presso_terzi</name>
        <label>Analisi patrimonio presso terzi</label>
        <locationX>5834</locationX>
        <locationY>3871</locationY>
        <defaultConnector>
            <targetReference>Trust</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange16_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analisi patrimonio presso terzi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AnalisiPatrimonioTerzi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AnalisiPatrimonioTerzi__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AnalisiPatrimonioTerzi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Analisi_Successoria_Passaggio_Generazionale</name>
        <label>Analisi Successoria / Passaggio Generazionale</label>
        <locationX>5656</locationX>
        <locationY>3751</locationY>
        <defaultConnector>
            <targetReference>Analisi_patrimonio_presso_terzi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange15_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analisi Successoria / Passaggio Generazionale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AnalisiSuccessoria__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AnalisiSuccessoria__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AnalisiSuccessoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Art_Advisory</name>
        <label>Art Advisory</label>
        <locationX>6532</locationX>
        <locationY>4376</locationY>
        <defaultConnector>
            <targetReference>Ottimizzazione_gestione_partecipazioni_azionarie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange19_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Art Advisory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ArtAdvisory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_ArtAdvisory__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ArtAdvisory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Arte</name>
        <label>Arte</label>
        <locationX>9645</locationX>
        <locationY>6732</locationY>
        <defaultConnector>
            <targetReference>Hedge_Fund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange23_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Arte__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Arte__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Arte__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Protection</name>
        <label>Asset Protection</label>
        <locationX>6362</locationX>
        <locationY>4231</locationY>
        <defaultConnector>
            <targetReference>Art_Advisory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange18_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset Protection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AssetProtection__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AssetProtection__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AssetProtection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assicurativo_Vita</name>
        <label>Assicurativo Vita</label>
        <locationX>2623</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Fondi_di_Investimento_Cedolari</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assicurativo Vita</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AssicurativoVita__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AssicurativoVita__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AssicurativoVita__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assicurazione_Auto</name>
        <label>Assicurazione Auto</label>
        <locationX>4383</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Prodotti_in_scadenza_presso_terzi_Assic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assicurazione Auto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_CarInsurance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_CarInsurance__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_CarInsurance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assicurazione_Casa</name>
        <label>Assicurazione Casa</label>
        <locationX>3679</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Assicurazione_Salute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assicurazione Casa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_HomeInsurance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_HomeInsurance__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_HomeInsurance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assicurazione_Famiglia</name>
        <label>Assicurazione Famiglia</label>
        <locationX>4031</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Assicurazione_TCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assicurazione Famiglia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FamilyLifeInsurance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_FamilyLifeInsurance__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FamilyLifeInsurance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assicurazione_Salute</name>
        <label>Assicurazione Salute</label>
        <locationX>3855</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Assicurazione_Famiglia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assicurazione Salute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_HealthInsurance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_HealthInsurance__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_HealthInsurance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assicurazione_TCM</name>
        <label>Assicurazione TCM</label>
        <locationX>4207</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>Assicurazione_Auto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assicurazione TCM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_LifeInsurance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_LifeInsurance__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_LifeInsurance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Attivita_filantropica</name>
        <label>Attività filantropica</label>
        <locationX>6156</locationX>
        <locationY>4104</locationY>
        <defaultConnector>
            <targetReference>Asset_Protection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange17_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attività filantropica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AttivitaFilantropica__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_AttivitaFilantropica__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_AttivitaFilantropica__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cambio_residenza_fiscale</name>
        <label>Cambio residenza fiscale</label>
        <locationX>7059</locationX>
        <locationY>4736</locationY>
        <defaultConnector>
            <targetReference>Consulenza_analitica_protezione_e_piafinicazione_patrimonial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange22_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio residenza fiscale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_CambioResidenzaFiscale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_CambioResidenzaFiscale__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_CambioResidenzaFiscale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Carte_di_Credito</name>
        <label>Carte di Credito</label>
        <locationX>11401</locationX>
        <locationY>8206</locationY>
        <defaultConnector>
            <targetReference>Smart_Web</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carte di Credito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_CreditCards__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_CreditCards__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_CreditCards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Carte_di_Debito</name>
        <label>Carte di Debito</label>
        <locationX>11300</locationX>
        <locationY>8111</locationY>
        <defaultConnector>
            <targetReference>Carte_di_Credito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange17_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carte di Debito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_DebitCards__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_DebitCards__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_DebitCards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cartolarizzazioni</name>
        <label>Cartolarizzazioni</label>
        <locationX>8972</locationX>
        <locationY>6191</locationY>
        <defaultConnector>
            <targetReference>NPL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange19_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cartolarizzazioni</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Cartolarizzazioni__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Cartolarizzazioni__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Cartolarizzazioni__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Certificate</name>
        <label>Certificate</label>
        <locationX>2447</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Assicurativo_Vita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange5_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certificate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Certificate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Certificate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Certificate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cessione_Credito</name>
        <label>Cessione Credito</label>
        <locationX>12947</locationX>
        <locationY>9456</locationY>
        <defaultConnector>
            <targetReference>Altro_Finanziamenti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cessione Credito (Bonus fiscali)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_CessioneCredito__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_CessioneCredito__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_CessioneCredito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_up_Previdenziale</name>
        <label>Check up Previdenziale</label>
        <locationX>10948</locationX>
        <locationY>7871</locationY>
        <defaultConnector>
            <targetReference>Fondi_Pensione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check-Up Previdenziale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_SocialSecurityCheckup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_SocialSecurityCheckup__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_SocialSecurityCheckup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIOppList_0</name>
        <label>CheckIOppList&gt;0</label>
        <locationX>776</locationX>
        <locationY>8834</locationY>
        <defaultConnectorLabel>List=0</defaultConnectorLabel>
        <rules>
            <name>List_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOpp</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLabels</targetReference>
            </connector>
            <label>List&gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Club_Deal_anche_via_SPAC</name>
        <label>Club Deal (anche via SPAC)</label>
        <locationX>9989</locationX>
        <locationY>6981</locationY>
        <defaultConnector>
            <targetReference>IPO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange25_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Club Deal (anche via SPAC)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_InteresseClubDeal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_InteresseClubDeal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_InteresseClubDeal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commodity</name>
        <label>Commodity</label>
        <locationX>9288</locationX>
        <locationY>6486</locationY>
        <defaultConnector>
            <targetReference>Real_Estate_Diretto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange21_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commodity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Commodity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Commodity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Commodity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consulenza_analitica_protezione_e_piafinicazione_patrimonial</name>
        <label>Consulenza analitica protezione e piafinicazione patrimonial</label>
        <locationX>7231</locationX>
        <locationY>4856</locationY>
        <defaultConnector>
            <targetReference>Analisi_patrimoniale_immobiliare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange23_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulenza analitica protezione e piafinicazione patrimonial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ConsulAnaliticaProtPianif__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_ConsulAnaliticaProtPianif__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ConsulAnaliticaProtPianif__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consulenza_Evoluta_Standard</name>
        <label>Consulenza Evoluta Standard</label>
        <locationX>4972</locationX>
        <locationY>3268</locationY>
        <defaultConnector>
            <targetReference>Consulenza_Finanziaria_Avanzata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange15_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulenza Evoluta Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PacchettoConsulenzaEvolutaStd__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_PacchettoConsulenzaEvolutaStd__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PacchettoConsulenzaEvolutaStd__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consulenza_Finanziaria_Avanzata</name>
        <label>Consulenza Finanziaria Avanzata</label>
        <locationX>5148</locationX>
        <locationY>3388</locationY>
        <defaultConnector>
            <targetReference>Idee_d_investimento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange16_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulenza Finanziaria Avanzata</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PacchettoConsulenzaEvolutaAdv__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_PacchettoConsulenzaEvolutaAdv__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PacchettoConsulenzaEvolutaAdv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consulenza_Patrimoniale</name>
        <label>Consulenza Patrimoniale</label>
        <locationX>5500</locationX>
        <locationY>3628</locationY>
        <defaultConnector>
            <targetReference>Analisi_Successoria_Passaggio_Generazionale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange17_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulenza Patrimoniale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ConsulenzaPatrimoniale__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_ConsulenzaPatrimoniale__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ConsulenzaPatrimoniale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Criptovalute</name>
        <label>Criptovalute</label>
        <locationX>10396</locationX>
        <locationY>7324</locationY>
        <defaultConnector>
            <targetReference>Non_Fungible_Token</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange28_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Criptovalute</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Criptovalute__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Criptovalute__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Criptovalute__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Firma_Elettronica_Qualificata</name>
        <label>Firma Elettronica Qualificata</label>
        <locationX>12063</locationX>
        <locationY>8766</locationY>
        <defaultConnector>
            <targetReference>Mutui_ipotecari</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Firma Elettronica Qualificata</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FirmaElettronicaCertificata__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_FirmaElettronicaCertificata__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FirmaElettronicaCertificata__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fondi_di_Investimento_Cedolari</name>
        <label>Fondi di Investimento Cedolari</label>
        <locationX>2799</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Fondi_ESG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange6_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fondi di Investimento Cedolari</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FondiInvestimentoCedolari__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_FondiInvestimentoCedolari__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FondiInvestimentoCedolari__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fondi_e_Sicav_tradizionali</name>
        <label>Fondi e Sicav tradizionali</label>
        <locationX>3151</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Organizzazione_del_patrimonio_per_passaggio_generazionale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fondi e Sicav tradizionali</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FondiSicavTradizionali__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_FondiSicavTradizionali__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FondiSicavTradizionali__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fondi_ESG</name>
        <label>Fondi ESG</label>
        <locationX>2975</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Fondi_e_Sicav_tradizionali</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange5_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fondi ESG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FondiESG__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_FondiESG__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FondiESG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fondi_Pensione</name>
        <label>Fondi Pensione</label>
        <locationX>11124</locationX>
        <locationY>7991</locationY>
        <defaultConnector>
            <targetReference>Carte_di_Debito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fondi Pensione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RetirementFund__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_RetirementFund__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RetirementFund__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gestioni_di_portafoglio</name>
        <label>Gestioni di portafoglio</label>
        <locationX>2095</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>PIR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestioni di portafoglio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_GestioniDiPTF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_GestioniDiPTF__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_GestioniDiPTF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hedge_Fund</name>
        <label>Hedge Fund</label>
        <locationX>9813</locationX>
        <locationY>6861</locationY>
        <defaultConnector>
            <targetReference>Club_Deal_anche_via_SPAC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange24_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hedge Fund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_HedgeFund__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_HedgeFund__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_HedgeFund__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Idee_d_investimento</name>
        <label>Idee d&apos;investimento</label>
        <locationX>5324</locationX>
        <locationY>3508</locationY>
        <defaultConnector>
            <targetReference>Consulenza_Patrimoniale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange17_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Idee d&apos;investimento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_IdeeInvestimento__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_IdeeInvestimento__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_IdeeInvestimento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Infrastrutture</name>
        <label>Infrastrutture</label>
        <locationX>8626</locationX>
        <locationY>5926</locationY>
        <defaultConnector>
            <targetReference>Private_Debt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange17_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Infrastrutture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Infrastrutture__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Infrastrutture__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Infrastrutture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>IPO</name>
        <label>IPO</label>
        <locationX>10129</locationX>
        <locationY>7092</locationY>
        <defaultConnector>
            <targetReference>Acquisto_di_partecipazioni_Asset_Reali</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange26_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_InteresseIPO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_InteresseIPO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_InteresseIPO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Leasing_nautico</name>
        <label>Leasing nautico</label>
        <locationX>12780</locationX>
        <locationY>9339</locationY>
        <defaultConnector>
            <targetReference>Cessione_Credito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leasing Nautico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_LeasingNautico__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_LeasingNautico__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_LeasingNautico__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lombard</name>
        <label>Lombard</label>
        <locationX>12438</locationX>
        <locationY>9096</locationY>
        <defaultConnector>
            <targetReference>Altri_Prestiti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lombard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Lombard__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Lombard__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Lombard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mandati_Fiduciari</name>
        <label>Mandati Fiduciari</label>
        <locationX>7866</locationX>
        <locationY>5344</locationY>
        <defaultConnector>
            <targetReference>Servizi_Fiduciari</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange27_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mandati Fiduciari</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FiduciaryMandate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_FiduciaryMandate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FiduciaryMandate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mutui_ipotecari</name>
        <label>Mutui ipotecari</label>
        <locationX>12239</locationX>
        <locationY>8886</locationY>
        <defaultConnector>
            <targetReference>Lombard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mutui Ipotecari</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Mortgage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Mortgage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Mortgage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Non_Fungible_Token</name>
        <label>Non Fungible Token</label>
        <locationX>10543</locationX>
        <locationY>7419</locationY>
        <defaultConnector>
            <targetReference>Altro_Investimenti_Alternativi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange27_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Fungible Token</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_NFT__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_NFT__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_NFT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>NPL</name>
        <label>NPL</label>
        <locationX>9113</locationX>
        <locationY>6366</locationY>
        <defaultConnector>
            <targetReference>Commodity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange20_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NPL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_NPL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_NPL__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_NPL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offerta_Fuori_Sede</name>
        <label>Offerta Fuori Sede</label>
        <locationX>11888</locationX>
        <locationY>8646</locationY>
        <defaultConnector>
            <targetReference>Firma_Elettronica_Qualificata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offerta fuori sede</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OffSiteOffer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_OffSiteOffer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OffSiteOffer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operazioni_Straordinarie_in_vista</name>
        <label>Operazioni Straordinarie in vista</label>
        <locationX>1215</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Prodotti_in_scadenza_presso_terzi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operazioni straordinarie in vista</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ExtraordinaryOperations__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_ExtraordinaryOperations__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ExtraordinaryOperations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Organizzazione_del_patrimonio_per_passaggio_generazionale</name>
        <label>Organizzazione del patrimonio per passaggio generazionale</label>
        <locationX>3327</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Tagliando_Assicurativo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organizzazione del patrimonio per passaggio generazionale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OrganizzazionePatrimonio__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_OrganizzazionePatrimonio__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OrganizzazionePatrimonio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ottimizzazione_gestione_partecipazioni_azionarie</name>
        <label>Ottimizzazione gestione partecipazioni azionarie</label>
        <locationX>6708</locationX>
        <locationY>4496</locationY>
        <defaultConnector>
            <targetReference>Real_Estate_Advisory_Estero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange20_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ottimizzazione gestione partecipazioni azionarie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OttimizzazioneGestionePartAzionarie__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_OttimizzazioneGestionePartAzionarie__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OttimizzazioneGestionePartAzionarie__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>PIR</name>
        <label>PIR</label>
        <locationX>2271</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Certificate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange6_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PIR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_PIR__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PIR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Private_Debt</name>
        <label>Private Debt</label>
        <locationX>8812</locationX>
        <locationY>6046</locationY>
        <defaultConnector>
            <targetReference>Cartolarizzazioni</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange18_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Debt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PrivateDebt__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_PrivateDebt__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PrivateDebt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Private_Equity</name>
        <label>Private Equity</label>
        <locationX>8173</locationX>
        <locationY>5591</locationY>
        <defaultConnector>
            <targetReference>Real_Estate_Fondi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange15_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Equity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PrivateEquity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_PrivateEquity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_PrivateEquity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prodotti_in_scadenza_presso_terzi</name>
        <label>Prodotti in scadenza presso terzi</label>
        <locationX>1391</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Vendita_immobili_in_vista</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prodotti in scadenza presso terzi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FinExpiringProducts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_FinExpiringProducts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FinExpiringProducts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prodotti_in_scadenza_presso_terzi_Assic</name>
        <label>Prodotti in scadenza presso terzi</label>
        <locationX>4559</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Varie_Assicurativo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prodotti in scadenza presso terzi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_InsExpiringProducts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_InsExpiringProducts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_InsExpiringProducts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prodotti_in_scadenza_presso_terzi_Finanziamenti</name>
        <label>Prodotti in scadenza presso terzi - Finanziamenti</label>
        <locationX>13231</locationX>
        <locationY>9696</locationY>
        <defaultConnector>
            <targetReference>Loopopportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prodotti in Scadenza Presso Terzi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FundsExpiringProducts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_FundsExpiringProducts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_FundsExpiringProducts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proposte_investimento</name>
        <label>Proposte d&apos;investimento</label>
        <locationX>1919</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Gestioni_di_portafoglio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposte d&apos;investimento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ProposteInvestimento__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_ProposteInvestimento__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ProposteInvestimento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Real_Estate_Advisory_Estero</name>
        <label>Real Estate Advisory Estero</label>
        <locationX>6883</locationX>
        <locationY>4616</locationY>
        <defaultConnector>
            <targetReference>Cambio_residenza_fiscale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange21_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real Estate Advisory Estero</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RealEstateAdvEstero__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_RealEstateAdvEstero__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RealEstateAdvEstero__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Real_Estate_Diretto</name>
        <label>Real Estate Diretto</label>
        <locationX>9464</locationX>
        <locationY>6606</locationY>
        <defaultConnector>
            <targetReference>Arte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange22_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real Estate Diretto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RealEstateDiretto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_RealEstateDiretto__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RealEstateDiretto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Real_Estate_Fondi</name>
        <label>Real Estate Fondi</label>
        <locationX>8349</locationX>
        <locationY>5711</locationY>
        <defaultConnector>
            <targetReference>Venture_Capital</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange16_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Real Estate Fondi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RealEstateFondi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_RealEstateFondi__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RealEstateFondi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Servizi_Fiduciari</name>
        <label>Servizi Fiduciari</label>
        <locationX>8028</locationX>
        <locationY>5456</locationY>
        <defaultConnector>
            <targetReference>Private_Equity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange28_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servizi Fiduciari</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ServiziFiduciari__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_ServiziFiduciari__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_ServiziFiduciari__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Smart_Web</name>
        <label>Smart Web</label>
        <locationX>11577</locationX>
        <locationY>8326</locationY>
        <defaultConnector>
            <targetReference>TOL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Smart Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_SmartWeb__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_SmartWeb__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_SmartWeb__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tagliando_Assicurativo</name>
        <label>Tagliando Assicurativo</label>
        <locationX>3503</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Assicurazione_Casa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tagliando Assicurativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_InsuranceCheck__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_InsuranceCheck__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_InsuranceCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_legal_advisory_sul_patrimonio</name>
        <label>Tax &amp; legal advisory sul patrimonio</label>
        <locationX>7742</locationX>
        <locationY>5216</locationY>
        <defaultConnector>
            <targetReference>Mandati_Fiduciari</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange26_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax &amp; legal advisory sul patrimonio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_TaxLegalAdv__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_TaxLegalAdv__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_TaxLegalAdv__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>TOL</name>
        <label>TOL</label>
        <locationX>11747</locationX>
        <locationY>8471</locationY>
        <defaultConnector>
            <targetReference>Offerta_Fuori_Sede</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OnlineTrading__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_OnlineTrading__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_OnlineTrading__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trust</name>
        <label>Trust</label>
        <locationX>6008</locationX>
        <locationY>3991</locationY>
        <defaultConnector>
            <targetReference>Attivita_filantropica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange17_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Trust__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_Trust__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_Trust__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Varie_Assicurativo</name>
        <label>Varie - Assicurativo</label>
        <locationX>4735</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>Consulenza_Evoluta_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange14_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Varie - Assicurativo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_VarieAssicurativo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_VarieAssicurativo__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_VarieAssicurativo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vendita_immobili_in_vista</name>
        <label>Vendita immobili in vista</label>
        <locationX>1567</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Altro_Finanziario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendita immobili in vista</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_SellingProperties__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_SellingProperties__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_SellingProperties__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Venture_Capital</name>
        <label>Venture Capital</label>
        <locationX>8525</locationX>
        <locationY>5831</locationY>
        <defaultConnector>
            <targetReference>Infrastrutture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange17_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venture Capital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_VenutreCapital__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_VenutreCapital__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_VenutreCapital__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NegativeAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Retention</name>
        <label>Verifica Retention</label>
        <locationX>1039</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Operazioni_Straordinarie_in_vista</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>ToChange3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopopportunity.CRM_Oggetto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifica retention / Masse in uscita</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RetentionCheck__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldCheckUp.CRM_RetentionCheck__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewCheckUp.CRM_RetentionCheck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOppotoList</targetReference>
            </connector>
            <label>ToChange</label>
        </rules>
    </decisions>
    <description>Fix Bug + adattamento nuovo flow effettua check up</description>
    <environments>Default</environments>
    <interviewLabel>Flow Rimozione Opportunità Private {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Rimozione Opportunità Private</label>
    <loops>
        <name>CycleTempOppo</name>
        <label>CycleTempOppo</label>
        <locationX>644</locationX>
        <locationY>9194</locationY>
        <collectionReference>OppoTable.selectedRecordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTempIdAndStag</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loopopportunity</name>
        <label>Loopopportunity</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <collectionReference>ListaOpportunita</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verifica_Retention</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckIOppList_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOppotoList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In corso</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Canale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Check-up</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>OpportunitySelection</name>
        <label>OpportunitySelection</label>
        <locationX>644</locationX>
        <locationY>9074</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CycleTempOppo</targetReference>
        </connector>
        <fields>
            <name>SelectOppo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;Selezionare le Opportunità da Eliminare&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OppoTable</name>
            <extensionName>builder_industries_insurance:fscMultiTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>LabelsList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>OppoToChange</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRowSelectable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LabelsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaOpportunita</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewCheckUp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CustomerInterview__c</objectType>
    </variables>
    <variables>
        <name>OldCheckUp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CustomerInterview__c</objectType>
    </variables>
    <variables>
        <name>OpportunityListToBeChanged</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppoToChange</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
