BPER/DEVF/force-app/main/default/flows/Impurezze_medie_portafogli_in_filiale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_impurezze</name>
        <label>Add impurezze</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SommaImpurezzaDowngrade</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_wallets.PTF_PercImpurezzaDowngrade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SommaImpurezzaUpgrade</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_wallets.PTF_PercImpurezzaUpgrade__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_wallets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_list_size</name>
        <label>Assign list size</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>WalletsListSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Wallets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_wallets</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ImpurezzaDowngradePercentage</name>
        <dataType>Number</dataType>
        <expression>{!SommaImpurezzaDowngrade}/{!WalletsListSize}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ImpurezzaUpgradePercentage</name>
        <dataType>Number</dataType>
        <expression>{!SommaImpurezzaUpgrade}/{!WalletsListSize}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Impurezze medie portafogli in filiale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Impurezze medie portafogli in filiale (ad esclusione dei MDS CF, PR, KCP, ET)</label>
    <loops>
        <name>Loop_over_wallets</name>
        <label>Loop over wallets</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Wallets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_impurezze</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Impurezza_media_dei_portafogli_in_filiale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_RecordTypeId</name>
        <label>Get RecordTypeId</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Wallets_by_FilialeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MicroWallet</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wallets_by_FilialeId</name>
        <label>Get Wallets by FilialeId</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_list_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_Filiale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_numNDG__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assente</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Residuale</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordTypeId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Consulenti Finanziari</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Key Client Privati</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Enti e Tesorerie</stringValue>
            </value>
        </filters>
        <object>Wallet__c</object>
        <outputReference>Wallets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PTF_PercImpurezzaUpgrade__c</queriedFields>
        <queriedFields>PTF_PercImpurezzaDowngrade__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Impurezza_media_dei_portafogli_in_filiale</name>
        <label>Impurezza media dei portafogli in filiale</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ImpurezzeMedieText</name>
            <fieldText>&lt;p&gt;Impurezze medie dei portafogli in filiale:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Upgrade:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;{!ImpurezzaUpgradePercentage}%&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Downgrade:&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;{!ImpurezzaDowngradePercentage}%&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SommaImpurezzaDowngrade</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SommaImpurezzaUpgrade</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Wallets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wallet__c</objectType>
    </variables>
    <variables>
        <name>WalletsListSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
