BPER/DEVF/force-app/main/default/flows/Ingaggio_Bper_Opportunita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Da aggiornare il certificato prima del rilascio:
UAT: salesforcetestclient2024
PROD: salesforceprodclient2024</description>
        <name>Call</name>
        <label>Call</label>
        <locationX>779</locationX>
        <locationY>1539</locationY>
        <actionName>AggiornamentoNDGSpecchioFlowInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Esito_Chiamata</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AccountIdBCP</name>
            <value>
                <elementReference>NDG_BCP.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountIdBPER</name>
            <value>
                <elementReference>NDG_BPER.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cedFil</name>
            <value>
                <elementReference>Filiali_Table.firstSelectedRow.PTF_IdCEDFiliale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>certificationName</name>
            <value>
                <stringValue>salesforceprodclient2024</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ndgBCP</name>
            <value>
                <elementReference>NDG_BCP.CRM_NDG__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ndgBPER</name>
            <value>
                <elementReference>NDG_BPER.CRM_NDG__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AggiornamentoNDGSpecchioFlowInvocable</nameSegment>
        <outputParameters>
            <assignToReference>NewNDG_BPER</assignToReference>
            <name>newAccountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>response</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Referente_BPER_BCP</name>
        <label>Send Email to Referente BPER/BCP</label>
        <locationX>1615</locationX>
        <locationY>1374</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen_Finale</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!Formula_EmailFiliale}, {!$User.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.smartcontact@bper.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Segnalazione operazione di Mutuo da BCP verso BPER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Filiale_Error_1</name>
        <label>Set Filiale Error</label>
        <locationX>776</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>FilialeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Button_Clicked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Filiale_Error_2</name>
        <label>Set Filiale Error</label>
        <locationX>1193</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>FilialeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ingaggio_Bper_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NDG_BPER</name>
        <label>Set NDG BPER</label>
        <locationX>776</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>NDG_BPER</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NDG_Specchio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Referente_BPER</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NDG_BPER_2</name>
        <label>Set NDG BPER</label>
        <locationX>269</locationX>
        <locationY>1292</locationY>
        <assignmentItems>
            <assignToReference>NDG_BPER</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NDG_Specchio_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Referente_BPER_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Numero_Filiali</name>
        <label>Set Numero Filiali</label>
        <locationX>462</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>FilialiList_Len</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filiali_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ingaggio_Bper_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Referente_BPER</name>
        <label>Set Referente BPER</label>
        <locationX>776</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Referente_BPER</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referente_BPER</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Filiale_RT_from_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Referente_BPER_2</name>
        <label>Set Referente BPER</label>
        <locationX>277</locationX>
        <locationY>1036</locationY>
        <assignmentItems>
            <assignToReference>Referente_BPER</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referente_BPER_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ingaggio_Bper_Form</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Mutui_Finanziamenti</name>
        <choiceText>Mutui/Finanziamenti</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mutui/Finanziamenti</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Button_Clicked</name>
        <label>Button Clicked</label>
        <locationX>771</locationX>
        <locationY>1375</locationY>
        <defaultConnector>
            <targetReference>Filiale_Selezionata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Ricerca</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Ricerca.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lista_Filiali</targetReference>
            </connector>
            <label>Ricerca</label>
        </rules>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Conferma.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_Chiamata</name>
        <label>Esito Chiamata</label>
        <locationX>768</locationX>
        <locationY>1688</locationY>
        <defaultConnector>
            <targetReference>Screen_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NDG_BPER</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filiale_Selezionata</name>
        <label>Filiale Selezionata</label>
        <locationX>1186</locationX>
        <locationY>1376</locationY>
        <defaultConnector>
            <targetReference>Set_Filiale_Error_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NDG_BPER.CRM_Filiale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>FIX - CAMBIO AMBITO DI INGAGGIO</description>
    <environments>Default</environments>
    <formulas>
        <name>Autore_Formula</name>
        <dataType>String</dataType>
        <expression>&apos;U&apos; &amp; {!$User.FederationIdentifier} &amp; &apos;-&apos; &amp; {!$User.FirstName} &amp; &apos; &apos; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>Bisogno_Formula</name>
        <dataType>String</dataType>
        <expression>CASE({!Ambito_di_ingaggio}, 
&apos;Mutui/Finanziamenti&apos;, &apos;Finanziamenti&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>CloseDate_Formula</name>
        <dataType>Date</dataType>
        <expression>CASE({!Ambito_di_ingaggio}, 
&apos;Mutui/Finanziamenti&apos;, ADDMONTHS(TODAY(), 12),
null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Assegnatario_Oppty</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!NDG_BPER.PTF_Portafoglio__r.CRM_ReferentePortafoglio__r.PTF_User__c}),
{!Referente_BPER.PTF_User__c},
{!NDG_BPER.PTF_Portafoglio__r.CRM_ReferentePortafoglio__r.PTF_User__c}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_EmailFiliale</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Referente_BPER.Id}),
{!NDG_BPER.CRM_Filiale__r.CRM_EmailSB__c},
{!Referente_BPER.PTF_User__r.Email}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Filiale_NDG_BPER</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!NDG_BPER.CRM_Filiale__r.Name}), &apos;-&apos;,
{!NDG_BPER.CRM_Filiale__r.Name}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_NDG_BPER</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!NDG_BPER.CRM_NDG__c}), &apos;-&apos;,
{!NDG_BPER.CRM_NDG__c}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Nome_NDG_BPER</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!NDG_BPER.Name}), &apos;-&apos;,
{!NDG_BPER.Name}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Referente_NDG_BPER</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Referente_BPER.Name}), &apos;-&apos;,
{!Referente_BPER.Name}
)</expression>
    </formulas>
    <formulas>
        <name>SelezionaFiliale</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!NDG_BPER.PTF_StatoCRM__c} = &apos;ATT&apos; &amp;&amp; ISBLANK({!NDG_BPER.CRM_Filiale__c}),
{!NDG_BPER.PTF_StatoCRM__c} != &apos;ATT&apos; &amp;&amp; CONTAINS({!NDG_BPER.CRM_Filiale__r.Name}, &apos;Filiale 90&apos;),
{!NDG_BPER.PTF_StatoCRM__c} != &apos;ATT&apos; &amp;&amp; ISBLANK({!NDG_BPER.CRM_Filiale__c})
)</expression>
    </formulas>
    <interviewLabel>Ingaggio Bper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ingaggio Bper - Opportunità</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Ingaggio_BPER</name>
        <label>Create Ingaggio BPER</label>
        <locationX>1480</locationX>
        <locationY>1374</locationY>
        <connector>
            <targetReference>Send_Email_to_Referente_BPER_BCP</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_AmbitoDiIngaggio__c</field>
            <value>
                <elementReference>Ambito_di_ingaggio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>Autore_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Cliente__c</field>
            <value>
                <elementReference>NDG_BCP.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Motivo__c</field>
            <value>
                <stringValue>Ingaggio Bper</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NDG_Bper_Specchio__c</field>
            <value>
                <elementReference>NDG_BPER.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Notes__c</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Ingaggio_BPER_RT_from_IREX.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_IngaggioRetiEsterne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1355</locationX>
        <locationY>1374</locationY>
        <assignRecordIdToReference>OpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Ingaggio_BPER</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NDG_BPER.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Assegnatario__c</field>
            <value>
                <elementReference>Referente_BPER.PTF_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Bisogno__c</field>
            <value>
                <elementReference>Bisogno_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>BCP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataScadenzaIniziale__c</field>
            <value>
                <elementReference>CloseDate_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Cliente interessato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Oggetto__c</field>
            <value>
                <elementReference>Ambito_di_ingaggio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Ambito_di_ingaggio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_from_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>In corso</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Filiale_RT_from_Account</name>
        <label>Get Filiale RT from Account</label>
        <locationX>776</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ingaggio_BPER_RT_from_IREX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FilialeDiRelazione</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ingaggio_BPER_RT_from_IREX</name>
        <label>Get Ingaggio BPER RT from IREX</label>
        <locationX>776</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_from_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ingaggio_BPER</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRM_IngaggioRetiEsterne__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lista_Filiali</name>
        <label>Get Lista Filiali</label>
        <locationX>462</locationX>
        <locationY>1372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Numero_Filiali</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Filiale_RT_from_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Nome__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>NomeCEDFiliale</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_IdCEDFiliale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NomeCEDFiliale</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05387</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Nome__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>90 - Filiale 90 - Banca 05387</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Filiali_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CRM_Nome__c</queriedFields>
        <queriedFields>PTF_IdCEDFiliale__c</queriedFields>
        <queriedFields>CRM_EmailSB__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_NDG_Specchio</name>
        <label>Get NDG Specchio</label>
        <locationX>776</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_NDG_BPER</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NDG_BCP.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_NDGGoverno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NDG_BCP.CRM_NDGGoverno__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05387</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NDG_Specchio_2</name>
        <label>Get NDG Specchio</label>
        <locationX>266</locationX>
        <locationY>1431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_NDG_BPER_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_NDG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewNDG_BPER</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05387</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referente_BPER</name>
        <label>Get Referente BPER</label>
        <locationX>776</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Referente_BPER</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NDG_BPER.PTF_Portafoglio__r.CRM_ReferentePortafoglio__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referente_BPER_2</name>
        <label>Get Referente BPER</label>
        <locationX>276</locationX>
        <locationY>1173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Referente_BPER_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_CodiceRuolo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_Closed_Date_Referente__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>PTF_ProfiloLDAP__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NEC_F.1</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Filiali_Table.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_from_Opportunity</name>
        <label>Get RT from Opportunity</label>
        <locationX>776</locationX>
        <locationY>967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ingaggio_Bper_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_IngaggioBper</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NDG_BPER</name>
        <label>Update NDG BPER</label>
        <locationX>260</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Get_NDG_Specchio_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05387</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_NDG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewNDG_BPER</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Filiale__c</field>
            <value>
                <elementReference>Filiali_Table.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ModelloDiServizio__c</field>
            <value>
                <stringValue>Non Portafogliati</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Ingaggio_Bper_Form</name>
        <label>Ingaggio Bper Form</label>
        <locationX>776</locationX>
        <locationY>1121</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Filiale_Error_1</targetReference>
        </connector>
        <fields>
            <name>Ingaggio_Bper_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ingaggio_Bper_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IngaggioBper_Title</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ingaggio Bper&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Verifica ed inserisci le informazioni per l&apos;ingaggio &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Bper&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Info_NDG_BPER_NonPresente</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;L&apos;NDG BCP risulta essere esclusivo &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;B. CESARE PONTI&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;. Per proseguire con l&apos;ingaggio Bper selezionare la filiale sulla quale censire l&apos;NDG BPER&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NDG_BPER.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ingaggio_Bper_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ingaggio_Bper_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NDG_NDG_BPER</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;NDG BPER&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Formula_NDG_BPER}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Referente_NDG_BPER</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Referente NDG BPER&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Formula_Referente_NDG_BPER}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ingaggio_Bper_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_NDG_BPER</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nome NDG BPER&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Formula_Nome_NDG_BPER}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Filiale_NDG_BPER</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Filiale NDG BPER&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Formula_Filiale_NDG_BPER}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ingaggio_Bper_Form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ingaggio_Bper_Form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NomeCEDFiliale</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NomeCEDFiliale</elementReference>
                    </defaultValue>
                    <fieldText>Cerca per Nome Filiale o per CED Filiale:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelezionaFiliale</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ingaggio_Bper_Form_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Button_Ricerca</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Ricerca</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelezionaFiliale</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ingaggio_Bper_Form_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ingaggio_Bper_Form_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ingaggio_Bper_Form_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FilialeError_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;È&amp;nbsp;necessario selezionare una filiale e cliccare il pulsante conferma per proseguire con l&apos;ingaggio Bper.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelezionaFiliale</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>FilialeError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Filiali_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Seleziona una filiale:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filiali_List</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-28c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Filiale&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PTF_IdCEDFiliale__c&quot;,&quot;guid&quot;:&quot;column-91c7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;CED Filiale&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Id CED Filiale&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>Filiali_List</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FilialiList_Len</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>SelezionaFiliale</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NoFiliale_Error</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Nessuna filiale trovata. Modificare nome o CED filiale e riprovare la ricerca.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FilialiList_Len</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>NomeCEDFiliale</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>SelezionaFiliale</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ingaggio_Bper_Form_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Button_Conferma</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Conferma</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelezionaFiliale</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>FilialiList_Len</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ingaggio_Bper_Form_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ingaggio_Bper_Form_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ingaggio_Bper_Form_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ambito_di_ingaggio</name>
                    <choiceReferences>Mutui_Finanziamenti</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Mutui_Finanziamenti</defaultSelectedChoiceReference>
                    <fieldText>Ambito di ingaggio</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Note</name>
                    <defaultValue>
                        <stringValue>{!Note}</stringValue>
                    </defaultValue>
                    <fieldText>Note</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ingaggio_Bper_Form_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelezionaFiliale</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>969</locationX>
        <locationY>1686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IngaggioBper_Error_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ingaggio Bper&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;Si è verificato un errore durante l&apos;invocazione del servizio di portafogliazione. Si prega di riprovare più tardi.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Finale</name>
        <label>Screen Finale</label>
        <locationX>1746</locationX>
        <locationY>1374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Finale_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Finale_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessIcon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>success_icon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Finale_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 81, 87); font-size: 16px;&quot;&gt;Ingaggio Bper avvenuto con successo per il cliente &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 81, 87); font-size: 16px;&quot;&gt;{!NDG_BPER.Name} (NDG {!NDG_BPER.CRM_NDG__c})&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_NDG_Specchio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-size: 16px;&quot;&gt;Cliente: &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!NDG_BPER.Name}&lt;/strong&gt;&lt;br&gt;
&lt;span style=&quot;font-size: 16px;&quot;&gt;MDS BPER: {!NDG_BPER.ModelloDiServizio__c}&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-size: 16px;&quot;&gt;Gestore BCP: {!$User.FirstName} {!$User.LastName}&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-size: 16px;&quot;&gt;NDG BPER: {!NDG_BPER.CRM_NDG__c}&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-size: 16px;&quot;&gt;Filiale di relazione: {!NDG_BPER.CRM_Filiale__r.Name}&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-size: 16px;&quot;&gt;Ambito di Ingaggio: {!Ambito_di_ingaggio}&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-size: 16px;&quot;&gt;Note: {!Note}&lt;/span&gt;&lt;br&gt;
&lt;br&gt;
&lt;br&gt;
&lt;strong style=&quot;font-size: 16px;&quot;&gt;Il cliente {!NDG_BCP.Name} di Banca Cesare Ponti ha manifestato interesse per Mutui/Finanziamenti.&lt;/strong&gt;&lt;br&gt;
&lt;strong style=&quot;font-size: 16px;&quot;&gt;Si richiede di contattarlo per approfondire la sua manifestazione di interesse ed eventualmente fissare un appuntamento.&lt;/strong&gt;</text>
    </textTemplates>
    <variables>
        <name>FilialeError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Filiali_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FilialiList_Len</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NDG_BCP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NDG_BPER</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewNDG_BPER</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Referente_BPER</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>response</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
