BPER/DEVF/force-app/main/default/flows/Inserimento_Appuntamenti_Consulenza_Finanziaria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AggiungiAccount</name>
        <label>AggiungiAccount</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>ListaAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getCointestazioni</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetListaAccount_SIZE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetListaAccount_SIZE</name>
        <label>SetListaAccount_SIZE</label>
        <locationX>226</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>ListaAccount_SIZE</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListaAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cointestazioni_hanno_contratti_di_CE_attivi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetListaCointestazioniConCE</name>
        <label>SetListaCointestazioniConCE</label>
        <locationX>138</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>ListaCointestazioniConCE_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContrattiCE_LOOP.FinServ__JointOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContrattiCE_LOOP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNDGCollegatiList</name>
        <label>SetNDGCollegatiList</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ListaNDGCollegati_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NDGCollegati_LOOP.CRM_RelatedAccount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NDGCollegati_LOOP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNDGPrimario</name>
        <label>SetNDGPrimario</label>
        <locationX>94</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ListaAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getNDGCollegati</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckNDGCollegati</name>
        <label>CheckNDGCollegati</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>SetListaAccount_SIZE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NDG non Presenti</defaultConnectorLabel>
        <rules>
            <name>NDGPresenti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNDGCollegati</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NDGCollegati_LOOP</targetReference>
            </connector>
            <label>NDGPresenti</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cointestazioni_hanno_contratti_di_CE_attivi</name>
        <label>Cointestazioni hanno contratti di CE attivi?</label>
        <locationX>226</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Screen_finale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListaAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appuntamenti_Consulenza_Finanziaria</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>getCointestazioni_is_Null</name>
        <label>getCointestazioni is Null?</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>AggiungiAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCointestazioni</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetListaAccount_SIZE</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>NDG_ha_contratti_di_CE_attivi</name>
        <label>NDG ha contratti di CE attivi?</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>getNDGCollegati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contratti_CE_NDG_Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNDGPrimario</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <description>Sviluppo check contratti CE + Controllo data retroattiva 3 mesi</description>
    <environments>Default</environments>
    <formulas>
        <name>MONTHS3_TODAY</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),-3)</expression>
    </formulas>
    <interviewLabel>Inserimento Appuntamenti Consulenza Finanziaria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inserimento Appuntamenti Consulenza Finanziaria</label>
    <loops>
        <name>ContrattiCE_LOOP</name>
        <label>ContrattiCE-LOOP</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <collectionReference>Get_Contratti_CE_NDG_Cointestazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetListaCointestazioniConCE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getCointestazioni</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>NDGCollegati_LOOP</name>
        <label>NDGCollegati-LOOP</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <collectionReference>getNDGCollegati</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetNDGCollegatiList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contratti_CE_NDG_Cointestazioni</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creazione_Appuntamento</name>
        <label>Creazione Appuntamento</label>
        <locationX>94</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Screen_finale</targetReference>
        </connector>
        <inputAssignments>
            <field>BankIT_Nome_Cliente__c</field>
            <value>
                <elementReference>getAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankIT_Nome_Titolare_CE__c</field>
            <value>
                <elementReference>Tabella_Cointestazioni.firstSelectedRow.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Materie_Trattate__c</field>
            <value>
                <elementReference>MasterAppuntamento.CRM_Materie_Trattate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Nome_Cliente__c</field>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Nome_Titolare_CE__c</field>
            <value>
                <elementReference>Tabella_Cointestazioni.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_incontro__c</field>
            <value>
                <elementReference>Data_incontro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referente_Optima__c</field>
            <value>
                <elementReference>MasterAppuntamento.Referente_Optima__c</elementReference>
            </value>
        </inputAssignments>
        <object>Appuntamento_Consulenza_Finanziaria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contratti_CE_NDG_Cliente</name>
        <label>Get Contratti CE NDG Cliente</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NDG_ha_contratti_di_CE_attivi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specialist Consulting</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__PrimaryOwner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATTIVO</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__JointOwner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contratti_CE_NDG_Cointestazioni</name>
        <label>Get Contratti CE NDG Cointestazioni</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContrattiCE_LOOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATTIVO</stringValue>
            </value>
        </filters>
        <filters>
            <field>FinServ__JointOwner__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ListaNDGCollegati_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specialist Consulting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contratti_CE_NDG_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCointestazioni</name>
        <label>getCointestazioni</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCointestazioni_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ListaCointestazioniConCE_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cointestazione</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNDGCollegati</name>
        <label>getNDGCollegati</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckNDGCollegati</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CRM_LinkedNDG__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Appuntamenti_Consulenza_Finanziaria</name>
        <label>Appuntamenti Consulenza Finanziaria Avanzata</label>
        <locationX>94</locationX>
        <locationY>2282</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Creazione_Appuntamento</targetReference>
        </connector>
        <fields>
            <name>Appuntamenti_Consulenza_Finanziaria_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appuntamenti_Consulenza_Finanziaria_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NDGCliente</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;NDG Cliente&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getAccount.CRM_NDG__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Appuntamenti_Consulenza_Finanziaria_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NomeCompletoNDG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Nome Cliente&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getAccount.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Appuntamenti_Consulenza_Finanziaria_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appuntamenti_Consulenza_Finanziaria_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tabella_Cointestazioni</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Titolare Contratto CE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ListaAccount</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;CRM_NDG__c&quot;,&quot;guid&quot;:&quot;column-2416&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;NDG&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c077&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Appuntamenti_Consulenza_Finanziaria_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MasterAppuntamento.Referente_Optima__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Appuntamenti_Consulenza_Finanziaria_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appuntamenti_Consulenza_Finanziaria_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Data_incontro</name>
                    <dataType>Date</dataType>
                    <fieldText>Data incontro</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;La data deve essere compresa tra oggi e i precedenti tre mesi.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Data_incontro} &gt;= {!MONTHS3_TODAY} &amp;&amp;
{!Data_incontro} &lt;= {!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Appuntamenti_Consulenza_Finanziaria_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Appuntamenti_Consulenza_Finanziaria_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appuntamenti_Consulenza_Finanziaria_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>MasterAppuntamento.CRM_Materie_Trattate__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Salva</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_finale</name>
        <label>Screen finale</label>
        <locationX>226</locationX>
        <locationY>2582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Testo_di_inserimento_OK</name>
            <fieldText>&lt;p&gt;Appuntamento inserito con successo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ListaAccount_SIZE</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>KO</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Errore: Non sono presenti contratti di CE attivi​&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ListaAccount_SIZE</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ListaAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListaAccount_SIZE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListaCointestazioniConCE_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaNDGCollegati_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterAppuntamento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appuntamento_Consulenza_Finanziaria__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
