BPER/DEVF/force-app/main/default/flows/JBSystemFlow_CampaignMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_FireJBTrigger</name>
        <label>SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;ContactId&quot;,
  &quot;relationshipName&quot;: &quot;Contact&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510000848</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CampaignId&quot;,&quot;CRM_Esito__c&quot;,&quot;Data_Ingresso__c&quot;,&quot;CRM_DataEsitazione__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;CampaignMember:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;CRM_NDG__c&quot;,&quot;PTF_ABI_CED__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;CRM_NDGReferenteImpresa__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67</name>
        <label>JB_Decision_Null_Check_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Decision</name>
        <label>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67</name>
            <conditionLogic>(1 AND  ( ( ( (2 OR 3)  OR 4)  OR 5)  AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013X000002Vl2zQAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013X000002Vl34QAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013X000002Vl8xQAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013X000002Vl92QAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CRM_Esito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente non raggiungibile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_State_change_Decision</name>
        <label>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67</name>
            <conditionLogic>NOT  (1 AND  ( ( ( (2 OR 3)  OR 4)  OR 5)  AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013X000002Vl2zQAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013X000002Vl34QAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013X000002Vl8xQAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CampaignId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013X000002Vl92QAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CRM_Esito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente non raggiungibile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_CampaignMember</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObja0a6f2cb8bbd68c593e4ae079c188a67</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
