BPER/DEVF/force-app/main/default/flows/Link_Account_to_Case_Chat_channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Case_from_new_pre_chat_form</name>
        <label>Case from new pre-chat form?</label>
        <locationX>867</locationX>
        <locationY>697</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_from_new_pre_chat_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_CasefromNewPrechatForm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SI_prechatformnew</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCRMSource</targetReference>
            </connector>
            <label>Case is from new pre chat form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Motivo_della_chat_value</name>
        <label>Check Motivo della chat value</label>
        <locationX>1214</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attivazione_nuovo_Internet_Banking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attivazione nuovo Internet Banking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_motivo_della_chat_Attivazione_nuovo_Internet_Banking</targetReference>
            </connector>
            <label>Attivazione nuovo Internet Banking</label>
        </rules>
        <rules>
            <name>Carte_di_pagamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carte di pagamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_motivo_della_chat_Carte_di_pagamento</targetReference>
            </connector>
            <label>Carte di pagamento</label>
        </rules>
        <rules>
            <name>Conto_corrente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conto corrente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_motivo_della_chat_Conto_corrente</targetReference>
            </connector>
            <label>Conto corrente</label>
        </rules>
        <rules>
            <name>Condizioni_economiche</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Condizioni economiche</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_motivo_della_chat_Condizioni_economiche</targetReference>
            </connector>
            <label>Condizioni economiche</label>
        </rules>
        <rules>
            <name>Altri_prodotti_e_servizi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Altri prodotti e servizi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_chat_Altri_prodotti_servizi</targetReference>
            </connector>
            <label>Altri prodotti e servizi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Motivo_della_chat_value_0</name>
        <label>Check Motivo della chat value</label>
        <locationX>1299</locationX>
        <locationY>1101</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internet_Banking_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internet Banking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_motivo_della_chat_Internet_Banking_0</targetReference>
            </connector>
            <label>Internet Banking</label>
        </rules>
        <rules>
            <name>Carte_di_pagamento_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carte di pagamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_motivo_della_chat_Carte_di_pagamento_0</targetReference>
            </connector>
            <label>Carte di pagamento</label>
        </rules>
        <rules>
            <name>Altri_prodotti_e_servizi_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Altri prodotti e servizi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_chat_Altri_prodotti_servizi_0</targetReference>
            </connector>
            <label>Altri prodotti e servizi</label>
        </rules>
        <rules>
            <name>Blocco_carta_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocco carta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Blocco_carta</targetReference>
            </connector>
            <label>Blocco carta</label>
        </rules>
        <rules>
            <name>Informazioni_carta_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informazioni carta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Informazioni_carta</targetReference>
            </connector>
            <label>Informazioni carta</label>
        </rules>
        <rules>
            <name>Attivazione_carta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attivazione carta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Attivazione_carta</targetReference>
            </connector>
            <label>Attivazione carta</label>
        </rules>
        <rules>
            <name>Aggiungi_carta_prepagata_in_rubrica_Smart_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aggiunta carta prepagata in rubrica Smart</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Aggiungi_carta_prepagata_in_rubrica_Smart_0</targetReference>
            </connector>
            <label>Aggiungi carta prepagata in rubrica Smart</label>
        </rules>
        <rules>
            <name>Supporto_Trading_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supporto Trading Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Supporto_Trading_Online</targetReference>
            </connector>
            <label>Supporto Trading Online</label>
        </rules>
        <rules>
            <name>Disposizioni_Trading_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disposizioni Trading Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Disposizioni_Trading_Online</targetReference>
            </connector>
            <label>Disposizioni Trading Online</label>
        </rules>
        <rules>
            <name>Informazioni_sugli_investimenti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informazioni sugli investimenti</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Informazioni_sugli_investimenti_0</targetReference>
            </connector>
            <label>Informazioni sugli investimenti</label>
        </rules>
        <rules>
            <name>Prestito_Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prestito Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Prestito_Online_0</targetReference>
            </connector>
            <label>Prestito Online</label>
        </rules>
        <rules>
            <name>Paga_Poi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paga Poi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Paga_Poi</targetReference>
            </connector>
            <label>Paga Poi</label>
        </rules>
        <rules>
            <name>Informazioni_sui_finanziamenti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informazioni sui finanziamenti</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Informazioni_sui_finanziamenti</targetReference>
            </connector>
            <label>Informazioni sui finanziamenti</label>
        </rules>
        <rules>
            <name>Informazioni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informazioni</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Informazioni</targetReference>
            </connector>
            <label>Informazioni</label>
        </rules>
        <rules>
            <name>Bloccocredenzialidiaccesso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocco credenziali di accesso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Blocco_IB_0</targetReference>
            </connector>
            <label>Blocco credenziali di accesso</label>
        </rules>
        <rules>
            <name>Prodotti_IB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prodotti IB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Prodotti_IB</targetReference>
            </connector>
            <label>Prodotti IB</label>
        </rules>
        <rules>
            <name>Supporto_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUPPORTO APP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Supporto_App</targetReference>
            </connector>
            <label>Supporto App</label>
        </rules>
        <rules>
            <name>Blocco_carta_di_debito_carige_cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocco carta di debito carige cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_chat_Blocco_carta_di_debito_carige_cash</targetReference>
            </connector>
            <label>Blocco carta di debito carige cash</label>
        </rules>
        <rules>
            <name>Informazioni_Polizza_Sorriso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Informazioni Polizza Sorriso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_motivo_della_Chat_Informazioni_0</targetReference>
            </connector>
            <label>Informazioni Polizza Sorriso</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCRMSource</name>
        <label>CheckCRMSource</label>
        <locationX>1185</locationX>
        <locationY>707</locationY>
        <defaultConnector>
            <targetReference>Check_Motivo_della_chat_value_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OFM</name>
            <conditionLogic>1 OR ( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unblu Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_MotivoDellaChat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OFM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseOFM</targetReference>
            </connector>
            <label>OFM</label>
        </rules>
    </decisions>
    <description>Inserimento motivo di contatto &quot;Informazioni Polizza Sorriso&quot; + Update ramo &quot;Informazioni&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Link Account to Case - Chat channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link Account to Case - Chat channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Aggiungi_carta_prepagata_in_rubrica_Smart_0</name>
        <label>Update Case - motivo della Chat Aggiungi carta prepagata in rubrica Smart</label>
        <locationX>2319</locationX>
        <locationY>1853</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Funzionalità IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level2__c</field>
            <value>
                <stringValue>Rubrica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level3__c</field>
            <value>
                <stringValue>Collegamento carta in rubrica</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_chat_Altri_prodotti_servizi</name>
        <label>Update Case - motivo della chat Altri prodotti servizi</label>
        <locationX>1662</locationX>
        <locationY>30</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Extraordinary operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Altri prodotti e servizi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Continuità operativa prodotti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_chat_Altri_prodotti_servizi_0</name>
        <label>Update Case - motivo della chat Altri prodotti servizi</label>
        <locationX>1679</locationX>
        <locationY>940</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Other products and services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Attivazione_carta</name>
        <label>Update Case - motivo della Chat Attivazione carta</label>
        <locationX>2419</locationX>
        <locationY>1683</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Cards</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Attivazione nuova plastica (sblocco Poker)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_motivo_della_chat_Attivazione_nuovo_Internet_Banking</name>
        <label>Update case - motivo della chat Attivazione nuovo Internet Banking</label>
        <locationX>1672</locationX>
        <locationY>255</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Extraordinary operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Migrazione Internet banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Blocco_carta</name>
        <label>Update Case - motivo della Chat Blocco carta</label>
        <locationX>2690</locationX>
        <locationY>1171</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Cards</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Blocco/sblocco</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_chat_Blocco_carta_di_debito_carige_cash</name>
        <label>Update Case - motivo della chat Blocco carta di debito carige cash</label>
        <locationX>1652</locationX>
        <locationY>806</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CC_Tipologia_carta__c</field>
            <value>
                <stringValue>Carta di debito</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Cards</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Blocco/sblocco</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Blocco_IB_0</name>
        <label>Update Case - motivo della Chat Blocco IB</label>
        <locationX>515</locationX>
        <locationY>1104</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Sicurezza IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_motivo_della_chat_Carte_di_pagamento</name>
        <label>Update case - motivo della chat Carte di pagamento</label>
        <locationX>1688</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Extraordinary operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Carte</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Continuità operativa prodotti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_motivo_della_chat_Carte_di_pagamento_0</name>
        <label>Update case - motivo della chat Carte di pagamento</label>
        <locationX>2637</locationX>
        <locationY>942</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Cards</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_motivo_della_chat_Condizioni_economiche</name>
        <label>Update case - motivo della chat Condizioni economiche</label>
        <locationX>1753</locationX>
        <locationY>139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Extraordinary operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Condizioni economiche</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_motivo_della_chat_Conto_corrente</name>
        <label>Update case - motivo della chat Conto corrente</label>
        <locationX>1689</locationX>
        <locationY>577</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Extraordinary operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Conti Correnti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Continuità operativa prodotti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Disposizioni_Trading_Online</name>
        <label>Update Case - motivo della Chat Disposizioni Trading Online</label>
        <locationX>1637</locationX>
        <locationY>1793</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Funzionalità IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level2__c</field>
            <value>
                <stringValue>Trading</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Informazioni</name>
        <label>Update Case - motivo della Chat Informazioni</label>
        <locationX>760</locationX>
        <locationY>1597</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Other products and services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Informazioni_0</name>
        <label>Update Case - motivo della Chat Informazioni</label>
        <locationX>50</locationX>
        <locationY>1778</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Other products and services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Sorriso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Assicurazioni</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Informazioni_carta</name>
        <label>Update Case - motivo della Chat Informazioni carta</label>
        <locationX>2592</locationX>
        <locationY>1299</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Cards</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Informazioni_sugli_investimenti_0</name>
        <label>Update Case - motivo della Chat Informazioni sugli investimenti</label>
        <locationX>1548</locationX>
        <locationY>2012</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Funzionalità IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level2__c</field>
            <value>
                <stringValue>Investimenti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Informazioni_sui_finanziamenti</name>
        <label>Update Case - motivo della Chat Informazioni sui finanziamenti</label>
        <locationX>1256</locationX>
        <locationY>2141</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Funzionalità IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level2__c</field>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_motivo_della_chat_Internet_Banking_0</name>
        <label>Update case - motivo della chat Internet Banking</label>
        <locationX>2619</locationX>
        <locationY>768</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Paga_Poi</name>
        <label>Update Case - motivo della Chat Paga Poi</label>
        <locationX>1103</locationX>
        <locationY>1546</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Funzionalità IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level2__c</field>
            <value>
                <stringValue>Paga Poi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Prestito_Online_0</name>
        <label>Update Case - motivo della Chat Prestito Online</label>
        <locationX>1411</locationX>
        <locationY>2098</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Funzionalità IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level2__c</field>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Prodotti_IB</name>
        <label>Update Case - motivo della Chat Prodotti IB</label>
        <locationX>583</locationX>
        <locationY>1285</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <elementReference>Altri_prodotti_e_servizi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Supporto_App</name>
        <label>Update Case - motivo della Chat Supporto App</label>
        <locationX>800</locationX>
        <locationY>1419</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_motivo_della_Chat_Supporto_Trading_Online</name>
        <label>Update Case - motivo della Chat Supporto Trading Online</label>
        <locationX>1714</locationX>
        <locationY>1623</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>Funzionalità IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level2__c</field>
            <value>
                <stringValue>Trading</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Assegnato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseOFM</name>
        <label>UpdateCaseOFM</label>
        <locationX>903</locationX>
        <locationY>919</locationY>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Other products and services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Conto On Demand</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>666</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Case_from_new_pre_chat_form</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_MotivoDellaChat__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SI_prechatformnew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </variables>
</Flow>
