BPER/DEVF/force-app/main/default/flows/LinkUtiliPossessoProdotti.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>CR(70235: Renaming Link Rata in Conto su Link Utili di scheda cliente e Link Utili di Possesso Prodotti)</description>
    <environments>Default</environments>
    <formulas>
        <name>AnagrafeWEBLink_CO</name>
        <dataType>String</dataType>
        <expression>&apos;https://intrawseal.gbbper.priv/Anagrafe/Anagrafe/crea-cointestazione/visualizza/ndgCointestazione/&apos;+{!NDG_Formula}+&apos;/abi/&apos;+{!Get_NDG.FinServ__BankNumber__c}</expression>
    </formulas>
    <formulas>
        <name>AnagrafeWEBLink_PF</name>
        <dataType>String</dataType>
        <expression>&apos;https://intrawseal.gbbper.priv/Anagrafe/Anagrafe/persone-fisiche/censimento-completo/visualizza/abi/&apos;+{!Get_NDG.FinServ__BankNumber__c}+&apos;/ndgSettoriale/&apos;+{!NDG_Formula}</expression>
    </formulas>
    <formulas>
        <name>AnagrafeWEBLink_PG</name>
        <dataType>String</dataType>
        <expression>&apos;https://intrawseal.gbbper.priv/Anagrafe/Anagrafe/persone-giuridiche/censimento-completo/visualizza/abi/&apos;+{!Get_NDG.FinServ__BankNumber__c}+&apos;/ndgSettoriale/&apos;+{!NDG_Formula}</expression>
    </formulas>
    <formulas>
        <name>BSTORE_Link</name>
        <dataType>String</dataType>
        <expression>IF(
OR({!Get_Financial_Account.FinServ__PrimaryOwner__r.RecordType.DeveloperName} = 
&apos;PersonAccount&apos;,{!Get_Financial_Account.FinServ__PrimaryOwner__r.RecordType.DeveloperName} = &apos;Cointestazione&apos;), 
&apos;https://intrawseal.gbbper.priv/bstore/bstore-vendita/getClientDetailByNDG?ndg=&apos; + {!Get_Financial_Account.FinServ__PrimaryOwner__r.CRM_NDG__c} + &apos;&amp;abi=&apos; + {!Get_Financial_Account.FinServ__PrimaryOwner__r.FinServ__BankNumber__c}, &apos;https://intrawseal.gbbper.priv/bstore/bstore-vendita/getCorporateClientDetailByNDG?ndg=&apos; + {!Get_Financial_Account.FinServ__PrimaryOwner__r.CRM_NDG__c} + &apos;&amp;abi=&apos; + {!Get_Financial_Account.FinServ__PrimaryOwner__r.FinServ__BankNumber__c}
)</expression>
    </formulas>
    <formulas>
        <name>GECO_Link</name>
        <dataType>String</dataType>
        <expression>&apos;https://intrawseal.gbbper.priv/covenant/gecoCtx/#/ricerca?abi=&apos; + {!Get_Financial_Account.FinServ__PrimaryOwner__r.FinServ__BankNumber__c} + &apos;&amp;ndg=&apos; + {!Get_Financial_Account.FinServ__PrimaryOwner__r.CRM_NDG__c}</expression>
    </formulas>
    <formulas>
        <name>MIDA_Link</name>
        <dataType>String</dataType>
        <expression>&apos;https://intrawseal.gbbper.priv/premia&apos;</expression>
    </formulas>
    <formulas>
        <name>NDG_Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Financial_Account.FinServ__JointOwner__c}),
LPAD({!Get_NDG.CRM_NDG__c}, 15, &apos;0&apos;),
LPAD({!Get_Financial_Account.FinServ__JointOwner__r.CRM_NDG__c}, 15, &apos;0&apos;))</expression>
    </formulas>
    <formulas>
        <name>PEF_Link</name>
        <dataType>String</dataType>
        <expression>&apos;https://intrawseal.gbbper.priv/pefCtx/jspfree/index.jspx?BPERSSO_ABINDG=&apos; + {!Get_Financial_Account.FinServ__PrimaryOwner__r.FinServ__BankNumber__c} + &apos;&amp;BPERSSO_NDG=&apos; + {!Get_Financial_Account.FinServ__PrimaryOwner__r.CRM_NDG__c}</expression>
    </formulas>
    <formulas>
        <name>PICO_Link</name>
        <dataType>String</dataType>
        <expression>&apos;https://intrawseal.gbbper.priv/PFPWeb1WSService/access/doAccessDiagnosi?codice=&apos; + LPAD({!Get_NDG.CRM_NDG__c},9,&apos;0&apos;) + LPAD({!Get_NDG.FinServ__BankNumber__c},5,&apos;0&apos;)+ &apos;&amp;SOTTORUOLO=PRIV&amp;CHIAVEUTENTE=&apos; + LPAD({!Get_NDG.FinServ__BankNumber__c},5,&apos;0&apos;) + LPAD({!$User.PTF_RegistrationNumber__c},7,&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>PPV_Link</name>
        <dataType>String</dataType>
        <expression>&apos;https://intrawseal.gbbper.priv/ocsfeest/bsas/singleSignOn.jsp&apos;</expression>
    </formulas>
    <interviewLabel>LinkUtiliPossessoProdotti {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link Utili - Possesso Prodotti</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Financial_Account</name>
        <label>Get Financial Account</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NDG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NDG</name>
        <label>Get NDG</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Financial_Account.FinServ__PrimaryOwner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Link</name>
        <label>Link</label>
        <locationX>777</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Link_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Link_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>L4eyesPortaliIncassi</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/foureyes-bper/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(54, 129, 189); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;4eyes Portali Incassi&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Movimenti</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/ExtranetSamlSSO/ArcaSGR&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(54, 129, 189);&quot;&gt;&lt;u&gt;Abacus - DFP dispositivo&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ArcaFriend</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/pba/pba/#/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;ArcaFriend&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assi</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/Assi/example/example&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(54, 129, 189);&quot;&gt;&lt;u&gt;Assi&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Link_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Link_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AnagrafeWEB_PF</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!AnagrafeWEBLink_PF}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Anagrafe WEB&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_NDG.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PersonAccount</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Financial_Account.FinServ__JointOwner__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AnagraficaWEBPG</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!AnagrafeWEBLink_PG}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Anagrafe WEB&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_NDG.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>IndustriesBusiness</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AnagrafeWEBCO</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!AnagrafeWEBLink_CO}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Anagrafe WEB&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_NDG.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PersonAccount</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Financial_Account.FinServ__JointOwner__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ArcaAssicurazioni</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/pba/pba/#/assicurazioneArcaVita&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Assicurazioni Arca Vita&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bibanca</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://www.bibanca.it/bper-card/privati&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Bibanca&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bstore</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!BSTORE_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Bstore&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Link_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Link_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CentraleRischi</name>
                    <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(54, 129, 189);&quot;&gt;Centrale Rischi&lt;/u&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Condizioni</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/IntranetBperSSO/SSO?IDAPPL=COND04&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(49, 128, 192);&quot;&gt;&lt;u&gt;Condizioni&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Anatocismo</name>
                    <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(54, 129, 189); background-color: rgb(255, 255, 255);&quot;&gt;Conteggi anatocismo&lt;/u&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreditiDocumentari</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/IntranetBperSSO/SSO?IDAPPL=CREDOC&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Crediti Documentari Web&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Link_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Link_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreditiDiFirma</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/IntranetBperSSO/SSO?IDAPPL=CDFWEB&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Crediti di Firma&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DashboardPOS</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/IntranetBperSSO/SSO?IDAPPL=MONPOS&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(54, 129, 189);&quot;&gt;&lt;u&gt;Dashboard Pos (non monetica)&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exact</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/IntranetBperSSO/SSO?IDAPPL=CARTE&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;Exact (Gestione Carte)&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GECO</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!GECO_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;GECO&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Link_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Link_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GlobalAdvisory</name>
                    <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(54, 129, 189); background-color: rgb(255, 255, 255);&quot;&gt;Global Advisory&lt;/u&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CondizioniereWeb</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/IntranetBperSSO/SSO?IDAPPL=CONDFU&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(49, 128, 192);&quot;&gt;&lt;u&gt;Ins/Var Condizioni Front-End Unico&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MIDA</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!MIDA_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;MIDA&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RataInConto</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/ratainconto/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;PagaPoi&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Link_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Link_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PEF</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!PEF_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;PEF&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PICO</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!PICO_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;PICO&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PortaleVendita</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://intrawseal.gbbper.priv/IntranetBperSSO/SSO?IDAPPL=PORVEN&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(49, 128, 192);&quot;&gt;&lt;u&gt;Portale di Vendita&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Link_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PPV</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!PPV_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;PPV&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Financial_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
