BPER/DEVF/force-app/main/default/flows/Logica_Alert_PICO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_indicatore_to_Indicatori_Cointestazioni</name>
        <label>Add indicatore to Indicatori Cointestazioni</label>
        <locationX>270</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>Lista_IndicatoriCointestazioni</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Indicatore_by_Cointestazione</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_cointestazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Saldo_CC_Percentuale</name>
        <label>Assign Saldo CC Percentuale</label>
        <locationX>50</locationX>
        <locationY>3782</locationY>
        <assignmentItems>
            <assignToReference>SaldoContoCorrentePercentuale</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_cointestazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ultimo_Contattto_Visibilita</name>
        <label>Assign Ultimo Contattto Visibilita</label>
        <locationX>50</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>UltimoContattoVisibilita</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Visibilit_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingAdeguatezzaRischioPTF</name>
        <label>AssingAdeguatezzaRischioPTF</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>AdeguatezzaRischioPTFVisiblita</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVisibilita3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingAderenzaPTFModello</name>
        <label>AssingAderenzaPTFModello</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>AderenzaPTFModelloVisibilita</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVisibilita4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingAdesioneConsulenza</name>
        <label>AssingAdesioneConsulenza</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>AdesioneConsulenzaVisbilita</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVisibilita2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingMonitoraggioCOnsEvolutiva</name>
        <label>AssingMonitoraggioCOnsEvolutiva</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>MonitoraggioConsulEvoVisibilita</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVisibilita7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingOperazioniInCorsoGP</name>
        <label>AssingOperazioniInCorsoGP</label>
        <locationX>50</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>OperazioniInCorsoGPVisibilita</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVisibilita6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingQuestScadenza</name>
        <label>AssingQuestScadenza</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>QuestionarioScadenzaVisibilita</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVisibilita5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingSaldoContoCorrente</name>
        <label>AssingSaldoContoCorrente</label>
        <locationX>50</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>SaldoContoCorrenteVisibilita</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Visibilit_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingTitoliInScadenza</name>
        <label>AssingTitoliInScadenza</label>
        <locationX>50</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>TitoliInScadenzaVisibilita</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterNDG</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVisibilita8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_aderenza_PTF</name>
        <label>Set concat aderenza PTF</label>
        <locationX>270</locationX>
        <locationY>5366</locationY>
        <assignmentItems>
            <assignToReference>AderenzaPTF</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AderenzaPTF</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AderenzaPTF</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_PICO_AderenzaPTFModello__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AderenzaPTF</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Questionario_scadenza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_adesione_alla_consulenza</name>
        <label>Set concat adesione alla consulenza</label>
        <locationX>270</locationX>
        <locationY>4694</locationY>
        <assignmentItems>
            <assignToReference>AdesioneAllaConsulenza_Concat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdesioneAllaConsulenza_Concat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdesioneAllaConsulenza_Concat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_AdesioneConsulenza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdesioneAllaConsulenza_Concat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_rischio_PTF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_Monitor_Ccons</name>
        <label>Set concat Monitor Ccons</label>
        <locationX>270</locationX>
        <locationY>6374</locationY>
        <assignmentItems>
            <assignToReference>MonitoraggioConsulenzaConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MonitoraggioConsulenzaConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MonitoraggioConsulenzaConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_MonitoraggioConsEvoluta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MonitoraggioConsulenzaConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_TitoliSCad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_Operazioni_GP</name>
        <label>Set concat Operazioni GP</label>
        <locationX>270</locationX>
        <locationY>6038</locationY>
        <assignmentItems>
            <assignToReference>OperazioniGPConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OperazioniGPConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OperazioniGPConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_OpInCorsoGP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OperazioniGPConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Monitoraggio_consul</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_quest_scad</name>
        <label>Set concat quest scad</label>
        <locationX>270</locationX>
        <locationY>5702</locationY>
        <assignmentItems>
            <assignToReference>ScadenzaQuestConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScadenzaQuestConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScadenzaQuestConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_QuestionarioScadenza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScadenzaQuestConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Operazioni_GP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_rischio_Ptf</name>
        <label>Set concat rischio Ptf</label>
        <locationX>270</locationX>
        <locationY>5030</locationY>
        <assignmentItems>
            <assignToReference>RischioPTFCOncat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RischioPTFCOncat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RischioPTFCOncat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_AdeguatezzaRischioPortafoglio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RischioPTFCOncat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Aderenza_PTF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_SaldoCC</name>
        <label>Set concat SaldoCC</label>
        <locationX>270</locationX>
        <locationY>7046</locationY>
        <assignmentItems>
            <assignToReference>SaldoCCCOCncat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaldoCCCOCncat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaldoCCCOCncat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_PICO_SaldoCC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaldoCCCOCncat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Ultimo_Contatto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_SaldoCCPercent</name>
        <label>Set concat SaldoCCPercent</label>
        <locationX>270</locationX>
        <locationY>7718</locationY>
        <assignmentItems>
            <assignToReference>SaldoCCPercConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaldoCCPercConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaldoCCPercConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_SaldoCCPerc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SaldoCCPercConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_indicatori_cointestazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_Titoli_SCad</name>
        <label>Set concat Titoli SCad</label>
        <locationX>270</locationX>
        <locationY>6710</locationY>
        <assignmentItems>
            <assignToReference>TitoliScadConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TitoliScadConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TitoliScadConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_TitoliScadenza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TitoliScadConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SaldoCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_concat_Ultimo_Contatto</name>
        <label>Set concat Ultimo Contatto</label>
        <locationX>270</locationX>
        <locationY>7382</locationY>
        <assignmentItems>
            <assignToReference>UltimoContattoConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConcatNDGAlert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimoContattoConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimoContattoConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_indicatori_cointestazioni.CRM_UltimoContatto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UltimoContattoConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Saldo_CC_Percentuale</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>IconaBarra</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/Barra&apos;/&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Aderenza_PTF</name>
        <label>Check Aderenza PTF</label>
        <locationX>402</locationX>
        <locationY>5246</locationY>
        <defaultConnector>
            <targetReference>Check_Questionario_scadenza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NULL_AderenzaPTF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_AderenzaPtfModello__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_concat_aderenza_PTF</targetReference>
            </connector>
            <label>!= NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Monitoraggio_consul</name>
        <label>Check Monitoraggio consul</label>
        <locationX>402</locationX>
        <locationY>6254</locationY>
        <defaultConnector>
            <targetReference>Check_TitoliSCad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NULLOmonitoraggioConsul</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_MonitoraggioConsEvoluta__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_concat_Monitor_Ccons</targetReference>
            </connector>
            <label>!= NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Operazioni_GP</name>
        <label>Check Operazioni GP</label>
        <locationX>402</locationX>
        <locationY>5918</locationY>
        <defaultConnector>
            <targetReference>Check_Monitoraggio_consul</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NULLOperazioniGP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_OpInCorsoGP__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_concat_Operazioni_GP</targetReference>
            </connector>
            <label>!= NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Questionario_scadenza</name>
        <label>Check Questionario scadenza</label>
        <locationX>402</locationX>
        <locationY>5582</locationY>
        <defaultConnector>
            <targetReference>Check_Operazioni_GP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NULL_AderenzaPTF_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_QuestionarioInScadenza__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_concat_quest_scad</targetReference>
            </connector>
            <label>!= NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_rischio_PTF</name>
        <label>Check rischio PTF</label>
        <locationX>402</locationX>
        <locationY>4910</locationY>
        <defaultConnector>
            <targetReference>Check_Aderenza_PTF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NULL_RischioPTF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_AdeguatezzaRischioPortafoglio__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_concat_rischio_Ptf</targetReference>
            </connector>
            <label>!= NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Saldo_CC_Percentuale</name>
        <label>Check Saldo CC Percentuale</label>
        <locationX>402</locationX>
        <locationY>7598</locationY>
        <defaultConnector>
            <targetReference>Loop_over_indicatori_cointestazioni</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOTNULL10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_SaldoCCPerc__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_SaldoCCPerc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_concat_SaldoCCPercent</targetReference>
            </connector>
            <label>!=NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SaldoCC</name>
        <label>Check SaldoCC</label>
        <locationX>402</locationX>
        <locationY>6926</locationY>
        <defaultConnector>
            <targetReference>Check_Ultimo_Contatto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NULLOSaldoCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_SaldoCC__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_concat_SaldoCC</targetReference>
            </connector>
            <label>!= NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_TitoliSCad</name>
        <label>Check TitoliSCad</label>
        <locationX>402</locationX>
        <locationY>6590</locationY>
        <defaultConnector>
            <targetReference>Check_SaldoCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NULLOTitoliSCad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_TitoliScadenza__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_concat_Titoli_SCad</targetReference>
            </connector>
            <label>!= NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ultimo_Contatto</name>
        <label>Check Ultimo Contatto</label>
        <locationX>402</locationX>
        <locationY>7262</locationY>
        <defaultConnector>
            <targetReference>Check_Saldo_CC_Percentuale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NOTNULL9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_SaldoCC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_SaldoCC__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_concat_Ultimo_Contatto</targetReference>
            </connector>
            <label>!=NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visibilit_10</name>
        <label>Check Visibilità 10</label>
        <locationX>182</locationX>
        <locationY>3662</locationY>
        <defaultConnector>
            <targetReference>Loop_over_cointestazioni</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Visibile</defaultConnectorLabel>
        <rules>
            <name>Visibile10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_SaldoCCPerc__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_SaldoCCPerc__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Saldo_CC_Percentuale</targetReference>
            </connector>
            <label>Visibile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visibilit_9</name>
        <label>Check Visibilità 9</label>
        <locationX>182</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>Check_Visibilit_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non visibile</defaultConnectorLabel>
        <rules>
            <name>Visibile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_UltimoContatto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_UltimoContatto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ultimo_Contattto_Visibilita</targetReference>
            </connector>
            <label>Visibile</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVisibilita1</name>
        <label>CheckVisibilita1</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>CheckVisibilita2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Visible</defaultConnectorLabel>
        <rules>
            <name>Visible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_AdesioneConsulenza__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_AdesioneConsulenza__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingAdesioneConsulenza</targetReference>
            </connector>
            <label>Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVisibilita2</name>
        <label>CheckVisibilita2</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>CheckVisibilita3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Visible</defaultConnectorLabel>
        <rules>
            <name>Visible_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_AdeguatezzaRischioPortafoglio__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_AdeguatezzaRischioPortafoglio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingAdeguatezzaRischioPTF</targetReference>
            </connector>
            <label>Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVisibilita3</name>
        <label>CheckVisibilita3</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>CheckVisibilita4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Visible</defaultConnectorLabel>
        <rules>
            <name>Visible_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_AderenzaPtfModello__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_AderenzaPtfModello__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingAderenzaPTFModello</targetReference>
            </connector>
            <label>Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVisibilita4</name>
        <label>CheckVisibilita4</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>CheckVisibilita5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Visible</defaultConnectorLabel>
        <rules>
            <name>Visible_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_QuestionarioInScadenza__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_QuestionarioInScadenza__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingQuestScadenza</targetReference>
            </connector>
            <label>Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVisibilita5</name>
        <label>CheckVisibilita5</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>CheckVisibilita6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Visible</defaultConnectorLabel>
        <rules>
            <name>Visible_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_OpInCorsoGP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_OpInCorsoGP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingOperazioniInCorsoGP</targetReference>
            </connector>
            <label>Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVisibilita6</name>
        <label>CheckVisibilita6</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>CheckVisibilita7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Visible</defaultConnectorLabel>
        <rules>
            <name>Visible_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_MonitoraggioConsEvoluta__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_MonitoraggioConsEvoluta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingMonitoraggioCOnsEvolutiva</targetReference>
            </connector>
            <label>Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVisibilita7</name>
        <label>CheckVisibilita7</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>CheckVisibilita8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Visible</defaultConnectorLabel>
        <rules>
            <name>Visible_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_TitoliScadenza__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_TitoliScadenza__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingTitoliInScadenza</targetReference>
            </connector>
            <label>Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVisibilita8</name>
        <label>CheckVisibilita8</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Check_Visibilit_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Visible</defaultConnectorLabel>
        <rules>
            <name>Visible_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_SaldoCC__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetIndicatori.CRM_C_SaldoCC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssingSaldoContoCorrente</targetReference>
            </connector>
            <label>Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>q</name>
        <label>Check adesione alla consulenza</label>
        <locationX>402</locationX>
        <locationY>4574</locationY>
        <defaultConnector>
            <targetReference>Check_rischio_PTF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>NULL_AdesioneConsulenza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_indicatori_cointestazioni.CRM_C_AdesioneConsulenza__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_concat_adesione_alla_consulenza</targetReference>
            </connector>
            <label>!= NULL</label>
        </rules>
    </decisions>
    <description>versione con tutti gli OutPut</description>
    <environments>Default</environments>
    <formulas>
        <name>AderenzaPTFClean</name>
        <dataType>String</dataType>
        <expression>LEFT({!AderenzaPTF},LEN({!AderenzaPTF}) - 2)</expression>
    </formulas>
    <formulas>
        <name>AdesioneAllaConsulClean</name>
        <dataType>String</dataType>
        <expression>LEFT({!AdesioneAllaConsulenza_Concat},LEN({!AdesioneAllaConsulenza_Concat}) - 2)</expression>
    </formulas>
    <formulas>
        <name>ConcatNDGAlert</name>
        <dataType>String</dataType>
        <expression>&quot;NDG: &quot;+ {!Loop_over_indicatori_cointestazioni.CRM_Account__r.CRM_NDG__c} + &quot; - Alert&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_Adeguatezzaptf</name>
        <dataType>String</dataType>
        <expression>{!GetIndicatori.CRM_AdeguatezzaRischioPortafoglio__c}</expression>
    </formulas>
    <formulas>
        <name>Formula_AderenzaPtf</name>
        <dataType>String</dataType>
        <expression>{!GetIndicatori.CRM_PICO_AderenzaPTFModello__c}</expression>
    </formulas>
    <formulas>
        <name>Formula_AdesioneConsulenza</name>
        <dataType>String</dataType>
        <expression>{!GetIndicatori.CRM_AdesioneConsulenza__c}</expression>
    </formulas>
    <formulas>
        <name>Formula_MonitoraggioConsulenza</name>
        <dataType>String</dataType>
        <expression>{!GetIndicatori.CRM_MonitoraggioConsEvoluta__c}</expression>
    </formulas>
    <formulas>
        <name>Formula_OperazioniGP</name>
        <dataType>String</dataType>
        <expression>{!GetIndicatori.CRM_OpInCorsoGP__c}</expression>
    </formulas>
    <formulas>
        <name>Formula_QuestionarioInScadenza</name>
        <dataType>String</dataType>
        <expression>{!GetIndicatori.CRM_QuestionarioScadenza__c}</expression>
    </formulas>
    <formulas>
        <name>Formula_SaldoCC</name>
        <dataType>String</dataType>
        <expression>{!GetIndicatori.CRM_PICO_SaldoCC__c}</expression>
    </formulas>
    <formulas>
        <name>Formula_TitoliScadenza</name>
        <dataType>String</dataType>
        <expression>{!GetIndicatori.CRM_TitoliScadenza__c}</expression>
    </formulas>
    <formulas>
        <name>MonitoraggioConsulenzaConcatClean</name>
        <dataType>String</dataType>
        <expression>LEFT({!MonitoraggioConsulenzaConcat},LEN({!MonitoraggioConsulenzaConcat}) - 2)</expression>
    </formulas>
    <formulas>
        <name>OperazioniGPConcatClean</name>
        <dataType>String</dataType>
        <expression>LEFT({!OperazioniGPConcat}, LEN({!OperazioniGPConcat}) - 2)</expression>
    </formulas>
    <formulas>
        <name>RischioPTFCOncatClean</name>
        <dataType>String</dataType>
        <expression>LEFT({!RischioPTFCOncat},LEN({!RischioPTFCOncat}) - 2)</expression>
    </formulas>
    <formulas>
        <name>SaldoCCCOCncatClean</name>
        <dataType>String</dataType>
        <expression>LEFT({!SaldoCCCOCncat}, LEN({!SaldoCCCOCncat}) - 2)</expression>
    </formulas>
    <formulas>
        <name>ScadenzaQuestConcatClean</name>
        <dataType>String</dataType>
        <expression>LEFT({!ScadenzaQuestConcat},LEN({!ScadenzaQuestConcat}) - 2)</expression>
    </formulas>
    <formulas>
        <name>TitoliScadConcatClean</name>
        <dataType>String</dataType>
        <expression>LEFT({!TitoliScadConcat},LEN({!TitoliScadConcat}) - 2)</expression>
    </formulas>
    <interviewLabel>Logica Alert PICO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Logica Alert PICO</label>
    <loops>
        <name>Loop_over_cointestazioni</name>
        <label>Loop over cointestazioni</label>
        <locationX>182</locationX>
        <locationY>3998</locationY>
        <collectionReference>Get_indicatori_Cointestazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Indicatore_by_Cointestazione</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_indicatori_cointestazioni</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_indicatori_cointestazioni</name>
        <label>Loop over indicatori cointestazioni</label>
        <locationX>182</locationX>
        <locationY>4454</locationY>
        <collectionReference>Lista_IndicatoriCointestazioni</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>q</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Indicatore_by_Cointestazione</name>
        <label>Get Indicatore by Cointestazione</label>
        <locationX>270</locationX>
        <locationY>4118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_indicatore_to_Indicatori_Cointestazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_cointestazioni.CRM_RelatedAccount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_Flat.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_IndicatoriCliente__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_indicatori_Cointestazioni</name>
        <label>Get indicatori Cointestazioni</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckVisibilita1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_LinkCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>101</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CRM_LinkedNDG__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NDG</name>
        <label>Get NDG</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Flat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Flat</name>
        <label>Get RT Flat</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIndicatori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flat</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIndicatori</name>
        <label>GetIndicatori</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_indicatori_Cointestazioni</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_Flat.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_IndicatoriCliente__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NDG</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdeguatezzaRischioPTFNDGFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Formula_Adeguatezzaptf</elementReference>
        </value>
    </variables>
    <variables>
        <name>AdeguatezzaRischioPTFVisiblita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AderenzaPTF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AderenzaPTFModelloVisibilita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AderenzaPTFNDGFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Formula_AderenzaPtf</elementReference>
        </value>
    </variables>
    <variables>
        <name>AdesioneAllaConsulenza_Concat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AdesioneConsulenzaNDGFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Formula_AdesioneConsulenza</elementReference>
        </value>
    </variables>
    <variables>
        <name>AdesioneConsulenzaVisbilita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterNDG</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Lista_IndicatoriCointestazioni</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_IndicatoriCliente__c</objectType>
    </variables>
    <variables>
        <name>MonitoraggioConsulenzaConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MonitoraggioConsulenzaNDGConsulenza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Formula_MonitoraggioConsulenza</elementReference>
        </value>
    </variables>
    <variables>
        <name>MonitoraggioConsulEvoVisibilita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OperazioniGPConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OperazioniInCorsoGPNDGFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Formula_OperazioniGP</elementReference>
        </value>
    </variables>
    <variables>
        <name>OperazioniInCorsoGPVisibilita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuestionarioScadenzaNDGFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Formula_QuestionarioInScadenza</elementReference>
        </value>
    </variables>
    <variables>
        <name>QuestionarioScadenzaVisibilita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RischioPTFCOncat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SaldoCCCOCncat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SaldoCCNDGFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Formula_SaldoCC</elementReference>
        </value>
    </variables>
    <variables>
        <name>SaldoCCPerc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetIndicatori.CRM_SaldoCCPerc__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>SaldoCCPercConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SaldoContoCorrentePercentuale</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SaldoContoCorrenteVisibilita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ScadenzaQuestConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TitoliInScadenzaVisibilita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TitoliScadConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TitoliScadenzaNDGFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Formula_TitoliScadenza</elementReference>
        </value>
    </variables>
    <variables>
        <name>UltimoContatto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetIndicatori.CRM_UltimoContatto__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>UltimoContattoConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UltimoContattoVisibilita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
