BPER/DEVF/force-app/main/default/flows/Modifica_informazioni_anagrafiche.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_errortext</name>
        <label>Set errortext</label>
        <locationX>732</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ImpostazionePreferenzeDiContatto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_errortext_0</name>
        <label>Set errortext</label>
        <locationX>722</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_input</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_input</name>
        <label>Check input</label>
        <locationX>841</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>Set_errortext</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Time ko</defaultConnectorLabel>
        <rules>
            <name>Time_ok</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Formula_CheckOre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Seleziona_periodo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationScreen</targetReference>
            </connector>
            <label>Time ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_permission</name>
        <label>Check permission</label>
        <locationX>130</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Show_not_permitted_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not allowed</defaultConnectorLabel>
        <rules>
            <name>Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_CheckPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NDG</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CanalePreferenziale</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_ContactPreference__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GiornoPreferenziale</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_GiornoPreferenzialePicklist__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InteressiPersonali</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FinServ__PersonalInterests__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PeriodoPreferenziale</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_PeriodoPreferenzialeContatto__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SlotMinuti</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_SlotMinuti__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SlotOre</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_SlotOre__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Formula_CheckOre</name>
        <dataType>Boolean</dataType>
        <expression>IF (
VALUE({!Ora_inizio}) &lt; VALUE({!Ora_fIne}), TRUE,
IF (AND(VALUE({!Ora_inizio}) = VALUE({!Ora_fIne}), VALUE({!Minuti_inizio}) = VALUE({!Minuti_fine})),
VALUE({!Minuti_inizio}) &lt; VALUE({!Minuti_fine}), FALSE
)
)</expression>
    </formulas>
    <formulas>
        <name>Formula_CheckPermission</name>
        <dataType>Boolean</dataType>
        <expression>OR(
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.CAPOGRUPPO.0&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.CAPOGRUPPO.1&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.BANCA.1&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.DR.1&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.DR.2&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.DR.4&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.DR.5&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.AREA.1&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.AREA.2&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.AREA.4&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.FILIALE.1&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.FILIALE.2&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.FILIALE.3&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.FILIALE.4&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.FIL.CAPOFILA.1&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.FIL.CAPOFILA.2&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.FIL.CAPOFILA.3&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.FIL.CAPOFILA.4&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.CONS.FIN.1&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.CONS.FIN.2&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.ESTERO.1&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.ESTERO.2&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.ESTERO.3&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.CEN.IMPR.RESP.SPEC.1&apos;),
CONTAINS({!$User.CRM_PermissionSet__c}, &apos;NEC_CRM.CEN.IMPR.AMM.2&apos;),
{!$Profile.Name} = &apos;NEC_ADMIN&apos;
)</expression>
    </formulas>
    <formulas>
        <name>Formula_ConcatTime</name>
        <dataType>String</dataType>
        <expression>IF (
{!Seleziona_periodo} = FALSE,
{!Ora_inizio} + &quot;:&quot; + {!Minuti_inizio} + &quot; - &quot; + {!Ora_fIne} + &quot;:&quot; + {!Minuti_fine},
{!Periodo_della_giornata}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_InteressiPersonali</name>
        <dataType>String</dataType>
        <expression>IF (
{!Get_NDG.RecordType.DeveloperName} = &apos;PersonAccount&apos;, {!InteressiPersonali_1}, NULL
)</expression>
    </formulas>
    <formulas>
        <name>Formula_PossessoAnimali</name>
        <dataType>Boolean</dataType>
        <expression>IF (
{!Get_NDG.RecordType.DeveloperName} = &apos;PersonAccount&apos;, {!Possesso_animali}, FALSE
)</expression>
    </formulas>
    <formulas>
        <name>Formula_PossessoAnimaliRecap</name>
        <dataType>String</dataType>
        <expression>IF (
{!Possesso_animali} = TRUE, &apos;Sì&apos;, &apos;No&apos;
)</expression>
    </formulas>
    <interviewLabel>Modifica informazioni anagrafiche {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modifica informazioni anagrafiche</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_NDG</name>
        <label>Get NDG</label>
        <locationX>377</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ImpostazionePreferenzeDiContatto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NDG</name>
        <label>Update NDG</label>
        <locationX>1271</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_ContactPreferenceDay__c</field>
            <value>
                <elementReference>Giorno_preferenziale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ContactPreferenceTimeSlot__c</field>
            <value>
                <elementReference>Formula_ConcatTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ContactPreference__c</field>
            <value>
                <elementReference>Canale_preferenziale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MinutiFine__c</field>
            <value>
                <elementReference>Minuti_fine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MinutiInizio__c</field>
            <value>
                <elementReference>Minuti_inizio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_OraFine__c</field>
            <value>
                <elementReference>Ora_fIne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_OraInizio__c</field>
            <value>
                <elementReference>Ora_inizio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_PossessoAnimali__c</field>
            <value>
                <elementReference>Formula_PossessoAnimali</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__PersonalInterests__c</field>
            <value>
                <elementReference>Formula_InteressiPersonali</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>1055</locationX>
        <locationY>255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_NDG</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;Per confermare l&apos;operazione, cliccare sul pulsante &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;Avanti&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;Viceversa, cliccare sul pulsante &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;Indietro&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ConfirmationScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Selection1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 81, 87); font-size: 16px;&quot;&gt;La selezione prevede:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 81, 87); font-size: 16px;&quot;&gt;Canale&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 81, 87); font-size: 16px;&quot;&gt;: {!Canale_preferenziale}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 81, 87); font-size: 16px;&quot;&gt;Giorno&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 81, 87); font-size: 16px;&quot;&gt;: {!Giorno_preferenziale}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 81, 87); font-size: 16px;&quot;&gt;Slot&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 81, 87); font-size: 16px;&quot;&gt;: {!Formula_ConcatTime}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PossessoAnimaliRecap</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 81, 87);&quot;&gt;Possesso animali: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 81, 87);&quot;&gt;{!Formula_PossessoAnimaliRecap}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_NDG.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PersonAccount</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InteressiPersonaliRecap</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;Interessi personali: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 81, 87); background-color: rgb(255, 255, 255);&quot;&gt;{!Formula_InteressiPersonali}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_NDG.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>PersonAccount</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ImpostazionePreferenzeDiContatto</name>
        <label>ImpostazionePreferenzeDiContatto</label>
        <locationX>627</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_errortext_0</targetReference>
        </connector>
        <fields>
            <name>ImpostazionePreferenzeDiContatto_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ImpostazionePreferenzeDiContatto_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ImmaginiRecapitiPReferenzeContatto</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>RecapitiePreferenzediContatto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ImpostazionePreferenzeDiContatto_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ImpostazionePreferenzeDiContatto_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Canale_preferenziale</name>
                    <choiceReferences>CanalePreferenziale</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_NDG.CRM_ContactPreference__c</elementReference>
                    </defaultValue>
                    <fieldText>Canale preferenziale</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ImpostazionePreferenzeDiContatto_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Giorno_preferenziale</name>
                    <choiceReferences>GiornoPreferenziale</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_NDG.CRM_ContactPreferenceDay__c</elementReference>
                    </defaultValue>
                    <fieldText>Giorno preferenziale</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ImpostazionePreferenzeDiContatto_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ImpostazionePreferenzeDiContatto_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Seleziona_periodo</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Seleziona periodo</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ImpostazionePreferenzeDiContatto_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InizioTitle</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 81, 87);&quot;&gt;Inizio&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Seleziona_periodo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ora_inizio</name>
                    <choiceReferences>SlotOre</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_NDG.CRM_OraInizio__c</elementReference>
                    </defaultValue>
                    <fieldText>Ore inizio</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Seleziona_periodo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Minuti_inizio</name>
                    <choiceReferences>SlotMinuti</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_NDG.CRM_MinutiInizio__c</elementReference>
                    </defaultValue>
                    <fieldText>Minuti inizio</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Seleziona_periodo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Periodo_della_giornata</name>
                    <choiceReferences>PeriodoPreferenziale</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_NDG.CRM_ContactPreferenceTimeSlot__c</elementReference>
                    </defaultValue>
                    <fieldText>Periodo della giornata</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Seleziona_periodo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ImpostazionePreferenzeDiContatto_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FineTitle</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 81, 87);&quot;&gt;Fine&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Seleziona_periodo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ora_fIne</name>
                    <choiceReferences>SlotOre</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_NDG.CRM_OraFine__c</elementReference>
                    </defaultValue>
                    <fieldText>Ore fIne</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Seleziona_periodo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Minuti_fine</name>
                    <choiceReferences>SlotMinuti</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_NDG.CRM_MinutiFine__c</elementReference>
                    </defaultValue>
                    <fieldText>Minuti fine</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Seleziona_periodo</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Lo slot selezionato non valido.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ImpostazionePreferenzeDiContatto_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ImpostazionePreferenzeDiContatto_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ImmagineInfoCliente</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>InformazioniCliente</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_NDG.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PersonAccount</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ImpostazionePreferenzeDiContatto_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ImpostazionePreferenzeDiContatto_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Possesso_animali</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_NDG.CRM_PossessoAnimali__c</elementReference>
                    </defaultValue>
                    <fieldText>Possesso animali</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ImpostazionePreferenzeDiContatto_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InteressiPersonali_1</name>
                    <choiceReferences>InteressiPersonali</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_NDG.FinServ__PersonalInterests__c</elementReference>
                    </defaultValue>
                    <fieldText>Interessi Personali</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_NDG.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PersonAccount</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_not_permitted_error</name>
        <label>Show not permitted error</label>
        <locationX>53</locationX>
        <locationY>391</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAllowed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Non si dispone dei permessi necessari per procedere con questa azione.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1437</locationX>
        <locationY>260</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SuccessScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>success_icon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SuccessScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 81, 87);&quot;&gt;Le preferenze di contatto sono state aggiornate correttamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Check_permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
