BPER/DEVF/force-app/main/default/flows/Modifica_Attivazione_Vecchio_Cliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>InvokeWS</name>
        <label>InvokeWS</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <actionName>CRM_IngaggioAgentiNdgNonAttivi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Switch_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>abi</name>
            <value>
                <elementReference>MasterRecord.ABI_Utente__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ndg</name>
            <value>
                <elementReference>MasterRecord.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CRM_IngaggioAgentiNdgNonAttivi</nameSegment>
        <outputParameters>
            <assignToReference>CodiceErrore</assignToReference>
            <name>codice</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IdNewAccount</assignToReference>
            <name>idNewAccount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>MessaggioErrore</assignToReference>
            <name>messaggio</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Segnala_NDGMancante</name>
        <label>Segnala NDG Mancante</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>MasterRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NDG_Clean</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterRecord.Denominazione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Denominazione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterRecord.Codice_Fiscale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Fiscale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterRecord.Partita_IVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partita_IVA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InvokeWS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountList</name>
        <label>Set AccountList</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>AccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MasterAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conferma_Salvataggio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MasterAccount</name>
        <label>Set MasterAccount</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>MasterAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterAccount.CRM_NDG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MasterRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AccountList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MasterRecord</name>
        <label>Set MasterRecord</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>MasterRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Segnala_NDG_Mancante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Segnala_NDG_Mancante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MasterRecord_Segnalazione_NDG_Mancante_1</name>
        <label>Set MasterRecord Segnalazione NDG Mancante</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>MasterRecord.Data_di_Inserimento_del__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterRecord.Lavorato_del__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterRecord.Stato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inserito</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Segnalazione_NDG_Mancante_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MasterRecord_Segnalazione_NDG_Mancante_2</name>
        <label>Set MasterRecord Segnalazione NDG Mancante</label>
        <locationX>358</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>MasterRecord.Stato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Segnalazione_NDG_Mancante_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Switch_Response</name>
        <label>Switch Response</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_MasterRecord_Segnalazione_NDG_Mancante_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errore Generico</defaultConnectorLabel>
        <rules>
            <name>NDG_Creato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CodiceErrore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MasterRecord_Segnalazione_NDG_Mancante_1</targetReference>
            </connector>
            <label>NDG Creato</label>
        </rules>
        <rules>
            <name>NDG_non_presente_AG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CodiceErrore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>400</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MasterRecord_Segnalazione_NDG_Mancante_2</targetReference>
            </connector>
            <label>NDG non presente AG</label>
        </rules>
        <rules>
            <name>Esito_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CodiceErrore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MasterRecord_Segnalazione_NDG_Mancante_2</targetReference>
            </connector>
            <label>Esito KO</label>
        </rules>
    </decisions>
    <description>SEGNALAZIONE(73876: Mancato recepimento NDG 030527581)</description>
    <environments>Default</environments>
    <formulas>
        <name>Link_NDG</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot; &amp; {!IdNewAccount}, &apos;Nome NDG&apos;, &apos;_self&apos; )</expression>
    </formulas>
    <formulas>
        <name>NDG_Clean</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!NDG}))</expression>
    </formulas>
    <interviewLabel>Modifica Attivazione Vecchio Cliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modifica Attivazione Vecchio Cliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_New_Account</name>
        <label>Get New Account</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_MasterAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdNewAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PTF_Nome__pc</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Segnala_NDG_Mancante</name>
        <label>Get Segnala NDG Mancante</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_MasterRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Segnala_NDG_Mancante__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Segnalazione_NDG_Mancante_1</name>
        <label>Update Segnalazione NDG Mancante</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_New_Account</targetReference>
        </connector>
        <inputReference>MasterRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Segnalazione_NDG_Mancante_2</name>
        <label>Update Segnalazione NDG Mancante</label>
        <locationX>358</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Esito_chiamata_KO</targetReference>
        </connector>
        <inputReference>MasterRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Conferma_Salvataggio</name>
        <label>Conferma Salvataggio</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Frase_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;La richiesta è stata eseguita con successo. L&apos;NDG è stato inserito in CRM-Salesforce ed è disponibile cliccando sul nominativo del cliente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AccountList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CRM_NDG__c&quot;,&quot;guid&quot;:&quot;column-579c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;NDG&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PTF_Nome__pc&quot;,&quot;guid&quot;:&quot;column-dbff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nominativo&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Esito_chiamata_KO</name>
        <label>Esito chiamata KO</label>
        <locationX>358</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Frase_2</name>
            <fieldText>&lt;p&gt;{!MessaggioErrore}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Segnala_NDG_Mancante</name>
        <label>Form Segnala NDG Mancante</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Segnala_NDGMancante</targetReference>
        </connector>
        <fields>
            <name>NDG</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MasterRecord.Name</elementReference>
            </defaultValue>
            <fieldText>NDG</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Sono ammessi massimo 9 numeri.&lt;/p&gt;&lt;p&gt;Non sono ammesse lettere e caratteri speciali.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN ({!NDG}) &lt; 10
&amp;&amp; ISNUMBER({!NDG})
&amp;&amp; NOT(CONTAINS({!NDG}, &apos;.&apos;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ABI</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(116, 116, 116); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;ABI&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!MasterRecord.CRM_ABI__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Denominazione</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MasterRecord.Denominazione__c</elementReference>
            </defaultValue>
            <fieldText>Denominazione</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Codice_Fiscale</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MasterRecord.Codice_Fiscale__c</elementReference>
            </defaultValue>
            <fieldText>Codice Fiscale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Partita_IVA</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MasterRecord.Partita_IVA__c</elementReference>
            </defaultValue>
            <fieldText>Partita IVA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Salva</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Segnala_NDG_Mancante</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CodiceErrore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdNewAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MasterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Segnala_NDG_Mancante__c</objectType>
    </variables>
    <variables>
        <name>MessaggioErrore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
