BPER/DEVF/force-app/main/default/flows/Nuovo_appuntamento_Scheduler_Appuntamento_mass_market.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Task_fields</name>
        <label>Set Task fields</label>
        <locationX>1193</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appuntamento da fissare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_Data_e_ora_dell_appuntamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CRM_SubjectTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contatto tel. cliente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_Note_utili_alla_filiale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vicario.PTF_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_Data_e_ora_dell_appuntamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataOraAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_Data_e_ora_dell_appuntamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>note</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_Note_utili_alla_filiale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.CRM_DataOraDesiderataAppuntamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_Data_e_ora_dell_appuntamento</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>Formula_PTFUser</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Vicario.PTF_User__c}), &quot;&quot;, {!Get_Vicario.PTF_User__c})</expression>
    </formulas>
    <interviewLabel>Nuovo appuntamento - Scheduler - Appuntamento mass-market {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nuovo appuntamento - Scheduler - Appuntamento mass-market</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_NDG</name>
        <label>Get NDG</label>
        <locationX>344</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_by_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Nome__c</queriedFields>
        <queriedFields>FinServ__BankNumber__c</queriedFields>
        <queriedFields>EA_Abi__c</queriedFields>
        <queriedFields>PTF_Filiale__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PTF_PortafoglioAssegnato__c</queriedFields>
        <queriedFields>PTF_IdCED__c</queriedFields>
        <queriedFields>PTF_Banca__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Task</name>
        <label>Get RT Task</label>
        <locationX>1038</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Task_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Presa_apppuntamento</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vicario</name>
        <label>Get Vicario</label>
        <locationX>788</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_appuntamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>filialeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_Ruolo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>100</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PTF_User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_appuntamento</name>
        <label>Screen appuntamento</label>
        <locationX>864</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RT_Task</targetReference>
        </connector>
        <fields>
            <name>MessageCompilazione</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Compila di seguito:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_Data_e_ora_dell_appuntamento</name>
            <dataType>DateTime</dataType>
            <fieldText>1. Data e ora dell&apos;appuntamento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Inserire una data e ora validi&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!X1_Data_e_ora_dell_appuntamento} &gt;= NOW()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>X2_Note_utili_alla_filiale</name>
            <fieldText>2. Note utili alla filiale</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_NDG</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Contact_by_Account</name>
        <label>Get Contact by Account</label>
        <locationX>434</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Selezione_Filiale_v2</targetReference>
        </connector>
        <flowName>Get_Contact_by_Account</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Get_NDG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_NDG.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Contact</assignToReference>
            <name>Contact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Selezione_Filiale_v2</name>
        <label>Selezione Filiale v2</label>
        <locationX>610</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Vicario</targetReference>
        </connector>
        <flowName>Nuovo_appuntamento_Scheduler_Selezione_filiale_v2</flowName>
        <inputAssignments>
            <name>campaignMemberId</name>
        </inputAssignments>
        <inputAssignments>
            <name>NDG</name>
            <value>
                <elementReference>Get_NDG</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>filialeId</assignToReference>
            <name>filialeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>dataOraAppuntamento</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>filialeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>note</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
