BPER/DEVF/force-app/main/default/flows/Nuovo_appuntamento_Scheduler_Inserimento_email_cliente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_ContactEmail</name>
        <label>Assign ContactEmail</label>
        <locationX>997</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>appointmentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ContactEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_ContactEmail_0</name>
        <label>Assign ContactEmail</label>
        <locationX>910</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>appointmentEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Option_ClienteHaEmail_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option_ClienteHaEmail_Si</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option_EmailCorretta_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option_EmailCorretta_Si</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_EmailCorretta</name>
        <label>Check EmailCorretta</label>
        <locationX>713</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Screen_InsertNewEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email non corretta</defaultConnectorLabel>
        <rules>
            <name>Email_corretta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OptionEmailCorretta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Option_EmailCorretta_Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ContactEmail</targetReference>
            </connector>
            <label>Email corretta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cliente_ha_email</name>
        <label>Cliente ha email?</label>
        <locationX>609</locationX>
        <locationY>627</locationY>
        <defaultConnector>
            <targetReference>Check_EmailCorretta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non ha email</defaultConnectorLabel>
        <rules>
            <name>Ha_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_CheckEmailCliente</targetReference>
            </connector>
            <label>Ha email</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_ContactEmail</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Get_NDG.CRM_SmartWebEmail__c}), {!Get_NDG.CRM_SmartWebEmail__c}, {!Get_NDG.CRM_GenericEmail__c})</expression>
    </formulas>
    <interviewLabel>Nuovo appuntamento - Scheduler - Inserimento email cliente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nuovo appuntamento - Scheduler - Inserimento email cliente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_NDG</name>
        <label>Get NDG</label>
        <locationX>196</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_ha_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_CheckEmailCliente</name>
        <label>Screen_CheckEmailCliente</label>
        <locationX>508</locationX>
        <locationY>826</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_EmailCorretta</targetReference>
        </connector>
        <fields>
            <name>Text_CheckEmail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Per concludere, invia al cliente promemoria per l&apos;appuntamento.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La mail di seguito è corretta?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Formula_ContactEmail}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OptionEmailCorretta</name>
            <choiceReferences>Option_EmailCorretta_Si</choiceReferences>
            <choiceReferences>Option_EmailCorretta_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleziona un valore</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_InsertNewEmail</name>
        <label>Screen_InsertNewEmail</label>
        <locationX>717</locationX>
        <locationY>1159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_ContactEmail_0</targetReference>
        </connector>
        <fields>
            <name>Il_cliente_ha_una_email</name>
            <choiceReferences>Option_ClienteHaEmail_Si</choiceReferences>
            <choiceReferences>Option_ClienteHaEmail_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Il cliente ha una email?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_InsertNewEmail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Inserisci l&apos;indirizzo email e clicca su avanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Il_cliente_ha_una_email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Option_ClienteHaEmail_Si</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Il_cliente_ha_una_email</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Option_ClienteHaEmail_Si</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Get_NDG</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appointmentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>accountID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
