BPER/DEVF/force-app/main/default/flows/Possesso_Prodotti_CS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>Formula_ThumbUpDown</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_current_NDG.CRM_MifidDueDate__c} &gt;= TODAY()</expression>
    </formulas>
    <formulas>
        <name>Formula_Total</name>
        <dataType>String</dataType>
        <expression>IF (
{!Get_current_NDG.RecordType.DeveloperName} = &apos;PersonAccount&apos;, &apos;16&apos;, &apos;13&apos;
)</expression>
    </formulas>
    <interviewLabel>Possesso Prodotti CS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Possesso Prodotti CS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_current_NDG</name>
        <label>Get current NDG</label>
        <locationX>50</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PossessoProdotti_CS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>PossessoProdotti_CS</name>
        <label>PossessoProdotti_CS</label>
        <locationX>212</locationX>
        <locationY>209</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PossessoProdotti_CS_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PossessoProdotti_CS_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bisogno_Titolo</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Bisogno&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Transazionale</name>
                    <fieldText>&lt;p&gt;Transazionale&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Investimento</name>
                    <fieldText>&lt;p&gt;Investimento&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Finanziamento</name>
                    <fieldText>&lt;p&gt;Finanziamento&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Previdenza</name>
                    <fieldText>&lt;p&gt;Previdenza e protezione&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OperativitaDistanza</name>
                    <fieldText>&lt;p&gt;Operatività a distanza&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PossessoProdotti_CS_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PorodottiPosseduti_Titolo</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;N° Prodotti posseduti&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Numero_Transazionale</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 58, 58);&quot;&gt;4&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Investimento_numero</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(71, 169, 21);&quot;&gt;7&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Finanziamento_Numero</name>
                    <fieldText>&lt;p&gt;3&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Previdenza_Numero</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(218, 58, 58);&quot;&gt;1&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Operativita_Numero</name>
                    <fieldText>&lt;p&gt;1&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PossessoProdotti_CS_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Target_Titolo</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Target Cross-Selling&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Transazionale_Target</name>
                    <fieldText>&lt;p&gt;6&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Investimento_Target</name>
                    <fieldText>&lt;p&gt;6&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Finanziamento_Target</name>
                    <fieldText>&lt;p&gt;3&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Previdenza_Target</name>
                    <fieldText>&lt;p&gt;2&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Operativita_Target</name>
                    <fieldText>&lt;p&gt;1&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PossessoProdotti_CS_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PossessoProdotti_CS_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bisogno_Imp</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Bisogno&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PossessoProdotti_CS_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumProdotti_imp</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;N° Prodotti posseduti&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PossessoProdotti_CS_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_current_NDG.FirstName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>sag</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>113</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Get_current_NDG</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>LinkERating</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;www.google.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;E-rating&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testcheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
