BPER/DEVF/force-app/main/default/flows/Procedura_guidata_gestione_cliente_target_scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>InvokeWs_0</name>
        <label>InvokeWs</label>
        <locationX>1782</locationX>
        <locationY>1366</locationY>
        <actionName>AggiornamentoEsitazioneFlowInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkEsitoWS_0</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>apiRequestName</name>
            <value>
                <stringValue>salvaEsitazioneAzioniNec</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>certificationName</name>
            <value>
                <stringValue>salesforceprodclient2024</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>disableLog</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>note</name>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stato</name>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AggiornamentoEsitazioneFlowInvocable</nameSegment>
        <outputParameters>
            <assignToReference>EsitoWS</assignToReference>
            <name>response</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InvokeWs_0_0_0</name>
        <label>InvokeWs</label>
        <locationX>3642</locationX>
        <locationY>1214</locationY>
        <actionName>AggiornamentoEsitazioneFlowInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkEsitoWS_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>apiRequestName</name>
            <value>
                <stringValue>salvaEsitazioneAzioniNec</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>certificationName</name>
            <value>
                <stringValue>salesforceprodclient2024</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>disableLog</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>note</name>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stato</name>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AggiornamentoEsitazioneFlowInvocable</nameSegment>
        <outputParameters>
            <assignToReference>EsitoWS</assignToReference>
            <name>response</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Hesitation_to_text_variable</name>
        <label>Add Hesitation to text variable</label>
        <locationX>677</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>TextCollectionListofHesitations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_list_oh_hesitation_to_text_variable_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_list_oh_hesitation_to_text_variable_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Motivo_Rifiuto_to_List</name>
        <label>Add Motivo Rifiuto to List</label>
        <locationX>2477</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>MotiviRifiutoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Formula_MotiviRifiuto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_MotiviRifiuto_Rimanenti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Motivo_Rifuto_Selezionato</name>
        <label>Add Motivo Rifuto Selezionato</label>
        <locationX>2870</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>MotivoRifiutoSelezionato_2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Formula_TEMP_MotivoRifiuto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Motivi_Rifiuto_Selezionati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_MotiviRifiuto_Rimanenti</name>
        <label>Assegna MotiviRifiuto Rimanenti</label>
        <locationX>2332</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>TEMP_MotiviRifiuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_MotiviRifiutoRimanente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TEMP_Motivo_Rifiuto_Nullo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_columns_table_to_variable</name>
        <label>Assign columns table to variable</label>
        <locationX>522</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>ColonneTabella</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColonneTabella</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FinServ__BankNumber__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_list_oh_hesitation_to_text_variable_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Esito_non_selezionato_equals_to_False</name>
        <label>Assign Esito non selezionato equals to False</label>
        <locationX>1443</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>EsitoNonSelezionato</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_nome_esito_selezionato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_esito_selezionato</name>
        <label>Assign esito selezionato</label>
        <locationX>897</locationX>
        <locationY>1063</locationY>
        <assignmentItems>
            <assignToReference>EsitoSelezionatoID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Estio_ClienteNonAdeguato.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_nome_esito_selezionato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NoteAppuntamento</name>
        <label>Assign NoteAppuntamento</label>
        <locationX>3808</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>NoteAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note_aggiuntive_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WS_da_chiamare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_stessa_filiale_to_variable</name>
        <label>Assign stessa filiale to variable</label>
        <locationX>3171</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>FinalFilialeSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale.CRM_Nome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailFilialeAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale.CRM_EmailSB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilialeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalIdCedFilialeSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale.PTF_IdCEDFiliale__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_isNewAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_stessa_filiale_to_variable_0</name>
        <label>Assign stessa filiale to variable</label>
        <locationX>3486</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>FinalFilialeSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale_0.CRM_Nome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailFilialeAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale_0.CRM_EmailSB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilialeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalIdCedFilialeSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale_0.PTF_IdCEDFiliale__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WS_da_chiamare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TEMP_Motivi_Rifiuto</name>
        <label>Assign TEMP Motivi Rifiuto</label>
        <locationX>2026</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>TEMP_MotiviRifiuto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_InformazioniAggiuntive__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TEMP_Motivo_Rifiuto_Nullo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_ColumnsHesitation</name>
        <label>Assign values to ColumnsHesitation</label>
        <locationX>243</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>HesitationColumns</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CRM_NomeEsito__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_whatID</name>
        <label>Set whatID</label>
        <locationX>4694</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunit_FILIALE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_whatID_0</name>
        <label>Set whatID</label>
        <locationX>4350</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunit_FILIALE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_task_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClienteHaRisposto</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClienteNonHaRisposto</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClienteSiRecaPressoSuaFilialeNO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClienteSiRecaPressoSuaFilialeSI</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>FILIALE</name>
        <choiceText>FILIALE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FILIALE</stringValue>
        </value>
    </choices>
    <choices>
        <name>HasEmail</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>HasNotEmail</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>MESTESSO</name>
        <choiceText>ME STESSO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ME STESSO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NO_Cliente_Adatto</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NO_EmailNonCorretta</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_Cliente_Adatto</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_EmailCorretta</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_appointment_emails</name>
        <label>Check appointment emails</label>
        <locationX>5702</locationX>
        <locationY>790</locationY>
        <defaultConnector>
            <targetReference>SuccessScreenOppFiliale_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Send_emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewAppointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SendAppointmentEmails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invia_email_di_conferma</targetReference>
            </connector>
            <label>Send emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fissato_Appuntamento</name>
        <label>Check Fissato Appuntamento</label>
        <locationX>4936</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Update_campaign_member_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fissato_Appuntamento1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato Appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign_member_0</targetReference>
            </connector>
            <label>Fissato Appuntamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fissato_Appuntamento_0</name>
        <label>Check Fissato Appuntamento</label>
        <locationX>4848</locationX>
        <locationY>783</locationY>
        <defaultConnector>
            <targetReference>Update_campaign_member_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fissato_Appuntamento1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato Appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign_member_0_0_0_0_0</targetReference>
            </connector>
            <label>Fissato Appuntamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fissato_Appuntamento_0_0</name>
        <label>Check Fissato Appuntamento</label>
        <locationX>5051</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Update_campaign_member_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fissato_Appuntamento1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato Appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign_member_0_0_0</targetReference>
            </connector>
            <label>Fissato Appuntamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fissato_Appuntamento_0_0_0</name>
        <label>Check Fissato Appuntamento</label>
        <locationX>4647</locationX>
        <locationY>949</locationY>
        <defaultConnector>
            <targetReference>Update_campaign_member_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fissato_Appuntamento1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato Appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign_member</targetReference>
            </connector>
            <label>Fissato Appuntamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_isNewAppointment</name>
        <label>Check isNewAppointment</label>
        <locationX>3524</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Screen_Note_Esito_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>New_appointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isNewAppointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WS_da_chiamare</targetReference>
            </connector>
            <label>New appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MdS</name>
        <label>Check MdS</label>
        <locationX>2345</locationX>
        <locationY>955</locationY>
        <defaultConnector>
            <targetReference>Presa_appuntamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Mass_Market</name>
            <conditionLogic>(1 OR 2 OR 3 OR 5) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Contact.Account.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Contact.Account.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Contact.Account.ModelloDiServizio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Contact.Account.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appuntamento_mass_market</targetReference>
            </connector>
            <label>Mass-Market</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_old_opportunity</name>
        <label>Check old opportunity</label>
        <locationX>2123</locationX>
        <locationY>1755</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunit_da_ricontattare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old opportunity is null</defaultConnectorLabel>
        <rules>
            <name>Old_opportunity_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunit_da_ricontattare</targetReference>
            </connector>
            <label>Old opportunity not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_old_opportunity_0</name>
        <label>Check old opportunity</label>
        <locationX>4106</locationX>
        <locationY>1018</locationY>
        <defaultConnector>
            <targetReference>Opportunity_da_creare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old opportunity is null</defaultConnectorLabel>
        <rules>
            <name>Old_opportunity_not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Opportunity_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_da_creare_0</targetReference>
            </connector>
            <label>Old opportunity not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_opportunit_da_creare</name>
        <label>Check opportunità da creare</label>
        <locationX>1970</locationX>
        <locationY>1961</locationY>
        <defaultConnector>
            <targetReference>SuccessScreenOppFiliale_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunità da non creare</defaultConnectorLabel>
        <rules>
            <name>Opportunit_da_creare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monostep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_old_opportunity</targetReference>
            </connector>
            <label>Opportunità da creare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_taskId</name>
        <label>Check taskId</label>
        <locationX>4579</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Tipologia_Campagna</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task is null</defaultConnectorLabel>
        <rules>
            <name>Task_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_whatID</targetReference>
            </connector>
            <label>Task not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_taskId_0</name>
        <label>Check taskId</label>
        <locationX>4188</locationX>
        <locationY>910</locationY>
        <defaultConnector>
            <targetReference>Tipologia_Campagna</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task is null</defaultConnectorLabel>
        <rules>
            <name>Task_not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_whatID_0</targetReference>
            </connector>
            <label>Task not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WS_da_chiamare</name>
        <label>Check WS da chiamare</label>
        <locationX>3641</locationX>
        <locationY>1035</locationY>
        <defaultConnector>
            <targetReference>Get_Old_Opportunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>WS_da_chiamare</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_OwnerSystem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siebel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_OwnerSystem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FSC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvokeWs_0_0_0</targetReference>
            </connector>
            <label>WS da chiamare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WS_da_chiamare_0</name>
        <label>Check WS da chiamare</label>
        <locationX>1730</locationX>
        <locationY>1148</locationY>
        <defaultConnector>
            <targetReference>Tipologia_Campagna_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>WS_da_chiamare_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_OwnerSystem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siebel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_OwnerSystem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FSC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvokeWs_0</targetReference>
            </connector>
            <label>WS da chiamare</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEsitoWS_0</name>
        <label>checkEsitoWS</label>
        <locationX>1713</locationX>
        <locationY>1504</locationY>
        <defaultConnector>
            <targetReference>Rollback_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esitoOK_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsitoWS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipologia_Campagna_0</targetReference>
            </connector>
            <label>esitoOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEsitoWS_0_0_0</name>
        <label>checkEsitoWS</label>
        <locationX>3750</locationX>
        <locationY>1408</locationY>
        <defaultConnector>
            <targetReference>Rollback_records_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esitoOK_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsitoWS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Opportunity_0</targetReference>
            </connector>
            <label>esitoOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cliente_adeguato</name>
        <label>Cliente adeguato</label>
        <locationX>841</locationX>
        <locationY>752</locationY>
        <defaultConnector>
            <targetReference>Screen_ClienteNonAdeguato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente non adeguato</defaultConnectorLabel>
        <rules>
            <name>Cliente_adeguato_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_ClienteAdeguato</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Hesitation_Selection</targetReference>
            </connector>
            <label>Cliente adeguato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito</name>
        <label>Esito</label>
        <locationX>4416</locationX>
        <locationY>1353</locationY>
        <defaultConnector>
            <targetReference>Update_campaign_member_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Fissato_appuntamento_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign_member_0_0</targetReference>
            </connector>
            <label>Fissato appuntamento</label>
        </rules>
        <rules>
            <name>Cliente_interessato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cliente interessato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_campaign_member_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Cliente interessato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_Cliente_non_adeguato_valorizzato</name>
        <label>Esito Cliente non adeguato valorizzato</label>
        <locationX>1104</locationX>
        <locationY>1112</locationY>
        <defaultConnector>
            <targetReference>Screen_ClienteNonAdeguato_Mancante</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente non adeguato nullo</defaultConnectorLabel>
        <rules>
            <name>Cliente_non_adeguato_valorizzato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Estio_ClienteNonAdeguato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_esito_selezionato</targetReference>
            </connector>
            <label>Cliente non adeguato valorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_selezionato</name>
        <label>Esito selezionato</label>
        <locationX>1549</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Check_WS_da_chiamare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Fissato_appuntamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Filiale</targetReference>
            </connector>
            <label>Fissato appuntamento</label>
        </rules>
        <rules>
            <name>Da_ricontattare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da ricontattare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Presa_Appuntamento_MESTESSO</targetReference>
            </connector>
            <label>Da ricontattare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_selezionato_0</name>
        <label>Esito selezionato</label>
        <locationX>1668</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>Screen_Note_Esito</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Fissato_appuntamento_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esito_selezionato</targetReference>
            </connector>
            <label>Fissato appuntamento</label>
        </rules>
        <rules>
            <name>Da_ricontattare_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da ricontattare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esito_selezionato</targetReference>
            </connector>
            <label>Da ricontattare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Informazioni_aggiuntive_mullo</name>
        <label>Informazioni aggiuntive mullo?</label>
        <locationX>1926</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Assign_TEMP_Motivi_Rifiuto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_InformazioniAggiuntive__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esito_selezionato_0</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_da_creare</name>
        <label>Opportunity da creare?</label>
        <locationX>4125</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Tipologia_Campagna</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Inviata_a_filiale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monostep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunit_FILIALE</targetReference>
            </connector>
            <label>Inviata a filiale</label>
        </rules>
        <rules>
            <name>Opportunit_da_creare_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monostep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunit</targetReference>
            </connector>
            <label>Opportunità da creare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_da_creare_0</name>
        <label>Opportunity da creare?</label>
        <locationX>3946</locationX>
        <locationY>1357</locationY>
        <defaultConnector>
            <targetReference>Tipologia_Campagna</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Inviata_a_filiale_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fissato appuntamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monostep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunit_inviata_a_filiale</targetReference>
            </connector>
            <label>Inviata a filiale</label>
        </rules>
        <rules>
            <name>Opportunit_da_creare_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_OpportunityToCreate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monostep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunit</targetReference>
            </connector>
            <label>Opportunità da creare</label>
        </rules>
    </decisions>
    <decisions>
        <name>TEMP_Motivo_Rifiuto_Nullo</name>
        <label>TEMP Motivo Rifiuto Nullo?</label>
        <locationX>2202</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Add_Motivo_Rifiuto_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TEMP_MotiviRifiuto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Motivo_Rifiuto</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_esitazione</name>
        <label>Tipo esitazione</label>
        <locationX>1689</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>Esito_selezionato_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Negativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_nome_esito_selezionato.CRM_TipoEsitazione__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Esito Negativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informazioni_aggiuntive_mullo</targetReference>
            </connector>
            <label>Negativo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipologia_Campagna</name>
        <label>Tipologia Campagna</label>
        <locationX>4527</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>Check_Fissato_Appuntamento_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>MonostepCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monostep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Fissato_Appuntamento</targetReference>
            </connector>
            <label>Monostep CC</label>
        </rules>
        <rules>
            <name>Monostep_Rete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monostep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Fissato_Appuntamento_0_0_0</targetReference>
            </connector>
            <label>Monostep Rete</label>
        </rules>
        <rules>
            <name>Multistep_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multistep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.CRM_Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esito</targetReference>
            </connector>
            <label>Multistep CC</label>
        </rules>
        <rules>
            <name>Multistep_Rete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multistep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.CRM_Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Fissato_Appuntamento_0_0</targetReference>
            </connector>
            <label>Multistep Rete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipologia_Campagna_0</name>
        <label>Tipologia Campagna</label>
        <locationX>2291</locationX>
        <locationY>1509</locationY>
        <defaultConnector>
            <targetReference>Update_CampaignMember_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>MonostepCC_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monostep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CampaignMember_0</targetReference>
            </connector>
            <label>Monostep CC</label>
        </rules>
        <rules>
            <name>Monostep_Rete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monostep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CampaignMember_0</targetReference>
            </connector>
            <label>Monostep Rete</label>
        </rules>
        <rules>
            <name>Multistep_CC_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multistep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.CRM_Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CampaignMember_0_0</targetReference>
            </connector>
            <label>Multistep CC</label>
        </rules>
        <rules>
            <name>Multistep_Rete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multistep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_Member_Id.CRM_Fase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CampaignMember_0_0_0</targetReference>
            </connector>
            <label>Multistep Rete</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ElencoScelte_EsitiCampagna</name>
        <dataType>String</dataType>
        <displayField>CRM_NomeEsito__c</displayField>
        <filterLogic>1 AND 2 AND 3 AND NOT(4) AND 5</filterLogic>
        <filters>
            <field>Campagna__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_StatoEsito__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_DaIncludereListaEsiti__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitiNonSelezionabiliFormula__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CRM_Esito__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitoVisibile__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
        <outputAssignments>
            <assignToReference>EsitoSelezionatoID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CRM_NomeEsito__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CRM_NomeEsito__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MotivoRifiuto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_MotivoRifiuto__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CampaignMemberEmail</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Get_Campaign_Member_Id.Contact.Account.CRM_SmartWebEmail__c}), {!Get_Campaign_Member_Id.Contact.Account.CRM_SmartWebEmail__c}, {!Get_Campaign_Member_Id.Contact.Account.CRM_GenericEmail__c})</expression>
    </formulas>
    <formulas>
        <name>CurrentDateTimePlus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1</expression>
    </formulas>
    <formulas>
        <name>Formula_Channel</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Profile.Name}, &quot;Contact Center&quot;), &quot;Contact Center&quot;, &quot;Rete&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_ClienteAdeguato</name>
        <dataType>Boolean</dataType>
        <expression>(IF(INCLUDES({!Get_Campaign_Member_Id.Campaign.CRM_EsclusioneLivelloPrivacyMulti__c}, &quot;Privacy Livello 1&quot;), 
	ISPICKVAL({!Get_Campaign_Member_Id.Contact.Account.CRM_BusinessPrivacy1Level__c}, &quot;Yes&quot;) || ISPICKVAL({!Get_Campaign_Member_Id.Contact.Account.CRM_Privacy_1Level__c}, &quot;Yes&quot;),
	true) &amp;&amp;
IF(INCLUDES({!Get_Campaign_Member_Id.Campaign.CRM_EsclusioneLivelloPrivacyMulti__c}, &quot;Privacy Livello 2&quot;), 
	IF({!Get_Campaign_Member_Id.Contact.Account.IsPersonAccount}, ISPICKVAL({!Get_Campaign_Member_Id.Contact.Account.CRM_Privacy_2Level__c}, &quot;Yes&quot;), true), 
	true) &amp;&amp;
IF(INCLUDES({!Get_Campaign_Member_Id.Campaign.CRM_EsclusioneLivelloPrivacyMulti__c}, &quot;Privacy Livello 3&quot;), 
	IF({!Get_Campaign_Member_Id.Contact.Account.IsPersonAccount}, ISPICKVAL({!Get_Campaign_Member_Id.Contact.Account.CRM_Privacy_3Level__c}, &quot;Yes&quot;), true), 
	true) &amp;&amp;
NOT({!Get_Campaign_Member_Id.Contact.Account.CRM_Deceduto__c})) || ISPICKVAL({!Get_Campaign_Member_Id.Campaign.CRM_OwnerSystem__c}, &quot;Siebel&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Fase</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Campaign_Member_Id.Campaign.CRM_TipologiaCampagnaStep__c} == &quot;Monostep&quot;, TEXT({!Get_Campaign_Member_Id.Campaign.CRM_Channel__c}), TEXT({!Get_Campaign_Member_Id.CRM_Fase__c}))</expression>
    </formulas>
    <formulas>
        <name>Formula_MotiviRifiuto</name>
        <dataType>String</dataType>
        <expression>IF(!CONTAINS({!TEMP_MotiviRifiuto},&quot;;&quot;), {!TEMP_MotiviRifiuto}, LEFT({!TEMP_MotiviRifiuto}, FIND(&quot;;&quot;, {!TEMP_MotiviRifiuto}) -1))</expression>
    </formulas>
    <formulas>
        <name>Formula_MotiviRifiutoRimanente</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!TEMP_MotiviRifiuto}, &quot;;&quot;), RIGHT({!TEMP_MotiviRifiuto}, LEN({!TEMP_MotiviRifiuto}) - FIND(&quot;;&quot;, {!TEMP_MotiviRifiuto})), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_ServiceAppointmentId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!serviceAppointment.Id}), {!Get_Campaign_Member_Id.CRM_ServiceAppointment__c}, {!serviceAppointment.Id})</expression>
    </formulas>
    <formulas>
        <name>Formula_TaskDataOraAppuntamento</name>
        <dataType>DateTime</dataType>
        <expression>IF(!ISBLANK({!Task_DataOraAppuntamento}), {!Task_DataOraAppuntamento}, {!Get_Campaign_Member_Id.CRM_DataOraFissatoAppuntamento__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_TEMP_MotivoRifiuto</name>
        <dataType>String</dataType>
        <expression>IF({!MotivoRifiutoSelezionato_2} == &quot;&quot;, {!Loop_Motivi_Rifiuto_Selezionati}, &quot;;&quot; +  {!Loop_Motivi_Rifiuto_Selezionati})</expression>
    </formulas>
    <formulas>
        <name>FormulaFiliale</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Get_Campaign_Member_Id.Contact.Account.PTF_Filiale__c}), {!Get_Campaign_Member_Id.Contact.Account.PTF_Filiale__c}, {!Get_Campaign_Member_Id.Contact.Account.CRM_Filiale__c})</expression>
    </formulas>
    <formulas>
        <name>NameCurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.LastName}+&apos; &apos;+{!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>NoteAggiuntiveFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!NoteAppuntamento}), {!Note_aggiuntive}, {!NoteAppuntamento} )</expression>
    </formulas>
    <formulas>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 60</expression>
    </formulas>
    <formulas>
        <name>SendAppointmentEmails</name>
        <dataType>Boolean</dataType>
        <expression>false</expression>
    </formulas>
    <formulas>
        <name>sizeNote</name>
        <dataType>Number</dataType>
        <expression>LEN({!Note_aggiuntive})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Procedura guidata gestione cliente target - scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Procedura guidata gestione cliente target</label>
    <loops>
        <name>Assign_list_oh_hesitation_to_text_variable_collection</name>
        <label>Assign list oh hesitation to text variable collection</label>
        <locationX>682</locationX>
        <locationY>357</locationY>
        <collectionReference>Get_Campaign_Hesitation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Hesitation_to_text_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_values_to_ColumnsHesitation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Motivi_Rifiuto_Selezionati</name>
        <label>Loop Motivi Rifiuto Selezionati</label>
        <locationX>2629</locationX>
        <locationY>711</locationY>
        <collectionReference>Checkbox_MotiviDiRifiuto.selectedValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Motivo_Rifuto_Selezionato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Esito_selezionato_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordCreates>
        <name>Create_Opportunit</name>
        <label>Create Opportunità</label>
        <locationX>4344</locationX>
        <locationY>577</locationY>
        <connector>
            <targetReference>Tipologia_Campagna</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Bisogno__c</field>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>FinalAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunit_da_ricontattare</name>
        <label>Create Opportunità da ricontattare</label>
        <locationX>2192</locationX>
        <locationY>2022</locationY>
        <connector>
            <targetReference>SuccessScreenOppFiliale_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Bisogno__c</field>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_RecallDate__c</field>
            <value>
                <elementReference>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunit_FILIALE</name>
        <label>Create Opportunità FILIALE</label>
        <locationX>4470</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>Check_taskId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchCode__c</field>
            <value>
                <elementReference>CodiceFilialePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchEmailAddress__c</field>
            <value>
                <elementReference>EmailFilialeAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchName__c</field>
            <value>
                <elementReference>FinalFilialeSelezionata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Bisogno__c</field>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>FinalAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
            <value>
                <elementReference>serviceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Filiale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_per_Opportunit_vs_Filiale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>2975</locationX>
        <locationY>1222</locationY>
        <connector>
            <targetReference>Get_Filiale_0</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Hesitation</name>
        <label>Get Campaign Hesitation</label>
        <locationX>51</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Opportunity_Contact_Center</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (NOT(5))</filterLogic>
        <filters>
            <field>Campagna__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_StatoEsito__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_DaIncludereListaEsiti__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitoVisibile__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_EsitiNonSelezionabiliFormula__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CRM_Esito__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_info</name>
        <label>Get_Campaign_info</label>
        <locationX>674</locationX>
        <locationY>760</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cliente_adeguato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member_Id</name>
        <label>Get Campaign Member Id</label>
        <locationX>238</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Hesitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_default_esito</name>
        <label>Get default esito</label>
        <locationX>372</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_columns_table_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campagna__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_TipoEsitazione__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Estio_ClienteNonAdeguato</name>
        <label>Get Estio ClienteNonAdeguato</label>
        <locationX>1378</locationX>
        <locationY>1110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Esito_Cliente_non_adeguato_valorizzato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campagna__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_NomeEsito__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente escluso</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filiale</name>
        <label>Get Filiale</label>
        <locationX>2967</locationX>
        <locationY>918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_stessa_filiale_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FilialeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filiale_0</name>
        <label>Get Filiale</label>
        <locationX>3153</locationX>
        <locationY>1206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_stessa_filiale_to_variable_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FilialeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_nome_esito_selezionato</name>
        <label>Get nome esito selezionato</label>
        <locationX>1561</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_esitazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EsitoSelezionatoID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_AssociazioneEsitazioniCampagne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Opportunity</name>
        <label>Get Old Opportunity</label>
        <locationX>1641</locationX>
        <locationY>1785</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_opportunit_da_creare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Opportunity_0</name>
        <label>Get Old Opportunity</label>
        <locationX>3877</locationX>
        <locationY>1069</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_old_opportunity_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_per_Opportunit_vs_Filiale</name>
        <label>Get Record Type per Opportunità vs. Filiale</label>
        <locationX>2234</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MdS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunita_da_cc_vs_rete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Opportunity_Contact_Center</name>
        <label>Get RT Opportunity Contact Center</label>
        <locationX>237</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Opportunity_Rete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunit_per_il_CC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Opportunity_Rete</name>
        <label>Get RT Opportunity Rete</label>
        <locationX>68</locationX>
        <locationY>635</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_default_esito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunita_Rete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Filiale</name>
        <label>Get User Filiale</label>
        <locationX>2024</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_per_Opportunit_vs_Filiale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Filiale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_records</name>
        <label>Rollback records</label>
        <locationX>1466</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>esitoWSKO_0</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Rollback_records_0</name>
        <label>Rollback records</label>
        <locationX>3511</locationX>
        <locationY>1744</locationY>
        <connector>
            <targetReference>esitoWSKO_0_0</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_campaign_member</name>
        <label>Update campaign member</label>
        <locationX>4751</locationX>
        <locationY>1060</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
            <value>
                <elementReference>Formula_TaskDataOraAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
            <value>
                <elementReference>Formula_ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0</name>
        <label>Update campaign member</label>
        <locationX>5093</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
            <value>
                <elementReference>Formula_TaskDataOraAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
            <value>
                <elementReference>Formula_ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0_0</name>
        <label>Update campaign member</label>
        <locationX>4777</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
            <value>
                <elementReference>Formula_TaskDataOraAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaCC__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaRete__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Fase__c</field>
            <value>
                <stringValue>Rete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NoteCC__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
            <value>
                <elementReference>Formula_ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0_0_0</name>
        <label>Update campaign member</label>
        <locationX>4975</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
            <value>
                <elementReference>Formula_TaskDataOraAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaRete__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NoteRete__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
            <value>
                <elementReference>Formula_ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0_0_0_0</name>
        <label>Update campaign member</label>
        <locationX>4836</locationX>
        <locationY>1327</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaCC__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NoteCC__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
            <value>
                <elementReference>Formula_ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0_0_0_0_0</name>
        <label>Update campaign member</label>
        <locationX>4982</locationX>
        <locationY>795</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
            <value>
                <elementReference>Formula_TaskDataOraAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
            <value>
                <elementReference>Formula_ServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0_0_0_0_0_0</name>
        <label>Update campaign member</label>
        <locationX>4836</locationX>
        <locationY>1491</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
            <value>
                <elementReference>Formula_TaskDataOraAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaCC__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaRete__c</field>
            <value>
                <elementReference>Get_default_esito.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Fase__c</field>
            <value>
                <stringValue>Rete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NoteCC__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0_0_0_0_0_0_0</name>
        <label>Update campaign member</label>
        <locationX>5081</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0_0_0_0_0_0_0_0</name>
        <label>Update campaign member</label>
        <locationX>4977</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0_0_0_0_0_0_0_0_0</name>
        <label>Update campaign member</label>
        <locationX>5169</locationX>
        <locationY>988</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaRete__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NoteRete__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_campaign_member_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update campaign member</label>
        <locationX>4983</locationX>
        <locationY>1109</locationY>
        <connector>
            <targetReference>Check_appointment_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CampaignMember_0</name>
        <label>Update CampaignMember</label>
        <locationX>1650</locationX>
        <locationY>1630</locationY>
        <connector>
            <targetReference>Get_Old_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
            <value>
                <elementReference>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagna__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CampaignMember_0_0</name>
        <label>Update CampaignMember</label>
        <locationX>2235</locationX>
        <locationY>1617</locationY>
        <connector>
            <targetReference>Get_Old_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
            <value>
                <elementReference>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaCC__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NoteCC__c</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CampaignMember_0_0_0</name>
        <label>Update CampaignMember</label>
        <locationX>2445</locationX>
        <locationY>1573</locationY>
        <connector>
            <targetReference>Get_Old_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Autore__c</field>
            <value>
                <elementReference>NameCurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataEsitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraFissatoAppuntamento__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataOraRicontatto__c</field>
            <value>
                <elementReference>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoCampagnaRete__c</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MotivoRifiuto__c</field>
            <value>
                <elementReference>MotivoRifiutoSelezionato_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NoteRete__c</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Note__c</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_NomeEsito__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunit</name>
        <label>Update opportunità</label>
        <locationX>4499</locationX>
        <locationY>1541</locationY>
        <connector>
            <targetReference>Tipologia_Campagna</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Opportunity_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Bisogno__c</field>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>FinalAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunit_da_ricontattare</name>
        <label>Update opportunità da ricontattare</label>
        <locationX>2321</locationX>
        <locationY>1938</locationY>
        <connector>
            <targetReference>SuccessScreenOppFiliale_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Bisogno__c</field>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_RecallDate__c</field>
            <value>
                <elementReference>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Inserisci_una_descrizione_MESTESSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opportunit_inviata_a_filiale</name>
        <label>Update opportunità inviata a filiale</label>
        <locationX>4323</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Check_taskId_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchCode__c</field>
            <value>
                <elementReference>CodiceFilialePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchEmailAddress__c</field>
            <value>
                <elementReference>FinalEmailFilialeSelezionata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchName__c</field>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentDateAtTheBranch__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Bisogno__c</field>
            <value>
                <stringValue>Finanziamenti</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>FinalAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <stringValue>Altro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ServiceAppointment__c</field>
            <value>
                <elementReference>serviceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Campaign_Member_Id.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NoteAggiuntiveFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Filiale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Opportunity_Contact_Center.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_nome_esito_selezionato.CRM_OpportunityStage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>4651</locationX>
        <locationY>699</locationY>
        <connector>
            <targetReference>Tipologia_Campagna</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task_0_0</name>
        <label>Update task</label>
        <locationX>4410</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Tipologia_Campagna</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>esitoWSKO_0</name>
        <label>esitoWSKO</label>
        <locationX>1462</locationX>
        <locationY>1653</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_EsitoKO1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Si è verificato un errore durante l&apos;esitazione. Si chiede di riprovare più tardi.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>esitoWSKO_0_0</name>
        <label>esitoWSKO</label>
        <locationX>3693</locationX>
        <locationY>1757</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_ErroreWS</name>
            <fieldText>&lt;p&gt;Si è verificato un errore durante l&apos;esitazione. Si chiede di riprovare più tardi.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ClienteNonAdeguato</name>
        <label>Screen ClienteNonAdeguato</label>
        <locationX>1378</locationX>
        <locationY>739</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Estio_ClienteNonAdeguato</targetReference>
        </connector>
        <fields>
            <name>TextClienteNonAdeguato</name>
            <fieldText>&lt;p&gt;Il cliente non risulta essere adeguato per questa campagna.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Premere &quot;&lt;b&gt;Avanti&lt;/b&gt;&quot; per esitare il cliente come &lt;i&gt;&quot;Cliente escluso&quot;.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_ClienteNonAdeguato_Mancante</name>
        <label>Screen ClienteNonAdeguato Mancante</label>
        <locationX>1113</locationX>
        <locationY>1335</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextClienteNonAdeguatoMancante</name>
            <fieldText>&lt;p&gt;Purtroppo non è stato possibile esitare il cliente in quanto l&apos;esito &lt;i&gt;&quot;Cliente escluso&quot;&lt;/i&gt; non è associato alla campagna.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Hesitation_Selection</name>
        <label>Screen Hesitation Selection</label>
        <locationX>1100</locationX>
        <locationY>352</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Esito_non_selezionato_equals_to_False</targetReference>
        </connector>
        <fields>
            <name>CampaignScript</name>
            <fieldText>&lt;p&gt;{!Get_Campaign_info.CRM_ScriptRichText__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelezionaEsitoCampaignMember</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Seleziona un esito per la proposta&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nome_Esito</name>
            <choiceReferences>ElencoScelte_EsitiCampagna</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Esito</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Motivo_Rifiuto</name>
        <label>Screen Motivo Rifiuto</label>
        <locationX>2422</locationX>
        <locationY>788</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Motivi_Rifiuto_Selezionati</targetReference>
        </connector>
        <fields>
            <name>TitoloMotivoRifiuto</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Selezionare uno o più motivi di rifiuto&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checkbox_MotiviDiRifiuto</name>
            <extensionName>runtime_industries_lending:flowCheckbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Motivi di rifuto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesText</name>
                <value>
                    <elementReference>MotiviRifiutoList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choicesValues</name>
                <value>
                    <elementReference>MotiviRifiutoList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Note_Esito</name>
        <label>Screen Note Esito</label>
        <locationX>1503</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Esito_selezionato</targetReference>
        </connector>
        <fields>
            <name>TextNoteEsito</name>
            <fieldText>&lt;p&gt;Inserire delle note aggiuntive&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Note_aggiuntive</name>
            <fieldText>Note aggiuntive</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Ridurre il numero di caratteri inseriti (max 1000)&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Note_aggiuntive}) &lt;= 1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Note_Esito_0</name>
        <label>Screen Note Esito</label>
        <locationX>3673</locationX>
        <locationY>723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_NoteAppuntamento</targetReference>
        </connector>
        <fields>
            <name>TextNoteEsito_0</name>
            <fieldText>&lt;p&gt;Inserire delle note aggiuntive&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Note_aggiuntive_0</name>
            <fieldText>Note aggiuntive</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Ridurre il numero di caratteri inseriti (max 1000)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Note_aggiuntive_0})&lt;=1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Presa_Appuntamento_MESTESSO</name>
        <label>Screen Presa Appuntamento MESTESSO</label>
        <locationX>1553</locationX>
        <locationY>1254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_WS_da_chiamare_0</targetReference>
        </connector>
        <fields>
            <name>TextPresaAppuntamentoMESTESSO</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Concorda data e ora del richiamo e scrivi eventuali note&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentDateTimePlus1</elementReference>
            </defaultValue>
            <fieldText>Inserisci la data e l&apos;ora per il richiamo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Inserire una data e ora validi&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Inserisci_la_data_e_l_ora_per_il_richiamo_MESTESSO} &gt; now ()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Inserisci_una_descrizione_MESTESSO</name>
            <fieldText>Inserisci una descrizione</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Ridurre il numero di caratteri inseriti (max 1000)&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Inserisci_una_descrizione_MESTESSO})&lt;=1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreenOppFiliale_0</name>
        <label>SuccessScreenOppFiliale</label>
        <locationX>2393</locationX>
        <locationY>2353</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageOppFiliale_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Operazione completata con successo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreenOppFiliale_0_0</name>
        <label>SuccessScreenOppFiliale</label>
        <locationX>5938</locationX>
        <locationY>1061</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageOppFiliale_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Operazione completata con successo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>150</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Get_Campaign_Member_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Appuntamento_mass_market</name>
        <label>Appuntamento - mass market</label>
        <locationX>2652</locationX>
        <locationY>1215</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowName>Nuovo_appuntamento_Scheduler_Appuntamento_mass_market</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Task_DataOraAppuntamento</assignToReference>
            <name>dataOraAppuntamento</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FilialeID</assignToReference>
            <name>filialeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoteAppuntamento</assignToReference>
            <name>note</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Task</assignToReference>
            <name>Task</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>taskId</assignToReference>
            <name>taskId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Invia_email_di_conferma</name>
        <label>Invia email di conferma</label>
        <locationX>6049</locationX>
        <locationY>727</locationY>
        <connector>
            <targetReference>SuccessScreenOppFiliale_0_0</targetReference>
        </connector>
        <flowName>Nuovo_appuntamento_Scheduler_Invia_email_di_conferma</flowName>
        <inputAssignments>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>serviceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Presa_appuntamento</name>
        <label>Presa appuntamento</label>
        <locationX>2654</locationX>
        <locationY>951</locationY>
        <connector>
            <targetReference>Get_Filiale</targetReference>
        </connector>
        <flowName>Nuovo_appuntamento_Scheduler_V2</flowName>
        <inputAssignments>
            <name>appointmentDurationType</name>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>appointmentEstimatedDuration</name>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>campaignMemberId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>channel</name>
            <value>
                <elementReference>Formula_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Campaign_Member_Id.Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>showConfirmationScreen</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FinalAccountEmailAddress</assignToReference>
            <name>ContactEmail</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FilialeID</assignToReference>
            <name>filialeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isNewAppointment</assignToReference>
            <name>isNewAppointment</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoteAppuntamento</assignToReference>
            <name>NoteAppuntamento</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>serviceAppointment</assignToReference>
            <name>ServiceAppointment</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>LinkDettaglioFiliali</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://www.bper.it/ricerca-filiali&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Filiali BPER&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.bancosardegna.it/ricerca-filiali&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Filiali BDS&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CodiceFilialePerAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColonneTabella</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailFilialeAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailInserita</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyCollectionListaFiliali</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitoNonSelezionato</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EsitoSelezionato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitoSelezionatoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitoWS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FilialeFinalePerAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilialeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilialeNonSelezionata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FilialeSelezionataSingleSelectTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalAccountEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalEmailFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalIdCedFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HesitationColumns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isNewAppointment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfHesitation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_AssociazioneEsitazioniCampagne__c</objectType>
    </variables>
    <variables>
        <name>MotiviRifiutoList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MotivoRifiutoSelezionato_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NessunaRicercaEffettuata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NoteAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCollectionListaFiliali</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Task_DataOraAppuntamento</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEMP_MotiviRifiuto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionListaFiliali</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionListofHesitations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
