BPER/DEVF/force-app/main/default/flows/Ripianifica_appuntamento_di_servizio_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>1542</locationX>
        <locationY>597</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>Formula_FieldsToSave</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>serviceResources</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_SA</name>
        <label>Set SA</label>
        <locationX>555</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Appointment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Type_Group_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service_Appointment_Id</name>
        <label>Set Service Appointment Id</label>
        <locationX>210</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Time_Slot_Stage</name>
        <label>Set Time Slot Stage</label>
        <locationX>1085</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_work_type_group</name>
        <label>Set work type group</label>
        <locationX>892</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>workTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Group_Member.WorkTypeGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_NDG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>1685</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Screen_Presa_Appuntamento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>1444</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Appointment_Status_Category</name>
        <label>Check Appointment Status Category</label>
        <locationX>1262</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanceledAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <label>Canceled Appointment</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_FieldsToSave</name>
        <dataType>String</dataType>
        <expression>&apos;{&apos; + &apos;&quot;Id&quot;:&apos; + &apos;&quot;&apos; + {!Service_Appointment.Id} + &apos;&quot;&apos; + &apos;, &apos; + &apos;&quot;AdditionalInformation&quot;:&apos; + &apos;&quot;&quot;&apos; + &apos;, &apos; + &apos;&quot;AppointmentType&quot;:&apos; + &apos;&quot;&quot;&apos; + &apos;, &apos; + &apos;&quot;Comments&quot;:&apos; + &apos;&quot;&quot;&apos; +  &apos;, &apos; + &apos;&quot;ParentRecordId&quot;:&apos; + &apos;&quot;&apos;+{!Service_Appointment.AccountId}+&apos;&quot;&apos; + &apos;, &apos; + &apos;&quot;ServiceTerritoryId&quot;:&apos; + &apos;&quot;&apos;+{!ServiceAppointment.ServiceTerritoryId}+&apos;&quot;&apos; + &apos;, &apos; + &apos;&quot;ServiceResourceId&quot;:&apos; + &apos;&quot;&apos;+{!serviceResourceId}+&apos;&quot;&apos; + &apos;, &apos; + &apos;&quot;WorkTypeGroupId&quot;:&apos; + &apos;&quot;&apos;+{!workTypeGroupId}+&apos;&quot;&apos; + &apos;, &apos; + &apos;&quot;SchedStartTime&quot;:&apos; + &apos;&quot;&apos;+{!Formula_SchedStartTime}+&apos;&quot;&apos; + &apos;, &apos; + &apos;&quot;SchedEndTime&quot;:&apos; + &apos;&quot;&apos;+ {!Formula_SchedEndTime} +&apos;&quot;&apos; + &apos;, &apos; + &apos;&quot;Description&quot;:&apos; + &apos;&quot;&quot;&apos; +  &apos;, &apos; + &apos;&quot;Phone&quot;:&apos; + &apos;&quot;&quot;&apos; + &apos;, &apos; + &apos;&quot;ContactId&quot;:&apos; + &apos;&quot;&quot;&apos; + &apos;, &apos; + &apos;&quot;isSlotChanged&quot;:&apos; + &apos;false&apos; + &apos;, &apos; + &apos;&quot;Status&quot;:&apos; +  &apos;&quot;Programmato&quot;&apos; + &apos;, &apos; + &apos;&quot;Subject&quot;:&apos; +  &apos;&quot;&apos; + {!ServiceAppointment.Subject} + &apos;&quot;&apos; + &apos;}&apos;</expression>
    </formulas>
    <formulas>
        <name>Formula_SchedEndTime</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(TEXT({!ServiceAppointment.SchedEndTime}),  &quot; &quot;, &quot;T&quot;), &quot;:00Z&quot;, &quot;:00.000Z&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_SchedStartTime</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(TEXT({!ServiceAppointment.SchedStartTime}),  &quot; &quot;, &quot;T&quot;), &quot;:00Z&quot;, &quot;:00.000Z&quot;)</expression>
    </formulas>
    <interviewLabel>Ripianifica appuntamento di servizio v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ripianifica appuntamento di servizio v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_NDG</name>
        <label>Get NDG</label>
        <locationX>1042</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Appointment_Status_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>1086</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Time_Slot_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>workType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BlockTimeBeforeAppointment</queriedFields>
        <queriedFields>BlockTimeAfterAppointment</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Group_Member</name>
        <label>Get Work Type Group Member</label>
        <locationX>717</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_work_type_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>400</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>TimeSlotScreen</name>
        <label>Time Slot Screen</label>
        <locationX>1274</locationX>
        <locationY>781</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <elementReference>isSlotChanged</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workType</name>
                <value>
                    <elementReference>workType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSlotChanged</assignToReference>
                <name>isSlotChanged</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__Out_Modify</sourceTemplate>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Service_Appointment_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Review_Screen_Presa_Appuntamento</name>
        <label>Review Screen Presa Appuntamento</label>
        <locationX>1826</locationX>
        <locationY>378</locationY>
        <flowName>Review_Screen_Presa_Appuntamento</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Get_NDG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointment</name>
            <value>
                <elementReference>Service_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceResourceId</name>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TitoloAppuntamento</name>
            <value>
                <elementReference>Service_Appointment.Subject</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>assignedResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSlotChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
