BPER/DEVF/force-app/main/default/flows/Rollback_reset_campi_Consulenti_Finanziari.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Rollback_altri_temi</name>
        <label>Rollback altri temi</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_ProductsServicesInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_ProductsServicesInfo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_TermsVerification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_TermsVerification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_CaringActivities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_CaringActivities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ProductsServicesInfoNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ProductsServicesInfoNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_TermsVerificationNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_TermsVerificationNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CaringActivitiesNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CaringActivitiesNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OtherNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OtherNotes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback_Piano_d_azione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rollback_Check_Finanziamenti</name>
        <label>Rollback Check Finanziamenti</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_Mortgage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_Mortgage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Mortgage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Mortgage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_Loans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_Loans__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Loans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Loans__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_FinancialVarious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_FinancialVarious__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FinancialVarious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FinancialVarious__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_MortgageNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_MortgageNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LoansNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LoansNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FinancialVariousNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FinancialVariousNotes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback_altri_temi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rollback_Check_Finanziario</name>
        <label>Rollback Check Finanziario</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_PerformancePortfolioAnalysis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_PerformancePortfolioAnalysis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_PerformancePortfolioAnalysis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_PerformancePortfolioAnalysis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_WalletActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_WalletActivity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_WalletActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_WalletActivity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_RetentionCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_RetentionCheck__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_RetentionCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_RetentionCheck__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_ExtraordinaryOperations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_ExtraordinaryOperations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ExtraordinaryOperations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ExtraordinaryOperations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_FinExpiringProducts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_FinExpiringProducts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FinExpiringProducts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FinExpiringProducts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_SellingProperties__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_SellingProperties__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SellingProperties__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SellingProperties__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_PerformancePortfolioAnalysisNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_PerformancePortfolioAnalysisNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_WalletActivityNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_WalletActivityNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_RetentionCheckNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_RetentionCheckNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ExtraordinaryOperationsNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ExtraordinaryOperationsNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FinExpiringProductsNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FinExpiringProductsNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SellingPropertiesNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SellingPropertiesNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NoteVarieFinanziario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NoteVarieFinanziario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_VarieFinanziario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_VarieFinanziario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_VarieFinanziario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_VarieFinanziario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_ProposteInvestimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_ProposteInvestimento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ProposteInvestimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ProposteInvestimento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ProposteInvestimentoNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ProposteInvestimentoNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_GestioniDiPTF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_GestioniDiPTF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_GestioniDiPTF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_GestioniDiPTF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_GestioniDiPTFNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_GestioniDiPTFNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_PIR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_PIR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_PIR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_PIR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_PIRNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_PIRNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_FondiInvestimentoCedolari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_FondiInvestimentoCedolari__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FondiInvestimentoCedolari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FondiInvestimentoCedolari__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FondiInvestimentoCedolariNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FondiInvestimentoCedolariNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_FondiESG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_FondiESG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FondiESG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FondiESG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FondiESGNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FondiESGNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_FondiSicavTradizionali__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_FondiSicavTradizionali__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FondiSicavTradizionali__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FondiSicavTradizionali__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_FondiSicavTradizionaliNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_FondiSicavTradizionaliNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_OrganizzazionePatrimonio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_OrganizzazionePatrimonio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OrganizzazionePatrimonio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OrganizzazionePatrimonio__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OrganizzazionePatrimonioNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OrganizzazionePatrimonioNotes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback_Check_Wealth_Management</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rollback_Check_Operativit</name>
        <label>Rollback Check Operatività</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_OffertaaDistanza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_OffertaaDistanza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OffertaaDistanza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OffertaaDistanza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NotesOffertaADistanza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NotesOffertaADistanza__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback_Check_Finanziamenti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rollback_Check_Patrimoniale</name>
        <label>Rollback Check Patrimoniale</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_RedditiDaLavoro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_RedditiDaLavoro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_RedditoImmobiliare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_RedditoImmobiliare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_RedditoMobiliare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_RedditoMobiliare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_RedditoAltriRedditi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_RedditoAltriRedditi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Bank1Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Bank1Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca2Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca2Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca3Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca3Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca4Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca4Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca5Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca5Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Bank6Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Bank6Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Bank7Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Bank7Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Bank8Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Bank8Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Bank9Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Bank9Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Bank10Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Bank10Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NumOfProperties__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NumOfProperties__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_StimaPatrimonioImmobiliareItalia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_StimaPatrimonioImmobiliareItalia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NumOfCompanies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NumOfCompanies__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CompanyValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CompanyValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OtherAssets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OtherAssets__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_StimaAltriBeni__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_StimaAltriBeni__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_ImmobiliEstero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_ImmobiliEstero__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ImmobiliEsteroDove__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ImmobiliEsteroDove__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NumImmobiliEstero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NumImmobiliEstero__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_StimaPatrimonioImmobiliareEstero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_StimaPatrimonioImmobiliareEstero__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Importo_Banca_10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Importo_Banca_10__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_AltriBeniElenco__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_AltriBeniElenco__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_AltriBeniNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_AltriBeniNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ABI10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ABI10__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank6__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank7__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SFIdBank10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SFIdBank10__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca1Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca1Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca6Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca6Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca7Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca7Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca8Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca8Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca9Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca9Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Banca10Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Banca10Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback_Check_Finanziario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rollback_Check_Transazionale</name>
        <label>Rollback Check Transazionale</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_CreditCards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_CreditCards__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CreditCards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CreditCards__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_SmartWeb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_SmartWeb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SmartWeb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SmartWeb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_OnlineTrading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_OnlineTrading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OnlineTrading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OnlineTrading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_TransVarious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_TransVarious__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_TransVarious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_TransVarious__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CreditCardsNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CreditCardsNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SmartWebNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SmartWebNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OnlineTradingNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OnlineTradingNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_TransVariousNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_TransVariousNotes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback_Check_Operativit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rollback_Check_Wealth_Management</name>
        <label>Rollback Check Wealth Management</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_SuccessionPlanning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_SuccessionPlanning__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SuccessionPlanning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SuccessionPlanning__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_RealEstateConsulting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_RealEstateConsulting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_RealEstateConsulting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_RealEstateConsulting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_OtherWMServices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_OtherWMServices__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OtherWMServices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OtherWMServices__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SuccessionPlanningNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SuccessionPlanningNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_RealEstateConsultingNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_RealEstateConsultingNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OtherWMServicesNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OtherWMServicesNotes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback_Check_Transazionale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rollback_Info_iniziali</name>
        <label>Rollback Info iniziali</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CustomerNeeds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CustomerNeeds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ViveAncheAllestero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ViveAncheAllestero__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_PaeseEstero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_PaeseEstero__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ConsulenzaFinanziariadiEntitaTerze__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ConsulenzaFinanziariadiEntitaTerze__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NomeSocietFamilyOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NomeSocietFamilyOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CittaFamilyOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CittaFamilyOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NomeConsulenteFamilyOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NomeConsulenteFamilyOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_EmailFamilyOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_EmailFamilyOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_TelefonoFamilyOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_TelefonoFamilyOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NomeSocietaConsulenteLegale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NomeSocietaConsulenteLegale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CittaConsulenteLegale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CittaConsulenteLegale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NomeConsulenteConsulenteLegale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NomeConsulenteConsulenteLegale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_EmailConsulenteLegale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_EmailConsulenteLegale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_TelefonoConsulenteLegale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_TelefonoConsulenteLegale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NomeSocietaConsuelenteFiscale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NomeSocietaConsuelenteFiscale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CittaConsuelenteFiscale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CittaConsuelenteFiscale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NomeConsulenteConsuelenteFiscale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NomeConsulenteConsuelenteFiscale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_EmailConsuelenteFiscale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_EmailConsuelenteFiscale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_TelefonoConsuelenteFiscale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_TelefonoConsuelenteFiscale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NomeSocietaConsulenteAssicurativo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NomeSocietaConsulenteAssicurativo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CittaConsulenteAssicurativo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CittaConsulenteAssicurativo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NomeConsulenteConsulenteAssicurativo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NomeConsulenteConsulenteAssicurativo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_EmailConsulenteAssicurativo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_EmailConsulenteAssicurativo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_TelefonoConsulenteAssicurativo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_TelefonoConsulenteAssicurativo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CustomerInterestsPersonal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CustomerInterestsPersonal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_GenericNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_GenericNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_DataUltimaCompilazione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_DataUltimaCompilazione__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_AutoreCheckUp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_AutoreCheckUp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CustomerNeeds_is_populated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CustomerNeeds_is_populated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_Note_PresentiLuogoIncontro_populated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_Note_PresentiLuogoIncontro_populated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NotePresentiLuogoIncontro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NotePresentiLuogoIncontro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NotesEsigenzaPrevalente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NotesEsigenzaPrevalente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_PersonalInterestsNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_PersonalInterestsNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDate_PaeseEstero__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDate_PaeseEstero__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_SessionNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_SessionNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_ContactStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_ContactStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CompletionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CompletionDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.PTF_CustomerInterviewNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.PTF_CustomerInterviewNum__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback_Check_Patrimoniale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rollback_Last_Modified_Date</name>
        <label>Rollback Last Modified Date</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDatePerfPTFAnalysis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDatePerfPTFAnalysis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateOperativPtf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateOperativPtf__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateVerificaRetention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateVerificaRetention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateOpStraordinarie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateOpStraordinarie__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateFinExpiringProducts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateFinExpiringProducts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateSellingProperties__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateSellingProperties__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateVarieFinanziario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateVarieFinanziario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateSuccessionPlanning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateSuccessionPlanning__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateRealEstateConsulting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateRealEstateConsulting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateOtherWMServices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateOtherWMServices__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateCreditCards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateCreditCards__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateSmartWeb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateSmartWeb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateOnlineTrading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateOnlineTrading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateTransVarious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateTransVarious__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateOffertaaDistanza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateOffertaaDistanza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateMortgage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateMortgage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateLoans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateLoans__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateFinancialVarious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateFinancialVarious__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateProductsServicesInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateProductsServicesInfo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDate_TermsVerification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDate_TermsVerification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDate_CaringActivities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDate_CaringActivities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDate_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDate_Other__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateCustomerAcquisition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateCustomerAcquisition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDate_NewCstmrAcquisition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDate_NewCstmrAcquisition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateOnboardingDevelop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateOnboardingDevelop__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateCustomerRetention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateCustomerRetention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateProposteInvestimento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateProposteInvestimento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateGestioniDiPTF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateGestioniDiPTF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDatePIR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDatePIR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateFondiInvestimentoCed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateFondiInvestimentoCed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateFondiESG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateFondiESG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateFondiSicavTradiz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateFondiSicavTradiz__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_LastModifiedDateOrgPatrimonioPassGen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_LastModifiedDateOrgPatrimonioPassGen__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Check_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rollback_Piano_d_azione</name>
        <label>Rollback Piano d&apos;azione</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_CustomerAcquisition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_CustomerAcquisition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_NewCustomersAcquisition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_NewCustomersAcquisition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_OnboardingDevelop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_OnboardingDevelop__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_V_CustomerRetention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_V_CustomerRetention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CustomerAcquisitionNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CustomerAcquisitionNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NewCustomersAcquisitionNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NewCustomersAcquisitionNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_OnboardingDevelopNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_OnboardingDevelopNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_CustomerRetentionNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_CustomerRetentionNotes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckUp.CRM_NotePianoDAzione__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Snapshot.CRM_NotePianoDAzione__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollback_Last_Modified_Date</targetReference>
        </connector>
    </assignments>
    <description>CR(58660: CheckUP - cross MDS - Primo Checkup) - Fix Bug</description>
    <environments>Default</environments>
    <interviewLabel>Rollback - reset campi - Consulenti Finanziari {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollback - reset campi - Consulenti Finanziari</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Check_Up</name>
        <label>Update Check Up</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Delete_opps_relationships</targetReference>
        </connector>
        <inputReference>CheckUp</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rollback_Info_iniziali</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Delete_opps_relationships</name>
        <label>Delete opps &amp; relationships</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <flowName>Rollback_relazioni_opportunit</flowName>
        <inputAssignments>
            <name>snapshotId</name>
            <value>
                <elementReference>Snapshot.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CheckUp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CustomerInterview__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Snapshot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CRM_CustomerInterview__c</objectType>
    </variables>
</Flow>
