BPER/DEVF/force-app/main/default/flows/Sintesi_Imprese.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>Formula_ThumbUpDown</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_current_NDG.CRM_MifidDueDate__c} &gt;= TODAY()</expression>
    </formulas>
    <formulas>
        <name>Formula_Total</name>
        <dataType>String</dataType>
        <expression>IF (
{!Get_current_NDG.RecordType.DeveloperName} = &apos;PersonAccount&apos;, &apos;16&apos;, &apos;13&apos;
)</expression>
    </formulas>
    <interviewLabel>Sintesi Imprese {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sintesi Imprese</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_current_NDG</name>
        <label>Get current NDG</label>
        <locationX>50</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Indicators_from_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Indicators_from_Account</name>
        <label>Get Indicators from Account</label>
        <locationX>242</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Indicatori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_IndicatoriCliente__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Indicatori</name>
        <label>Indicatori</label>
        <locationX>455</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Indicatori_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Indicatori_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;﻿Privacy&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://bper--crmprotpro--c.documentforce.com/sfc/servlet.shepherd/version/download/0687Z0000016RXm?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Indicatori_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;% completamento profilo:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://bper--crmprotpro--c.documentforce.com/sfc/servlet.shepherd/version/download/0687Z0000016RXw?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Indicatori_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;Presenza reclamo:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 18px;&quot;&gt;﻿&lt;/span&gt;&lt;img src=&quot;https://bper--crmprotpro--c.cs174.content.force.com/sfc/servlet.shepherd/version/download/0687Z0000016TAB?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Indicatori_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test8</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;NPS&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 18px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Promotore &lt;/span&gt;&lt;img src=&quot;https://bper--crmprotpro--c.documentforce.com/sfc/servlet.shepherd/version/download/0687Z0000016RXr?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Indicatori_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Indicatori_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Indicatori_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Indicatori_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test5</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;Segmento Valoriale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;5&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Indicatori_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test7</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;Segmento Comportamentale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 18px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Small Business&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Indicatori_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test10</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;Rating Andamentale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(63, 63, 61);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;5&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Indicatori_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test11</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;Rating Ufficiale&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(63, 63, 61);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;7&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Indicatori_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Indicatori_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Indicatori_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Indicatori_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test12</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;SOW Utilizzato&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;50.000,00 €&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Indicatori_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;﻿Fatturato:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 18px;&quot;&gt;﻿20.000.000,00 €&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Indicatori_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test14</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(63, 63, 61);&quot;&gt;Data ultimo contatto&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;20/05/2021&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Indicatori_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test15</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 61); font-size: 14px;&quot;&gt;Data ultimo acquisto&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;10/03/2021&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>113</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>Get_current_NDG</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>LinkERating</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;www.google.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;E-rating&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testcheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
