BPER/DEVF/force-app/main/default/flows/Sintesi_Privati_tabella_possesso_prodotti_segmento_comportamentale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Sintesi - Privati - tabella possesso prodotti segmento comportamentale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sintesi - Privati - tabella possesso prodotti segmento comportamentale</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_NDG</name>
        <label>Get NDG</label>
        <locationX>328</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TabellaPossessoPrtodottiTitle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>TabellaPossessoPrtodottiTitle</name>
        <label>TabellaPossessoPrtodottiTitle</label>
        <locationX>497</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TabellaPossessoPrtodottiTitle_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TabellaPossessoProdottiTitle</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://bper--crmprotpro--c.documentforce.com/sfc/servlet.shepherd/version/download/0687Z0000016ZjM?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TabellaPossessoPrtodottiTitle_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SetMinimoTitle</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Set minimo&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SetOttimaleTitle</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Set ottimale&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TabellaPossessoPrtodottiTitle_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t1</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://bper--crmprotpro--c.documentforce.com/sfc/servlet.shepherd/version/download/0687Z0000016ZkU?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ex1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Conto corrente&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t2</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://bper--crmprotpro--c.documentforce.com/sfc/servlet.shepherd/version/download/0687Z0000016ZkZ?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ex2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Conto corrente&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TabellaPossessoPrtodottiTitle_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t3</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://bper--crmprotpro--c.documentforce.com/sfc/servlet.shepherd/version/download/0687Z0000016Zke?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ex3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Bancomat&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t4</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://bper--crmprotpro--c.documentforce.com/sfc/servlet.shepherd/version/download/0687Z0000016Zkj?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ex4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;Bancomat&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TabellaPossessoPrtodottiTitle_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ex5</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Home banking&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ex6</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Home banking&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TabellaPossessoPrtodottiTitle_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ex8</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Carta di credito&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TabellaPossessoPrtodottiTitle_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TabellaPossessoPrtodottiTitle_Section7_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ex10</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 14px;&quot;&gt;Polizza auto&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>202</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>Get_NDG</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
