BPER/DEVF/force-app/main/default/flows/Sposta_NDG_post_attivazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Portafoglio</name>
        <label>Assign Portafoglio</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.PTF_Portafoglio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Portafoglio_Assente_By_Filiale.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_disabilita_flow</name>
        <label>Check disabilita flow</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Abilitato</defaultConnectorLabel>
        <rules>
            <name>Disabilitato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Funzionalita__c.Disable_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_Assente</targetReference>
            </connector>
            <label>Disabilitato</label>
        </rules>
    </decisions>
    <interviewLabel>Sposta NDG post attivazione {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sposta NDG post attivazione</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Portafoglio_Assente_By_Filiale</name>
        <label>Get Portafoglio Assente By Filiale</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Portafoglio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_Filiale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PTF_Filiale__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_Assente.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Wallet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Assente</name>
        <label>Get RecordType Assente</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Portafoglio_Assente_By_Filiale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_disabilita_flow</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_StatoCRM__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATT</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
