BPER/DEVF/force-app/main/default/flows/Sposta_NDG_in_portafoglio_Residuale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_disabilita_flow</name>
        <label>Check disabilita flow</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Abilitato</defaultConnectorLabel>
        <rules>
            <name>Disabilitato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Funzionalita__c.Disable_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Residuale_by_filliale</targetReference>
            </connector>
            <label>Disabilitato</label>
        </rules>
    </decisions>
    <interviewLabel>Sposta NDG in portafoglio Residuale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sposta NDG in portafoglio Residuale</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Residuale_by_filliale</name>
        <label>Get Residuale by filliale</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sposta_NDG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_ModelloDiServizio__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residuale</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_Filiale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PTF_Filiale__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Wallet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Sposta_NDG</name>
        <label>Sposta NDG</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PTF_Portafoglio__c</field>
            <value>
                <elementReference>Get_Residuale_by_filliale.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_disabilita_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_DaysSinceDeactivation__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>PTF_Portafoglio__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ModelloDiServizio__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Residuale</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-10-22</startDate>
            <startTime>13:16:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
