BPER/DEVF/force-app/main/default/flows/SubFlow_Procedura_guidata_creazione_opportunit_Invio_a_Filiale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Invio_Email_alla_Filiale_Manca_Gestore_di_Riferimento</name>
        <label>Invio Email alla Filiale - Manca Gestore di Riferimento</label>
        <locationX>314</locationX>
        <locationY>2618</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuccessScreenOppFiliale</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comunicazione_al_Direttore_Vicario_CoordinatoreFamily_Poe_Filiale_Altra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Filiale_PTF_IdCED_c_Stessa_Filiale_Gestore_non_trovato.CRM_EmailSB__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.smartcontact@bper.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Appuntamento da Servizio Clienti - {!Get_account_Info.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Invio_Email_alla_Filiale_Manca_Gestore_di_Riferimento_0</name>
        <label>Invio Email alla Filiale - Manca Gestore di Riferimento</label>
        <locationX>578</locationX>
        <locationY>2618</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuccessScreenOppFiliale</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comunicazione_al_Direttore_Vicario_CoordinatoreFamily_Poe_Filiale_Altra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Filiale_PTF_IdCED_c_Stessa_Filiale.CRM_EmailSB__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.smartcontact@bper.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Appuntamento da Servizio Clienti - {!Get_account_Info.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Invio_Email_Gestore_di_Riferimento</name>
        <label>Invio Email Gestore di Riferimento</label>
        <locationX>50</locationX>
        <locationY>2510</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuccessScreenOppFiliale</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comunicazione_al_gestore_di_relazione_del_cliente</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Gestore_Di_Riferimento.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.smartcontact@bper.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Appuntamento da Servizio Clienti - {!Get_account_Info.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Direttore_Vicario_Coordiantore</name>
        <label>Send Email To Direttore Vicario Coordiantore</label>
        <locationX>1018</locationX>
        <locationY>2726</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Direttore_Vicario_Coordinatore_Mail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comunicazion_al_Direttore_Vicario_Coordinatore_Family_Poe</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Direttore_Vicario_Coordinatore_Mail.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.smartcontact@bper.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Appuntamento da Servizio Clienti da assegnare - {!Get_account_Info.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Direttore_Vicario_Coordiantore_01</name>
        <label>Send Email To Direttore Vicario Coordiantore 01</label>
        <locationX>1586</locationX>
        <locationY>2618</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Direttore_Vicario_Coordinatore_Mail_01</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comunicazione_al_Direttore_Vicario_CoordinatoreFamily_Poe_Filiale_Altra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Direttore_Vicario_Coordinatore_Mail_01.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.smartcontact@bper.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Appuntamento da Servizio Clienti - {!Get_account_Info.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Direttore_Vicario_Coordiantore_Mail_Mancanti</name>
        <label>Send Email To Direttore Vicario Coordiantore Mail Mancanti</label>
        <locationX>1146</locationX>
        <locationY>2510</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuccessScreenOppFiliale</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Comunicazione_al_Direttore_Vicario_CoordinatoreFamily_Poe_Filiale_Altra</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Filiale_PTF_IdCED_c.CRM_EmailSB__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>info.smartcontact@bper.it</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Appuntamento da Servizio Clienti - {!Get_account_Info.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Colonna_tabella</name>
        <label>Assegna_Colonna_tabella</label>
        <locationX>2841</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>ColonnaTabella</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CRM_Nome__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_account_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_branch_email_address_to_variable</name>
        <label>Assign branch email address to variable</label>
        <locationX>2197</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>Emailfilialeincuisirecherailcliente</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailFilialeAppuntamento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Esiste_indirizzo_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_generic_email_address_to_variable</name>
        <label>Assign generic email address to variable</label>
        <locationX>1978</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>NewAccountEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account_Info.CRM_GenericEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Prestito_Origin_Proattivit_Outsourcer_BOC_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nessuna_ricerca_effettuata_false</name>
        <label>Assign Nessuna ricerca effettuata = false</label>
        <locationX>3034</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>NessunaRicercaEffettuata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Tipo_di_ricerca_effettuata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nessuna_Ricerca_Effetuata_true</name>
        <label>Assign Nessuna Ricerca Effetuata = true</label>
        <locationX>3936</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>NessunaRicercaEffettuata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_email_to_a_variable</name>
        <label>Assign new email to a variable</label>
        <locationX>2242</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>NewAccountEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Prestito_Origin_Proattivit_Outsourcer_BOC_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_id_variable_to_text_collection_variable</name>
        <label>Assign record id variable to text collection variable</label>
        <locationX>3122</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>TextCollectionListaFiliali</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Lista_Filiali.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Lista_Filiali</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Filiale_null</name>
        <label>Assign Selected Filiale = null</label>
        <locationX>3144</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>TableListaFiliali.selectedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Presa_appuntamento_FILIALE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_stessa_filiale_to_variable</name>
        <label>Assign stessa filiale to variable</label>
        <locationX>2197</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>EmailFilialeAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale.CRM_EmailSB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilialeFinalePerAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale.CRM_Nome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CodiceDellaFilialePerAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Filiale.PTF_IdCEDFiliale__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Presa_appuntamento_FILIALE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filiale_non_selezionata_false</name>
        <label>Filiale non selezionata = false</label>
        <locationX>3034</locationX>
        <locationY>2744</locationY>
        <assignmentItems>
            <assignToReference>FilialeNonSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Svuota_Record_Collection_Filiali</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filiale_non_selezionata_true</name>
        <label>Filiale non selezionata = true (</label>
        <locationX>3408</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>FilialeNonSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayListaFiliali</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filiale_selezionata_Final</name>
        <label>Filiale selezionata Final</label>
        <locationX>3144</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>FinalFilialeSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.CRM_Nome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalIdCedFilialeSelezionata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.PTF_IdCEDFiliale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailFilialeAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.CRM_EmailSB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CodiceDellaFilialePerAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.PTF_IdCEDFiliale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilialeFinalePerAppuntamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_filiale_name_and_ced.CRM_Nome__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Selected_Filiale_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_all_element_within_the_list</name>
        <label>Remove all element within the list</label>
        <locationX>3034</locationX>
        <locationY>2636</locationY>
        <assignmentItems>
            <assignToReference>TextCollectionListaFiliali</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyCollectionListaFilial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filiale_non_selezionata_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_smartweb_email_address_to_variable</name>
        <label>Save smartweb email address to variable</label>
        <locationX>1091</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>NewAccountEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account_Info.CRM_SmartWebEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Prestito_Origin_Proattivit_Outsourcer_BOC_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Text_Collection_Variable</name>
        <label>Set Text Collection Variable</label>
        <locationX>3034</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>TextCollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TextCollectionListaFiliali</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayListaFiliali</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Svuota_Record_Collection_Filiali</name>
        <label>Svuota Record Collection Filiali</label>
        <locationX>3034</locationX>
        <locationY>2852</locationY>
        <assignmentItems>
            <assignToReference>RecordCollectionListaFiliali</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordCollectionFilialiNULL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_torna_alla_ricerca_true_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AltriProdottiBankingChoice</name>
        <choiceText>{!AltriprodottiBanking}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AltriprodottiBanking</elementReference>
        </value>
    </choices>
    <choices>
        <name>AltroChoice</name>
        <choiceText>{!Altro}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Altro</elementReference>
        </value>
    </choices>
    <choices>
        <name>ArcaVenti4Choice</name>
        <choiceText>{!ArcaVenti4}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ArcaVenti4</elementReference>
        </value>
    </choices>
    <choices>
        <description>AssicurazioneChoice</description>
        <name>AssicurazioneChoice</name>
        <choiceText>{!Assicurazione}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assicurazione</elementReference>
        </value>
    </choices>
    <choices>
        <name>CarteDiCreditoChoice</name>
        <choiceText>{!Cartadicredito}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Cartadicredito</elementReference>
        </value>
    </choices>
    <choices>
        <name>CarteDiDebitoChoice</name>
        <choiceText>{!Cartadidebito}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Cartadidebito</elementReference>
        </value>
    </choices>
    <choices>
        <name>CarteIBANChoice</name>
        <choiceText>{!CarteIBAN}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CarteIBAN</elementReference>
        </value>
    </choices>
    <choices>
        <name>CartePrepagateChoice</name>
        <choiceText>{!CartaPrepagata}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CartaPrepagata</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoiceCLIENTEDACONTATTARE</name>
        <choiceText>CLIENTE DA CONTATTARE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLIENTE DA CONTATTARE</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceFiliale</name>
        <choiceText>FILIALE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FILIALE</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMeStesso</name>
        <choiceText>ME STESSO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ME STESSO</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNO_ClienteSiRecaPressoSuaFiliale</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <description>NO</description>
        <name>ChoiceNOEmailCorretta</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePoolCommerciale</name>
        <choiceText>POOL COMMERCIALE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POOL COMMERCIALE</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePROPOSTAACCETTATA</name>
        <choiceText>PROPOSTA ACCETTATA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PROPOSTA ACCETTATA</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSI_ClienteSiRecaPressoSuaFiliale</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSIEmailCorretta</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContiChoice</name>
        <choiceText>{!Conti}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Conti</elementReference>
        </value>
    </choices>
    <choices>
        <name>IncassiEPagamentiChoice</name>
        <choiceText>{!IncassiEPagamenti}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IncassiEPagamenti</elementReference>
        </value>
    </choices>
    <choices>
        <name>InvestimentiChoice</name>
        <choiceText>{!Investimenti}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Investimenti</elementReference>
        </value>
    </choices>
    <choices>
        <name>MulticanalitaChoice</name>
        <choiceText>{!SmartWeb}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SmartWeb</elementReference>
        </value>
    </choices>
    <choices>
        <name>MutuiChoice</name>
        <choiceText>{!Mutui}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Mutui</elementReference>
        </value>
    </choices>
    <choices>
        <name>NO_DeviRicontattareIlCliente</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NO_Esito_Proposta_Prestito_Digitale_SelfOAD</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO_Esito_Proposta_Prestito_Digitale_SelfOAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_RfiiutaSostituzione</name>
        <choiceText>No, non è interessato</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Richiesta_non_ancora_evasa</name>
        <choiceText>No, non ha ancora chiesto la sostituzione ma lo farà</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non ancora</stringValue>
        </value>
    </choices>
    <choices>
        <name>NOCampaignInboundComm</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>NO</description>
        <name>NOChoiceEsitoNoPrestitoDigital</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NOChoiceEsitoPrestitoDigital</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoiceSmartWeb</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NONumePropANDImporto_RfiutataBOC</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NullChoice</name>
        <choiceText>-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>NumeroPropostaANDImportoNO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NumeroPropostaANDImportoSI</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>OriginCC_OAD</name>
        <choiceText>OAD</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>OAD</elementReference>
        </value>
    </choices>
    <choices>
        <name>OriginCC_ProattivitaBOC</name>
        <choiceText>Proattività BOC</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ProattivitaBOC</elementReference>
        </value>
    </choices>
    <choices>
        <name>OriginCC_ProattivitaOutsourcer</name>
        <choiceText>Proattività Outsourcer</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ProattivitaOutsourcer</elementReference>
        </value>
    </choices>
    <choices>
        <name>OriginCC_ReactiveInbound</name>
        <choiceText>Reactive inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ReactiveInbound</elementReference>
        </value>
    </choices>
    <choices>
        <name>OriginCC_Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Self</elementReference>
        </value>
    </choices>
    <choices>
        <name>PagamentiChoice</name>
        <choiceText>{!Pagamenti}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Pagamenti</elementReference>
        </value>
    </choices>
    <choices>
        <name>PrestitoChoice</name>
        <choiceText>{!Prestito}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Prestito</elementReference>
        </value>
    </choices>
    <choices>
        <name>PrestitoDigitalChoice</name>
        <choiceText>{!Prestitodigital}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Prestitodigital</elementReference>
        </value>
    </choices>
    <choices>
        <name>PrevidenzaEProtezioneChoice</name>
        <choiceText>{!Previdenzaeprotezione}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Previdenzaeprotezione</elementReference>
        </value>
    </choices>
    <choices>
        <name>Proponialtriprodotti</name>
        <choiceText>Proponi altri prodotti</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proponi altri prodotti</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProponiPrestitodigital</name>
        <choiceText>Proponi Prestito digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proponi Prestito digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProponiSmartWeb</name>
        <choiceText>Proponi SmartWeb</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proponi SmartWeb</stringValue>
        </value>
    </choices>
    <choices>
        <name>RadioButtonDocScadutoNO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RadioButtonDocScadutoSI</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RicontattareClienteNO_NONumPropImp</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>RicontattareClienteSI_NONumPropImp</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rifiutata_Da_BOC</name>
        <choiceText>Rifiutata Da BOC</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RifiutatadaBOC</name>
        <choiceText>Rifiutata da BOC</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RifiutataBoc</elementReference>
        </value>
    </choices>
    <choices>
        <name>Si_AccettaSostituzione</name>
        <choiceText>Sì, sostituirà la carta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_DeviRicontattareIlCliente</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_Esito_Proposta_Prestito_Digitale_SelfOAD</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Si_Sostituzione_gia_richiesta</name>
        <choiceText>Sì, il cliente ha già richiesto la sostituzione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <choices>
        <name>SICampaignInboundComm</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <choices>
        <name>SIChoiceEsitoNoPrestitoDigital</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SIChoiceEsitoPrestitoDigital</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiChoiceEsitoSmartWeb</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>SicurezzaChoice</name>
        <choiceText>{!Sicurezza}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Sicurezza</elementReference>
        </value>
    </choices>
    <choices>
        <name>SINumePropANDImporto_RfiutataBOC</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Smartweb_RadioButtonDocScadutoNO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Smartweb_RadioButtonDocScadutoSI</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SmartwebChoice</name>
        <choiceText>{!SmartWeb}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SmartWeb</elementReference>
        </value>
    </choices>
    <choices>
        <name>SoluzioneStrada_Choice</name>
        <choiceText>{!Soluzione_Strada}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Soluzione_Strada</elementReference>
        </value>
    </choices>
    <choices>
        <name>Tuttotondo_Choice</name>
        <choiceText>{!Tuttotondo}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Tuttotondo</elementReference>
        </value>
    </choices>
    <choices>
        <name>ZeropensieriChoice</name>
        <choiceText>{!Zeropensieri}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Zeropensieri</elementReference>
        </value>
    </choices>
    <constants>
        <description>Altri prodotti Banking</description>
        <name>AltriprodottiBanking</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Altri prodotti Banking</stringValue>
        </value>
    </constants>
    <constants>
        <description>Altro</description>
        <name>Altro</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Altro</stringValue>
        </value>
    </constants>
    <constants>
        <name>ArcaVenti4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ArcaVenti4</stringValue>
        </value>
    </constants>
    <constants>
        <description>Assicurazione</description>
        <name>Assicurazione</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assicurazione</stringValue>
        </value>
    </constants>
    <constants>
        <description>Cartadicredito</description>
        <name>Cartadicredito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Carta di credito</stringValue>
        </value>
    </constants>
    <constants>
        <description>Cartadidebito</description>
        <name>Cartadidebito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Carta di debito</stringValue>
        </value>
    </constants>
    <constants>
        <description>CartaPrepagata</description>
        <name>CartaPrepagata</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Carta Prepagata</stringValue>
        </value>
    </constants>
    <constants>
        <description>CarteIBAN</description>
        <name>CarteIBAN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Carte IBAN</stringValue>
        </value>
    </constants>
    <constants>
        <description>Conti</description>
        <name>Conti</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Conti</stringValue>
        </value>
    </constants>
    <constants>
        <name>DigitalProduct</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital Product</stringValue>
        </value>
    </constants>
    <constants>
        <description>IncassiEPagamenti</description>
        <name>IncassiEPagamenti</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Incassi e pagamenti</stringValue>
        </value>
    </constants>
    <constants>
        <description>Investimenti</description>
        <name>Investimenti</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Investimenti</stringValue>
        </value>
    </constants>
    <constants>
        <description>Mutui</description>
        <name>Mutui</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mutui</stringValue>
        </value>
    </constants>
    <constants>
        <name>OAD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OAD</stringValue>
        </value>
    </constants>
    <constants>
        <description>Pagamenti</description>
        <name>Pagamenti</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pagamenti</stringValue>
        </value>
    </constants>
    <constants>
        <description>Prestito</description>
        <name>Prestito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prestito</stringValue>
        </value>
    </constants>
    <constants>
        <name>Prestitodigital</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prestito digital</stringValue>
        </value>
    </constants>
    <constants>
        <description>Previdenza e protezione</description>
        <name>Previdenzaeprotezione</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Previdenza e protezione</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProattivitaBOC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Proattività BOC</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProattivitaOutsourcer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Proattività Outsourcer</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProdottiSmartWeb</name>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReactiveInbound</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reactive Inbound</stringValue>
        </value>
    </constants>
    <constants>
        <name>RifiutataBoc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rifutata da BOC</stringValue>
        </value>
    </constants>
    <constants>
        <name>Self</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </constants>
    <constants>
        <description>Sicurezza</description>
        <name>Sicurezza</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sicurezza</stringValue>
        </value>
    </constants>
    <constants>
        <description>SmartWeb</description>
        <name>SmartWeb</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SmartWeb</stringValue>
        </value>
    </constants>
    <constants>
        <name>Soluzione_Strada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Soluzione strada</stringValue>
        </value>
    </constants>
    <constants>
        <name>Tuttotondo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuttotondo</stringValue>
        </value>
    </constants>
    <constants>
        <name>Zeropensieri</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Zeropensieri</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_cliente_si_reca_presso_la_sua_filiale</name>
        <label>Check cliente si reca presso la sua filiale</label>
        <locationX>2841</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Get_Filiale_RT_from_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stessa_filiale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleziona_un_valore_dove_si_rechera_cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceSI_ClienteSiRecaPressoSuaFiliale</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Filiale</targetReference>
            </connector>
            <label>Stessa filiale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Corretta</name>
        <label>Check Email Corretta</label>
        <locationX>1888</locationX>
        <locationY>1262</locationY>
        <defaultConnector>
            <targetReference>Insert_New_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_corretta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleziona_un_valore_per_email_corretta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceSIEmailCorretta</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_what_email_address_shown_within_the_previous_screen</targetReference>
            </connector>
            <label>Email corretta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_filiale_selezionat</name>
        <label>Check if filiale selezionat</label>
        <locationX>3276</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <targetReference>Filiale_non_selezionata_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filiale_selezionata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TableListaFiliali.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_filiale_name_and_ced</targetReference>
            </connector>
            <label>Filiale selezionata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Gestore_di_Riferimento_Exist</name>
        <label>Check if Gestore di Riferimento Exist</label>
        <locationX>182</locationX>
        <locationY>2402</locationY>
        <defaultConnector>
            <targetReference>Get_Filiale_PTF_IdCED_c_Stessa_Filiale_Gestore_non_trovato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non esiste un gestore di riferimento</defaultConnectorLabel>
        <rules>
            <name>Gestore_di_riferimento_esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gestore_Di_Riferimento.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invio_Email_Gestore_di_Riferimento</targetReference>
            </connector>
            <label>Gestore di riferimento esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_at_least_one_user_from_altra_filiale</name>
        <label>Check if there is at least one user from &quot; altra filiale&quot;</label>
        <locationX>1322</locationX>
        <locationY>2402</locationY>
        <defaultConnector>
            <targetReference>Loop_Direttore_Vicario_Coordinatore_Mail_01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There is at least one user</defaultConnectorLabel>
        <rules>
            <name>Get_Direttore_etc_altra_filiale_return_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Direttore_Vicario_and_Coordinatore_01</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Direttore_Vicario_Coordiantore_Mail_Mancanti</targetReference>
            </connector>
            <label>Get Direttore etc altra filiale return 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_at_least_one_user_from_stessa_filiale</name>
        <label>Check if there is at least one user from &quot; stessa filiale&quot;</label>
        <locationX>754</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>Loop_Direttore_Vicario_Coordinatore_Mail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>There is at least one user</defaultConnectorLabel>
        <rules>
            <name>Get_Direttore_etc_return_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Direttore_Vicario_and_Coordinatore</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invio_Email_alla_Filiale_Manca_Gestore_di_Riferimento_0</targetReference>
            </connector>
            <label>Get Direttore etc return 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_torna_alla_ricerca_true</name>
        <label>Check if torna alla ricerca è true</label>
        <locationX>3034</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Check_if_filiale_selezionat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Torna_alla_ricerca</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TornaAllaRicerca.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_all_element_within_the_list</targetReference>
            </connector>
            <label>Torna alla ricerca</label>
        </rules>
        <rules>
            <name>Torna_alla_selezione_della_filiale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackToBranchTypeSelection.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_all_element_within_the_list</targetReference>
            </connector>
            <label>Torna alla selezione della filiale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_torna_alla_ricerca_true_0</name>
        <label>Check if torna alla ricerca è true</label>
        <locationX>3034</locationX>
        <locationY>2960</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Torna_alla_ricerca_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TornaAllaRicerca.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento</targetReference>
            </connector>
            <label>Torna alla ricerca</label>
        </rules>
        <rules>
            <name>Torna_alla_selezione_della_filiale_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackToBranchTypeSelection.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dove_Si_Recher_il_Cliente</targetReference>
            </connector>
            <label>Torna alla selezione della filiale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invio_Stessa_Filiale_VS_Altra_Filiale</name>
        <label>Check Invio Stessa Filiale VS Altra Filiale</label>
        <locationX>1091</locationX>
        <locationY>2078</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stessa_Filiale_Per_Invio_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleziona_un_valore_dove_si_rechera_cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceSI_ClienteSiRecaPressoSuaFiliale</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Portafogliato</targetReference>
            </connector>
            <label>Stessa Filiale Per Invio Mail</label>
        </rules>
        <rules>
            <name>Altra_Filiale_Per_Invio_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seleziona_un_valore_dove_si_rechera_cliente</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceNO_ClienteSiRecaPressoSuaFiliale</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Filiale_PTF_IdCED_c</targetReference>
            </connector>
            <label>Altra Filiale Per Invio Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prestito_Origin_Proattivit_Outsourcer_BOC_0_0</name>
        <label>Check Prestito - Origin Proattività Outsourcer BOC</label>
        <locationX>1091</locationX>
        <locationY>1586</locationY>
        <defaultConnector>
            <targetReference>Reactive_Inbound_vs_Digital_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prestito_Proattivit_Outsourcer_BOC_0_0</name>
            <conditionLogic>(1 AND (2 OR 3)) OR (4 AND (5 OR 6)) OR (7 AND (5 OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>INVIOFIL_quale_prod_creare_la_pro_smart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INVIOFIL_PrestitoChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INVIOFIL_OriginCCNoPrestDigDaSmartWeb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INVIOFIL_OriginCC_ProattivitaOutsourcer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INVIOFIL_OriginCCNoPrestDigDaSmartWeb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INVIOFIL_OriginCC_ProattivitaBOC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INVIOFIL_qualeprodvuoi_crearelaproposta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INVIOFIL_PrestitoChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INVIOFIL_OriginCCNOPrestitoDigital</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INVIOFIL_OriginCC_ProattivitaOutsourcer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INVIOFIL_OriginCCNOPrestitoDigital</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INVIOFIL_OriginCC_ProattivitaBOC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INVIOFIL_quale_prod_creare_la_proposta2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INVIOFIL_PrestitoChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_From_Smart_Web_0_0</targetReference>
            </connector>
            <label>Prestito Proattivita Outsourcer BOC 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_se_almeno_uno_dei_due_campi_ricerca_valorizzato</name>
        <label>Check se almeno uno dei due campi ricerca è valorizzato</label>
        <locationX>3485</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Assign_Nessuna_Ricerca_Effetuata_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Almeno_uno_dei_due_campi_ricerca_valorizzato</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Cerca_per_nome_filiale</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cerca_per_CED_filiale</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviousBackButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Nessuna_ricerca_effettuata_false</targetReference>
            </connector>
            <label>Almeno uno dei due campi ricerca valorizzato</label>
        </rules>
        <rules>
            <name>PreviousBackButtonClicked</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>PreviousBackButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cerca_per_CED_filiale</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cerca_per_nome_filiale</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dove_Si_Recher_il_Cliente</targetReference>
            </connector>
            <label>PreviousBackButtonClicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Tipo_di_ricerca_effettuata</name>
        <label>Check Tipo di ricerca effettuata</label>
        <locationX>3034</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Get_Lista_Filiali_per_Codice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ricerca_per_Nome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RicercaCustomButton.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lista_Filiali</targetReference>
            </connector>
            <label>Ricerca per Nome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_what_email_address_shown_within_the_previous_screen</name>
        <label>Check what email address shown within the previous screen</label>
        <locationX>1534</locationX>
        <locationY>1370</locationY>
        <defaultConnector>
            <targetReference>Assign_generic_email_address_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_smartweb_email_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_Info.CRM_SmartWebEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_smartweb_email_address_to_variable</targetReference>
            </connector>
            <label>Check if smartweb email not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esiste_indirizzo_email</name>
        <label>Esiste indirizzo email</label>
        <locationX>2197</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Insert_New_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Esiste_smartweb_o_generic_email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_Info.CRM_SmartWebEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_Info.CRM_GenericEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckEmailClienteCorretta</targetReference>
            </connector>
            <label>Esiste smartweb o generic email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_From_Smart_Web_0_0</name>
        <label>Is From Smart Web?</label>
        <locationX>893</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunit_FILIALE_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_from_Smart_web_Choice_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>INVIOFIL_OriginCCNoPrestDigDaSmartWeb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INVIOFIL_ProattivitaBOC</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INVIOFIL_OriginCCNoPrestDigDaSmartWeb</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>INVIOFIL_ProattivitaOutsourcer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunit_FILIALE_0</targetReference>
            </connector>
            <label>Is from Smart Web 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Portafogliato</name>
        <label>Is Portafogliato</label>
        <locationX>468</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>Get_Filiale_PTF_IdCED_c_Stessa_Filiale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Portafogliato</defaultConnectorLabel>
        <rules>
            <name>Portafogliato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_Info.CRM_NomeCognomeReferente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gestore_Di_Riferimento</targetReference>
            </connector>
            <label>Portafogliato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reactive_Inbound_vs_Digital_Product</name>
        <label>Reactive Inbound vs Digital Product</label>
        <locationX>1281</locationX>
        <locationY>1666</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reactive_Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>INVIOFIL_OriginCCNOPrestitoDigital</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReactiveInbound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunit_FILIALE</targetReference>
            </connector>
            <label>Reactive Inbound</label>
        </rules>
        <rules>
            <name>Digital_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>INVIOFIL_OriginCCNOPrestitoDigital</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DigitalProduct</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunit_FILIALE_0_0_0</targetReference>
            </connector>
            <label>Digital Product</label>
        </rules>
    </decisions>
    <description>Inserito campo CRM_DataScadenzaIniziale__c in creazione opty</description>
    <dynamicChoiceSets>
        <name>MotivoRifiuto</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_InformazioniAggiuntive__c</picklistField>
        <picklistObject>CRM_AssociazioneEsitazioniCampagne__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>CurrentDateTimePlus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +1</expression>
    </formulas>
    <formulas>
        <name>DifferenceToday1month</name>
        <dataType>Date</dataType>
        <expression>today () - 30</expression>
    </formulas>
    <formulas>
        <name>DifferenceToday5Months</name>
        <dataType>Date</dataType>
        <expression>today () - 150</expression>
    </formulas>
    <formulas>
        <name>Elapsedfromlastprestitodigitalopportunitycreation</name>
        <dataType>DateTime</dataType>
        <expression>now () - 90</expression>
    </formulas>
    <formulas>
        <name>Filialediversaperappuntamento</name>
        <dataType>String</dataType>
        <expression>{!CodiceDellaFilialePerAppuntamento} + &apos; &apos; + &apos;-&apos; + &apos; &apos; + {!Cerca_per_nome_filiale}</expression>
    </formulas>
    <formulas>
        <name>Formula_MotiviRifiutoRimanente</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!TEMP_MotiviRifiuto}, &quot;;&quot;), RIGHT({!TEMP_MotiviRifiuto}, LEN({!TEMP_MotiviRifiuto}) - FIND(&quot;;&quot;, {!TEMP_MotiviRifiuto})), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_MotivoRifiuto</name>
        <dataType>String</dataType>
        <expression>IF(!CONTAINS({!TEMP_MotiviRifiuto},&quot;;&quot;), {!TEMP_MotiviRifiuto}, LEFT({!TEMP_MotiviRifiuto}, FIND(&quot;;&quot;, {!TEMP_MotiviRifiuto}) -1))</expression>
    </formulas>
    <formulas>
        <name>FormulaFiliale</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Get_account_Info.PTF_Filiale__c}), {!Get_account_Info.PTF_Filiale__c}, {!Get_account_Info.CRM_Filiale__c})</expression>
    </formulas>
    <formulas>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 60</expression>
    </formulas>
    <formulas>
        <name>OppCloseDate30Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <interviewLabel>SubFlow - Procedura guidata creazione opportunità - Invio a Filiale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow - Procedura guidata creazione opportunità - Invio a Filiale</label>
    <loops>
        <name>Loop_Direttore_Vicario_Coordinatore_Mail</name>
        <label>Loop Direttore, Vicario, Coordinatore Mail</label>
        <locationX>930</locationX>
        <locationY>2618</locationY>
        <collectionReference>Get_Direttore_Vicario_and_Coordinatore</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_To_Direttore_Vicario_Coordiantore</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SuccessScreenOppFiliale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Direttore_Vicario_Coordinatore_Mail_01</name>
        <label>Loop Direttore, Vicario, Coordinatore Mail 01</label>
        <locationX>1498</locationX>
        <locationY>2510</locationY>
        <collectionReference>Get_Direttore_Vicario_and_Coordinatore_01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_To_Direttore_Vicario_Coordiantore_01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SuccessScreenOppFiliale</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Lista_Filiali</name>
        <label>Loop Lista Filiali</label>
        <locationX>3034</locationX>
        <locationY>1346</locationY>
        <collectionReference>RecordCollectionListaFiliali</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_record_id_variable_to_text_collection_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Text_Collection_Variable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunit_FILIALE</name>
        <label>Create Opportunità FILIALE</label>
        <locationX>1427</locationX>
        <locationY>1768</locationY>
        <connector>
            <targetReference>Check_Invio_Stessa_Filiale_VS_Altra_Filiale</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_account_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchCode__c</field>
            <value>
                <elementReference>CodiceDellaFilialePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchEmailAddress__c</field>
            <value>
                <elementReference>Emailfilialeincuisirecherailcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchName__c</field>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentDateAtTheBranch__c</field>
            <value>
                <elementReference>Inserisci_una_data_e_ora_per_l_appuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>NewAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataScadenzaIniziale__c</field>
            <value>
                <elementReference>OppCloseDate30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Fissato appuntamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Oggetto__c</field>
            <value>
                <elementReference>INVIOFIL_ProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_OriginCC__c</field>
            <value>
                <stringValue>Reactive inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <elementReference>INVIOFIL_ProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Inserisci_una_descrizione_appuntamento_filiale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>INVIOFIL_Owner_Filiale_2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>INVIOFIL_RecordType_ReteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>In corso</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunit_FILIALE_0</name>
        <label>Create Opportunità FILIALE</label>
        <locationX>761</locationX>
        <locationY>1802</locationY>
        <connector>
            <targetReference>Check_Invio_Stessa_Filiale_VS_Altra_Filiale</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_account_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchCode__c</field>
            <value>
                <elementReference>CodiceDellaFilialePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchEmailAddress__c</field>
            <value>
                <elementReference>Emailfilialeincuisirecherailcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchName__c</field>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentDateAtTheBranch__c</field>
            <value>
                <elementReference>Inserisci_una_data_e_ora_per_l_appuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>NewAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataScadenzaIniziale__c</field>
            <value>
                <elementReference>OppCloseDate30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Fissato appuntamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Oggetto__c</field>
            <value>
                <elementReference>INVIOFIL_ProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_OriginCC__c</field>
            <value>
                <elementReference>INVIOFIL_OriginCC_NoPrestDigiDaSmartWeb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <elementReference>INVIOFIL_ProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Inserisci_una_descrizione_appuntamento_filiale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>INVIOFIL_Owner_Filiale_2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>INVIOFIL_RecordType_ReteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>In corso</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunit_FILIALE_0_0</name>
        <label>Create Opportunità FILIALE</label>
        <locationX>1025</locationX>
        <locationY>1802</locationY>
        <connector>
            <targetReference>Check_Invio_Stessa_Filiale_VS_Altra_Filiale</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_account_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchCode__c</field>
            <value>
                <elementReference>CodiceDellaFilialePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchEmailAddress__c</field>
            <value>
                <elementReference>Emailfilialeincuisirecherailcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchName__c</field>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentDateAtTheBranch__c</field>
            <value>
                <elementReference>Inserisci_una_data_e_ora_per_l_appuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>NewAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataScadenzaIniziale__c</field>
            <value>
                <elementReference>OppCloseDate30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Fissato appuntamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Oggetto__c</field>
            <value>
                <elementReference>INVIOFIL_ProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_OriginCC__c</field>
            <value>
                <elementReference>INVIOFIL_OriginCC_NOPrestitoDigital</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <elementReference>INVIOFIL_ProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Inserisci_una_descrizione_appuntamento_filiale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>INVIOFIL_Owner_Filiale_2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>INVIOFIL_RecordType_ReteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>In corso</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunit_FILIALE_0_0_0</name>
        <label>Create Opportunità FILIALE</label>
        <locationX>1654</locationX>
        <locationY>1781</locationY>
        <connector>
            <targetReference>Check_Invio_Stessa_Filiale_VS_Altra_Filiale</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_account_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchCode__c</field>
            <value>
                <elementReference>CodiceDellaFilialePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchEmailAddress__c</field>
            <value>
                <elementReference>Emailfilialeincuisirecherailcliente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentBranchName__c</field>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_AppointmentDateAtTheBranch__c</field>
            <value>
                <elementReference>Inserisci_una_data_e_ora_per_l_appuntamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Canale__c</field>
            <value>
                <stringValue>Contact Center</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerNotificationEmail__c</field>
            <value>
                <elementReference>NewAccountEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DataScadenzaIniziale__c</field>
            <value>
                <elementReference>OppCloseDate30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Fissato appuntamento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Oggetto__c</field>
            <value>
                <elementReference>INVIOFIL_ProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_OriginCC__c</field>
            <value>
                <stringValue>Digital Product</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_ProductCategory__c</field>
            <value>
                <elementReference>INVIOFIL_ProductCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Inserisci_una_descrizione_appuntamento_filiale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>abc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>INVIOFIL_Owner_Filiale_2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>INVIOFIL_RecordType_ReteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>In corso</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account_Info</name>
        <label>Get account Info</label>
        <locationX>2841</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dove_Si_Recher_il_Cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubFlow_GetAccountInfoID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Direttore_Vicario_and_Coordinatore</name>
        <label>Get Direttore, Vicario and Coordinatore</label>
        <locationX>754</locationX>
        <locationY>2402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_at_least_one_user_from_stessa_filiale</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>idced__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Filiale_PTF_IdCED_c_Stessa_Filiale.PTF_IdCED__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Profilo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NEC_F.1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Profilo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NEC_F.9</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelliDiServizio__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Filiale_PTF_IdCED_c_Stessa_Filiale.ModelloDiServizio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Direttore_Vicario_and_Coordinatore_01</name>
        <label>Get Direttore, Vicario and Coordinatore 01</label>
        <locationX>1322</locationX>
        <locationY>2294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_at_least_one_user_from_altra_filiale</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>idced__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Filiale_PTF_IdCED_c.PTF_IdCED__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Profilo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NEC_F.1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Profilo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NEC_F.9</stringValue>
            </value>
        </filters>
        <filters>
            <field>PTF_ModelliDiServizio__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Filiale_PTF_IdCED_c.ModelloDiServizio__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filiale</name>
        <label>Get_Filiale</label>
        <locationX>2197</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_stessa_filiale_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormulaFiliale</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_account_Info.FinServ__BankNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_filiale_name_and_ced</name>
        <label>Get filiale name and ced (</label>
        <locationX>3144</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filiale_selezionata_Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TableListaFiliali.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filiale_PTF_IdCED_c</name>
        <label>Get Filiale PTF_IdCED__c</label>
        <locationX>1322</locationX>
        <locationY>2186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Direttore_Vicario_and_Coordinatore_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_IdCEDFiliale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CodiceDellaFilialePerAppuntamento</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Nome__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filiale_PTF_IdCED_c_Stessa_Filiale</name>
        <label>Get Filiale PTF_IdCED__c Stessa Filiale</label>
        <locationX>754</locationX>
        <locationY>2294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Direttore_Vicario_and_Coordinatore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_IdCEDFiliale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CodiceDellaFilialePerAppuntamento</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Nome__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filiale_PTF_IdCED_c_Stessa_Filiale_Gestore_non_trovato</name>
        <label>Get Filiale PTF_IdCED__c Stessa Filiale - Gestore non trovato</label>
        <locationX>314</locationX>
        <locationY>2510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invio_Email_alla_Filiale_Manca_Gestore_di_Riferimento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PTF_IdCEDFiliale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CodiceDellaFilialePerAppuntamento</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Nome__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FilialeFinalePerAppuntamento</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Filiale_RT_from_Account</name>
        <label>Get Filiale RT from Account</label>
        <locationX>3485</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FilialeDiRelazione</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gestore_Di_Riferimento</name>
        <label>Get Gestore Di Riferimento</label>
        <locationX>182</locationX>
        <locationY>2294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Gestore_di_Riferimento_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_account_Info.CRM_NomeCognomeReferente__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lista_Filiali</name>
        <label>Get Lista Filiali</label>
        <locationX>2902</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Lista_Filiali</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Filiale_RT_from_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Nome__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Cerca_per_nome_filiale</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_account_Info.FinServ__BankNumber__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RecordCollectionListaFiliali</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CRM_Nome__c</queriedFields>
        <queriedFields>PTF_IdCEDFiliale__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lista_Filiali_per_Codice</name>
        <label>Get Lista Filiali per Codice</label>
        <locationX>3166</locationX>
        <locationY>1154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Lista_Filiali</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Filiale_RT_from_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PTF_IdCEDFiliale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cerca_per_CED_filiale</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__BankNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_account_Info.FinServ__BankNumber__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RecordCollectionListaFiliali</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PTF_IdCEDFiliale__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CRM_Nome__c</queriedFields>
        <sortField>PTF_IdCEDFiliale__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CheckEmailClienteCorretta</name>
        <label>CheckEmailClienteCorretta</label>
        <locationX>1888</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Email_Corretta</targetReference>
        </connector>
        <fields>
            <name>EmailNonPresenteInSalesforce</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Clicca sul pulsante &quot;Avanti&quot; per inserire l&apos;indirizzo email del cliente&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_account_Info.CRM_SmartWebEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_account_Info.CRM_GenericEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TextCheckEmailClienteCorretta</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Per concludere, invia al cliente promemoria per l&apos;appuntamento.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La mail di seguito è corretta?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_account_Info.CRM_SmartWebEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_account_Info.CRM_GenericEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayCustomerCertifiedEmail</name>
            <fieldText>&lt;p&gt;{!Get_account_Info.CRM_SmartWebEmail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_account_Info.CRM_SmartWebEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayCustomerGenericEmail</name>
            <fieldText>&lt;p&gt;{!Get_account_Info.CRM_GenericEmail__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_account_Info.CRM_SmartWebEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_account_Info.CRM_GenericEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Seleziona_un_valore_per_email_corretta</name>
            <choiceReferences>ChoiceSIEmailCorretta</choiceReferences>
            <choiceReferences>ChoiceNOEmailCorretta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleziona un valore</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_account_Info.CRM_SmartWebEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_account_Info.CRM_GenericEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento</name>
        <label>Dettagli Filiale (diversa dalla sua) dell&apos;appuntamento</label>
        <locationX>3485</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_se_almeno_uno_dei_due_campi_ricerca_valorizzato</targetReference>
        </connector>
        <fields>
            <name>ErroreRicercarePerNomeoCodice</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Ricercare la filiale per nome o per CED&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>NessunaRicercaEffettuata</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TextDettagliFiliale</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Ricerca per nome la filiale per l&apos;appuntamento:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cerca_per_nome_filiale</name>
                    <dataType>String</dataType>
                    <fieldText>Cerca per nome filiale</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RicercaCustomButton</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Ricerca per nome</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TextRicercaFilialeCode</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Ricerca per CED la filiale per l&apos;appuntamento:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cerca_per_CED_filiale</name>
                    <dataType>String</dataType>
                    <fieldText>Cerca per CED filiale</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RicercaCustomButtonCodice</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Ricerca per CED</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ListaFilialiBPERBDSText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Per maggiori dettagli sulle filiali clicca sui seguenti link:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!LinkDettaglioFiliali}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dettagli_Filiale_diversa_dalla_sua_dell_appuntamento_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PreviousBackButton</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Previous</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dove_Si_Recher_il_Cliente</name>
        <label>Dove Si Recherà il Cliente?</label>
        <locationX>2841</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_cliente_si_reca_presso_la_sua_filiale</targetReference>
        </connector>
        <fields>
            <name>TextDoveSiRecheraIlCliente</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Il cliente si recherà presso la sua filiale?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seleziona_un_valore_dove_si_rechera_cliente</name>
            <choiceReferences>ChoiceSI_ClienteSiRecaPressoSuaFiliale</choiceReferences>
            <choiceReferences>ChoiceNO_ClienteSiRecaPressoSuaFiliale</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ChoiceSI_ClienteSiRecaPressoSuaFiliale</defaultSelectedChoiceReference>
            <fieldText>Seleziona un valore</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_New_Email_Address</name>
        <label>Insert New Email Address</label>
        <locationX>2242</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_new_email_to_a_variable</targetReference>
        </connector>
        <fields>
            <name>TextInsertNewEmailAddress</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Inserisci l&apos;indirizzo email del cliente e clicca su avanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewEmailAddress</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Indirizzo email non valido&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!NewEmailAddress},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Presa_appuntamento_FILIALE</name>
        <label>Presa appuntamento FILIALE</label>
        <locationX>2197</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_branch_email_address_to_variable</targetReference>
        </connector>
        <fields>
            <name>TextPresaAppuntamentoFiliale</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Compila di seguito:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserisci_una_data_e_ora_per_l_appuntamento</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>CurrentDateTimePlus1</elementReference>
            </defaultValue>
            <fieldText>1. Data e ora dell&apos;appuntamento in filiale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Inserire una data e ora validi&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Inserisci_una_data_e_ora_per_l_appuntamento} &gt; now ()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Inserisci_una_descrizione_appuntamento_filiale</name>
            <fieldText>2. Note utili alla filiale (compreso il prodotto specifico)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Filiale_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Filiale in cui si recherà il cliente:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!FilialeFinalePerAppuntamento}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDisplayListaFiliali</name>
        <label>ScreenDisplayListaFiliali</label>
        <locationX>3034</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_torna_alla_ricerca_true</targetReference>
        </connector>
        <fields>
            <name>NessunaFilialeTrovata</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Nessuna filiale trovata. Cliccare sul pulsante &quot;Ritorna alla ricerca&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TextCollectionSize</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TableListaFiliali</name>
            <extensionName>builder_industries_insurance:fscSinglTbl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToQuery</name>
                <value>
                    <elementReference>ColonnaTabella</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputRecordIds</name>
                <value>
                    <elementReference>TextCollectionListaFiliali</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>errorMessage</name>
                <value>
                    <stringValue>Nessuna filiale trovata. Cliccare sul pulsante &quot;Ritorna alla ricerca&quot;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>TextCollectionSize</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelezionaUnaFiliale</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Selezionare una filiale&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FilialeNonSelezionata</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TextCollectionSize</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenDisplayListaFiliali_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenDisplayListaFiliali_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TornaAllaRicerca</name>
            <extensionName>runtime_industries_lending:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelCustom</name>
                <value>
                    <stringValue>Torna Alla Ricerca</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabelNext</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScreenDisplayListaFiliali_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenDisplayListaFiliali_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BackToBranchTypeSelection</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Torna a selezione filiale del cliente</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreenOppFiliale</name>
        <label>SuccessScreenOppFiliale</label>
        <locationX>1091</locationX>
        <locationY>3170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreenOppFiliale_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SuccessScreenOppFiliale_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessMessageOppFiliale</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Opportunità creata con successo&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SuccessScreenOppFiliale_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>success_icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>success_icon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2715</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assegna_Colonna_tabella</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Comunicazion_al_Direttore_Vicario_Coordinatore_Family_Poe</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cliente:&lt;strong&gt; {!Get_account_Info.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;NDG: {!Get_account_Info.CRM_NDG__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;MDS: {!Get_account_Info.ModelloDiServizio__c}&lt;/p&gt;&lt;p&gt;Filiale di relazione: {!Get_account_Info.CRM_FilialeToDisplay__c}&lt;/p&gt;&lt;p&gt;Data ed ora appuntamento:&amp;nbsp;{!Inserisci_una_data_e_ora_per_l_appuntamento}&lt;/p&gt;&lt;p&gt;Nome prodotto: &lt;strong&gt;{!INVIOFIL_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Note: {!Inserisci_una_descrizione_appuntamento_filiale}&lt;/p&gt;&lt;p&gt;E’ stato fissato un appuntamento con la tua Filiale, &lt;strong&gt;assegna ad un tuo collaboratore l’opportunità Contact Center dalla pagina “Assegna Azioni” del CRM Salesforce.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;L’opportunità è presente nella scheda Cliente. Ricordati di far inserire l’appuntamento con il Cliente nell’Agenda del &lt;a href=&quot;https://urldefense.proofpoint.com/v2/url?u=https-3A__intrawseal.gbbper.priv_ExtranetSamlSSO_SalesForce&amp;amp;d=DwIBaQ&amp;amp;c=eIGjsITfXP_y-DLLX0uEHXJvU8nOHrUK8IrwNKOtkVU&amp;amp;r=Drl-11erCIe5RGPs2WrtyDMr0VBI9uzNZvfip-hKtr4&amp;amp;m=dphOzXIYtgQ5Z04kCkSWFQqqbcLbmfwYsA_H2ptqgiu0EnnhS5fb3TUV5lwjwbG0&amp;amp;s=X2QDp--b0kZVT6XSHdljpUPXMe0roJdROQtKb2AF4yE&amp;amp;e=&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;CRM Salesforce.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Qualora foste impossibilitati a ricevere il Cliente, nella data ed orario fissato, Vi invitiamo a ricontattarlo, siccome ha già ricevuto un reminder via email dell’appuntamento.&lt;/p&gt;&lt;p&gt;Servizio Clienti Gruppo BPER&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Comunicazione_al_Direttore_Vicario_CoordinatoreFamily_Poe_Filiale_Altra</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cliente:&lt;strong&gt; {!Get_account_Info.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;NDG: {!Get_account_Info.CRM_NDG__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;MDS: {!Get_account_Info.ModelloDiServizio__c}&lt;/p&gt;&lt;p&gt;Filiale di relazione: {!Get_account_Info.CRM_FilialeToDisplay__c}&lt;/p&gt;&lt;p&gt;Data ed ora appuntamento:&amp;nbsp;{!Inserisci_una_data_e_ora_per_l_appuntamento}&lt;/p&gt;&lt;p&gt;Nome prodotto:&lt;strong&gt;&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!INVIOFIL_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Note: {!Inserisci_una_descrizione_appuntamento_filiale}&lt;/p&gt;&lt;p&gt;E’ stato fissato un appuntamento presso la tua Filiale {!FilialeFinalePerAppuntamento} per il giorno&amp;nbsp;{!Inserisci_una_data_e_ora_per_l_appuntamento}.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Ricordati di far inserire l’appuntamento con il Cliente nell’Agenda del &lt;/strong&gt;&lt;a href=&quot;https://urldefense.proofpoint.com/v2/url?u=https-3A__intrawseal.gbbper.priv_ExtranetSamlSSO_SalesForce&amp;amp;d=DwIBaQ&amp;amp;c=eIGjsITfXP_y-DLLX0uEHXJvU8nOHrUK8IrwNKOtkVU&amp;amp;r=Drl-11erCIe5RGPs2WrtyDMr0VBI9uzNZvfip-hKtr4&amp;amp;m=dphOzXIYtgQ5Z04kCkSWFQqqbcLbmfwYsA_H2ptqgiu0EnnhS5fb3TUV5lwjwbG0&amp;amp;s=X2QDp--b0kZVT6XSHdljpUPXMe0roJdROQtKb2AF4yE&amp;amp;e=&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;CRM Salesforce.&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Qualora foste impossibilitati a ricevere il Cliente, nella data ed orario fissato, Vi invitiamo a ricontattarlo, siccome ha già ricevuto un promemoria via email dell’appuntamento.&lt;/p&gt;&lt;p&gt;Servizio Clienti Gruppo BPER&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Comunicazione_al_gestore_di_relazione_del_cliente</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cliente:&lt;strong&gt; {!Get_account_Info.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;NDG: {!Get_account_Info.CRM_NDG__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;MDS: {!Get_account_Info.ModelloDiServizio__c}&lt;/p&gt;&lt;p&gt;Filiale di relazione: {!Get_account_Info.CRM_FilialeToDisplay__c}&lt;/p&gt;&lt;p&gt;Referente di Relazione:&amp;nbsp;{!Get_account_Info.CRM_NomeCognomeReferente__c}&lt;/p&gt;&lt;p&gt;Data ed ora appuntamento:&amp;nbsp;{!Inserisci_una_data_e_ora_per_l_appuntamento}&lt;/p&gt;&lt;p&gt;Nome prodotto: &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!INVIOFIL_ProductCategory}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Note:&lt;strong&gt; &lt;/strong&gt;{!Inserisci_una_descrizione_appuntamento_filiale}&lt;/p&gt;&lt;p&gt;E’ stato fissato un appuntamento in Filiale, inseriscilo nell’Agenda del CRM Salesforce. L’opportunità è presente nella scheda &lt;a href=&quot;https://urldefense.proofpoint.com/v2/url?u=https-3A__intrawseal.gbbper.priv_ExtranetSamlSSO_SalesForce&amp;amp;d=DwIBaQ&amp;amp;c=eIGjsITfXP_y-DLLX0uEHXJvU8nOHrUK8IrwNKOtkVU&amp;amp;r=Drl-11erCIe5RGPs2WrtyDMr0VBI9uzNZvfip-hKtr4&amp;amp;m=dphOzXIYtgQ5Z04kCkSWFQqqbcLbmfwYsA_H2ptqgiu0EnnhS5fb3TUV5lwjwbG0&amp;amp;s=X2QDp--b0kZVT6XSHdljpUPXMe0roJdROQtKb2AF4yE&amp;amp;e=&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cliente CRM Salesforce.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Qualora fossi impossibilitato a ricevere il Cliente, nella data ed orario fissato, ti invitiamo a ricontattarlo, siccome ha già ricevuto un promemoria via email dell’appuntamento.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Servizio Clienti Gruppo BPER&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LinkDettaglioFiliali</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://www.bper.it/ricerca-filiali&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Filiali BPER&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.bancosardegna.it/ricerca-filiali&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Filiali BDS&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Accettata_Carta_Sostituita_Non_Ancora_Presente_a_Sistema</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignvaluestoColumnsHesitation</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignID_commerciale_inbound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberPrestitoDigitalNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CampaignMemberVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CampaignMemersNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CampaignVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CodiceDellaFilialePerAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColonnaTabella</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Colonne_EsitiPositivi</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColonneMotiviRifiuto</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Columns_CampaignMember</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerABI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DesrizioneAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailFilialeAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emailfilialeincuisirecherailcliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyCollectionListaFilial</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Esisteunfinanziamentoeprestitocondeterminatiattributi</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitiNegativiIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitiNegativiList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitiPositiviList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilialeFinalePerAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilialeNonSelezionata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FinalFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalIdCedFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCC_NoPrestDigiDaSmartWeb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCC_NOPrestitoDigital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCC_ProattivitaBOC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCC_ProattivitaOutsourcer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCCNoPrestDigDaSmartWeb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCCNOPrestitoDigital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_Owner_Filiale_2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_PrestitoChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_ProattivitaBOC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_ProattivitaOutsourcer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_quale_prod_creare_la_pro_smart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_quale_prod_creare_la_proposta2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_qualeprodvuoi_crearelaproposta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_RecordType_ReteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_MaxPriority_CampaignMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxPriority_CampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>MaxPriorityCampaignsNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MotiviRifiutoList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MotivoRifiutoSelezionato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NessunaRicercaEffettuata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAccountEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeNuovaFiliale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeStessaFliale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Noncisonofinanziamentieprestiti</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptyDocumentoScadutoNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCollectionFilialiNULL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecordCollectionListaFiliali</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>SelectedEsitoPositivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubFlow_GetAccountInfoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEMP_MotiviRifiuto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionListaFiliali</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionListofHesitations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarDocumentoScaduto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarGetIdentityDocNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
