BPER/DEVF/force-app/main/default/flows/SubFlow_Check_Cliente_Cesare_Ponti_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Colonna_tabella</name>
        <label>Assegna_Colonna_tabella</label>
        <locationX>5305</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>ColonnaTabella</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CRM_Nome__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_account_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaAlertBCP</name>
        <label>AssegnaAlertBCP</label>
        <locationX>5189</locationX>
        <locationY>1386</locationY>
        <assignmentItems>
            <assignToReference>AlertClienteBCP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>VariableAssignment</name>
        <label>VariableAssignment</label>
        <locationX>5084</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>Governo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account_Info.CRM_NDGGoverno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account_Info.CRM_FormulaBanca__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RT_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_account_Info.RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getGoverno_and_Banca</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AltriProdottiBankingChoice</name>
        <choiceText>{!AltriprodottiBanking}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AltriprodottiBanking</elementReference>
        </value>
    </choices>
    <choices>
        <name>AltroChoice</name>
        <choiceText>{!Altro}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Altro</elementReference>
        </value>
    </choices>
    <choices>
        <name>ArcaVenti4Choice</name>
        <choiceText>{!ArcaVenti4}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ArcaVenti4</elementReference>
        </value>
    </choices>
    <choices>
        <description>AssicurazioneChoice</description>
        <name>AssicurazioneChoice</name>
        <choiceText>{!Assicurazione}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Assicurazione</elementReference>
        </value>
    </choices>
    <choices>
        <name>CarteDiCreditoChoice</name>
        <choiceText>{!Cartadicredito}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Cartadicredito</elementReference>
        </value>
    </choices>
    <choices>
        <name>CarteDiDebitoChoice</name>
        <choiceText>{!Cartadidebito}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Cartadidebito</elementReference>
        </value>
    </choices>
    <choices>
        <name>CarteIBANChoice</name>
        <choiceText>{!CarteIBAN}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CarteIBAN</elementReference>
        </value>
    </choices>
    <choices>
        <name>CartePrepagateChoice</name>
        <choiceText>{!CartaPrepagata}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CartaPrepagata</elementReference>
        </value>
    </choices>
    <choices>
        <name>ChoiceCLIENTEDACONTATTARE</name>
        <choiceText>CLIENTE DA CONTATTARE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLIENTE DA CONTATTARE</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceFiliale</name>
        <choiceText>FILIALE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FILIALE</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMeStesso</name>
        <choiceText>ME STESSO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ME STESSO</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNO_ClienteSiRecaPressoSuaFiliale</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <description>NO</description>
        <name>ChoiceNOEmailCorretta</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePoolCommerciale</name>
        <choiceText>POOL COMMERCIALE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POOL COMMERCIALE</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoicePROPOSTAACCETTATA</name>
        <choiceText>PROPOSTA ACCETTATA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PROPOSTA ACCETTATA</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSI_ClienteSiRecaPressoSuaFiliale</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSIEmailCorretta</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContiChoice</name>
        <choiceText>{!Conti}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Conti</elementReference>
        </value>
    </choices>
    <choices>
        <name>IncassiEPagamentiChoice</name>
        <choiceText>{!IncassiEPagamenti}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IncassiEPagamenti</elementReference>
        </value>
    </choices>
    <choices>
        <name>InvestimentiChoice</name>
        <choiceText>{!Investimenti}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Investimenti</elementReference>
        </value>
    </choices>
    <choices>
        <name>MulticanalitaChoice</name>
        <choiceText>{!SmartWeb}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SmartWeb</elementReference>
        </value>
    </choices>
    <choices>
        <name>MutuiChoice</name>
        <choiceText>{!Mutui}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Mutui</elementReference>
        </value>
    </choices>
    <choices>
        <name>NO_DeviRicontattareIlCliente</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NO_Esito_Proposta_Prestito_Digitale_SelfOAD</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO_Esito_Proposta_Prestito_Digitale_SelfOAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_RfiiutaSostituzione</name>
        <choiceText>No, non è interessato</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Richiesta_non_ancora_evasa</name>
        <choiceText>No, non ha ancora chiesto la sostituzione ma lo farà</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non ancora</stringValue>
        </value>
    </choices>
    <choices>
        <name>NOCampaignInboundComm</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>NO</description>
        <name>NOChoiceEsitoNoPrestitoDigital</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NOChoiceEsitoPrestitoDigital</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoiceSmartWeb</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NONumePropANDImporto_RfiutataBOC</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NullChoice</name>
        <choiceText>-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>NumeroPropostaANDImportoNO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>NumeroPropostaANDImportoSI</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>OriginCC_OAD</name>
        <choiceText>OAD</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>OAD</elementReference>
        </value>
    </choices>
    <choices>
        <name>OriginCC_ProattivitaBOC</name>
        <choiceText>Proattività BOC</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ProattivitaBOC</elementReference>
        </value>
    </choices>
    <choices>
        <name>OriginCC_ProattivitaOutsourcer</name>
        <choiceText>Proattività Outsourcer</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ProattivitaOutsourcer</elementReference>
        </value>
    </choices>
    <choices>
        <name>OriginCC_ReactiveInbound</name>
        <choiceText>Reactive inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ReactiveInbound</elementReference>
        </value>
    </choices>
    <choices>
        <name>OriginCC_Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Self</elementReference>
        </value>
    </choices>
    <choices>
        <name>PagamentiChoice</name>
        <choiceText>{!Pagamenti}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Pagamenti</elementReference>
        </value>
    </choices>
    <choices>
        <name>PrestitoChoice</name>
        <choiceText>{!Prestito}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Prestito</elementReference>
        </value>
    </choices>
    <choices>
        <name>PrestitoDigitalChoice</name>
        <choiceText>{!Prestitodigital}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Prestitodigital</elementReference>
        </value>
    </choices>
    <choices>
        <name>PrevidenzaEProtezioneChoice</name>
        <choiceText>{!Previdenzaeprotezione}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Previdenzaeprotezione</elementReference>
        </value>
    </choices>
    <choices>
        <name>Proponialtriprodotti</name>
        <choiceText>Proponi altri prodotti</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proponi altri prodotti</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProponiPrestitodigital</name>
        <choiceText>Proponi Prestito digital</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proponi Prestito digital</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProponiSmartWeb</name>
        <choiceText>Proponi SmartWeb</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proponi SmartWeb</stringValue>
        </value>
    </choices>
    <choices>
        <name>RadioButtonDocScadutoNO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RadioButtonDocScadutoSI</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RicontattareClienteNO_NONumPropImp</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>RicontattareClienteSI_NONumPropImp</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rifiutata_Da_BOC</name>
        <choiceText>Rifiutata Da BOC</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RifiutatadaBOC</name>
        <choiceText>Rifiutata da BOC</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RifiutataBoc</elementReference>
        </value>
    </choices>
    <choices>
        <name>Si_AccettaSostituzione</name>
        <choiceText>Sì, sostituirà la carta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_DeviRicontattareIlCliente</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SI_Esito_Proposta_Prestito_Digitale_SelfOAD</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Si_Sostituzione_gia_richiesta</name>
        <choiceText>Sì, il cliente ha già richiesto la sostituzione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <choices>
        <name>SICampaignInboundComm</name>
        <choiceText>Sì</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sì</stringValue>
        </value>
    </choices>
    <choices>
        <name>SIChoiceEsitoNoPrestitoDigital</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SIChoiceEsitoPrestitoDigital</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>SiChoiceEsitoSmartWeb</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>SicurezzaChoice</name>
        <choiceText>{!Sicurezza}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Sicurezza</elementReference>
        </value>
    </choices>
    <choices>
        <name>SINumePropANDImporto_RfiutataBOC</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Smartweb_RadioButtonDocScadutoNO</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Smartweb_RadioButtonDocScadutoSI</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SmartwebChoice</name>
        <choiceText>{!SmartWeb}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SmartWeb</elementReference>
        </value>
    </choices>
    <choices>
        <name>SoluzioneStrada_Choice</name>
        <choiceText>{!Soluzione_Strada}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Soluzione_Strada</elementReference>
        </value>
    </choices>
    <choices>
        <name>Tuttotondo_Choice</name>
        <choiceText>{!Tuttotondo}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Tuttotondo</elementReference>
        </value>
    </choices>
    <choices>
        <name>ZeropensieriChoice</name>
        <choiceText>{!Zeropensieri}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Zeropensieri</elementReference>
        </value>
    </choices>
    <constants>
        <description>Altri prodotti Banking</description>
        <name>AltriprodottiBanking</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Altri prodotti Banking</stringValue>
        </value>
    </constants>
    <constants>
        <description>Altro</description>
        <name>Altro</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Altro</stringValue>
        </value>
    </constants>
    <constants>
        <name>ArcaVenti4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ArcaVenti4</stringValue>
        </value>
    </constants>
    <constants>
        <description>Assicurazione</description>
        <name>Assicurazione</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Assicurazione</stringValue>
        </value>
    </constants>
    <constants>
        <description>Cartadicredito</description>
        <name>Cartadicredito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Carta di credito</stringValue>
        </value>
    </constants>
    <constants>
        <description>Cartadidebito</description>
        <name>Cartadidebito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Carta di debito</stringValue>
        </value>
    </constants>
    <constants>
        <description>CartaPrepagata</description>
        <name>CartaPrepagata</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Carta Prepagata</stringValue>
        </value>
    </constants>
    <constants>
        <description>CarteIBAN</description>
        <name>CarteIBAN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Carte IBAN</stringValue>
        </value>
    </constants>
    <constants>
        <description>Conti</description>
        <name>Conti</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Conti</stringValue>
        </value>
    </constants>
    <constants>
        <description>IncassiEPagamenti</description>
        <name>IncassiEPagamenti</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Incassi e pagamenti</stringValue>
        </value>
    </constants>
    <constants>
        <description>Investimenti</description>
        <name>Investimenti</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Investimenti</stringValue>
        </value>
    </constants>
    <constants>
        <description>Mutui</description>
        <name>Mutui</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mutui</stringValue>
        </value>
    </constants>
    <constants>
        <name>OAD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OAD</stringValue>
        </value>
    </constants>
    <constants>
        <description>Pagamenti</description>
        <name>Pagamenti</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pagamenti</stringValue>
        </value>
    </constants>
    <constants>
        <description>Prestito</description>
        <name>Prestito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prestito</stringValue>
        </value>
    </constants>
    <constants>
        <name>Prestitodigital</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Prestito digital</stringValue>
        </value>
    </constants>
    <constants>
        <description>Previdenza e protezione</description>
        <name>Previdenzaeprotezione</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Previdenza e protezione</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProattivitaBOC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Proattività BOC</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProattivitaOutsourcer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Proattività Outsourcer</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProdottiSmartWeb</name>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReactiveInbound</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reactive Inbound</stringValue>
        </value>
    </constants>
    <constants>
        <name>RifiutataBoc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rifutata da BOC</stringValue>
        </value>
    </constants>
    <constants>
        <name>Self</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </constants>
    <constants>
        <description>Sicurezza</description>
        <name>Sicurezza</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sicurezza</stringValue>
        </value>
    </constants>
    <constants>
        <description>SmartWeb</description>
        <name>SmartWeb</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SmartWeb</stringValue>
        </value>
    </constants>
    <constants>
        <name>Soluzione_Strada</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Soluzione strada</stringValue>
        </value>
    </constants>
    <constants>
        <name>Tuttotondo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuttotondo</stringValue>
        </value>
    </constants>
    <constants>
        <name>Zeropensieri</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Zeropensieri</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_Banca_ModelloDiServizio</name>
        <label>check_Banca_ModelloDiServizio</label>
        <locationX>5294</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BPER_CesarePonti</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_Info.CRM_FormulaBanca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B. CESARE PONTI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_Info.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_Info.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lower Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_Info.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Key Client Privati</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_Info.ModelloDiServizio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Institutional Wealth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkGovernoBanca_pre</targetReference>
            </connector>
            <label>BPER_CesarePonti</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Governo_Banca</name>
        <label>Check_Governo_Banca</label>
        <locationX>5081</locationX>
        <locationY>988</locationY>
        <defaultConnector>
            <targetReference>Alert_Cliente_Esclusivo_BCP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Governo_Banca_NotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getGoverno_and_Banca</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Cliente_Condiviso_con_NDG_BCP</targetReference>
            </connector>
            <label>Governo_Banca_NotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkGovernoBanca_pre</name>
        <label>checkGovernoBanca_pre</label>
        <locationX>5082</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Governo_Banca_NotBlank_pre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_Info.CRM_NDGGoverno__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_account_Info.CRM_FormulaBanca__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VariableAssignment</targetReference>
            </connector>
            <label>Governo_Banca_NotBlank_pre</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MotivoRifiuto</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_InformazioniAggiuntive__c</picklistField>
        <picklistObject>CRM_AssociazioneEsitazioniCampagne__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>CurrentDateTimePlus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +1</expression>
    </formulas>
    <formulas>
        <name>DifferenceToday1month</name>
        <dataType>Date</dataType>
        <expression>today () - 30</expression>
    </formulas>
    <formulas>
        <name>DifferenceToday5Months</name>
        <dataType>Date</dataType>
        <expression>today () - 150</expression>
    </formulas>
    <formulas>
        <name>Elapsedfromlastprestitodigitalopportunitycreation</name>
        <dataType>DateTime</dataType>
        <expression>now () - 90</expression>
    </formulas>
    <formulas>
        <name>Formula_MotiviRifiutoRimanente</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!TEMP_MotiviRifiuto}, &quot;;&quot;), RIGHT({!TEMP_MotiviRifiuto}, LEN({!TEMP_MotiviRifiuto}) - FIND(&quot;;&quot;, {!TEMP_MotiviRifiuto})), &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_MotivoRifiuto</name>
        <dataType>String</dataType>
        <expression>IF(!CONTAINS({!TEMP_MotiviRifiuto},&quot;;&quot;), {!TEMP_MotiviRifiuto}, LEFT({!TEMP_MotiviRifiuto}, FIND(&quot;;&quot;, {!TEMP_MotiviRifiuto}) -1))</expression>
    </formulas>
    <formulas>
        <name>FormulaFiliale</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!Get_account_Info.PTF_Filiale__c}), {!Get_account_Info.PTF_Filiale__c}, {!Get_account_Info.CRM_Filiale__c})</expression>
    </formulas>
    <formulas>
        <name>NDGCollegatoLink_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!getGoverno_and_Banca.Id}</expression>
    </formulas>
    <formulas>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 60</expression>
    </formulas>
    <formulas>
        <name>OppCloseDate30Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <interviewLabel>SubFlow - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow - Check Cliente Cesare Ponti Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_account_Info</name>
        <label>Get account Info</label>
        <locationX>5305</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Banca_ModelloDiServizio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubFlow_GetAccountInfoID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGoverno_and_Banca</name>
        <label>getGoverno_and_Banca</label>
        <locationX>5089</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Governo_Banca</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_NDGGoverno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Governo</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_FormulaBanca__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>BankNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_FormulaBanca__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RT_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_FormulaBanca__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BPER</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Alert_Cliente_Condiviso_con_NDG_BCP</name>
        <label>Alert Cliente Condiviso con NDG BCP</label>
        <locationX>5040</locationX>
        <locationY>1182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssegnaAlertBCP</targetReference>
        </connector>
        <fields>
            <name>AlertClienteCondivisoconNDGBCPTEXT</name>
            <fieldText>&lt;p&gt;Per aprire un&apos;opportunità su richiesta cliente, visualizza la scheda del medesimo cliente BPER&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayNDGCollegato</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!NDGCollegatoView}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Alert_Cliente_Esclusivo_BCP</name>
        <label>Alert Cliente Esclusivo BCP</label>
        <locationX>5289</locationX>
        <locationY>1142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssegnaAlertBCP</targetReference>
        </connector>
        <fields>
            <name>AlertClienteEsclusivoBCPTEXT</name>
            <fieldText>&lt;p&gt;Per consulenza sui prodotti, informare il cliente di contattare il proprio gestore&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>5179</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Assegna_Colonna_tabella</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LinkDettaglioFiliali</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://www.bper.it/ricerca-filiali&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Filiali BPER&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.bancosardegna.it/ricerca-filiali&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Filiali BDS&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NDGCollegatoView</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!NDGCollegatoLink_Formula}&quot; target=&quot;_self&quot;&gt;Vai alla scheda&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>Accettata_Carta_Sostituita_Non_Ancora_Presente_a_Sistema</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AlertClienteBCP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AssignvaluestoColumnsHesitation</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignID_commerciale_inbound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberPrestitoDigitalNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CampaignMemberVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CampaignMemersNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CampaignVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CodiceDellaFilialePerAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColonnaTabella</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Colonne_EsitiPositivi</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColonneMotiviRifiuto</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Columns_CampaignMember</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerABI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DesrizioneAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Duplicates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EmailFilialeAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emailfilialeincuisirecherailcliente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyCollectionListaFilial</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Esisteunfinanziamentoeprestitocondeterminatiattributi</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitiNegativiIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitiNegativiList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsitiPositiviList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilialeFinalePerAppuntamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilialeNonSelezionata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FinalFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalIdCedFilialeSelezionata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Governo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCC_NoPrestDigiDaSmartWeb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCC_NOPrestitoDigital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCC_ProattivitaBOC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCC_ProattivitaOutsourcer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCCNoPrestDigDaSmartWeb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_OriginCCNOPrestitoDigital</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_Owner_Filiale_2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_PrestitoChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_ProattivitaBOC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_ProattivitaOutsourcer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_quale_prod_creare_la_pro_smart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_quale_prod_creare_la_proposta2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_qualeprodvuoi_crearelaproposta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INVIOFIL_RecordType_ReteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_MaxPriority_CampaignMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxPriority_CampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>MaxPriorityCampaignsNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MotiviRifiutoList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MotivoRifiutoSelezionato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NessunaRicercaEffettuata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAccountEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeNuovaFiliale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeStessaFliale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Noncisonofinanziamentieprestiti</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OptyDocumentoScadutoNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCollectionFilialiNULL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecordCollectionListaFiliali</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordSpecchioBancaBPER</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recSpecchio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>SelectedEsitoPositivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubFlow_GetAccountInfoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEMP_MotiviRifiuto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionListaFiliali</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionListofHesitations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarDocumentoScaduto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarGetIdentityDocNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
