BPER/DEVF/force-app/main/default/flows/UpdateOpportunity_DataLavorazioneAndEsito_CibAndEstero.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignTipoOperazioneEstero</name>
        <label>AssignTipoOperazioneEstero</label>
        <locationX>1106</locationX>
        <locationY>1427</locationY>
        <assignmentItems>
            <assignToReference>TipoOperazioneEsteroTXT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tipo_Operazione__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upadate_data_lavorazione_estero</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_no_chiusa_estero_esito_trattino</name>
        <label>check no chiusa estero esito trattino</label>
        <locationX>1370</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckFieldsForOggettoEstero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_Oggetto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_Operazione__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTipoOperazioneEstero</targetReference>
            </connector>
            <label>CheckFieldsForOggettoEstero</label>
        </rules>
        <rules>
            <name>checkUpdateEsteroLavorazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDataLaovorazioneEstero</targetReference>
            </connector>
            <label>checkUpdateEsteroLavorazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_no_Structured_esito_Trattino</name>
        <label>check no Structured esito Trattino</label>
        <locationX>710</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkUpdateLavorazioneStructured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDataLavorazioneStructured</targetReference>
            </connector>
            <label>checkUpdateLavorazioneStructured</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOpportunty</name>
        <label>CheckOpportunty</label>
        <locationX>1040</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunit_Corporate_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypeCorpFinance.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_Bisogno__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_EsitoContatto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_Canale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkStageCorporateNonVenduto</targetReference>
            </connector>
            <label>Opportunità Corporate Finance</label>
        </rules>
        <rules>
            <name>Opportunit_Structured_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeStructuredFin.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_Bisogno__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_Canale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_EsitoContatto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkStage_Structured_non_venduto</targetReference>
            </connector>
            <label>Opportunità Structured Finance</label>
        </rules>
        <rules>
            <name>Estero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordTypeEstero.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_Bisogno__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_EsitoContatto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_Canale__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkStage_estero_prodotto_non_venduto</targetReference>
            </connector>
            <label>Estero</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStage_estero_prodotto_non_venduto</name>
        <label>checkStage estero prodotto non venduto</label>
        <locationX>1370</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>checkStageName_Chiusa_estero_venduto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_checkok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa/Persa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_esito_contatto_estero_non_venduto</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of checkok</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStage_Structured_non_venduto</name>
        <label>checkStage Structured non venduto</label>
        <locationX>710</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>checkStageName_Chiusa_Structured_Venduto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_checkok</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abbandonata dal Desk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abbandonata dal Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declinata dal Tavolo IB Committee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Persa per competizione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declinata dal Credito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_esito_contatto_Structured_non_venduto</targetReference>
            </connector>
            <label>Copy 1 of checkok</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStageCorporateNonVenduto</name>
        <label>checkStageCorporateNonVenduto</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>checkStageNameCorporateProdottoVenduto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkok</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abbandonata dal Desk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abbandonata dal Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declinata dal Tavolo IB Committee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mandato chiuso senza successo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mandato chiuso con successo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mandato perso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_esito_contatto_corporate_non_venduto</targetReference>
            </connector>
            <label>checkok</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStageName_Chiusa_estero_venduto</name>
        <label>checkStageName Chiusa estero venduto</label>
        <locationX>1370</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>check_no_chiusa_estero_esito_trattino</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_check_chiusa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa/Vinta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_esito_contatto_estero_venduto</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of check chiusa</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStageName_Chiusa_Structured_Venduto</name>
        <label>checkStageName Chiusa Structured Venduto</label>
        <locationX>710</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>check_no_Structured_esito_Trattino</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_check_chiusa</name>
            <conditionLogic>1 AND (2 OR 3) AND( 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In erogazione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa con successo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Erogata a Saldo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fase PECS di fusione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Erogata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_esito_contatto_Structured_venduto</targetReference>
            </connector>
            <label>Copy 1 of check chiusa</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStageNameCorporateProdottoVenduto</name>
        <label>checkStageNameCorporateProdottoVenduto</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>cheOggettoAfterTipoLavorazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_chiusa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIB_Stato_opportunita_SF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusa/Vinta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_esito_contatto_corporate_venduto</targetReference>
            </connector>
            <label>check chiusa</label>
        </rules>
    </decisions>
    <decisions>
        <name>cheOggettoAfterTipoLavorazione</name>
        <label>cheOggettoAfterTipoLavorazione</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateDataLavorazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDateLavorazione</targetReference>
            </connector>
            <label>UpdateDataLavorazione</label>
        </rules>
    </decisions>
    <description>versione tipo operazione SOLO PER ESTERO- senza oggetto nel filtro iniziale</description>
    <environments>Default</environments>
    <interviewLabel>Update_OpportunityLavorazioneAndEsito_CibAndEstero {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOpportunity_DataLavorazioneAndEsito_CibAndEstero</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GerRecordTypeEstero</name>
        <label>GerRecordTypeEstero</label>
        <locationX>1040</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOpportunty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estero</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordTypeEstero</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeCorporate</name>
        <label>GetRecordTypeCorporate</label>
        <locationX>1040</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeStructured</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunita_Corporate_Finance</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordTypeCorpFinance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeStructured</name>
        <label>GetRecordTypeStructured</label>
        <locationX>1040</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GerRecordTypeEstero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunita_Structured_Finance</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeStructuredFin</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Upadate_data_lavorazione_estero</name>
        <label>Upadate data lavorazione estero</label>
        <locationX>1106</locationX>
        <locationY>1535</locationY>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Oggetto__c</field>
            <value>
                <elementReference>TipoOperazioneEsteroTXT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_esito_contatto_corporate_non_venduto</name>
        <label>update esito contatto corporate non venduto</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>checkStageNameCorporateProdottoVenduto</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Prodotto non venduto</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_esito_contatto_corporate_venduto</name>
        <label>Update esito contatto corporate venduto</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>cheOggettoAfterTipoLavorazione</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Prodotto venduto</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_esito_contatto_estero_non_venduto</name>
        <label>update esito contatto estero non venduto</label>
        <locationX>1238</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>checkStageName_Chiusa_estero_venduto</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Prodotto non venduto</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_esito_contatto_estero_venduto</name>
        <label>Update esito contatto estero venduto</label>
        <locationX>1238</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>check_no_chiusa_estero_esito_trattino</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Prodotto venduto</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_esito_contatto_Structured_non_venduto</name>
        <label>update esito contatto Structured non venduto</label>
        <locationX>578</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>checkStageName_Chiusa_Structured_Venduto</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Prodotto non venduto</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_esito_contatto_Structured_venduto</name>
        <label>Update esito contatto Structured venduto</label>
        <locationX>578</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>check_no_Structured_esito_Trattino</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_EsitoContatto__c</field>
            <value>
                <stringValue>Prodotto venduto</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDataLaovorazioneEstero</name>
        <label>UpdateDataLaovorazioneEstero</label>
        <locationX>1370</locationX>
        <locationY>1427</locationY>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDataLavorazioneStructured</name>
        <label>UpdateDataLavorazioneStructured</label>
        <locationX>578</locationX>
        <locationY>1427</locationY>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDateLavorazione</name>
        <label>UpdateDateLavorazione</label>
        <locationX>50</locationX>
        <locationY>1427</locationY>
        <inputAssignments>
            <field>CRM_Data_Esitazione__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeCorporate</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estero</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Finance</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Structured Finance</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordTypeCorpFinance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>recordTypeEstero</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordTypeStructuredFin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>TipoOperazioneEsteroTXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoOperazioneText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tipoOperazioneTXTStructured</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
