BPER/DEVF/force-app/main/default/flows/Update_Case_Fields_from_Social_Post.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Case_Subject</name>
        <label>Set Case Subject</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post da: {!Get_SocialPost.Persona.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FB_Mentions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_0</name>
        <label>Set Case Subject</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commento da: {!Get_SocialPost.Persona.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FB_Mentions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_0_0</name>
        <label>Set Case Subject</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commento da: {!Get_SocialPost.Persona.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FB_Mentions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_0_0_0</name>
        <label>Set Case Subject</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Messaggio da: {!Get_SocialPost.Persona.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FB_Mentions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_0_0_0_0</name>
        <label>Set Case Subject</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tweet da: {!Get_SocialPost.Persona.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FB_Mentions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_0_0_0_0_0</name>
        <label>Set Case Subject</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retweet da: {!Get_SocialPost.Persona.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FB_Mentions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_0_0_0_0_0_0</name>
        <label>Set Case Subject</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct da: {!Get_SocialPost.Persona.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FB_Mentions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_0_0_0_0_0_0_0</name>
        <label>Set Case Subject</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Messaggio da: {!Get_SocialPost.Persona.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_FB_Mentions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Case_New</name>
        <label>Is Case New?</label>
        <locationX>1568</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Social_MessageType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FB_Mentions</name>
        <label>Is FB Mentions</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Update_Social_Case_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SocialPost.Provider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SocialPost.MessageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SocialPost.Content</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_SocialPost.TopicProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Social_Case_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MessageType</name>
        <label>MessageType</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Subject_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SocialPost.MessageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Subject</targetReference>
            </connector>
            <label>Post</label>
        </rules>
        <rules>
            <name>Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SocialPost.MessageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Subject_0</targetReference>
            </connector>
            <label>Comment</label>
        </rules>
        <rules>
            <name>Reply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SocialPost.MessageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Subject_0_0</targetReference>
            </connector>
            <label>Reply</label>
        </rules>
        <rules>
            <name>Private</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SocialPost.MessageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Subject_0_0_0</targetReference>
            </connector>
            <label>Private</label>
        </rules>
        <rules>
            <name>Tweet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SocialPost.MessageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tweet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Subject_0_0_0_0</targetReference>
            </connector>
            <label>Tweet</label>
        </rules>
        <rules>
            <name>Retweet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SocialPost.MessageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retweet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Subject_0_0_0_0_0</targetReference>
            </connector>
            <label>Retweet</label>
        </rules>
        <rules>
            <name>Direct_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SocialPost.MessageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Subject_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Direct Message</label>
        </rules>
    </decisions>
    <interviewLabel>Update Case Fields from Social Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Fields from Social Post</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1568</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SocialPost.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>1568</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SocialPost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Social_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SocialPost</name>
        <label>Get SocialPost</label>
        <locationX>1568</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>socialPostId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SocialPost</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Social_Case_0</name>
        <label>Update Social Case</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SocialPost.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Menzione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SocialPersona__c</field>
            <value>
                <elementReference>Get_SocialPost.PersonaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_MessageType__c</field>
            <value>
                <elementReference>Get_SocialPost.MessageType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Message__c</field>
            <value>
                <elementReference>Get_SocialPost.Content</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Sentiment__c</field>
            <value>
                <stringValue>Neutrale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Social_Case_0_0</name>
        <label>Update Social Case</label>
        <locationX>1106</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SocialPost.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Engage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SocialPersona__c</field>
            <value>
                <elementReference>Get_SocialPost.PersonaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_MessageType__c</field>
            <value>
                <elementReference>Get_SocialPost.MessageType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Message__c</field>
            <value>
                <elementReference>Get_SocialPost.Content</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Sentiment__c</field>
            <value>
                <stringValue>Neutrale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>socialPostId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
