BPER/DEVF/force-app/main/default/flows/WhatsApp_Create_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>er_whatsapp</name>
        <label>er_whatsapp</label>
        <locationX>132</locationX>
        <locationY>408</locationY>
        <actionName>ExternalRoutingWhatsapp</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Old_MessagingSessions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExternalRoutingWhatsapp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_case_area</name>
        <label>Check case area</label>
        <locationX>522</locationX>
        <locationY>879</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Non_classificabile</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cases.CRM_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Classifiable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cases.CRM_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_caseID</targetReference>
            </connector>
            <label>Non classificabile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_cases</name>
        <label>Check cases</label>
        <locationX>569</locationX>
        <locationY>698</locationY>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_case_area</targetReference>
            </connector>
            <label>&gt;= 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_parametri</name>
        <label>check parametri</label>
        <locationX>319</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Get_Account_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ok</defaultConnectorLabel>
        <rules>
            <name>Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ParametriDeenrollment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_parametri_0</name>
        <label>check parametri</label>
        <locationX>762</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Create_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ok</defaultConnectorLabel>
        <rules>
            <name>Ok_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ParametriDeenrollment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_previous_MS</name>
        <label>Check previous MS</label>
        <locationX>594</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Get_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Is_outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_MessagingSessions.AgentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Old_MessagingSessions.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TriggeredOutbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_parametri_0</targetReference>
            </connector>
            <label>Is outbound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>bank_NDG</name>
        <dataType>String</dataType>
        <expression>{!Get_Old_MessagingSessions.CRM_Banca__c}&amp; &quot;_&quot; &amp; {!Get_Old_MessagingSessions.CRM_NDG__c}</expression>
    </formulas>
    <formulas>
        <name>LastSevenDays</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <interviewLabel>WhatsApp - Create case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WhatsApp - Create case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>958</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Set_caseID_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Cod_rap_890__c</field>
            <value>
                <elementReference>Get_ParametriDeenrollment.CRM_Cod_rap_890__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerAuthenticationType__c</field>
            <value>
                <stringValue>Cliente autenticato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DeEnrollment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>SCA IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level2__c</field>
            <value>
                <stringValue>De-enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MessagingEndUserID__c</field>
            <value>
                <elementReference>$Record.MessagingEndUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_TelefonoWhatsApp__c</field>
            <value>
                <elementReference>$Record.MessagingEndUser.TelefonoWhatsApp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>755</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Set_caseID_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Area__c</field>
            <value>
                <stringValue>Digital Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Cod_rap_890__c</field>
            <value>
                <elementReference>Get_Old_MessagingSessions.CRM_Cod_rap_890__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_CustomerAuthenticationType__c</field>
            <value>
                <stringValue>Cliente autenticato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_DeEnrollment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level1__c</field>
            <value>
                <stringValue>SCA IB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Level2__c</field>
            <value>
                <stringValue>De-enrollment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_MessagingEndUserID__c</field>
            <value>
                <elementReference>$Record.MessagingEndUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Scope__c</field>
            <value>
                <stringValue>Internet Banking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_TelefonoWhatsApp__c</field>
            <value>
                <elementReference>$Record.MessagingEndUser.TelefonoWhatsApp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>433</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NDW_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ParametriDeenrollment.CRM_AbiNDG__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_2</name>
        <label>Get Account 2</label>
        <locationX>358</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NDW_ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bank_NDG</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get Cases</label>
        <locationX>536</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_cases</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (5 AND 3)) AND 4</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastSevenDays</elementReference>
            </value>
        </filters>
        <filters>
            <field>ClosedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastSevenDays</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_MessagingEndUserID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_MessagingSessions</name>
        <label>Get Old MessagingSessions</label>
        <locationX>54</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEndUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MessagingChannelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ParametriDeenrollment</name>
        <label>Get ParametriDeenrollment</label>
        <locationX>265</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_parametri</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_TelefonoWhatsapp__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEndUser.MessagingPlatformKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parametri_DeEnrollment__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT</name>
        <label>Get RT</label>
        <locationX>492</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_previous_MS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEndUser</name>
        <label>GetEndUser</label>
        <locationX>188</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ParametriDeenrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_caseID</name>
        <label>Set caseID</label>
        <locationX>481</locationX>
        <locationY>1045</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_Cases.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCaseNew__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsFlowEnded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_caseID_0</name>
        <label>Set caseID</label>
        <locationX>1005</locationX>
        <locationY>601</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCaseNew__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsFlowEnded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_caseID_0_0</name>
        <label>Set caseID</label>
        <locationX>775</locationX>
        <locationY>625</locationY>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Create_Case_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCaseNew__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsFlowEnded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>8</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>er_whatsapp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChannelType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TriggeredOutbound</stringValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Banca_NDG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
