BPER/DEVF/force-app/main/default/flows/WhatsApp_Daily_Call_Morning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Daily_Call</name>
        <label>Daily Call</label>
        <locationX>895</locationX>
        <locationY>359</locationY>
        <actionName>ExternalRoutingWhatsapp</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExternalRoutingWhatsapp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Time_Check</name>
        <label>Time Check</label>
        <locationX>449</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ThirtyMinutesFromNow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Daily_Call</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentDateTimeasVariable</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!CurrentDateasVariable})</expression>
    </formulas>
    <formulas>
        <name>ThirtyMinutesFromNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (30/1440)</expression>
    </formulas>
    <interviewLabel>WhatsApp Daily Call - Morning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WhatsApp Daily Call - Morning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>331</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Time_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-18</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentDateasVariable</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>VariableMessagingSession</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
</Flow>
